# ETL

In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

stores = pd.read_csv('stores.csv')
employees_shifts = pd.read_csv('employees_shifts.csv')
customers_sales = pd.read_csv('customers_sales.csv')
products_vendor_orders = pd.read_csv('products_vendor_orders.csv')

In [2]:
stores.head()

,store_name,store_street,store_city,store_state,store_zipcode,store_manager,store_open_date,store_parking_capacity,store_expense_date,store_expense_type,store_expense_amount,store_expense_description
0,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-04-01,rent,6500,April rent payment
1,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-03-01,rent,6500,March rent payment
2,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-02-01,rent,6500,February rent payment
3,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2024-01-01,rent,6500,January rent payment
4,ABC Foodmart - DUMBO,123 Jay Street,Brooklyn,NY,11201,"Hoffman, Tina",2017-06-18,50,2023-12-01,rent,6000,December rent payment

In [3]:
employees_shifts.head()

,Employee Name,Manager Name,Email,Date of Hire,Store,Shift Start,Shift End,Station,Hourly Pay Rate
0,"Sean, Mr.","Compton, Jeffrey",mr..sean@abcfoodmart.com,2023-03-25,ABC Foodmart - Staten Island,2023-04-14 00:00,2023-04-14 00:00,seafood,12.60
1,"Foster, Jennifer","Hoffman, Tina",jennifer.foster@abcfoodmart.com,2023-06-15,ABC Foodmart - DUMBO,2023-07-08 00:00,2023-07-08 00:00,dry goods,17.43
2,"Shah, Amanda","Ellis, Grant",amanda.shah@abcfoodmart.com,2023-10-07,ABC Foodmart - DUMBO,2023-10-18 00:00,2023-10-18 00:00,cashier,16.21
3,"Garcia, Sarah","Cooper, Robert",sarah.garcia@abcfoodmart.com,2022-12-14,ABC Foodmart - Tribeca,2023-01-06 00:00,2023-01-06 00:00,cashier,15.74
4,"Riley, Ashley","Hoffman, Tina",ashley.riley@abcfoodmart.com,2022-08-17,ABC Foodmart - DUMBO,2022-08-27 00:00,2022-08-27 00:00,customer service,13.23

**insert data into address_id table**

In [17]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

print('Connecting to the PostgreSQL database...')
conn = psycopg2.connect(
    host="localhost",
    port='5432',
    dbname="5310 project",
    user="postgres",
    password="123")

Connecting to the PostgreSQL database...

In [18]:
# create a cursor
cur = conn.cursor()

In [6]:
engine = create_engine('postgresql://postgres:123@localhost/5310 project')

In [7]:
createCmd = ''' CREATE TABLE address_info (
                address_id SERIAL PRIMARY KEY,
                address_street VARCHAR(255),
                address_city VARCHAR(255),
                address_state VARCHAR(255),
                postal_code VARCHAR(20),
                region_name VARCHAR(255),
                address_country VARCHAR(255)
                );

                CREATE TABLE store_info (
                store_id SERIAL PRIMARY KEY,
                address_id INT REFERENCES address_info(address_id),
                phone_number VARCHAR(20),
                unique(address_id)
                );
            '''
cur.execute(createCmd)
conn.commit()

In [8]:
address_info = stores[['store_street', 'store_city', 'store_state','store_zipcode']]
address_info.insert(0, 'address_id', range(1, 1 + len(address_info)))

In [9]:
import random

Brooklyn_region = ['DUMBO', 'Bay Ridge']
for i in range(0, len(address_info)):
    if address_info.loc[i,'store_city'] == 'Brooklyn':
        address_info.loc[i, 'region_name'] = random.choice(Brooklyn_region)
    if address_info.loc[i,'store_city'] == 'New York':
        address_info.loc[i, 'region_name'] = 'Tribeca'
    if address_info.loc[i,'store_city'] == 'Whitestone':
        address_info.loc[i, 'region_name'] = 'Whitestone'
    if address_info.loc[i,'store_city'] == 'Staten Island':
        address_info.loc[i, 'region_name'] = 'Staten Island'
    i = i + 1

In [10]:
address_info.loc[address_info['address_id']>0, 'address_country'] = 'US'
address_info.rename(columns={'store_street': 'address_street', 
                             'store_city': 'address_city', 
                             'store_state': 'address_state', 
                             'store_zipcode': 'postal_code'}, inplace=True)
address_info

,address_id,address_street,address_city,address_state,postal_code,region_name,address_country
0,1,123 Jay Street,Brooklyn,NY,11201,Bay Ridge,US
1,2,123 Jay Street,Brooklyn,NY,11201,DUMBO,US
2,3,123 Jay Street,Brooklyn,NY,11201,Bay Ridge,US
3,4,123 Jay Street,Brooklyn,NY,11201,DUMBO,US
4,5,123 Jay Street,Brooklyn,NY,11201,Bay Ridge,US
...,...,...,...,...,...,...,...
395,396,2655 Richmond Ave,Staten Island,NY,10314,Staten Island,US
396,397,2655 Richmond Ave,Staten Island,NY,10314,Staten Island,US
397,398,2655 Richmond Ave,Staten Island,NY,10314,Staten Island,US
398,399,2655 Richmond Ave,Staten Island,NY,10314,Staten Island,US
399,400,2655 Richmond Ave,Staten Island,NY,10314,Staten Island,US

In [11]:
address_info.to_sql(name='address_info', con=engine, if_exists='append', index=False)

400

**insert data into store_info table**

In [12]:
import numpy as np

store_info = pd.DataFrame()
store_info['address_id'] = [1, 5, 82, 242, 322]
store_info.insert(0, 'store_id', range(1, 1 + len(store_info)))
store_info['phone_number'] = np.random.randint(1000000000,9999999999, size=len(store_info))

store_info

   store_id  address_id  phone_number
0         1           1    3686919536
1         2           5    4499855137
2         3          82    3254918203
3         4         242    4130249848
4         5         322    9046332850

In [13]:
store_info.to_sql(name='store_info', con=engine, if_exists='append', index=False)

5

**insert data into employee_contact table**

In [14]:
createCmd = ''' CREATE TABLE employee_contact (
                employee_id SERIAL NOT NULL,
                first_name VARCHAR(255) NOT NULL,
                last_name VARCHAR(255) NOT NULL,
                email VARCHAR(255) NOT NULL,
                department_name VARCHAR(255) NOT NULL,
                position_title VARCHAR(255) NOT NULL,
                hire_date DATE NOT NULL,
                store_id INT REFERENCES store_info(store_id) NOT NULL,
                address_id INT REFERENCES address_info(address_id) NOT NULL,
                phone_number VARCHAR(20) NOT NULL,
                gender VARCHAR(50),
                education_level VARCHAR(255) NOT NULL,
                marital_status VARCHAR(50),
                birth_date DATE NOT NULL,
                primary key(employee_id)
                );
            '''
cur.execute(createCmd)
conn.commit()

In [15]:
manager = pd.DataFrame()
manager['Name'] = ['Compton, Jeffrey', 'Hoffman, Tina', 'Ellis, Grant',
                            'Cooper, Robert', 'Flores, Angela', 'Farrell, Christopher',
                            'Carter, Karen', 'David, Mr.', 'Moran, John', 'Johnston, William',
                            'Williams, Gina', 'Waller, Chad']
manager[['first_name','last_name']] = manager['Name'].str.split(pat = ', ', 
                                                                expand = True)
manager["email"] = manager["last_name"] + "." + manager["first_name"] + "@abcfoodmart.com"
manager["email"] = manager["email"].str.lower()
manager["department_name"] = "manager"
manager["position_title"] = "manager"
manager.drop('Name', inplace=True, axis=1)

manager

,first_name,last_name,email,department_name,position_title
0,Compton,Jeffrey,jeffrey.compton@abcfoodmart.com,manager,manager
1,Hoffman,Tina,tina.hoffman@abcfoodmart.com,manager,manager
2,Ellis,Grant,grant.ellis@abcfoodmart.com,manager,manager
3,Cooper,Robert,robert.cooper@abcfoodmart.com,manager,manager
4,Flores,Angela,angela.flores@abcfoodmart.com,manager,manager
5,Farrell,Christopher,christopher.farrell@abcfoodmart.com,manager,manager
6,Carter,Karen,karen.carter@abcfoodmart.com,manager,manager
7,David,Mr.,mr..david@abcfoodmart.com,manager,manager
8,Moran,John,john.moran@abcfoodmart.com,manager,manager
9,Johnston,William,william.johnston@abcfoodmart.com,manager,manager
10,Williams,Gina,gina.williams@abcfoodmart.com,manager,manager
11,Waller,Chad,chad.waller@abcfoodmart.com,manager,manager

In [59]:
Employee_contact = pd.DataFrame()
Employee_contact[['first_name','last_name']] = employees_shifts['Employee Name'].str.split(pat = ', ', 
                                                                                           expand = True)
Employee_contact[['email', 'department_name']] = employees_shifts[['Email', 'Station']]
Employee_contact["position_title"] = "employee"
frames = [Employee_contact, manager]
Employee_contact = pd.concat(frames)
Employee_contact[['hire_date']] = employees_shifts[['Date of Hire']]
Employee_contact.insert(0, 'employee_id', range(1, 1 + len(Employee_contact)))
Employee_contact['store_id'] = random.choices(store_info['store_id'], k = 5012)
Employee_contact['address_id'] = random.choices(address_info['address_id'], k = 5012)
Employee_contact['phone_number'] = np.random.randint(1000000000,9999999999, size=len(Employee_contact))
Employee_contact['gender'] = random.choices(['F', 'M'], k = 5012)
Employee_contact['education_level'] = random.choices(['Doctoral', 'Master', 'Bachelor', 
                                                      'high school'], k = 5012)
Employee_contact['marital_status'] = random.choices(['single', 'married'], k = 5012)

In [60]:
import numpy as np

Employee_contact['birth_date'] = np.random.choice(pd.date_range('1990-01-01', '2005-01-01'), 5012)

In [63]:
Employee_contact.head()

,employee_id,first_name,last_name,email,department_name,position_title,hire_date,store_id,address_id,phone_number,gender,education_level,marital_status,birth_date
0,1,Sean,Mr.,mr..sean@abcfoodmart.com,seafood,employee,2023-03-25,1,35,4965822234,M,Doctoral,single,1999-08-13
1,2,Foster,Jennifer,jennifer.foster@abcfoodmart.com,dry goods,employee,2023-06-15,3,368,8897581635,F,Bachelor,single,1993-03-09
2,3,Shah,Amanda,amanda.shah@abcfoodmart.com,cashier,employee,2023-10-07,1,305,5862577912,F,high school,married,1992-10-13
3,4,Garcia,Sarah,sarah.garcia@abcfoodmart.com,cashier,employee,2022-12-14,1,400,1139537850,F,high school,single,2004-05-22
4,5,Riley,Ashley,ashley.riley@abcfoodmart.com,customer service,employee,2022-08-17,3,172,7434603948,F,Bachelor,single,1994-03-05

In [19]:
Employee_contact.to_sql(name='employee_contact', con=engine, if_exists='append', index=False)

12

**insert data into staffing_shift table**

In [20]:
createCmd = ''' CREATE TABLE staffing_shift (
                employee_id INT REFERENCES employee_contact(employee_id) NOT NULL,
                start_time TIMESTAMP NOT NULL,
                end_time TIMESTAMP NOT NULL,
                PRIMARY KEY (employee_id, start_time),
                Constraint shift_timestamp
                CHECK (end_time >= start_time)
                );
            '''
cur.execute(createCmd)
conn.commit()

In [21]:
Staffing_shift = pd.DataFrame()
Staffing_shift['employee_id'] = Employee_contact['employee_id']

In [22]:
def random_dates(start, end, n, unit='D', seed=None):
    if not seed:
        np.random.seed(0)

    ndays = (end - start).days + 1
    return pd.to_timedelta(np.random.rand(n) * ndays, unit=unit) + start

def random_times(start, n, unit='D', seed=None):
    if not seed:
        np.random.seed(0)

    return pd.to_timedelta(np.random.rand(n), unit=unit) + start

np.random.seed(0)
start = pd.to_datetime('2022-01-01')
end = pd.to_datetime('2023-01-01')
Staffing_shift['start_time'] = random_dates(start, end, 5012)
Staffing_shift['end_time'] = random_times(Staffing_shift['start_time'], 5012)

In [23]:
Staffing_shift

    employee_id                    start_time                      end_time
0             1 2022-07-20 20:46:40.146591437 2022-07-21 09:56:57.633330755
1             2 2022-09-19 18:13:24.219175195 2022-09-20 11:23:16.580429770
2             3 2022-08-09 14:40:24.583487954 2022-08-10 05:08:23.339180540
3             4 2022-07-19 10:15:13.966001066 2022-07-19 23:19:51.873011998
4             5 2022-06-05 01:23:01.526614578 2022-06-05 11:33:05.301277458
..          ...                           ...                           ...
7          5008 2022-02-22 14:05:39.381092658 2022-02-22 17:32:33.423117500
8          5009 2022-04-12 22:26:04.138488070 2022-04-13 05:07:07.428483937
9          5010 2022-04-16 10:01:39.607972754 2022-04-16 16:56:25.126027323
10         5011 2022-11-06 17:56:33.230179158 2022-11-07 14:15:13.976709701
11         5012 2022-10-17 14:38:08.297739885 2022-10-18 09:37:35.205657208

[5012 rows x 3 columns]

In [24]:
Staffing_shift.to_sql(name='staffing_shift', con=engine, if_exists='append', index=False)

12

**insert data into salary_info table**

In [25]:
createCmd = ''' CREATE TABLE salary_info (
                employee_id INT REFERENCES employee_contact(employee_id),
                department_name VARCHAR(255),
                hourly_wage DECIMAL NOT NULL,
                pay_date DATE,
                primary key(employee_id, pay_date),
                Constraint minimum_wage
                CHECK (hourly_wage > 0)
                );
            '''
cur.execute(createCmd)
conn.commit()

In [26]:
Salary_info = pd.DataFrame()
Salary_info['employee_id'] = Employee_contact['employee_id']
Salary_info['employee_id']+Employee_contact['employee_id']
Salary_info['department_name'] = Employee_contact['department_name']
Salary_info['hourly_wage'] = employees_shifts['Hourly Pay Rate']

In [27]:
import numpy as np

Salary_info['pay_date'] = np.random.choice(pd.date_range('2022-02-01', '2023-02-01'), 5012)

In [28]:
Salary_info

    employee_id   department_name  hourly_wage   pay_date
0             1           seafood        12.60 2022-10-15
1             2         dry goods        17.43 2022-03-30
2             3           cashier        16.21 2022-07-01
3             4           cashier        15.74 2022-09-27
4             5  customer service        13.23 2022-10-29
..          ...               ...          ...        ...
7          5008           manager        18.09 2023-01-05
8          5009           manager        12.85 2022-12-01
9          5010           manager        16.96 2022-12-03
10         5011           manager        14.08 2022-12-12
11         5012           manager        16.73 2023-01-20

[5012 rows x 4 columns]

In [29]:
Salary_info.to_sql(name='salary_info', con=engine, if_exists='append', index=False)

12

**insert customer_info table**

In [30]:
stmt = """

CREATE TABLE customer_info (
    customer_id SERIAL PRIMARY KEY NOT NULL,
    first_name VARCHAR(255) NOT NULL,
    last_name VARCHAR(255) NOT NULL,
    email VARCHAR(255) NOT NULL,
    phone_number VARCHAR(20) NOT NULL,
    address_id INT REFERENCES address_info(address_id) NOT NULL,
    birth_date DATE NOT NULL,
    gender VARCHAR(50),
    date_id_opened DATE NOT NULL,
    occupation VARCHAR(255),
    account_balance DECIMAL NOT NULL,
    unique(address_id)
);

CREATE TABLE vendor_contact (
    vendor_id SERIAL PRIMARY KEY,
    vendor_name VARCHAR(255) NOT NULL,
    phone VARCHAR(20) NOT NULL,
    email VARCHAR(255) NOT NULL
);


CREATE TABLE product_lookup (
    product_id int,
    category VARCHAR(255) NOT NULL,
    product_name VARCHAR(255) NOT NULL,
    unit VARCHAR(50) NOT NULL,
    unit_price DECIMAL NOT NULL,
    expire_date DATE NOT NULL,
    primary key(product_id),
    Constraint product_price
    CHECK (unit_price > 0)
);

CREATE TABLE vendor_order (
    order_id SERIAL PRIMARY KEY,
    vendor_id INT REFERENCES vendor_contact(vendor_id) NOT NULL,
    product_id INT REFERENCES product_lookup(product_id) NOT NULL,
    vendor_date DATE NOT NULL,
    vendor_quantity INT NOT NULL,
    vendor_price DECIMAL NOT NULL,
    CONSTRAINT vendor_quantity_check CHECK (vendor_quantity > 0),
    CONSTRAINT vendor_price_check CHECK (vendor_price > 0)
);

CREATE TABLE store_inventory(
    store_id int references store_info(store_id),
    product_id int references product_lookup(product_id),
    store_quantity int not null,
    primary key(store_id, product_id),
    constraint store_quantity
    check(store_quantity >= 0)
);
"""
cur.execute(stmt)
conn.commit()

In [31]:
customer_info = customers_sales[['Customer Name', 'Customer Email']]
customer_info.insert(0, 'customer_id', range(1, 1 + len(customer_info)))

# Extracting first name and last name from 'Customer Name'
customer_info['first_name'] = customer_info['Customer Name'].apply(lambda x: x.split()[0])
customer_info['last_name'] = customer_info['Customer Name'].apply(lambda x: x.split()[1])

import random
from datetime import datetime, timedelta

# Assigning random values for columns that are not referred to in the original data
customer_info['phone_number'] = [f'{random.randint(1000000000, 9999999999)}' for _ in range(len(customer_info))]
customer_info['birth_date'] = [datetime(1950, 1, 1) + timedelta(days=random.randint(0, 365 * 50)) for _ in range(len(customer_info))]
genders = ['Male', 'Female']
customer_info['gender'] = [random.choice(genders) for _ in range(len(customer_info))]
# Assigning a fixed date for date_id_opened
date_id_opened = datetime(2022, 1, 1)
customer_info['date_id_opened'] = date_id_opened
occupations = ['Engineer', 'Doctor', 'Teacher', 'Accountant', 'Artist', 'Student']
customer_info['occupation'] = [random.choice(occupations) for _ in range(len(customer_info))]
customer_info['account_balance'] = 0

customer_info.loc[customer_info['customer_id']>0]
customer_info.rename(columns={'Customer Email': 'email'}, inplace=True)
customer_info = customer_info.merge(address_info[['address_id']], left_index=True, right_index=True)
##run after merge with other table

# Rearranging columns to match the sequence defined in the schema
customer_info = customer_info[['customer_id', 'first_name', 'last_name', 'email', 'phone_number',
                               'address_id', 'birth_date', 'gender', 'date_id_opened', 'occupation', 'account_balance']]

In [32]:
customer_info

,customer_id,first_name,last_name,email,phone_number,address_id,birth_date,gender,date_id_opened,occupation,account_balance
0,1,Kathy,Jones,ucook@example.net,7943154210,1,1967-10-18,Male,2022-01-01,Accountant,0
1,2,Kathy,Jones,ucook@example.net,2224460555,2,1990-08-03,Female,2022-01-01,Doctor,0
2,3,Kathy,Jones,ucook@example.net,6227350807,3,1991-03-19,Female,2022-01-01,Artist,0
3,4,Kathy,Jones,ucook@example.net,7569598764,4,1970-05-31,Male,2022-01-01,Student,0
4,5,Kathy,Jones,ucook@example.net,4877107746,5,1977-03-07,Male,2022-01-01,Student,0
...,...,...,...,...,...,...,...,...,...,...,...
395,396,Mary,Shepard,lindseyscott@example.org,2574144971,396,1999-04-05,Male,2022-01-01,Accountant,0
396,397,Mary,Shepard,lindseyscott@example.org,4938163152,397,1953-06-20,Female,2022-01-01,Teacher,0
397,398,Mary,Shepard,lindseyscott@example.org,5677974259,398,1993-12-20,Male,2022-01-01,Engineer,0
398,399,Mary,Shepard,lindseyscott@example.org,2136016963,399,1979-05-25,Male,2022-01-01,Student,0
399,400,Mary,Shepard,lindseyscott@example.org,1077783113,400,1972-12-23,Male,2022-01-01,Engineer,0

In [33]:
customer_info.to_sql(name='customer_info', con=engine, if_exists='append', index=False)

400

**Insert data into Vendor Contact table**

In [34]:
# Extract unique vendors from the DataFrame
products_vendor_contacts = products_vendor_orders[['Vendor Name', 'Vendor Email']].drop_duplicates().reset_index(drop=True)
products_vendor_contacts['vendor_id'] = range(1, len(products_vendor_contacts) + 1)
products_vendor_contacts['phone'] = [f'{random.randint(1000000000, 9999999999)}' for _ in range(len(products_vendor_contacts))]
# Renaming columns to match the table schema
products_vendor_contacts.columns = ['vendor_name', 'email', 'vendor_id', 'phone']
# Reordering columns to match the table schema
vendor_contact = products_vendor_contacts[['vendor_id', 'vendor_name', 'phone', 'email']]

In [35]:
vendor_contact.head()

,vendor_id,vendor_name,phone,email
0,1,"Wong, Mcdonald and Rodriguez",7338772500,elizabethdavis@example.com
1,2,Hamilton-Burton,1581959014,scottedward@example.net
2,3,Cardenas Ltd,3136181114,robinmoreno@example.com
3,4,Matthews LLC,6651253280,guerreroconnie@example.net
4,5,"Hamilton, Briggs and Nguyen",1523020116,herringeric@example.org

In [36]:
vendor_contact.to_sql(name='vendor_contact', con=engine, if_exists='append', index=False)

50

**Insert data into Product_lookup table**

In [37]:
product_lookup = products_vendor_orders[['Category','Product Name','Unit of Measurement', 'Expiration Date']]
product_lookup['unit_price'] = customers_sales['Price per Unit']
product_lookup['product_id'] = range(1, len(product_lookup) + 1)
product_lookup.columns = ['category', 'product_name','unit', 'expire_date', 'unit_price', 'product_id']
# Rearrange columns to match the schema
product_lookup = product_lookup[['product_id', 'category', 'product_name', 'unit', 'unit_price', 'expire_date']]

In [65]:
product_lookup.head()

   product_id       category product_name    unit  unit_price expire_date
0           1      beverages        Water      kg      155.82  2024-08-21
1           2       pharmacy  Cough Syrup  pieces      147.62  2025-02-27
2           3          meats   Beef Steak      kg       26.13  2024-11-24
3           4         floral       Tulips  pieces       53.08  2025-05-22
4           5  fresh produce      Lettuce      kg       83.83  2024-08-05

In [39]:
product_lookup.to_sql(name='product_lookup', con=engine, if_exists='append', index=False)

1000

**Insert data into Vendor Order table**

In [40]:
vendor_order = products_vendor_orders[['Quantity', 'Price per Unit']]
vendor_order['order_id'] = range(1, len(vendor_order) + 1)
vendor_order['vendor_id'] = np.random.randint(1,51, size=5000)
vendor_order['product_id'] = random.choices(product_lookup['product_id'], k = len(vendor_order))

# Generate random vendor dates
start_date = datetime(2023, 1, 1)
end_date = datetime(2024, 12, 31)
vendor_order['vendor_date'] = [start_date + timedelta(days=random.randint(0, (end_date - start_date).days)) for _ in range(len(vendor_order))]
# Generate random quantities and prices
vendor_order['vendor_quantity'] = np.random.randint(1, 100, size=len(vendor_order))
vendor_order['vendor_price'] = np.random.uniform(1, 100, size=len(vendor_order))
vendor_order = vendor_order[['order_id', 'vendor_id', 'product_id', 'vendor_date', 'vendor_quantity', 'vendor_price']]

In [41]:
vendor_order

,order_id,vendor_id,product_id,vendor_date,vendor_quantity,vendor_price
0,1,47,4844,2024-01-23,26,17.280864
1,2,18,4363,2023-07-10,78,83.781862
2,3,29,1156,2024-06-20,95,61.494983
3,4,14,1485,2023-02-03,40,44.638367
4,5,14,564,2023-04-23,95,54.421235
...,...,...,...,...,...,...
4995,4996,46,1161,2023-05-04,69,43.118711
4996,4997,48,703,2023-03-04,54,47.659052
4997,4998,31,3461,2023-02-02,90,51.540011
4998,4999,3,2566,2024-03-19,31,45.575930
4999,5000,48,3811,2024-09-22,80,71.825812

In [42]:
vendor_order.to_sql(name='vendor_order', con=engine, if_exists='append', index=False)

1000

**Insert data into Store Inventory table**

In [43]:
unique_stores = stores['store_name'].unique()
unique_stores_df = pd.DataFrame(unique_stores, columns=['Store Name'])

unique_products = customers_sales['Product Name'].unique()
# Create a DataFrame with unique product names
unique_products_df = pd.DataFrame(unique_products, columns=['Product Name'])
# Assign a unique ID to each product
unique_products_df['Product ID'] = random.choices(product_lookup['product_id'], k = len(unique_products_df))

vendor_quantities = products_vendor_orders.groupby(['Product Name', 'Store Name'])['Quantity'].sum().reset_index()
customer_quantities = customers_sales.groupby(['Product Name', 'Store Name'])['Quantity'].sum().reset_index()

inventory = pd.merge(vendor_quantities, customer_quantities, on=['Product Name', 'Store Name'], how='outer', suffixes=('_vendor', '_customer'))
inventory.fillna(0, inplace=True)

# Calculate the inventory quantity
inventory['inventory_quantity'] = inventory['Quantity_vendor'] - inventory['Quantity_customer']

final_inventory = inventory[['Store Name', 'Product Name', 'inventory_quantity']]

store_inventory = pd.merge(final_inventory, unique_products_df, on='Product Name', how='left')
store_inventory = pd.merge(store_inventory, unique_stores_df, on='Store Name', how='left')
store_inventory = store_inventory.drop(['Store Name', 'Product Name'], axis = 1)
store_inventory['store_id'] = random.choices(store_info['store_id'], k = len(store_inventory))

# Rename columns to match the schema
store_inventory.columns=['store_quantity', 'product_id', 'store_id']
store_inventory[store_inventory['store_quantity'] < 0] = 0
store_inventory = store_inventory.drop_duplicates(subset = ['store_id', 'product_id'],
                                                  keep = 'last').reset_index(drop = True)
store_inventory = store_inventory.loc[(store_inventory!=0).any(axis=1)]
store_inventory = store_inventory[['store_id', 'product_id', 'store_quantity']]

In [44]:
store_inventory

     store_id  product_id  store_quantity
0           5        2033            1095
1           3        2033             906
2           2        2033             545
3           3        4588             333
4           2        4588             749
..        ...         ...             ...
105         3        3789            1045
106         1        1021             970
107         5        1021             782
108         4        1021             503
109         2        1021             857

[109 rows x 3 columns]

In [45]:
store_inventory.to_sql(name='store_inventory', con=engine, if_exists='append', index=False)

109

In [46]:
discount = pd.read_csv("discount.csv")

**create databases**

In [47]:
stmt = """
CREATE TABLE import_info (
    vendor_id INT references vendor_contact(vendor_id),
    product_id int references product_lookup(product_id), 
    store_id int references store_info(store_id),
    import_date DATE,
    import_quantity INT NOT NULL,
    PRIMARY KEY (vendor_id, import_date, product_id, store_id),
    Constraint import_quantity
    CHECK (import_quantity > 0)
);

CREATE TABLE discount_info (
    product_id INT references product_lookup(product_id),
    store_id INT references store_info(store_id),
    discount_rate DECIMAL NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    PRIMARY KEY (product_id, store_id),
    Constraint discount_rate
    CHECK (discount_rate > 0 and discount_rate < 1),
    Constraint discount_date
    CHECK (end_date > start_date)
);

CREATE TABLE other_expense (
    date DATE NOT NULL,
    store_id INT REFERENCES store_info(store_id) NOT NULL,
    rent DECIMAL NOT NULL,
    PRIMARY KEY (date, store_id),
    Constraint rent
    CHECK (rent > 0)
);

CREATE TABLE sale (
    transaction_id SERIAL NOT NULL,
    store_id INT references store_info(store_id),
    customer_id INT REFERENCES customer_info(customer_id) NOT NULL,
    employee_id INT REFERENCES employee_contact(employee_id),
    date DATE NOT NULL,
    primary key(transaction_id)
);

CREATE TABLE receipt (
    transaction_id int references sale(transaction_id),
    store_id INT references store_info(store_id),
    product_id INT references product_lookup(product_id),
    quantity int NOT NULL,
    date DATE NOT NULL,
    primary key(transaction_id, store_id, product_id),
    Constraint quantity
    CHECK (quantity > 0)
);
"""
cur.execute(stmt)
conn.commit()

**insert data for import_info**

In [48]:
import_info = pd.DataFrame()
import_info[["import_date","import_quantity"]] = products_vendor_orders[["Delivery Date", "Quantity"]]
import_info['vendor_id'] = np.random.choice(vendor_contact['vendor_id'], size=len(import_info))
import_info['product_id'] = np.random.choice(product_lookup['product_id'], size=len(import_info))
import_info['store_id'] = np.random.choice(store_info['store_id'], size=len(import_info))
import_info.drop_duplicates().to_sql(name = 'import_info', con = engine, if_exists='append', index=False)

1000

**insert data for discount_info**

In [49]:
for i in range(0, len(discount)):
    if discount.loc[i,'start_date'] > discount.loc[i, 'end_date']:
        temp = discount.loc[i, 'start_date']
        discount.loc[i, 'start_date'] = discount.loc[i, 'end_date']
        discount.loc[i, 'end_date'] = temp

In [50]:
discount_info = discount[["discount_rate", "start_date", "end_date"]]
discount_info["product_id"] = np.random.choice(product_lookup['product_id'], size=len(discount_info))
discount_info["store_id"] = np.random.choice(store_info['store_id'], size=len(discount_info))
discount_info.drop_duplicates().to_sql(name = 'discount_info', con = engine, if_exists='append', index=False)

100

**insert data for other_expense**

In [51]:
other_expense = pd.DataFrame()
other_expense[["rent", "date"]] = stores[["store_expense_amount", "store_expense_date"]]
other_expense["store_id"] =  np.random.choice(store_info['store_id'], size=len(other_expense))
other_expense = other_expense.drop_duplicates(subset = ['date', 'store_id'],
                                                  keep = 'last').reset_index(drop = True)
other_expense.to_sql(name = 'other_expense', con = engine, if_exists='append', index=False)

184

In [57]:
other_expense

     rent        date  store_id
0    6500  2024-01-01         4
1    6000  2023-11-01         5
2    6000  2023-03-01         4
3    6000  2023-01-01         1
4    5500  2022-05-01         1
..    ...         ...       ...
179  1823  2021-05-01         1
180  1090  2021-04-01         2
181  1486  2021-03-01         5
182  1523  2021-02-01         5
183  1159  2021-01-01         1

[184 rows x 3 columns]

**insert data for sale**

In [52]:
sale = pd.DataFrame()
sale["date"] = customers_sales[["Date of Purchase"]]
sale["store_id"] = np.random.choice(store_info['store_id'], size=len(sale))
sale["customer_id"] = np.random.choice(customer_info["customer_id"], size=len(sale))
sale["employee_id"] = np.random.choice(Employee_contact["employee_id"], size = len(sale))
sale.insert(0,"transaction_id",range(1,1+len(sale))) 
sale.drop_duplicates().to_sql(name = 'sale', con = engine, if_exists='append', index=False)

205

**insert data for receipt**

In [54]:
recipt = pd.DataFrame()
recipt[["quantity", "date"]] = customers_sales[["Quantity","Date of Purchase"]]
recipt["store_id"] = np.random.choice(store_info['store_id'], size=len(recipt))
recipt["product_id"] = np.random.choice(product_lookup['product_id'], size=len(recipt))
recipt["transaction_id"] = np.random.choice(sale["transaction_id"], size=len(recipt))
recipt = recipt.drop_duplicates(subset = ['transaction_id', 'store_id', 'product_id'],
                                                  keep = 'last').reset_index(drop = True)
recipt.to_sql(name = 'receipt', con = engine, if_exists='append', index=False)

205

# Analytical Procedures

**1. Show store has the maximum overall profit**

In [6]:
queryCmd = '''  
WITH store_profit AS (
    SELECT store_id, SUM(sale_total) AS total_profit
    FROM (
        SELECT s.store_id, SUM(pl.unit_price * r.quantity) AS sale_total
        FROM sale s
        JOIN receipt r ON s.transaction_id = r.transaction_id
        JOIN product_lookup pl ON r.product_id = pl.product_id
        GROUP BY s.store_id, r.transaction_id
    ) AS store_sales
    GROUP BY store_id
)
SELECT si.store_id, ai.address_city, ai.address_state, sp.total_profit
FROM store_profit sp
JOIN store_info si ON sp.store_id = si.store_id
JOIN address_info ai ON si.address_id = ai.address_id
WHERE sp.total_profit = (SELECT MAX(total_profit) FROM store_profit);
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("store_id: ", row[0], " city: ", row[1], " state: ", row[2], " total profit: ", row[3])
    row = cur.fetchone()

store_id:  1  city:  Brooklyn  state:  NY  total profit:  2032400.35

**2. Identify which product has the highest sales and restock more related products**

In [8]:
queryCmd = '''  
SELECT pl.product_id, pl.product_name, SUM(r.quantity) AS total_sales
FROM receipt r
JOIN product_lookup pl ON r.product_id = pl.product_id
GROUP BY pl.product_id, pl.product_name
ORDER BY total_sales DESC
LIMIT 1;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("product id: ", row[0], " product name: ", row[1], " total sales: ", row[2])
    row = cur.fetchone()

product id:  34  product name:  Cough Syrup  total sales:  78

**3. Identify in which area we spend the most to reduce potential cost**

In [9]:
queryCmd = '''  
SELECT ai.address_city, ai.address_state, SUM(oe.rent) AS total_expense
FROM other_expense oe
JOIN store_info si ON oe.store_id = si.store_id
JOIN address_info ai ON si.address_id = ai.address_id
GROUP BY ai.address_city, ai.address_state
ORDER BY total_expense DESC
LIMIT 1;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("city: ", row[0], " state: ", row[1], " total expense: ", row[2])
    row = cur.fetchone()

city:  Brooklyn  state:  NY  total expense:  443138

**4. Identify customer segments to make informed marketing campaigns**

In [10]:
queryCmd = '''  
SELECT 
    CASE 
        WHEN DATE_PART('year', age(current_date, birth_date)) BETWEEN 18 AND 30 THEN '18-30'
        WHEN DATE_PART('year', age(current_date, birth_date)) BETWEEN 31 AND 45 THEN '31-45'
        WHEN DATE_PART('year', age(current_date, birth_date)) BETWEEN 46 AND 60 THEN '46-60'
        ELSE 'Above 60' 
    END AS age_group,
    gender,
    occupation,
    COUNT(*) AS customer_count
FROM customer_info 
GROUP BY age_group, gender, occupation
ORDER BY age_group, gender, occupation;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("age group: ", row[0], " gender: ", row[1], " occupation: ", row[2], " customer count: ", row[3])
    row = cur.fetchone()

age group:  18-30  gender:  Female  occupation:  Accountant  customer count:  2
age group:  18-30  gender:  Female  occupation:  Artist  customer count:  5
age group:  18-30  gender:  Female  occupation:  Doctor  customer count:  7
age group:  18-30  gender:  Female  occupation:  Engineer  customer count:  4
age group:  18-30  gender:  Female  occupation:  Student  customer count:  9
age group:  18-30  gender:  Female  occupation:  Teacher  customer count:  5
age group:  18-30  gender:  Male  occupation:  Accountant  customer count:  2
age group:  18-30  gender:  Male  occupation:  Artist  customer count:  2
age group:  18-30  gender:  Male  occupation:  Doctor  customer count:  3
age group:  18-30  gender:  Male  occupation:  Engineer  customer count:  6
age group:  18-30  gender:  Male  occupation:  Teacher  customer count:  4
age group:  31-45  gender:  Female  occupation:  Accountant  customer count:  9
age group:  31-45  gender:  Female  occupation:  Artist  customer count:  12
age group:  31-45  gender:  Female  occupation:  Doctor  customer count:  16
age group:  31-45  gender:  Female  occupation:  Engineer  customer count:  4
age group:  31-45  gender:  Female  occupation:  Student  customer count:  11
age group:  31-45  gender:  Female  occupation:  Teacher  customer count:  12
age group:  31-45  gender:  Male  occupation:  Accountant  customer count:  7
age group:  31-45  gender:  Male  occupation:  Artist  customer count:  10
age group:  31-45  gender:  Male  occupation:  Doctor  customer count:  5
age group:  31-45  gender:  Male  occupation:  Engineer  customer count:  13
age group:  31-45  gender:  Male  occupation:  Student  customer count:  13
age group:  31-45  gender:  Male  occupation:  Teacher  customer count:  5
age group:  46-60  gender:  Female  occupation:  Accountant  customer count:  13
age group:  46-60  gender:  Female  occupation:  Artist  customer count:  11
age group:  46-60  gender:  Female  occupation:  Doctor  customer count:  8
age group:  46-60  gender:  Female  occupation:  Engineer  customer count:  9
age group:  46-60  gender:  Female  occupation:  Student  customer count:  7
age group:  46-60  gender:  Female  occupation:  Teacher  customer count:  14
age group:  46-60  gender:  Male  occupation:  Accountant  customer count:  10
age group:  46-60  gender:  Male  occupation:  Artist  customer count:  7
age group:  46-60  gender:  Male  occupation:  Doctor  customer count:  12
age group:  46-60  gender:  Male  occupation:  Engineer  customer count:  12
age group:  46-60  gender:  Male  occupation:  Student  customer count:  13
age group:  46-60  gender:  Male  occupation:  Teacher  customer count:  8
age group:  Above 60  gender:  Female  occupation:  Accountant  customer count:  11
age group:  Above 60  gender:  Female  occupation:  Artist  customer count:  8
age group:  Above 60  gender:  Female  occupation:  Doctor  customer count:  14
age group:  Above 60  gender:  Female  occupation:  Engineer  customer count:  10
age group:  Above 60  gender:  Female  occupation:  Student  customer count:  9
age group:  Above 60  gender:  Female  occupation:  Teacher  customer count:  7
age group:  Above 60  gender:  Male  occupation:  Accountant  customer count:  7
age group:  Above 60  gender:  Male  occupation:  Artist  customer count:  6
age group:  Above 60  gender:  Male  occupation:  Doctor  customer count:  13
age group:  Above 60  gender:  Male  occupation:  Engineer  customer count:  6
age group:  Above 60  gender:  Male  occupation:  Student  customer count:  10
age group:  Above 60  gender:  Male  occupation:  Teacher  customer count:  9

**5. Identify products that are going to expire and add them to the discount table (optimize profit)**

In [ ]:
queryCmd = '''  
INSERT INTO Discount_info (product_id, store_id, discount_rate, start_date, end_date)
SELECT pl.product_id, si.store_id, 0.1, current_date, pl.expire_date
FROM product_lookup pl
JOIN store_inventory si ON pl.product_id = si.product_id
WHERE pl.expire_date <= current_date + INTERVAL '30 days';
'''   
cur.execute(queryCmd)

**6. Which region has the highest sales, explore potential reason (beneficial to store expansion)**

In [11]:
queryCmd = '''  
WITH region_sales AS (
    SELECT ai.region_name, SUM(pl.unit_price * r.quantity) AS total_sales
    FROM sale s
    JOIN receipt r ON s.transaction_id = r.transaction_id
    JOIN product_lookup pl ON r.product_id = pl.product_id
    JOIN store_info si ON s.store_id = si.store_id
    JOIN address_info ai ON si.address_id = ai.address_id
    GROUP BY ai.region_name
)
SELECT region_name, total_sales
FROM region_sales
WHERE total_sales = (SELECT MAX(total_sales) FROM region_sales);
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("region name: ", row[0], " total sales: ", row[1])
    row = cur.fetchone()

region name:  Bay Ridge  total sales:  4039212.43

**7. Identify during which period we got the highest passenger flow (by sale time) and accommodate more employees to help with advertising or selling**

In [14]:
queryCmd = '''  
WITH sales_per_hour AS (
    SELECT 
        DATE_TRUNC('hour', s.date) AS sale_hour,
        COUNT(*) AS sales_count
    FROM sale s
    GROUP BY DATE_TRUNC('hour', s.date)
)
SELECT 
    sale_hour,
    sales_count,
    RANK() OVER (ORDER BY sales_count DESC) AS sales_rank
FROM sales_per_hour
ORDER BY sales_rank;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("sale hour: ", row[0], " sale count: ", row[1], " rank: ", row[2])
    row = cur.fetchone()

sale hour:  2023-04-22 00:00:00+00:00  sale count:  168  rank:  1
sale hour:  2023-12-11 00:00:00+00:00  sale count:  160  rank:  2
sale hour:  2023-09-04 00:00:00+00:00  sale count:  143  rank:  3
sale hour:  2023-11-28 00:00:00+00:00  sale count:  136  rank:  4
sale hour:  2024-01-26 00:00:00+00:00  sale count:  132  rank:  5
sale hour:  2024-01-05 00:00:00+00:00  sale count:  132  rank:  5
sale hour:  2024-04-09 00:00:00+00:00  sale count:  131  rank:  7
sale hour:  2024-04-01 00:00:00+00:00  sale count:  125  rank:  8
sale hour:  2023-05-03 00:00:00+00:00  sale count:  123  rank:  9
sale hour:  2023-12-03 00:00:00+00:00  sale count:  122  rank:  10
sale hour:  2023-10-27 00:00:00+00:00  sale count:  120  rank:  11
sale hour:  2024-03-22 00:00:00+00:00  sale count:  120  rank:  11
sale hour:  2023-07-17 00:00:00+00:00  sale count:  117  rank:  13
sale hour:  2023-07-31 00:00:00+00:00  sale count:  116  rank:  14
sale hour:  2023-11-17 00:00:00+00:00  sale count:  110  rank:  15
sale hour:  2023-09-05 00:00:00+00:00  sale count:  110  rank:  15
sale hour:  2023-11-10 00:00:00+00:00  sale count:  109  rank:  17
sale hour:  2023-05-04 00:00:00+00:00  sale count:  109  rank:  17
sale hour:  2023-08-17 00:00:00+00:00  sale count:  109  rank:  17
sale hour:  2024-04-11 00:00:00+00:00  sale count:  108  rank:  20
sale hour:  2023-07-03 00:00:00+00:00  sale count:  108  rank:  20
sale hour:  2023-06-07 00:00:00+00:00  sale count:  107  rank:  22
sale hour:  2024-02-24 00:00:00+00:00  sale count:  106  rank:  23
sale hour:  2023-12-17 00:00:00+00:00  sale count:  106  rank:  23
sale hour:  2023-05-24 00:00:00+00:00  sale count:  106  rank:  23
sale hour:  2024-03-25 00:00:00+00:00  sale count:  104  rank:  26
sale hour:  2023-07-02 00:00:00+00:00  sale count:  104  rank:  26
sale hour:  2023-11-01 00:00:00+00:00  sale count:  104  rank:  26
sale hour:  2024-03-29 00:00:00+00:00  sale count:  103  rank:  29
sale hour:  2023-05-29 00:00:00+00:00  sale count:  103  rank:  29
sale hour:  2023-12-14 00:00:00+00:00  sale count:  102  rank:  31
sale hour:  2024-01-03 00:00:00+00:00  sale count:  102  rank:  31
sale hour:  2023-07-05 00:00:00+00:00  sale count:  100  rank:  33
sale hour:  2023-10-22 00:00:00+00:00  sale count:  100  rank:  33
sale hour:  2023-06-14 00:00:00+00:00  sale count:  99  rank:  35
sale hour:  2023-06-02 00:00:00+00:00  sale count:  99  rank:  35
sale hour:  2023-12-05 00:00:00+00:00  sale count:  99  rank:  35
sale hour:  2024-01-04 00:00:00+00:00  sale count:  99  rank:  35
sale hour:  2023-11-24 00:00:00+00:00  sale count:  97  rank:  39
sale hour:  2023-05-14 00:00:00+00:00  sale count:  97  rank:  39
sale hour:  2023-05-27 00:00:00+00:00  sale count:  97  rank:  39
sale hour:  2023-12-18 00:00:00+00:00  sale count:  96  rank:  42
sale hour:  2024-04-14 00:00:00+00:00  sale count:  95  rank:  43
sale hour:  2023-07-28 00:00:00+00:00  sale count:  95  rank:  43
sale hour:  2024-01-31 00:00:00+00:00  sale count:  95  rank:  43
sale hour:  2023-09-29 00:00:00+00:00  sale count:  94  rank:  46
sale hour:  2023-07-27 00:00:00+00:00  sale count:  93  rank:  47
sale hour:  2023-08-01 00:00:00+00:00  sale count:  92  rank:  48
sale hour:  2023-08-10 00:00:00+00:00  sale count:  91  rank:  49
sale hour:  2023-09-22 00:00:00+00:00  sale count:  90  rank:  50
sale hour:  2023-10-03 00:00:00+00:00  sale count:  90  rank:  50
sale hour:  2023-11-16 00:00:00+00:00  sale count:  90  rank:  50
sale hour:  2024-02-23 00:00:00+00:00  sale count:  90  rank:  50
sale hour:  2023-12-04 00:00:00+00:00  sale count:  90  rank:  50
sale hour:  2023-12-25 00:00:00+00:00  sale count:  89  rank:  55
sale hour:  2024-03-13 00:00:00+00:00  sale count:  89  rank:  55
sale hour:  2023-11-26 00:00:00+00:00  sale count:  89  rank:  55
sale hour:  2023-07-10 00:00:00+00:00  sale count:  88  rank:  58
sale hour:  2023-11-06 00:00:00+00:00  sale count:  88  rank:  58
sale hour:  2023-12-29 00:00:00+00:00  sale count:  87  rank:  60
sale hour:  2023-10-25 00:00:00+00:00  sale count:  86  rank:  61
sale hour:  2024-01-08 00:00:00+00:00  sale count:  86  rank:  61
sale hour:  2023-09-24 00:00:00+00:00  sale count:  85  rank:  63
sale hour:  2024-01-11 00:00:00+00:00  sale count:  85  rank:  63
sale hour:  2023-07-06 00:00:00+00:00  sale count:  85  rank:  63
sale hour:  2024-01-09 00:00:00+00:00  sale count:  85  rank:  63
sale hour:  2023-09-25 00:00:00+00:00  sale count:  85  rank:  63
sale hour:  2023-07-13 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-07-26 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-10-04 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-09-06 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-05-25 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-07-07 00:00:00+00:00  sale count:  84  rank:  68
sale hour:  2023-10-16 00:00:00+00:00  sale count:  83  rank:  74
sale hour:  2023-05-30 00:00:00+00:00  sale count:  83  rank:  74
sale hour:  2024-01-23 00:00:00+00:00  sale count:  83  rank:  74
sale hour:  2024-01-13 00:00:00+00:00  sale count:  83  rank:  74
sale hour:  2024-03-18 00:00:00+00:00  sale count:  82  rank:  78
sale hour:  2023-08-30 00:00:00+00:00  sale count:  82  rank:  78
sale hour:  2023-09-26 00:00:00+00:00  sale count:  82  rank:  78
sale hour:  2023-10-23 00:00:00+00:00  sale count:  82  rank:  78
sale hour:  2023-08-09 00:00:00+00:00  sale count:  82  rank:  78
sale hour:  2023-11-27 00:00:00+00:00  sale count:  81  rank:  83
sale hour:  2024-03-04 00:00:00+00:00  sale count:  81  rank:  83
sale hour:  2024-02-03 00:00:00+00:00  sale count:  81  rank:  83
sale hour:  2023-10-21 00:00:00+00:00  sale count:  81  rank:  83
sale hour:  2023-07-16 00:00:00+00:00  sale count:  80  rank:  87
sale hour:  2023-08-27 00:00:00+00:00  sale count:  80  rank:  87
sale hour:  2023-05-21 00:00:00+00:00  sale count:  79  rank:  89
sale hour:  2023-05-26 00:00:00+00:00  sale count:  79  rank:  89
sale hour:  2023-09-01 00:00:00+00:00  sale count:  79  rank:  89
sale hour:  2023-09-27 00:00:00+00:00  sale count:  79  rank:  89
sale hour:  2023-11-07 00:00:00+00:00  sale count:  78  rank:  93
sale hour:  2023-07-18 00:00:00+00:00  sale count:  78  rank:  93
sale hour:  2023-06-15 00:00:00+00:00  sale count:  78  rank:  93
sale hour:  2023-10-11 00:00:00+00:00  sale count:  78  rank:  93
sale hour:  2024-03-27 00:00:00+00:00  sale count:  77  rank:  97
sale hour:  2023-07-09 00:00:00+00:00  sale count:  77  rank:  97
sale hour:  2023-12-28 00:00:00+00:00  sale count:  77  rank:  97
sale hour:  2023-12-27 00:00:00+00:00  sale count:  77  rank:  97
sale hour:  2023-08-26 00:00:00+00:00  sale count:  77  rank:  97
sale hour:  2024-01-14 00:00:00+00:00  sale count:  76  rank:  102
sale hour:  2024-03-12 00:00:00+00:00  sale count:  76  rank:  102
sale hour:  2024-02-05 00:00:00+00:00  sale count:  76  rank:  102
sale hour:  2023-05-23 00:00:00+00:00  sale count:  76  rank:  102
sale hour:  2023-09-19 00:00:00+00:00  sale count:  76  rank:  102
sale hour:  2024-04-06 00:00:00+00:00  sale count:  75  rank:  107
sale hour:  2023-07-08 00:00:00+00:00  sale count:  75  rank:  107
sale hour:  2024-04-07 00:00:00+00:00  sale count:  75  rank:  107
sale hour:  2023-06-29 00:00:00+00:00  sale count:  74  rank:  110
sale hour:  2024-03-07 00:00:00+00:00  sale count:  74  rank:  110
sale hour:  2024-02-08 00:00:00+00:00  sale count:  74  rank:  110
sale hour:  2024-03-23 00:00:00+00:00  sale count:  74  rank:  110
sale hour:  2023-08-22 00:00:00+00:00  sale count:  74  rank:  110
sale hour:  2023-05-11 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-08-06 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-12-23 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-06-24 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-05-15 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-08-28 00:00:00+00:00  sale count:  73  rank:  115
sale hour:  2023-09-16 00:00:00+00:00  sale count:  72  rank:  121
sale hour:  2024-01-22 00:00:00+00:00  sale count:  72  rank:  121
sale hour:  2023-06-20 00:00:00+00:00  sale count:  72  rank:  121
sale hour:  2024-04-03 00:00:00+00:00  sale count:  71  rank:  124
sale hour:  2023-07-22 00:00:00+00:00  sale count:  71  rank:  124
sale hour:  2023-09-12 00:00:00+00:00  sale count:  71  rank:  124
sale hour:  2024-03-10 00:00:00+00:00  sale count:  71  rank:  124
sale hour:  2023-06-16 00:00:00+00:00  sale count:  71  rank:  124
sale hour:  2024-03-30 00:00:00+00:00  sale count:  70  rank:  129
sale hour:  2023-07-29 00:00:00+00:00  sale count:  70  rank:  129
sale hour:  2024-04-12 00:00:00+00:00  sale count:  70  rank:  129
sale hour:  2023-08-24 00:00:00+00:00  sale count:  70  rank:  129
sale hour:  2024-03-19 00:00:00+00:00  sale count:  70  rank:  129
sale hour:  2024-03-15 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2024-01-02 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-09-28 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-06-18 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-09-23 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-07-19 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-11-12 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-08-20 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-11-13 00:00:00+00:00  sale count:  69  rank:  134
sale hour:  2023-08-04 00:00:00+00:00  sale count:  68  rank:  143
sale hour:  2024-03-24 00:00:00+00:00  sale count:  68  rank:  143
sale hour:  2023-09-08 00:00:00+00:00  sale count:  68  rank:  143
sale hour:  2024-03-16 00:00:00+00:00  sale count:  68  rank:  143
sale hour:  2023-06-22 00:00:00+00:00  sale count:  68  rank:  143
sale hour:  2023-04-20 00:00:00+00:00  sale count:  67  rank:  148
sale hour:  2024-02-13 00:00:00+00:00  sale count:  67  rank:  148
sale hour:  2024-02-25 00:00:00+00:00  sale count:  67  rank:  148
sale hour:  2023-09-07 00:00:00+00:00  sale count:  67  rank:  148
sale hour:  2024-02-26 00:00:00+00:00  sale count:  67  rank:  148
sale hour:  2023-12-31 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2024-04-10 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2023-12-22 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2023-10-15 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2023-06-30 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2023-08-14 00:00:00+00:00  sale count:  66  rank:  153
sale hour:  2023-11-03 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-11-21 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-04-30 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-04-24 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-11-25 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-11-20 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-12-06 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-11-08 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-10-09 00:00:00+00:00  sale count:  65  rank:  159
sale hour:  2023-11-04 00:00:00+00:00  sale count:  64  rank:  168
sale hour:  2023-04-27 00:00:00+00:00  sale count:  64  rank:  168
sale hour:  2023-06-09 00:00:00+00:00  sale count:  63  rank:  170
sale hour:  2023-08-16 00:00:00+00:00  sale count:  63  rank:  170
sale hour:  2023-08-13 00:00:00+00:00  sale count:  63  rank:  170
sale hour:  2024-02-12 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2023-04-16 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2023-10-02 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2023-12-21 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2023-06-03 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2023-05-06 00:00:00+00:00  sale count:  62  rank:  173
sale hour:  2024-01-06 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-04-28 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2024-02-07 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-11-15 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-07-12 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-10-14 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-06-25 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-06-12 00:00:00+00:00  sale count:  61  rank:  179
sale hour:  2023-05-10 00:00:00+00:00  sale count:  60  rank:  187
sale hour:  2023-05-05 00:00:00+00:00  sale count:  60  rank:  187
sale hour:  2023-05-20 00:00:00+00:00  sale count:  60  rank:  187
sale hour:  2024-01-24 00:00:00+00:00  sale count:  60  rank:  187
sale hour:  2023-07-20 00:00:00+00:00  sale count:  60  rank:  187
sale hour:  2023-10-31 00:00:00+00:00  sale count:  59  rank:  192
sale hour:  2023-08-11 00:00:00+00:00  sale count:  59  rank:  192
sale hour:  2024-02-01 00:00:00+00:00  sale count:  59  rank:  192
sale hour:  2024-01-19 00:00:00+00:00  sale count:  59  rank:  192
sale hour:  2023-05-18 00:00:00+00:00  sale count:  59  rank:  192
sale hour:  2024-02-19 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2024-02-29 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2024-01-29 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2024-01-12 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2023-08-23 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2023-08-05 00:00:00+00:00  sale count:  58  rank:  197
sale hour:  2023-04-25 00:00:00+00:00  sale count:  57  rank:  203
sale hour:  2024-01-17 00:00:00+00:00  sale count:  57  rank:  203
sale hour:  2024-03-02 00:00:00+00:00  sale count:  56  rank:  205
sale hour:  2023-05-17 00:00:00+00:00  sale count:  56  rank:  205
sale hour:  2023-05-13 00:00:00+00:00  sale count:  56  rank:  205
sale hour:  2024-03-26 00:00:00+00:00  sale count:  56  rank:  205
sale hour:  2024-04-08 00:00:00+00:00  sale count:  56  rank:  205
sale hour:  2023-09-03 00:00:00+00:00  sale count:  55  rank:  210
sale hour:  2024-03-17 00:00:00+00:00  sale count:  55  rank:  210
sale hour:  2023-11-02 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2023-10-24 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2023-06-11 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2024-03-31 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2023-09-15 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2023-06-01 00:00:00+00:00  sale count:  54  rank:  212
sale hour:  2023-05-09 00:00:00+00:00  sale count:  53  rank:  218
sale hour:  2023-12-20 00:00:00+00:00  sale count:  53  rank:  218

sale hour:  2023-04-23 00:00:00+00:00  sale count:  53  rank:  218
sale hour:  2023-06-06 00:00:00+00:00  sale count:  52  rank:  221
sale hour:  2024-03-11 00:00:00+00:00  sale count:  52  rank:  221
sale hour:  2023-10-12 00:00:00+00:00  sale count:  52  rank:  221
sale hour:  2023-10-19 00:00:00+00:00  sale count:  52  rank:  221
sale hour:  2023-04-19 00:00:00+00:00  sale count:  50  rank:  225
sale hour:  2023-10-28 00:00:00+00:00  sale count:  50  rank:  225
sale hour:  2023-07-14 00:00:00+00:00  sale count:  50  rank:  225
sale hour:  2023-11-11 00:00:00+00:00  sale count:  50  rank:  225
sale hour:  2024-02-27 00:00:00+00:00  sale count:  49  rank:  229
sale hour:  2023-08-18 00:00:00+00:00  sale count:  49  rank:  229
sale hour:  2024-01-21 00:00:00+00:00  sale count:  48  rank:  231
sale hour:  2024-03-06 00:00:00+00:00  sale count:  48  rank:  231
sale hour:  2023-06-10 00:00:00+00:00  sale count:  48  rank:  231
sale hour:  2023-08-08 00:00:00+00:00  sale count:  48  rank:  231
sale hour:  2024-01-18 00:00:00+00:00  sale count:  48  rank:  231
sale hour:  2023-11-19 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2024-02-11 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2023-12-24 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2024-02-16 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2023-12-16 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2023-07-30 00:00:00+00:00  sale count:  47  rank:  236
sale hour:  2023-07-15 00:00:00+00:00  sale count:  46  rank:  242
sale hour:  2024-01-01 00:00:00+00:00  sale count:  46  rank:  242
sale hour:  2024-02-20 00:00:00+00:00  sale count:  45  rank:  244
sale hour:  2023-11-05 00:00:00+00:00  sale count:  45  rank:  244
sale hour:  2023-11-22 00:00:00+00:00  sale count:  45  rank:  244
sale hour:  2023-05-02 00:00:00+00:00  sale count:  45  rank:  244
sale hour:  2023-10-13 00:00:00+00:00  sale count:  44  rank:  248
sale hour:  2024-01-30 00:00:00+00:00  sale count:  44  rank:  248
sale hour:  2023-08-19 00:00:00+00:00  sale count:  44  rank:  248
sale hour:  2023-11-09 00:00:00+00:00  sale count:  44  rank:  248
sale hour:  2023-06-04 00:00:00+00:00  sale count:  44  rank:  248
sale hour:  2023-08-25 00:00:00+00:00  sale count:  43  rank:  253
sale hour:  2023-06-13 00:00:00+00:00  sale count:  43  rank:  253
sale hour:  2023-10-10 00:00:00+00:00  sale count:  43  rank:  253
sale hour:  2023-12-12 00:00:00+00:00  sale count:  43  rank:  253
sale hour:  2023-07-11 00:00:00+00:00  sale count:  42  rank:  257
sale hour:  2023-10-01 00:00:00+00:00  sale count:  42  rank:  257
sale hour:  2023-04-18 00:00:00+00:00  sale count:  42  rank:  257
sale hour:  2023-09-18 00:00:00+00:00  sale count:  41  rank:  260
sale hour:  2023-07-25 00:00:00+00:00  sale count:  41  rank:  260
sale hour:  2023-12-09 00:00:00+00:00  sale count:  41  rank:  260
sale hour:  2024-03-20 00:00:00+00:00  sale count:  41  rank:  260
sale hour:  2024-01-27 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-09-13 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2024-03-01 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2024-02-15 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-11-23 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-11-30 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-05-28 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-06-05 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2023-09-14 00:00:00+00:00  sale count:  40  rank:  264
sale hour:  2024-01-16 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2024-02-17 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2023-08-29 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2023-10-20 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2023-07-21 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2024-02-22 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2024-02-02 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2023-08-02 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2023-05-19 00:00:00+00:00  sale count:  39  rank:  273
sale hour:  2024-02-21 00:00:00+00:00  sale count:  38  rank:  282
sale hour:  2023-10-17 00:00:00+00:00  sale count:  38  rank:  282
sale hour:  2023-10-06 00:00:00+00:00  sale count:  37  rank:  284
sale hour:  2023-05-31 00:00:00+00:00  sale count:  37  rank:  284
sale hour:  2023-09-30 00:00:00+00:00  sale count:  36  rank:  286
sale hour:  2023-09-11 00:00:00+00:00  sale count:  36  rank:  286
sale hour:  2023-05-22 00:00:00+00:00  sale count:  36  rank:  286
sale hour:  2023-08-15 00:00:00+00:00  sale count:  36  rank:  286
sale hour:  2023-09-10 00:00:00+00:00  sale count:  36  rank:  286
sale hour:  2023-10-05 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2023-04-29 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2024-03-21 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2023-09-02 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2024-01-07 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2023-05-01 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2023-12-30 00:00:00+00:00  sale count:  35  rank:  291
sale hour:  2024-03-08 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2024-03-28 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2023-09-20 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2023-10-08 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2024-03-09 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2023-10-07 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2023-10-30 00:00:00+00:00  sale count:  34  rank:  298
sale hour:  2023-12-10 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2023-05-16 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2024-01-28 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2023-08-07 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2023-06-08 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2023-12-01 00:00:00+00:00  sale count:  33  rank:  305
sale hour:  2023-06-27 00:00:00+00:00  sale count:  32  rank:  311
sale hour:  2024-03-05 00:00:00+00:00  sale count:  31  rank:  312
sale hour:  2023-08-03 00:00:00+00:00  sale count:  30  rank:  313
sale hour:  2023-04-17 00:00:00+00:00  sale count:  29  rank:  314
sale hour:  2024-01-10 00:00:00+00:00  sale count:  29  rank:  314
sale hour:  2023-11-29 00:00:00+00:00  sale count:  29  rank:  314
sale hour:  2023-12-02 00:00:00+00:00  sale count:  29  rank:  314
sale hour:  2023-08-12 00:00:00+00:00  sale count:  28  rank:  318
sale hour:  2023-05-07 00:00:00+00:00  sale count:  27  rank:  319
sale hour:  2023-04-21 00:00:00+00:00  sale count:  27  rank:  319
sale hour:  2023-06-21 00:00:00+00:00  sale count:  27  rank:  319
sale hour:  2023-08-21 00:00:00+00:00  sale count:  27  rank:  319
sale hour:  2024-02-14 00:00:00+00:00  sale count:  27  rank:  319
sale hour:  2023-12-19 00:00:00+00:00  sale count:  26  rank:  324
sale hour:  2023-07-04 00:00:00+00:00  sale count:  26  rank:  324
sale hour:  2023-11-14 00:00:00+00:00  sale count:  25  rank:  326
sale hour:  2024-01-20 00:00:00+00:00  sale count:  24  rank:  327
sale hour:  2024-02-28 00:00:00+00:00  sale count:  24  rank:  327
sale hour:  2024-04-02 00:00:00+00:00  sale count:  23  rank:  329
sale hour:  2024-02-06 00:00:00+00:00  sale count:  23  rank:  329
sale hour:  2023-05-08 00:00:00+00:00  sale count:  23  rank:  329
sale hour:  2024-04-05 00:00:00+00:00  sale count:  23  rank:  329
sale hour:  2023-04-26 00:00:00+00:00  sale count:  23  rank:  329
sale hour:  2024-02-09 00:00:00+00:00  sale count:  22  rank:  334
sale hour:  2024-02-04 00:00:00+00:00  sale count:  22  rank:  334
sale hour:  2023-06-23 00:00:00+00:00  sale count:  21  rank:  336
sale hour:  2023-12-15 00:00:00+00:00  sale count:  21  rank:  336
sale hour:  2024-01-25 00:00:00+00:00  sale count:  21  rank:  336
sale hour:  2023-06-19 00:00:00+00:00  sale count:  20  rank:  339
sale hour:  2023-05-12 00:00:00+00:00  sale count:  20  rank:  339
sale hour:  2023-06-17 00:00:00+00:00  sale count:  20  rank:  339
sale hour:  2023-07-01 00:00:00+00:00  sale count:  19  rank:  342
sale hour:  2024-01-15 00:00:00+00:00  sale count:  18  rank:  343
sale hour:  2023-10-18 00:00:00+00:00  sale count:  18  rank:  343
sale hour:  2023-10-26 00:00:00+00:00  sale count:  18  rank:  343
sale hour:  2023-08-31 00:00:00+00:00  sale count:  18  rank:  343
sale hour:  2023-04-15 00:00:00+00:00  sale count:  17  rank:  347
sale hour:  2023-10-29 00:00:00+00:00  sale count:  16  rank:  348
sale hour:  2023-12-13 00:00:00+00:00  sale count:  16  rank:  348
sale hour:  2023-09-17 00:00:00+00:00  sale count:  16  rank:  348
sale hour:  2023-12-08 00:00:00+00:00  sale count:  15  rank:  351
sale hour:  2023-07-23 00:00:00+00:00  sale count:  15  rank:  351
sale hour:  2024-02-10 00:00:00+00:00  sale count:  14  rank:  353
sale hour:  2024-04-13 00:00:00+00:00  sale count:  13  rank:  354
sale hour:  2024-03-14 00:00:00+00:00  sale count:  13  rank:  354
sale hour:  2023-06-28 00:00:00+00:00  sale count:  13  rank:  354
sale hour:  2023-12-07 00:00:00+00:00  sale count:  12  rank:  357
sale hour:  2023-06-26 00:00:00+00:00  sale count:  11  rank:  358
sale hour:  2023-09-21 00:00:00+00:00  sale count:  10  rank:  359
sale hour:  2024-02-18 00:00:00+00:00  sale count:  6  rank:  360
sale hour:  2023-12-26 00:00:00+00:00  sale count:  5  rank:  361
sale hour:  2023-09-09 00:00:00+00:00  sale count:  4  rank:  362
sale hour:  2024-03-03 00:00:00+00:00  sale count:  4  rank:  362

**8. Identify which cashier has made the most transactions or the largest amount of revenue to give a certain bonus (to stimulate employees to work harder)**

In [19]:
queryCmd = '''  
WITH cashier_transactions AS (
    SELECT 
        ec.employee_id,
        ec.first_name || ' ' || ec.last_name AS cashier_name,
        COUNT(*) AS transaction_count,
        SUM(pl.unit_price * r.quantity) AS total_revenue
    FROM employee_contact ec
    JOIN sale s ON ec.employee_id = s.employee_id
    JOIN receipt r ON s.transaction_id = r.transaction_id
    JOIN product_lookup pl ON r.product_id = pl.product_id
    GROUP BY ec.employee_id, cashier_name
)
SELECT 
    cashier_name,
    transaction_count,
    total_revenue,
    RANK() OVER (ORDER BY transaction_count DESC) AS transaction_rank,
    RANK() OVER (ORDER BY total_revenue DESC) AS revenue_rank
FROM cashier_transactions
ORDER BY transaction_rank;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("cashier name: ", row[0], " transaction count: ", row[1], " total revenue: ", row[2], 
          " transaction rank: ", row[3], " revenue rank: ", row[4])
    row = cur.fetchone()

cashier name:  Myers Gary  transaction count:  25  total revenue:  13189.72  transaction rank:  1  revenue rank:  1
cashier name:  Hernandez Michael  transaction count:  23  total revenue:  11027.92  transaction rank:  2  revenue rank:  2
cashier name:  Chambers Jeffrey  transaction count:  18  total revenue:  8562.54  transaction rank:  3  revenue rank:  8
cashier name:  Love Thomas  transaction count:  16  total revenue:  8535.39  transaction rank:  4  revenue rank:  9
cashier name:  Herrera Spencer  transaction count:  16  total revenue:  7142.97  transaction rank:  4  revenue rank:  37
cashier name:  Meyer James  transaction count:  16  total revenue:  5335.30  transaction rank:  4  revenue rank:  190
cashier name:  Moyer Steven  transaction count:  15  total revenue:  8009.87  transaction rank:  7  revenue rank:  12
cashier name:  Dodson Courtney  transaction count:  15  total revenue:  6347.59  transaction rank:  7  revenue rank:  76
cashier name:  Spears Erin  transaction count:  15  total revenue:  8365.65  transaction rank:  7  revenue rank:  10
cashier name:  Tate Harry  transaction count:  15  total revenue:  5391.86  transaction rank:  7  revenue rank:  180
cashier name:  Day Natasha  transaction count:  15  total revenue:  6124.27  transaction rank:  7  revenue rank:  101
cashier name:  Jordan Carla  transaction count:  15  total revenue:  9719.36  transaction rank:  7  revenue rank:  3
cashier name:  Hughes Christopher  transaction count:  15  total revenue:  6336.63  transaction rank:  7  revenue rank:  77
cashier name:  Long Kirsten  transaction count:  15  total revenue:  6242.20  transaction rank:  7  revenue rank:  89
cashier name:  Torres Steven  transaction count:  15  total revenue:  6021.70  transaction rank:  7  revenue rank:  112
cashier name:  Thompson Andrea  transaction count:  15  total revenue:  5247.37  transaction rank:  7  revenue rank:  202
cashier name:  Ellis Lauren  transaction count:  15  total revenue:  8799.95  transaction rank:  7  revenue rank:  7
cashier name:  Shah Amanda  transaction count:  14  total revenue:  5140.61  transaction rank:  18  revenue rank:  218
cashier name:  Kramer Veronica  transaction count:  14  total revenue:  5925.14  transaction rank:  18  revenue rank:  121
cashier name:  Wood Joshua  transaction count:  14  total revenue:  6368.34  transaction rank:  18  revenue rank:  73
cashier name:  Eric Mr.  transaction count:  14  total revenue:  8898.51  transaction rank:  18  revenue rank:  6
cashier name:  Williams Michael  transaction count:  14  total revenue:  4163.93  transaction rank:  18  revenue rank:  503
cashier name:  Waters Julie  transaction count:  14  total revenue:  5327.93  transaction rank:  18  revenue rank:  193
cashier name:  Smith Brandy  transaction count:  14  total revenue:  9044.58  transaction rank:  18  revenue rank:  5
cashier name:  Wilson Jill  transaction count:  14  total revenue:  6149.05  transaction rank:  18  revenue rank:  99
cashier name:  Cooper Robert  transaction count:  14  total revenue:  6005.68  transaction rank:  18  revenue rank:  116
cashier name:  Chen Kathleen  transaction count:  14  total revenue:  6005.90  transaction rank:  18  revenue rank:  115
cashier name:  Jones Evelyn  transaction count:  14  total revenue:  7773.99  transaction rank:  18  revenue rank:  19
cashier name:  Hull Shane  transaction count:  14  total revenue:  7261.81  transaction rank:  18  revenue rank:  34
cashier name:  Kerr Jason  transaction count:  14  total revenue:  5331.28  transaction rank:  18  revenue rank:  192
cashier name:  Sosa David  transaction count:  14  total revenue:  4093.65  transaction rank:  18  revenue rank:  529
cashier name:  Owens Jeffrey  transaction count:  14  total revenue:  5777.98  transaction rank:  18  revenue rank:  137
cashier name:  Roach Christine  transaction count:  14  total revenue:  6252.81  transaction rank:  18  revenue rank:  88
cashier name:  Gonzalez Michele  transaction count:  14  total revenue:  7679.23  transaction rank:  18  revenue rank:  22
cashier name:  Gonzalez Michele  transaction count:  14  total revenue:  6351.08  transaction rank:  18  revenue rank:  75
cashier name:  Hughes Christopher  transaction count:  14  total revenue:  4691.53  transaction rank:  18  revenue rank:  309
cashier name:  Roach Christine  transaction count:  13  total revenue:  6062.98  transaction rank:  37  revenue rank:  109
cashier name:  Randolph Emily  transaction count:  13  total revenue:  5832.77  transaction rank:  37  revenue rank:  126
cashier name:  Frederick Evan  transaction count:  13  total revenue:  5831.13  transaction rank:  37  revenue rank:  128
cashier name:  Wood Joshua  transaction count:  13  total revenue:  6197.92  transaction rank:  37  revenue rank:  91
cashier name:  Martin Monica  transaction count:  13  total revenue:  7325.78  transaction rank:  37  revenue rank:  29
cashier name:  Jones Evelyn  transaction count:  13  total revenue:  5419.64  transaction rank:  37  revenue rank:  171
cashier name:  Conrad Frederick  transaction count:  13  total revenue:  6734.72  transaction rank:  37  revenue rank:  55
cashier name:  Davis Jennifer  transaction count:  13  total revenue:  6917.46  transaction rank:  37  revenue rank:  46
cashier name:  Martin Monica  transaction count:  13  total revenue:  4953.84  transaction rank:  37  revenue rank:  251
cashier name:  Long Kirsten  transaction count:  13  total revenue:  5543.54  transaction rank:  37  revenue rank:  152
cashier name:  Conrad Frederick  transaction count:  13  total revenue:  6823.02  transaction rank:  37  revenue rank:  52
cashier name:  Sean Mr.  transaction count:  13  total revenue:  5916.46  transaction rank:  37  revenue rank:  122
cashier name:  Smith Diana  transaction count:  13  total revenue:  6519.41  transaction rank:  37  revenue rank:  63
cashier name:  Wells Monica  transaction count:  13  total revenue:  5978.92  transaction rank:  37  revenue rank:  119
cashier name:  Thompson Andrea  transaction count:  13  total revenue:  6867.77  transaction rank:  37  revenue rank:  49
cashier name:  Campbell Brittany  transaction count:  13  total revenue:  4721.68  transaction rank:  37  revenue rank:  302
cashier name:  Jackson Gary  transaction count:  13  total revenue:  5118.21  transaction rank:  37  revenue rank:  222
cashier name:  Thomas Robert  transaction count:  13  total revenue:  7822.34  transaction rank:  37  revenue rank:  16
cashier name:  Riley Ashley  transaction count:  13  total revenue:  7818.31  transaction rank:  37  revenue rank:  17
cashier name:  Nichols Brandon  transaction count:  13  total revenue:  3853.44  transaction rank:  37  revenue rank:  637
cashier name:  Garcia Sarah  transaction count:  13  total revenue:  6663.23  transaction rank:  37  revenue rank:  57
cashier name:  Smith Brandy  transaction count:  13  total revenue:  5205.59  transaction rank:  37  revenue rank:  207
cashier name:  White Kenneth  transaction count:  13  total revenue:  4153.62  transaction rank:  37  revenue rank:  506
cashier name:  Gardner Laura  transaction count:  13  total revenue:  6021.51  transaction rank:  37  revenue rank:  113
cashier name:  Werner Kara  transaction count:  13  total revenue:  4188.53  transaction rank:  37  revenue rank:  490
cashier name:  Spears Erin  transaction count:  13  total revenue:  6012.70  transaction rank:  37  revenue rank:  114
cashier name:  Davis Jennifer  transaction count:  12  total revenue:  7806.04  transaction rank:  63  revenue rank:  18
cashier name:  Jessica Ms.  transaction count:  12  total revenue:  4164.80  transaction rank:  63  revenue rank:  502
cashier name:  Smith Brandy  transaction count:  12  total revenue:  7533.37  transaction rank:  63  revenue rank:  25
cashier name:  Roach Christine  transaction count:  12  total revenue:  3870.19  transaction rank:  63  revenue rank:  626
cashier name:  Brooks Renee  transaction count:  12  total revenue:  6190.51  transaction rank:  63  revenue rank:  93
cashier name:  Moore Jason  transaction count:  12  total revenue:  4951.73  transaction rank:  63  revenue rank:  252
cashier name:  Ellis Lauren  transaction count:  12  total revenue:  7696.83  transaction rank:  63  revenue rank:  21
cashier name:  Woods Marcus  transaction count:  12  total revenue:  5520.10  transaction rank:  63  revenue rank:  155
cashier name:  Eric Mr.  transaction count:  12  total revenue:  5514.63  transaction rank:  63  revenue rank:  156
cashier name:  Horton Ashley  transaction count:  12  total revenue:  6553.28  transaction rank:  63  revenue rank:  61
cashier name:  Sean Mr.  transaction count:  12  total revenue:  8327.66  transaction rank:  63  revenue rank:  11
cashier name:  Wood Joshua  transaction count:  12  total revenue:  5808.39  transaction rank:  63  revenue rank:  132
cashier name:  Alvarez Brenda  transaction count:  12  total revenue:  6619.49  transaction rank:  63  revenue rank:  59
cashier name:  Meyer James  transaction count:  12  total revenue:  5136.81  transaction rank:  63  revenue rank:  221
cashier name:  Vasquez Peter  transaction count:  12  total revenue:  6514.72  transaction rank:  63  revenue rank:  64
cashier name:  Riley Ashley  transaction count:  12  total revenue:  9716.87  transaction rank:  63  revenue rank:  4
cashier name:  Jones Christopher  transaction count:  12  total revenue:  4954.53  transaction rank:  63  revenue rank:  250
cashier name:  Chen Kathleen  transaction count:  12  total revenue:  5484.00  transaction rank:  63  revenue rank:  162
cashier name:  Foster Jennifer  transaction count:  12  total revenue:  4489.77  transaction rank:  63  revenue rank:  370
cashier name:  Martin Monica  transaction count:  12  total revenue:  6303.95  transaction rank:  63  revenue rank:  81
cashier name:  Dodson Courtney  transaction count:  12  total revenue:  4607.98  transaction rank:  63  revenue rank:  341
cashier name:  Bradley Rita  transaction count:  12  total revenue:  5763.85  transaction rank:  63  revenue rank:  138
cashier name:  Ellis Lauren  transaction count:  12  total revenue:  4682.76  transaction rank:  63  revenue rank:  310
cashier name:  Davis Jennifer  transaction count:  12  total revenue:  4712.33  transaction rank:  63  revenue rank:  305
cashier name:  Chen Kathleen  transaction count:  12  total revenue:  6366.37  transaction rank:  63  revenue rank:  74
cashier name:  Shah Amanda  transaction count:  12  total revenue:  5148.32  transaction rank:  63  revenue rank:  217
cashier name:  Herrera Spencer  transaction count:  12  total revenue:  3547.15  transaction rank:  63  revenue rank:  791
cashier name:  Kerr Jason  transaction count:  12  total revenue:  6239.64  transaction rank:  63  revenue rank:  90
cashier name:  Horton Mark  transaction count:  12  total revenue:  6288.27  transaction rank:  63  revenue rank:  84
cashier name:  White Kenneth  transaction count:  12  total revenue:  4850.12  transaction rank:  63  revenue rank:  277
cashier name:  Riley Ashley  transaction count:  12  total revenue:  4177.07  transaction rank:  63  revenue rank:  498
cashier name:  Horton Ashley  transaction count:  12  total revenue:  7042.23  transaction rank:  63  revenue rank:  40
cashier name:  Church Joshua  transaction count:  12  total revenue:  4916.83  transaction rank:  63  revenue rank:  262
cashier name:  Carroll Eric  transaction count:  12  total revenue:  6152.93  transaction rank:  63  revenue rank:  98
cashier name:  Golden Laurie  transaction count:  12  total revenue:  3712.78  transaction rank:  63  revenue rank:  705
cashier name:  Mckenzie William  transaction count:  12  total revenue:  5625.13  transaction rank:  63  revenue rank:  143
cashier name:  Jackson Michael  transaction count:  12  total revenue:  5062.10  transaction rank:  63  revenue rank:  231
cashier name:  Jacobs Brenda  transaction count:  12  total revenue:  5269.82  transaction rank:  63  revenue rank:  198
cashier name:  Nichols Mitchell  transaction count:  12  total revenue:  3986.33  transaction rank:  63  revenue rank:  577
cashier name:  Bradley Rita  transaction count:  12  total revenue:  5509.91  transaction rank:  63  revenue rank:  157
cashier name:  Garcia Sarah  transaction count:  12  total revenue:  7266.49  transaction rank:  63  revenue rank:  33
cashier name:  White Kenneth  transaction count:  12  total revenue:  5587.71  transaction rank:  63  revenue rank:  147
cashier name:  Smith Brandy  transaction count:  12  total revenue:  5587.17  transaction rank:  63  revenue rank:  148
cashier name:  Thompson Andrea  transaction count:  12  total revenue:  7436.63  transaction rank:  63  revenue rank:  27
cashier name:  Bennett Alec  transaction count:  12  total revenue:  6109.72  transaction rank:  63  revenue rank:  105
cashier name:  Foster Kenneth  transaction count:  12  total revenue:  3821.61  transaction rank:  63  revenue rank:  653
cashier name:  Kerr Jason  transaction count:  11  total revenue:  3680.79  transaction rank:  109  revenue rank:  722
cashier name:  Carroll Eric  transaction count:  11  total revenue:  4191.72  transaction rank:  109  revenue rank:  487
cashier name:  Wood Joshua  transaction count:  11  total revenue:  4189.60  transaction rank:  109  revenue rank:  488
cashier name:  Meyer James  transaction count:  11  total revenue:  4178.00  transaction rank:  109  revenue rank:  497
cashier name:  Alvarez Brenda  transaction count:  11  total revenue:  4148.43  transaction rank:  109  revenue rank:  508
cashier name:  Dodson Courtney  transaction count:  11  total revenue:  6492.91  transaction rank:  109  revenue rank:  65
cashier name:  Owens Jeffrey  transaction count:  11  total revenue:  7871.94  transaction rank:  109  revenue rank:  13
cashier name:  Burns Kendra  transaction count:  11  total revenue:  3465.53  transaction rank:  109  revenue rank:  837
cashier name:  Werner Kara  transaction count:  11  total revenue:  4071.24  transaction rank:  109  revenue rank:  536
cashier name:  Brooks Renee  transaction count:  11  total revenue:  4062.63  transaction rank:  109  revenue rank:  541
cashier name:  Hull Shane  transaction count:  11  total revenue:  4062.42  transaction rank:  109  revenue rank:  542
cashier name:  Day Natasha  transaction count:  11  total revenue:  4041.34  transaction rank:  109  revenue rank:  547
cashier name:  Harrell Angie  transaction count:  11  total revenue:  5096.48  transaction rank:  109  revenue rank:  226
cashier name:  Mckinney Marcus  transaction count:  11  total revenue:  4038.17  transaction rank:  109  revenue rank:  552
cashier name:  Werner Kara  transaction count:  11  total revenue:  4037.57  transaction rank:  109  revenue rank:  553
cashier name:  Kramer Veronica  transaction count:  11  total revenue:  3271.46  transaction rank:  109  revenue rank:  951
cashier name:  Chen Kathleen  transaction count:  11  total revenue:  4014.24  transaction rank:  109  revenue rank:  560
cashier name:  Thompson Matthew  transaction count:  11  total revenue:  6423.14  transaction rank:  109  revenue rank:  69
cashier name:  Jordan Carla  transaction count:  11  total revenue:  5410.84  transaction rank:  109  revenue rank:  174
cashier name:  Durham Denise  transaction count:  11  total revenue:  3937.67  transaction rank:  109  revenue rank:  594
cashier name:  Atkinson Gary  transaction count:  11  total revenue:  2996.47  transaction rank:  109  revenue rank:  1168
cashier name:  Sosa David  transaction count:  11  total revenue:  6984.46  transaction rank:  109  revenue rank:  44
cashier name:  Ellis Lauren  transaction count:  11  total revenue:  3909.85  transaction rank:  109  revenue rank:  602
cashier name:  Tate Harry  transaction count:  11  total revenue:  3893.35  transaction rank:  109  revenue rank:  613
cashier name:  Payne Samantha  transaction count:  11  total revenue:  6894.63  transaction rank:  109  revenue rank:  48
cashier name:  Gonzalez Michele  transaction count:  11  total revenue:  3114.30  transaction rank:  109  revenue rank:  1071
cashier name:  Martin Monica  transaction count:  11  total revenue:  5415.04  transaction rank:  109  revenue rank:  172
cashier name:  Nichols Brandon  transaction count:  11  total revenue:  6050.54  transaction rank:  109  revenue rank:  110
cashier name:  Jordan Carla  transaction count:  11  total revenue:  6778.61  transaction rank:  109  revenue rank:  53
cashier name:  Hull Shane  transaction count:  11  total revenue:  7541.44  transaction rank:  109  revenue rank:  24
cashier name:  Bradley Rita  transaction count:  11  total revenue:  3030.18  transaction rank:  109  revenue rank:  1145
cashier name:  Nichols Brandon  transaction count:  11  total revenue:  6085.65  transaction rank:  109  revenue rank:  107
cashier name:  Pena Johnathan  transaction count:  11  total revenue:  5268.62  transaction rank:  109  revenue rank:  199
cashier name:  Terri Mrs.  transaction count:  11  total revenue:  4931.48  transaction rank:  109  revenue rank:  256
cashier name:  Payne Samantha  transaction count:  11  total revenue:  5613.31  transaction rank:  109  revenue rank:  144
cashier name:  Thomas Robert  transaction count:  11  total revenue:  5352.63  transaction rank:  109  revenue rank:  186
cashier name:  Love Thomas  transaction count:  11  total revenue:  7260.24  transaction rank:  109  revenue rank:  35
cashier name:  Martin Monica  transaction count:  11  total revenue:  6155.38  transaction rank:  109  revenue rank:  97
cashier name:  Brooks Renee  transaction count:  11  total revenue:  7189.86  transaction rank:  109  revenue rank:  36
cashier name:  Blanchard Ricky  transaction count:  11  total revenue:  4887.24  transaction rank:  109  revenue rank:  266
cashier name:  Gardner Laura  transaction count:  11  total revenue:  2716.76  transaction rank:  109  revenue rank:  1440
cashier name:  Ellis Lauren  transaction count:  11  total revenue:  6155.54  transaction rank:  109  revenue rank:  96
cashier name:  Warren Timothy  transaction count:  11  total revenue:  5036.92  transaction rank:  109  revenue rank:  236
cashier name:  Henderson Nancy  transaction count:  11  total revenue:  7122.76  transaction rank:  109  revenue rank:  39
cashier name:  Sean Mr.  transaction count:  11  total revenue:  6188.29  transaction rank:  109  revenue rank:  94
cashier name:  Sosa David  transaction count:  11  total revenue:  4870.84  transaction rank:  109  revenue rank:  270
cashier name:  Woods Marcus  transaction count:  11  total revenue:  6270.22  transaction rank:  109  revenue rank:  85
cashier name:  Terri Mrs.  transaction count:  11  total revenue:  4811.22  transaction rank:  109  revenue rank:  282
cashier name:  Gross Andrew  transaction count:  11  total revenue:  4758.76  transaction rank:  109  revenue rank:  290
cashier name:  Marquez Jeffrey  transaction count:  11  total revenue:  4750.56  transaction rank:  109  revenue rank:  292
cashier name:  Foster Jennifer  transaction count:  11  total revenue:  4738.85  transaction rank:  109  revenue rank:  296
cashier name:  Dodson Courtney  transaction count:  11  total revenue:  3408.07  transaction rank:  109  revenue rank:  870

cashier name:  Foster Kenneth  transaction count:  11  total revenue:  4705.47  transaction rank:  109  revenue rank:  306
cashier name:  Durham Denise  transaction count:  11  total revenue:  4679.09  transaction rank:  109  revenue rank:  311
cashier name:  Harrell Angie  transaction count:  11  total revenue:  4630.26  transaction rank:  109  revenue rank:  327
cashier name:  Burns Kendra  transaction count:  11  total revenue:  4625.61  transaction rank:  109  revenue rank:  331
cashier name:  Hughes Christopher  transaction count:  11  total revenue:  4616.28  transaction rank:  109  revenue rank:  333
cashier name:  Eric Mr.  transaction count:  11  total revenue:  4614.03  transaction rank:  109  revenue rank:  335
cashier name:  Martin Monica  transaction count:  11  total revenue:  4609.59  transaction rank:  109  revenue rank:  339
cashier name:  Day Natasha  transaction count:  11  total revenue:  5371.54  transaction rank:  109  revenue rank:  181
cashier name:  Tate Harry  transaction count:  11  total revenue:  3150.96  transaction rank:  109  revenue rank:  1043
cashier name:  Dodson Courtney  transaction count:  11  total revenue:  3611.17  transaction rank:  109  revenue rank:  756
cashier name:  Bryan Mr.  transaction count:  11  total revenue:  4497.24  transaction rank:  109  revenue rank:  369
cashier name:  Ellis Lauren  transaction count:  11  total revenue:  5137.02  transaction rank:  109  revenue rank:  220
cashier name:  Church Joshua  transaction count:  11  total revenue:  5022.80  transaction rank:  109  revenue rank:  239
cashier name:  Jones Michael  transaction count:  11  total revenue:  6656.22  transaction rank:  109  revenue rank:  58
cashier name:  Pena Johnathan  transaction count:  11  total revenue:  4416.88  transaction rank:  109  revenue rank:  392
cashier name:  Love Thomas  transaction count:  11  total revenue:  6266.03  transaction rank:  109  revenue rank:  86
cashier name:  Hull Shane  transaction count:  11  total revenue:  4390.17  transaction rank:  109  revenue rank:  405
cashier name:  Sosa David  transaction count:  11  total revenue:  5790.15  transaction rank:  109  revenue rank:  133
cashier name:  Torres Steven  transaction count:  11  total revenue:  7002.74  transaction rank:  109  revenue rank:  43
cashier name:  Marquez Jeffrey  transaction count:  11  total revenue:  5820.41  transaction rank:  109  revenue rank:  131
cashier name:  Colon Lindsey  transaction count:  11  total revenue:  4350.36  transaction rank:  109  revenue rank:  424
cashier name:  Martin Monica  transaction count:  11  total revenue:  6591.59  transaction rank:  109  revenue rank:  60
cashier name:  Bradley Rita  transaction count:  11  total revenue:  5826.08  transaction rank:  109  revenue rank:  130
cashier name:  Spears Erin  transaction count:  11  total revenue:  3475.41  transaction rank:  109  revenue rank:  830
cashier name:  Chambers Jeffrey  transaction count:  11  total revenue:  4292.64  transaction rank:  109  revenue rank:  450
cashier name:  Foster Kenneth  transaction count:  11  total revenue:  4278.78  transaction rank:  109  revenue rank:  459
cashier name:  Shah Amanda  transaction count:  11  total revenue:  4222.22  transaction rank:  109  revenue rank:  473
cashier name:  Terri Mrs.  transaction count:  10  total revenue:  4299.52  transaction rank:  188  revenue rank:  446
cashier name:  Waters Julie  transaction count:  10  total revenue:  6407.94  transaction rank:  188  revenue rank:  70
cashier name:  Long Kirsten  transaction count:  10  total revenue:  7306.60  transaction rank:  188  revenue rank:  30
cashier name:  Randolph Emily  transaction count:  10  total revenue:  3061.60  transaction rank:  188  revenue rank:  1114
cashier name:  Garcia Sarah  transaction count:  10  total revenue:  7277.48  transaction rank:  188  revenue rank:  31
cashier name:  Bennett Alec  transaction count:  10  total revenue:  6122.38  transaction rank:  188  revenue rank:  103
cashier name:  Chen Kathleen  transaction count:  10  total revenue:  3969.06  transaction rank:  188  revenue rank:  583
cashier name:  Carroll Eric  transaction count:  10  total revenue:  3758.84  transaction rank:  188  revenue rank:  680
cashier name:  Manning Maria  transaction count:  10  total revenue:  5347.41  transaction rank:  188  revenue rank:  187
cashier name:  Wood Joshua  transaction count:  10  total revenue:  6918.50  transaction rank:  188  revenue rank:  45
cashier name:  Walters Jay  transaction count:  10  total revenue:  5073.01  transaction rank:  188  revenue rank:  230
cashier name:  Moore Jason  transaction count:  10  total revenue:  2706.26  transaction rank:  188  revenue rank:  1446
cashier name:  Hernandez Michael  transaction count:  10  total revenue:  6124.11  transaction rank:  188  revenue rank:  102
cashier name:  Sosa David  transaction count:  10  total revenue:  3997.21  transaction rank:  188  revenue rank:  571
cashier name:  Myers Gary  transaction count:  10  total revenue:  2970.95  transaction rank:  188  revenue rank:  1188
cashier name:  Moon James  transaction count:  10  total revenue:  5450.82  transaction rank:  188  revenue rank:  168
cashier name:  Shah Amanda  transaction count:  10  total revenue:  2961.76  transaction rank:  188  revenue rank:  1195
cashier name:  Torres Steven  transaction count:  10  total revenue:  4000.27  transaction rank:  188  revenue rank:  568
cashier name:  Chambers Jeffrey  transaction count:  10  total revenue:  2846.70  transaction rank:  188  revenue rank:  1319
cashier name:  Frederick Evan  transaction count:  10  total revenue:  4917.58  transaction rank:  188  revenue rank:  261
cashier name:  Garcia Sarah  transaction count:  10  total revenue:  5832.30  transaction rank:  188  revenue rank:  127
cashier name:  Campbell Brittany  transaction count:  10  total revenue:  4168.19  transaction rank:  188  revenue rank:  500
cashier name:  Horton Mark  transaction count:  10  total revenue:  3680.21  transaction rank:  188  revenue rank:  723
cashier name:  Galvan Lori  transaction count:  10  total revenue:  3674.37  transaction rank:  188  revenue rank:  728
cashier name:  Love Thomas  transaction count:  10  total revenue:  5055.48  transaction rank:  188  revenue rank:  234
cashier name:  Nichols Mitchell  transaction count:  10  total revenue:  3656.34  transaction rank:  188  revenue rank:  734
cashier name:  Smith Brandy  transaction count:  10  total revenue:  4883.51  transaction rank:  188  revenue rank:  268
cashier name:  Walls Kristen  transaction count:  10  total revenue:  6551.91  transaction rank:  188  revenue rank:  62
cashier name:  Carroll Eric  transaction count:  10  total revenue:  5177.79  transaction rank:  188  revenue rank:  211
cashier name:  Meyer James  transaction count:  10  total revenue:  4163.52  transaction rank:  188  revenue rank:  504
cashier name:  Woods Marcus  transaction count:  10  total revenue:  4007.11  transaction rank:  188  revenue rank:  563
cashier name:  Love Thomas  transaction count:  10  total revenue:  4012.55  transaction rank:  188  revenue rank:  562
cashier name:  Werner Kara  transaction count:  10  total revenue:  3098.27  transaction rank:  188  revenue rank:  1084
cashier name:  Bryan Mr.  transaction count:  10  total revenue:  5271.70  transaction rank:  188  revenue rank:  197
cashier name:  Moon James  transaction count:  10  total revenue:  4297.54  transaction rank:  188  revenue rank:  447
cashier name:  Brown Lisa  transaction count:  10  total revenue:  3626.44  transaction rank:  188  revenue rank:  750
cashier name:  Davis Jennifer  transaction count:  10  total revenue:  5238.00  transaction rank:  188  revenue rank:  203
cashier name:  Tate Harry  transaction count:  10  total revenue:  4859.15  transaction rank:  188  revenue rank:  273
cashier name:  Tate Harry  transaction count:  10  total revenue:  4856.75  transaction rank:  188  revenue rank:  274
cashier name:  Kerr Jason  transaction count:  10  total revenue:  7851.08  transaction rank:  188  revenue rank:  15
cashier name:  Chen Kathleen  transaction count:  10  total revenue:  4032.35  transaction rank:  188  revenue rank:  557
cashier name:  Thompson Matthew  transaction count:  10  total revenue:  4828.94  transaction rank:  188  revenue rank:  279
cashier name:  Durham Denise  transaction count:  10  total revenue:  4819.22  transaction rank:  188  revenue rank:  280
cashier name:  Chen Kathleen  transaction count:  10  total revenue:  4033.75  transaction rank:  188  revenue rank:  556
cashier name:  Mckinney Marcus  transaction count:  10  total revenue:  5628.11  transaction rank:  188  revenue rank:  141
cashier name:  Mckenzie William  transaction count:  10  total revenue:  4034.38  transaction rank:  188  revenue rank:  555
cashier name:  Brown Lisa  transaction count:  10  total revenue:  4766.55  transaction rank:  188  revenue rank:  289
cashier name:  Johnson Samantha  transaction count:  10  total revenue:  3302.85  transaction rank:  188  revenue rank:  936
cashier name:  Tate Harry  transaction count:  10  total revenue:  4039.93  transaction rank:  188  revenue rank:  550
cashier name:  Dodson Courtney  transaction count:  10  total revenue:  4747.30  transaction rank:  188  revenue rank:  294
cashier name:  Nichols Brandon  transaction count:  10  total revenue:  4737.64  transaction rank:  188  revenue rank:  298
cashier name:  Blanchard Ricky  transaction count:  10  total revenue:  4182.13  transaction rank:  188  revenue rank:  496
cashier name:  Warren Timothy  transaction count:  10  total revenue:  6293.40  transaction rank:  188  revenue rank:  83
cashier name:  Gonzalez Michele  transaction count:  10  total revenue:  4052.37  transaction rank:  188  revenue rank:  545
cashier name:  Hughes Christopher  transaction count:  10  total revenue:  6440.61  transaction rank:  188  revenue rank:  68
cashier name:  Hayes Brandon  transaction count:  10  total revenue:  5713.65  transaction rank:  188  revenue rank:  140
cashier name:  Hughes Christopher  transaction count:  10  total revenue:  4062.04  transaction rank:  188  revenue rank:  543
cashier name:  Ellis Lauren  transaction count:  10  total revenue:  4697.37  transaction rank:  188  revenue rank:  307
cashier name:  Hayes Brandon  transaction count:  10  total revenue:  4694.88  transaction rank:  188  revenue rank:  308
cashier name:  Gonzalez Michele  transaction count:  10  total revenue:  4067.98  transaction rank:  188  revenue rank:  538
cashier name:  Chambers Jeffrey  transaction count:  10  total revenue:  3402.90  transaction rank:  188  revenue rank:  874
cashier name:  Jessica Ms.  transaction count:  10  total revenue:  3398.33  transaction rank:  188  revenue rank:  875
cashier name:  Moon James  transaction count:  10  total revenue:  4639.66  transaction rank:  188  revenue rank:  322
cashier name:  Walters Jay  transaction count:  10  total revenue:  4073.96  transaction rank:  188  revenue rank:  533
cashier name:  Eric Mr.  transaction count:  10  total revenue:  5881.51  transaction rank:  188  revenue rank:  124
cashier name:  Nguyen Richard  transaction count:  10  total revenue:  6294.16  transaction rank:  188  revenue rank:  82
cashier name:  Jacobs Brenda  transaction count:  10  total revenue:  4625.76  transaction rank:  188  revenue rank:  330
cashier name:  Roach Christine  transaction count:  10  total revenue:  4184.42  transaction rank:  188  revenue rank:  492
cashier name:  Sosa David  transaction count:  10  total revenue:  4198.45  transaction rank:  188  revenue rank:  484
cashier name:  Nguyen Richard  transaction count:  10  total revenue:  4614.78  transaction rank:  188  revenue rank:  334
cashier name:  Hughes Christopher  transaction count:  10  total revenue:  4274.58  transaction rank:  188  revenue rank:  460
cashier name:  Campbell Bethany  transaction count:  10  total revenue:  3599.16  transaction rank:  188  revenue rank:  761
cashier name:  Herrera Spencer  transaction count:  10  total revenue:  3223.14  transaction rank:  188  revenue rank:  996
cashier name:  Foster Kenneth  transaction count:  10  total revenue:  4094.30  transaction rank:  188  revenue rank:  527
cashier name:  Johnson Samantha  transaction count:  10  total revenue:  2487.49  transaction rank:  188  revenue rank:  1658
cashier name:  Smith Diana  transaction count:  10  total revenue:  4539.42  transaction rank:  188  revenue rank:  351
cashier name:  Pena Johnathan  transaction count:  10  total revenue:  4537.99  transaction rank:  188  revenue rank:  352
cashier name:  Nguyen Richard  transaction count:  10  total revenue:  5778.15  transaction rank:  188  revenue rank:  136
cashier name:  Horton Ashley  transaction count:  10  total revenue:  4189.44  transaction rank:  188  revenue rank:  489
cashier name:  Harrell Angie  transaction count:  10  total revenue:  3567.59  transaction rank:  188  revenue rank:  780
cashier name:  Hughes Christopher  transaction count:  10  total revenue:  3230.16  transaction rank:  188  revenue rank:  987
cashier name:  Meyer James  transaction count:  10  total revenue:  2948.70  transaction rank:  188  revenue rank:  1208
cashier name:  Church Joshua  transaction count:  10  total revenue:  4518.08  transaction rank:  188  revenue rank:  362
cashier name:  Burns Kendra  transaction count:  10  total revenue:  4117.49  transaction rank:  188  revenue rank:  523
cashier name:  Roach Christine  transaction count:  10  total revenue:  5482.06  transaction rank:  188  revenue rank:  163
cashier name:  Pena Johnathan  transaction count:  10  total revenue:  4499.83  transaction rank:  188  revenue rank:  367
cashier name:  Manning Maria  transaction count:  10  total revenue:  4252.93  transaction rank:  188  revenue rank:  465
cashier name:  Carroll Eric  transaction count:  10  total revenue:  4487.99  transaction rank:  188  revenue rank:  371
cashier name:  Smith Brandy  transaction count:  10  total revenue:  3378.93  transaction rank:  188  revenue rank:  895
cashier name:  Gonzalez Michele  transaction count:  10  total revenue:  5171.37  transaction rank:  188  revenue rank:  212
cashier name:  Gardner Laura  transaction count:  10  total revenue:  7866.56  transaction rank:  188  revenue rank:  14
cashier name:  Moore Jason  transaction count:  10  total revenue:  6258.85  transaction rank:  188  revenue rank:  87
cashier name:  Spears Erin  transaction count:  10  total revenue:  4417.81  transaction rank:  188  revenue rank:  390
cashier name:  Day Natasha  transaction count:  10  total revenue:  4417.42  transaction rank:  188  revenue rank:  391
cashier name:  Thompson Matthew  transaction count:  10  total revenue:  1954.05  transaction rank:  188  revenue rank:  2235
cashier name:  Jackson Gary  transaction count:  10  total revenue:  4405.18  transaction rank:  188  revenue rank:  397
cashier name:  Foster Kenneth  transaction count:  10  total revenue:  4403.32  transaction rank:  188  revenue rank:  399
cashier name:  Meyer James  transaction count:  10  total revenue:  4141.08  transaction rank:  188  revenue rank:  511
cashier name:  Woods Marcus  transaction count:  10  total revenue:  2734.49  transaction rank:  188  revenue rank:  1421
cashier name:  Marquez Jeffrey  transaction count:  10  total revenue:  5498.58  transaction rank:  188  revenue rank:  159
cashier name:  Hughes Christopher  transaction count:  10  total revenue:  4381.40  transaction rank:  188  revenue rank:  411
cashier name:  Wilson Jill  transaction count:  10  total revenue:  5947.87  transaction rank:  188  revenue rank:  120
cashier name:  Chambers Jeffrey  transaction count:  10  total revenue:  4355.90  transaction rank:  188  revenue rank:  420
cashier name:  Golden Laurie  transaction count:  10  total revenue:  3558.35  transaction rank:  188  revenue rank:  788
cashier name:  Riley Ashley  transaction count:  10  total revenue:  6844.88  transaction rank:  188  revenue rank:  50
cashier name:  Perry Andrea  transaction count:  10  total revenue:  3905.31  transaction rank:  188  revenue rank:  608
cashier name:  Alvarez Brenda  transaction count:  10  total revenue:  7711.93  transaction rank:  188  revenue rank:  20
cashier name:  Campbell Bethany  transaction count:  10  total revenue:  4157.30  transaction rank:  188  revenue rank:  505
cashier name:  Payne Samantha  transaction count:  10  total revenue:  3244.84  transaction rank:  188  revenue rank:  972
cashier name:  Martin Monica  transaction count:  10  total revenue:  2204.68  transaction rank:  188  revenue rank:  1951
cashier name:  Bryan Mr.  transaction count:  10  total revenue:  3928.77  transaction rank:  188  revenue rank:  597
cashier name:  Horton Mark  transaction count:  10  total revenue:  6064.31  transaction rank:  188  revenue rank:  108
cashier name:  Burns Kendra  transaction count:  10  total revenue:  3850.94  transaction rank:  188  revenue rank:  640
cashier name:  Jones Christopher  transaction count:  10  total revenue:  5343.06  transaction rank:  188  revenue rank:  189
cashier name:  Campbell Brittany  transaction count:  10  total revenue:  5346.80  transaction rank:  188  revenue rank:  188
cashier name:  Marquez Jeffrey  transaction count:  10  total revenue:  3440.39  transaction rank:  188  revenue rank:  850
cashier name:  Moyer Steven  transaction count:  10  total revenue:  3833.04  transaction rank:  188  revenue rank:  649
cashier name:  Sean Mr.  transaction count:  10  total revenue:  2317.40  transaction rank:  188  revenue rank:  1827
cashier name:  Alvarez Brenda  transaction count:  10  total revenue:  5569.38  transaction rank:  188  revenue rank:  151
cashier name:  Foster Jennifer  transaction count:  10  total revenue:  3261.85  transaction rank:  188  revenue rank:  958
cashier name:  Werner Kara  transaction count:  10  total revenue:  6335.31  transaction rank:  188  revenue rank:  78
cashier name:  Wells Monica  transaction count:  10  total revenue:  6904.91  transaction rank:  188  revenue rank:  47
cashier name:  Wood Joshua  transaction count:  10  total revenue:  6119.51  transaction rank:  188  revenue rank:  104

cashier name:  Chambers Jeffrey  transaction count:  10  total revenue:  2821.57  transaction rank:  188  revenue rank:  1343
cashier name:  Foster Jennifer  transaction count:  10  total revenue:  3056.41  transaction rank:  188  revenue rank:  1119
cashier name:  Thompson Andrea  transaction count:  9  total revenue:  5750.84  transaction rank:  313  revenue rank:  139
cashier name:  Roach Christine  transaction count:  9  total revenue:  4663.12  transaction rank:  313  revenue rank:  314
cashier name:  Burns Kendra  transaction count:  9  total revenue:  4662.22  transaction rank:  313  revenue rank:  315
cashier name:  Long Kirsten  transaction count:  9  total revenue:  4660.76  transaction rank:  313  revenue rank:  316
cashier name:  Kerr Jason  transaction count:  9  total revenue:  5353.83  transaction rank:  313  revenue rank:  185
cashier name:  Thompson Andrea  transaction count:  9  total revenue:  4366.44  transaction rank:  313  revenue rank:  417
cashier name:  Kramer Veronica  transaction count:  9  total revenue:  4641.36  transaction rank:  313  revenue rank:  319
cashier name:  Jones Michael  transaction count:  9  total revenue:  4068.77  transaction rank:  313  revenue rank:  537
cashier name:  Glover Michelle  transaction count:  9  total revenue:  3593.63  transaction rank:  313  revenue rank:  766
cashier name:  Nichols Brandon  transaction count:  9  total revenue:  4361.67  transaction rank:  313  revenue rank:  419
cashier name:  Horton Ashley  transaction count:  9  total revenue:  5506.82  transaction rank:  313  revenue rank:  158
cashier name:  Riley Ashley  transaction count:  9  total revenue:  5452.74  transaction rank:  313  revenue rank:  167
cashier name:  Bradley Rita  transaction count:  9  total revenue:  3449.92  transaction rank:  313  revenue rank:  841
cashier name:  Nichols Mitchell  transaction count:  9  total revenue:  4632.71  transaction rank:  313  revenue rank:  326
cashier name:  Jones Christopher  transaction count:  9  total revenue:  3616.49  transaction rank:  313  revenue rank:  754
cashier name:  Jessica Ms.  transaction count:  9  total revenue:  4627.77  transaction rank:  313  revenue rank:  328
cashier name:  Davis Jennifer  transaction count:  9  total revenue:  4221.97  transaction rank:  313  revenue rank:  474
cashier name:  Carroll Eric  transaction count:  9  total revenue:  2914.63  transaction rank:  313  revenue rank:  1246
cashier name:  Golden Laurie  transaction count:  9  total revenue:  1931.52  transaction rank:  313  revenue rank:  2263
cashier name:  Durham Denise  transaction count:  9  total revenue:  4991.77  transaction rank:  313  revenue rank:  246
cashier name:  Riley Ashley  transaction count:  9  total revenue:  3228.56  transaction rank:  313  revenue rank:  989
cashier name:  Gross Andrew  transaction count:  9  total revenue:  2585.70  transaction rank:  313  revenue rank:  1557
cashier name:  Glover Michelle  transaction count:  9  total revenue:  3009.47  transaction rank:  313  revenue rank:  1158
cashier name:  Jones Michael  transaction count:  9  total revenue:  3889.61  transaction rank:  313  revenue rank:  615
cashier name:  Walls Kristen  transaction count:  9  total revenue:  4612.32  transaction rank:  313  revenue rank:  337
cashier name:  Glover Michelle  transaction count:  9  total revenue:  6459.27  transaction rank:  313  revenue rank:  66
cashier name:  Werner Kara  transaction count:  9  total revenue:  3172.09  transaction rank:  313  revenue rank:  1028
cashier name:  Colon Lindsey  transaction count:  9  total revenue:  4609.05  transaction rank:  313  revenue rank:  340
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  1943.36  transaction rank:  313  revenue rank:  2250
cashier name:  Johnson Samantha  transaction count:  9  total revenue:  3119.00  transaction rank:  313  revenue rank:  1068
cashier name:  Foster Jennifer  transaction count:  9  total revenue:  3148.48  transaction rank:  313  revenue rank:  1045
cashier name:  Galvan Lori  transaction count:  9  total revenue:  2884.59  transaction rank:  313  revenue rank:  1281
cashier name:  Brooks Renee  transaction count:  9  total revenue:  3886.27  transaction rank:  313  revenue rank:  617
cashier name:  Owens Jeffrey  transaction count:  9  total revenue:  4596.18  transaction rank:  313  revenue rank:  346
cashier name:  Jacobs Brenda  transaction count:  9  total revenue:  4572.12  transaction rank:  313  revenue rank:  347
cashier name:  Torres Steven  transaction count:  9  total revenue:  2702.68  transaction rank:  313  revenue rank:  1450
cashier name:  Bradley Rita  transaction count:  9  total revenue:  4986.32  transaction rank:  313  revenue rank:  248
cashier name:  Perry Andrea  transaction count:  9  total revenue:  4099.93  transaction rank:  313  revenue rank:  526
cashier name:  Long Kirsten  transaction count:  9  total revenue:  3884.01  transaction rank:  313  revenue rank:  619
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  6389.31  transaction rank:  313  revenue rank:  71
cashier name:  Nichols Brandon  transaction count:  9  total revenue:  5139.79  transaction rank:  313  revenue rank:  219
cashier name:  Riley Ashley  transaction count:  9  total revenue:  2220.22  transaction rank:  313  revenue rank:  1929
cashier name:  Meyer James  transaction count:  9  total revenue:  2940.58  transaction rank:  313  revenue rank:  1222
cashier name:  Torres Steven  transaction count:  9  total revenue:  7565.97  transaction rank:  313  revenue rank:  23
cashier name:  Pena Johnathan  transaction count:  9  total revenue:  3566.44  transaction rank:  313  revenue rank:  781
cashier name:  Hughes Christopher  transaction count:  9  total revenue:  4267.99  transaction rank:  313  revenue rank:  463
cashier name:  Horton Ashley  transaction count:  9  total revenue:  2607.19  transaction rank:  313  revenue rank:  1534
cashier name:  Moore Jason  transaction count:  9  total revenue:  3772.60  transaction rank:  313  revenue rank:  672
cashier name:  Chen Kathleen  transaction count:  9  total revenue:  5392.29  transaction rank:  313  revenue rank:  179
cashier name:  Jackson Michael  transaction count:  9  total revenue:  2572.86  transaction rank:  313  revenue rank:  1568
cashier name:  Herrera Spencer  transaction count:  9  total revenue:  3601.09  transaction rank:  313  revenue rank:  760
cashier name:  Day Natasha  transaction count:  9  total revenue:  5583.68  transaction rank:  313  revenue rank:  149
cashier name:  Mckinney Marcus  transaction count:  9  total revenue:  2124.99  transaction rank:  313  revenue rank:  2026
cashier name:  Gonzalez Michele  transaction count:  9  total revenue:  4513.26  transaction rank:  313  revenue rank:  363
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  3974.35  transaction rank:  313  revenue rank:  582
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  5828.77  transaction rank:  313  revenue rank:  129
cashier name:  Burns Kendra  transaction count:  9  total revenue:  3197.15  transaction rank:  313  revenue rank:  1012
cashier name:  Burns Kendra  transaction count:  9  total revenue:  6331.38  transaction rank:  313  revenue rank:  80
cashier name:  Bennett Alec  transaction count:  9  total revenue:  1581.89  transaction rank:  313  revenue rank:  2665
cashier name:  Walls Kristen  transaction count:  9  total revenue:  6098.46  transaction rank:  313  revenue rank:  106
cashier name:  Riley Ashley  transaction count:  9  total revenue:  4499.79  transaction rank:  313  revenue rank:  368
cashier name:  Gonzalez Michele  transaction count:  9  total revenue:  3979.49  transaction rank:  313  revenue rank:  580
cashier name:  Bryan Mr.  transaction count:  9  total revenue:  4924.12  transaction rank:  313  revenue rank:  258
cashier name:  Johnson Samantha  transaction count:  9  total revenue:  2557.37  transaction rank:  313  revenue rank:  1583
cashier name:  Brooks Renee  transaction count:  9  total revenue:  5597.54  transaction rank:  313  revenue rank:  145
cashier name:  Myers Gary  transaction count:  9  total revenue:  3528.24  transaction rank:  313  revenue rank:  800
cashier name:  Jones Christopher  transaction count:  9  total revenue:  3988.86  transaction rank:  313  revenue rank:  576
cashier name:  Durham Denise  transaction count:  9  total revenue:  2567.74  transaction rank:  313  revenue rank:  1570
cashier name:  Payne Samantha  transaction count:  9  total revenue:  2318.90  transaction rank:  313  revenue rank:  1825
cashier name:  Marquez Jeffrey  transaction count:  9  total revenue:  5202.25  transaction rank:  313  revenue rank:  208
cashier name:  Owens Jeffrey  transaction count:  9  total revenue:  3729.68  transaction rank:  313  revenue rank:  695
cashier name:  Riley Ashley  transaction count:  9  total revenue:  6124.30  transaction rank:  313  revenue rank:  100
cashier name:  Wells Monica  transaction count:  9  total revenue:  2290.51  transaction rank:  313  revenue rank:  1865
cashier name:  Wells Monica  transaction count:  9  total revenue:  5222.11  transaction rank:  313  revenue rank:  205
cashier name:  Werner Kara  transaction count:  9  total revenue:  3860.65  transaction rank:  313  revenue rank:  631
cashier name:  Brown Lisa  transaction count:  9  total revenue:  3719.31  transaction rank:  313  revenue rank:  700
cashier name:  Long Kirsten  transaction count:  9  total revenue:  4167.32  transaction rank:  313  revenue rank:  501
cashier name:  Moore Jason  transaction count:  9  total revenue:  5429.81  transaction rank:  313  revenue rank:  169
cashier name:  Jones Michael  transaction count:  9  total revenue:  5404.89  transaction rank:  313  revenue rank:  176
cashier name:  Nichols Brandon  transaction count:  9  total revenue:  4480.78  transaction rank:  313  revenue rank:  373
cashier name:  Bennett Alec  transaction count:  9  total revenue:  4125.53  transaction rank:  313  revenue rank:  519
cashier name:  Jones Evelyn  transaction count:  9  total revenue:  5299.20  transaction rank:  313  revenue rank:  195
cashier name:  Hughes Christopher  transaction count:  9  total revenue:  4918.34  transaction rank:  313  revenue rank:  260
cashier name:  Ellis Lauren  transaction count:  9  total revenue:  3708.32  transaction rank:  313  revenue rank:  708
cashier name:  Alvarez Brenda  transaction count:  9  total revenue:  3087.41  transaction rank:  313  revenue rank:  1095
cashier name:  Garcia Sarah  transaction count:  9  total revenue:  3431.76  transaction rank:  313  revenue rank:  856
cashier name:  Perry Andrea  transaction count:  9  total revenue:  4322.73  transaction rank:  313  revenue rank:  432
cashier name:  Gross Andrew  transaction count:  9  total revenue:  4466.37  transaction rank:  313  revenue rank:  376
cashier name:  Walls Kristen  transaction count:  9  total revenue:  3691.44  transaction rank:  313  revenue rank:  713
cashier name:  Pena Johnathan  transaction count:  9  total revenue:  4313.51  transaction rank:  313  revenue rank:  438
cashier name:  Wood Joshua  transaction count:  9  total revenue:  5995.72  transaction rank:  313  revenue rank:  117
cashier name:  Horton Ashley  transaction count:  9  total revenue:  3304.70  transaction rank:  313  revenue rank:  935
cashier name:  Rogers Mark  transaction count:  9  total revenue:  4465.71  transaction rank:  313  revenue rank:  378
cashier name:  Kerr Jason  transaction count:  9  total revenue:  5081.80  transaction rank:  313  revenue rank:  227
cashier name:  Ellis Lauren  transaction count:  9  total revenue:  2936.78  transaction rank:  313  revenue rank:  1229
cashier name:  White Kenneth  transaction count:  9  total revenue:  3684.06  transaction rank:  313  revenue rank:  720
cashier name:  Waters Julie  transaction count:  9  total revenue:  2045.27  transaction rank:  313  revenue rank:  2129
cashier name:  Brown Lisa  transaction count:  9  total revenue:  4206.71  transaction rank:  313  revenue rank:  482
cashier name:  Smith Diana  transaction count:  9  total revenue:  5788.37  transaction rank:  313  revenue rank:  134
cashier name:  Hull Shane  transaction count:  9  total revenue:  3431.12  transaction rank:  313  revenue rank:  857
cashier name:  Payne Samantha  transaction count:  9  total revenue:  2616.81  transaction rank:  313  revenue rank:  1524
cashier name:  Werner Kara  transaction count:  9  total revenue:  5169.02  transaction rank:  313  revenue rank:  213
cashier name:  Gross Andrew  transaction count:  9  total revenue:  5848.47  transaction rank:  313  revenue rank:  125
cashier name:  Waters Julie  transaction count:  9  total revenue:  5332.57  transaction rank:  313  revenue rank:  191
cashier name:  Vasquez Peter  transaction count:  9  total revenue:  2849.60  transaction rank:  313  revenue rank:  1315
cashier name:  Herrera Spencer  transaction count:  9  total revenue:  2724.57  transaction rank:  313  revenue rank:  1432
cashier name:  Blanchard Ricky  transaction count:  9  total revenue:  2812.45  transaction rank:  313  revenue rank:  1347
cashier name:  Sosa David  transaction count:  9  total revenue:  3664.58  transaction rank:  313  revenue rank:  732
cashier name:  Sosa David  transaction count:  9  total revenue:  2528.95  transaction rank:  313  revenue rank:  1616
cashier name:  Henderson Nancy  transaction count:  9  total revenue:  1193.03  transaction rank:  313  revenue rank:  3213
cashier name:  Brooks Renee  transaction count:  9  total revenue:  7389.90  transaction rank:  313  revenue rank:  28
cashier name:  Thompson Andrea  transaction count:  9  total revenue:  3426.38  transaction rank:  313  revenue rank:  859
cashier name:  Smith Brandy  transaction count:  9  total revenue:  4439.89  transaction rank:  313  revenue rank:  384
cashier name:  Foster Jennifer  transaction count:  9  total revenue:  5189.02  transaction rank:  313  revenue rank:  209
cashier name:  Long Kirsten  transaction count:  9  total revenue:  5487.54  transaction rank:  313  revenue rank:  161
cashier name:  Nichols Brandon  transaction count:  9  total revenue:  2648.02  transaction rank:  313  revenue rank:  1495
cashier name:  Tate Harry  transaction count:  9  total revenue:  4430.75  transaction rank:  313  revenue rank:  386
cashier name:  Garcia Sarah  transaction count:  9  total revenue:  3175.70  transaction rank:  313  revenue rank:  1024
cashier name:  Williams Michael  transaction count:  9  total revenue:  3153.24  transaction rank:  313  revenue rank:  1040
cashier name:  Chen Kathleen  transaction count:  9  total revenue:  4427.22  transaction rank:  313  revenue rank:  388
cashier name:  Thompson Andrea  transaction count:  9  total revenue:  4131.86  transaction rank:  313  revenue rank:  517
cashier name:  Jackson Michael  transaction count:  9  total revenue:  6187.04  transaction rank:  313  revenue rank:  95
cashier name:  Myers Gary  transaction count:  9  total revenue:  5575.33  transaction rank:  313  revenue rank:  150
cashier name:  Foster Kenneth  transaction count:  9  total revenue:  5186.19  transaction rank:  313  revenue rank:  210
cashier name:  Blanchard Ricky  transaction count:  9  total revenue:  5101.55  transaction rank:  313  revenue rank:  225
cashier name:  Jones Christopher  transaction count:  9  total revenue:  4233.27  transaction rank:  313  revenue rank:  469
cashier name:  Payne Samantha  transaction count:  9  total revenue:  3577.48  transaction rank:  313  revenue rank:  774
cashier name:  Carroll Eric  transaction count:  9  total revenue:  4414.97  transaction rank:  313  revenue rank:  393
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  3616.89  transaction rank:  313  revenue rank:  753
cashier name:  Jordan Carla  transaction count:  9  total revenue:  5168.69  transaction rank:  313  revenue rank:  214
cashier name:  Frederick Evan  transaction count:  9  total revenue:  2684.33  transaction rank:  313  revenue rank:  1468
cashier name:  Campbell Brittany  transaction count:  9  total revenue:  3599.16  transaction rank:  313  revenue rank:  761
cashier name:  Jackson Gary  transaction count:  9  total revenue:  4407.83  transaction rank:  313  revenue rank:  396
cashier name:  Long Kirsten  transaction count:  9  total revenue:  7453.33  transaction rank:  313  revenue rank:  26
cashier name:  Vasquez Peter  transaction count:  9  total revenue:  4294.17  transaction rank:  313  revenue rank:  449
cashier name:  Terri Mrs.  transaction count:  9  total revenue:  4404.40  transaction rank:  313  revenue rank:  398
cashier name:  Warren Timothy  transaction count:  9  total revenue:  3952.72  transaction rank:  313  revenue rank:  587
cashier name:  Davis Jennifer  transaction count:  9  total revenue:  2853.10  transaction rank:  313  revenue rank:  1314
cashier name:  Thomas Robert  transaction count:  9  total revenue:  4214.98  transaction rank:  313  revenue rank:  479
cashier name:  Dodson Courtney  transaction count:  9  total revenue:  2510.06  transaction rank:  313  revenue rank:  1634
cashier name:  Davis Jennifer  transaction count:  9  total revenue:  5265.99  transaction rank:  313  revenue rank:  200
cashier name:  Church Joshua  transaction count:  9  total revenue:  2733.93  transaction rank:  313  revenue rank:  1423
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  5528.63  transaction rank:  313  revenue rank:  153
cashier name:  White Kenneth  transaction count:  9  total revenue:  4036.60  transaction rank:  313  revenue rank:  554
cashier name:  Werner Kara  transaction count:  9  total revenue:  6672.90  transaction rank:  313  revenue rank:  56
cashier name:  Moore Jason  transaction count:  9  total revenue:  5011.67  transaction rank:  313  revenue rank:  240
cashier name:  Torres Steven  transaction count:  9  total revenue:  3473.69  transaction rank:  313  revenue rank:  831
cashier name:  Manning Maria  transaction count:  9  total revenue:  4038.26  transaction rank:  313  revenue rank:  551

cashier name:  Mckinney Marcus  transaction count:  9  total revenue:  3353.43  transaction rank:  313  revenue rank:  906
cashier name:  Harrell Angie  transaction count:  9  total revenue:  4230.01  transaction rank:  313  revenue rank:  471
cashier name:  Gross Andrew  transaction count:  9  total revenue:  5402.66  transaction rank:  313  revenue rank:  177
cashier name:  Warren Timothy  transaction count:  9  total revenue:  4741.28  transaction rank:  313  revenue rank:  295
cashier name:  Thomas Robert  transaction count:  9  total revenue:  4288.10  transaction rank:  313  revenue rank:  453
cashier name:  Payne Samantha  transaction count:  9  total revenue:  5459.97  transaction rank:  313  revenue rank:  165
cashier name:  Werner Kara  transaction count:  9  total revenue:  3204.86  transaction rank:  313  revenue rank:  1007
cashier name:  Atkinson Gary  transaction count:  9  total revenue:  2735.26  transaction rank:  313  revenue rank:  1418
cashier name:  Campbell Brittany  transaction count:  9  total revenue:  3790.97  transaction rank:  313  revenue rank:  666
cashier name:  Burns Kendra  transaction count:  9  total revenue:  3190.24  transaction rank:  313  revenue rank:  1018
cashier name:  Werner Kara  transaction count:  9  total revenue:  3335.97  transaction rank:  313  revenue rank:  920
cashier name:  Thomas Robert  transaction count:  9  total revenue:  3840.63  transaction rank:  313  revenue rank:  644
cashier name:  Hughes Christopher  transaction count:  9  total revenue:  2944.04  transaction rank:  313  revenue rank:  1220
cashier name:  Brooks Renee  transaction count:  9  total revenue:  4378.52  transaction rank:  313  revenue rank:  413
cashier name:  Terri Mrs.  transaction count:  9  total revenue:  4182.81  transaction rank:  313  revenue rank:  495
cashier name:  Payne Samantha  transaction count:  9  total revenue:  3208.86  transaction rank:  313  revenue rank:  1005
cashier name:  Moyer Steven  transaction count:  9  total revenue:  4371.79  transaction rank:  313  revenue rank:  415
cashier name:  Johnson Samantha  transaction count:  9  total revenue:  5986.01  transaction rank:  313  revenue rank:  118
cashier name:  Kramer Veronica  transaction count:  9  total revenue:  3810.00  transaction rank:  313  revenue rank:  658
cashier name:  Sean Mr.  transaction count:  9  total revenue:  4286.11  transaction rank:  313  revenue rank:  456
cashier name:  Thompson Matthew  transaction count:  9  total revenue:  3517.38  transaction rank:  313  revenue rank:  806
cashier name:  Thompson Andrea  transaction count:  8  total revenue:  3045.89  transaction rank:  482  revenue rank:  1129
cashier name:  Marquez Jeffrey  transaction count:  8  total revenue:  1949.51  transaction rank:  482  revenue rank:  2241
cashier name:  Vasquez Peter  transaction count:  8  total revenue:  2720.14  transaction rank:  482  revenue rank:  1438
cashier name:  Church Joshua  transaction count:  8  total revenue:  5277.89  transaction rank:  482  revenue rank:  196
cashier name:  Horton Ashley  transaction count:  8  total revenue:  7016.79  transaction rank:  482  revenue rank:  42
cashier name:  Gross Andrew  transaction count:  8  total revenue:  3113.86  transaction rank:  482  revenue rank:  1072
cashier name:  Thomas Robert  transaction count:  8  total revenue:  2721.03  transaction rank:  482  revenue rank:  1436
cashier name:  Smith Diana  transaction count:  8  total revenue:  3572.74  transaction rank:  482  revenue rank:  775
cashier name:  Brooks Renee  transaction count:  8  total revenue:  3115.57  transaction rank:  482  revenue rank:  1070
cashier name:  Moyer Steven  transaction count:  8  total revenue:  2484.33  transaction rank:  482  revenue rank:  1661
cashier name:  Burns Kendra  transaction count:  8  total revenue:  2176.30  transaction rank:  482  revenue rank:  1975
cashier name:  Durham Denise  transaction count:  8  total revenue:  3122.72  transaction rank:  482  revenue rank:  1064
cashier name:  Jackson Gary  transaction count:  8  total revenue:  3559.80  transaction rank:  482  revenue rank:  787
cashier name:  Bradley Rita  transaction count:  8  total revenue:  3128.01  transaction rank:  482  revenue rank:  1063
cashier name:  Glover Michelle  transaction count:  8  total revenue:  3538.70  transaction rank:  482  revenue rank:  793
cashier name:  Tate Harry  transaction count:  8  total revenue:  3138.40  transaction rank:  482  revenue rank:  1055
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  3532.39  transaction rank:  482  revenue rank:  796
cashier name:  Horton Mark  transaction count:  8  total revenue:  3532.31  transaction rank:  482  revenue rank:  797
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  3532.30  transaction rank:  482  revenue rank:  798
cashier name:  Torres Steven  transaction count:  8  total revenue:  3532.28  transaction rank:  482  revenue rank:  799
cashier name:  Foster Jennifer  transaction count:  8  total revenue:  2353.77  transaction rank:  482  revenue rank:  1787
cashier name:  Wilson Jill  transaction count:  8  total revenue:  5007.02  transaction rank:  482  revenue rank:  241
cashier name:  Durham Denise  transaction count:  8  total revenue:  3144.81  transaction rank:  482  revenue rank:  1047
cashier name:  Wells Monica  transaction count:  8  total revenue:  1734.40  transaction rank:  482  revenue rank:  2489
cashier name:  Brown Lisa  transaction count:  8  total revenue:  5325.24  transaction rank:  482  revenue rank:  194
cashier name:  Durham Denise  transaction count:  8  total revenue:  3507.05  transaction rank:  482  revenue rank:  812
cashier name:  Bennett Alec  transaction count:  8  total revenue:  3149.32  transaction rank:  482  revenue rank:  1044
cashier name:  Pena Johnathan  transaction count:  8  total revenue:  3503.13  transaction rank:  482  revenue rank:  814
cashier name:  Gross Andrew  transaction count:  8  total revenue:  2729.81  transaction rank:  482  revenue rank:  1425
cashier name:  Sosa David  transaction count:  8  total revenue:  3152.53  transaction rank:  482  revenue rank:  1042
cashier name:  Kramer Veronica  transaction count:  8  total revenue:  3494.43  transaction rank:  482  revenue rank:  818
cashier name:  Smith Brandy  transaction count:  8  total revenue:  3161.86  transaction rank:  482  revenue rank:  1034
cashier name:  Burns Kendra  transaction count:  8  total revenue:  2734.62  transaction rank:  482  revenue rank:  1420
cashier name:  Alvarez Brenda  transaction count:  8  total revenue:  3480.00  transaction rank:  482  revenue rank:  827
cashier name:  Campbell Brittany  transaction count:  8  total revenue:  3478.96  transaction rank:  482  revenue rank:  828
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  3475.78  transaction rank:  482  revenue rank:  829
cashier name:  Jones Michael  transaction count:  8  total revenue:  3165.75  transaction rank:  482  revenue rank:  1033
cashier name:  Meyer James  transaction count:  8  total revenue:  1724.96  transaction rank:  482  revenue rank:  2504
cashier name:  Johnson Samantha  transaction count:  8  total revenue:  3169.27  transaction rank:  482  revenue rank:  1030
cashier name:  Smith Diana  transaction count:  8  total revenue:  6841.87  transaction rank:  482  revenue rank:  51
cashier name:  Moon James  transaction count:  8  total revenue:  3174.74  transaction rank:  482  revenue rank:  1027
cashier name:  Woods Marcus  transaction count:  8  total revenue:  3445.05  transaction rank:  482  revenue rank:  846
cashier name:  Nichols Mitchell  transaction count:  8  total revenue:  5000.87  transaction rank:  482  revenue rank:  243
cashier name:  Waters Julie  transaction count:  8  total revenue:  3441.21  transaction rank:  482  revenue rank:  848
cashier name:  Carroll Eric  transaction count:  8  total revenue:  2017.69  transaction rank:  482  revenue rank:  2167
cashier name:  Carroll Eric  transaction count:  8  total revenue:  3437.70  transaction rank:  482  revenue rank:  853
cashier name:  Tate Harry  transaction count:  8  total revenue:  3436.47  transaction rank:  482  revenue rank:  854
cashier name:  Shah Amanda  transaction count:  8  total revenue:  6763.22  transaction rank:  482  revenue rank:  54
cashier name:  Foster Jennifer  transaction count:  8  total revenue:  1282.75  transaction rank:  482  revenue rank:  3084
cashier name:  Spears Erin  transaction count:  8  total revenue:  2019.47  transaction rank:  482  revenue rank:  2163
cashier name:  Bennett Alec  transaction count:  8  total revenue:  2735.93  transaction rank:  482  revenue rank:  1416
cashier name:  Payne Samantha  transaction count:  8  total revenue:  3413.72  transaction rank:  482  revenue rank:  868
cashier name:  Walters Jay  transaction count:  8  total revenue:  4999.90  transaction rank:  482  revenue rank:  245
cashier name:  Vasquez Peter  transaction count:  8  total revenue:  3395.51  transaction rank:  482  revenue rank:  877
cashier name:  Davis Jennifer  transaction count:  8  total revenue:  3194.99  transaction rank:  482  revenue rank:  1015
cashier name:  Johnson Samantha  transaction count:  8  total revenue:  5475.27  transaction rank:  482  revenue rank:  164
cashier name:  Perry Andrea  transaction count:  8  total revenue:  2747.84  transaction rank:  482  revenue rank:  1404
cashier name:  Davis Jennifer  transaction count:  8  total revenue:  2592.17  transaction rank:  482  revenue rank:  1553
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  3385.44  transaction rank:  482  revenue rank:  886
cashier name:  Jackson Michael  transaction count:  8  total revenue:  3384.94  transaction rank:  482  revenue rank:  887
cashier name:  Vasquez Peter  transaction count:  8  total revenue:  3196.47  transaction rank:  482  revenue rank:  1013
cashier name:  Long Kirsten  transaction count:  8  total revenue:  3384.50  transaction rank:  482  revenue rank:  889
cashier name:  Jones Christopher  transaction count:  8  total revenue:  3384.10  transaction rank:  482  revenue rank:  890
cashier name:  Wilson Jill  transaction count:  8  total revenue:  3383.90  transaction rank:  482  revenue rank:  891
cashier name:  Martin Monica  transaction count:  8  total revenue:  3376.82  transaction rank:  482  revenue rank:  896
cashier name:  Colon Lindsey  transaction count:  8  total revenue:  3203.09  transaction rank:  482  revenue rank:  1010
cashier name:  Ellis Lauren  transaction count:  8  total revenue:  3367.59  transaction rank:  482  revenue rank:  901
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  5490.48  transaction rank:  482  revenue rank:  160
cashier name:  Conrad Frederick  transaction count:  8  total revenue:  2769.72  transaction rank:  482  revenue rank:  1380
cashier name:  Payne Samantha  transaction count:  8  total revenue:  3355.22  transaction rank:  482  revenue rank:  904
cashier name:  Long Kirsten  transaction count:  8  total revenue:  3204.07  transaction rank:  482  revenue rank:  1009
cashier name:  Thompson Andrea  transaction count:  8  total revenue:  3351.88  transaction rank:  482  revenue rank:  909
cashier name:  Kerr Jason  transaction count:  8  total revenue:  3206.18  transaction rank:  482  revenue rank:  1006
cashier name:  Mckinney Marcus  transaction count:  8  total revenue:  3346.39  transaction rank:  482  revenue rank:  913
cashier name:  Myers Gary  transaction count:  8  total revenue:  3211.34  transaction rank:  482  revenue rank:  1004
cashier name:  Waters Julie  transaction count:  8  total revenue:  3337.34  transaction rank:  482  revenue rank:  918
cashier name:  Horton Mark  transaction count:  8  total revenue:  3333.04  transaction rank:  482  revenue rank:  923
cashier name:  Woods Marcus  transaction count:  8  total revenue:  3222.84  transaction rank:  482  revenue rank:  997
cashier name:  Ellis Lauren  transaction count:  8  total revenue:  3325.61  transaction rank:  482  revenue rank:  925
cashier name:  Jones Michael  transaction count:  8  total revenue:  3324.78  transaction rank:  482  revenue rank:  926
cashier name:  Moon James  transaction count:  8  total revenue:  3224.28  transaction rank:  482  revenue rank:  994
cashier name:  Jackson Gary  transaction count:  8  total revenue:  3309.28  transaction rank:  482  revenue rank:  931
cashier name:  Gardner Laura  transaction count:  8  total revenue:  3224.67  transaction rank:  482  revenue rank:  993
cashier name:  Sosa David  transaction count:  8  total revenue:  2472.20  transaction rank:  482  revenue rank:  1672
cashier name:  Brooks Renee  transaction count:  8  total revenue:  2209.68  transaction rank:  482  revenue rank:  1944
cashier name:  Smith Brandy  transaction count:  8  total revenue:  6380.56  transaction rank:  482  revenue rank:  72
cashier name:  Nguyen Richard  transaction count:  8  total revenue:  3241.49  transaction rank:  482  revenue rank:  975
cashier name:  Moon James  transaction count:  8  total revenue:  3241.50  transaction rank:  482  revenue rank:  974
cashier name:  White Kenneth  transaction count:  8  total revenue:  3245.69  transaction rank:  482  revenue rank:  969
cashier name:  Chen Kathleen  transaction count:  8  total revenue:  3246.69  transaction rank:  482  revenue rank:  967
cashier name:  Campbell Bethany  transaction count:  8  total revenue:  2785.82  transaction rank:  482  revenue rank:  1367
cashier name:  Gardner Laura  transaction count:  8  total revenue:  2792.02  transaction rank:  482  revenue rank:  1362
cashier name:  Nguyen Richard  transaction count:  8  total revenue:  5525.79  transaction rank:  482  revenue rank:  154
cashier name:  Jessica Ms.  transaction count:  8  total revenue:  1868.61  transaction rank:  482  revenue rank:  2326
cashier name:  Day Natasha  transaction count:  8  total revenue:  4935.74  transaction rank:  482  revenue rank:  254
cashier name:  Waters Julie  transaction count:  8  total revenue:  2032.46  transaction rank:  482  revenue rank:  2148
cashier name:  Gross Andrew  transaction count:  8  total revenue:  4933.98  transaction rank:  482  revenue rank:  255
cashier name:  Bryan Mr.  transaction count:  8  total revenue:  2301.09  transaction rank:  482  revenue rank:  1848
cashier name:  Shah Amanda  transaction count:  8  total revenue:  2804.53  transaction rank:  482  revenue rank:  1354
cashier name:  White Kenneth  transaction count:  8  total revenue:  2830.48  transaction rank:  482  revenue rank:  1333
cashier name:  Jacobs Brenda  transaction count:  8  total revenue:  2611.51  transaction rank:  482  revenue rank:  1530
cashier name:  Mckinney Marcus  transaction count:  8  total revenue:  5627.27  transaction rank:  482  revenue rank:  142
cashier name:  Campbell Brittany  transaction count:  8  total revenue:  2846.26  transaction rank:  482  revenue rank:  1320
cashier name:  Jones Michael  transaction count:  8  total revenue:  5148.55  transaction rank:  482  revenue rank:  216
cashier name:  Eric Mr.  transaction count:  8  total revenue:  5236.80  transaction rank:  482  revenue rank:  204
cashier name:  Johnson Samantha  transaction count:  8  total revenue:  2274.96  transaction rank:  482  revenue rank:  1883
cashier name:  Wood Joshua  transaction count:  8  total revenue:  2272.17  transaction rank:  482  revenue rank:  1885
cashier name:  Martin Monica  transaction count:  8  total revenue:  4868.30  transaction rank:  482  revenue rank:  271
cashier name:  Golden Laurie  transaction count:  8  total revenue:  4852.68  transaction rank:  482  revenue rank:  275
cashier name:  Burns Kendra  transaction count:  8  total revenue:  4850.51  transaction rank:  482  revenue rank:  276
cashier name:  Church Joshua  transaction count:  8  total revenue:  2617.85  transaction rank:  482  revenue rank:  1523
cashier name:  Campbell Bethany  transaction count:  8  total revenue:  4796.97  transaction rank:  482  revenue rank:  284
cashier name:  Moore Jason  transaction count:  8  total revenue:  4777.57  transaction rank:  482  revenue rank:  287
cashier name:  Williams Michael  transaction count:  8  total revenue:  2862.53  transaction rank:  482  revenue rank:  1303
cashier name:  Harrell Angie  transaction count:  8  total revenue:  4748.46  transaction rank:  482  revenue rank:  293
cashier name:  Meyer James  transaction count:  8  total revenue:  4738.18  transaction rank:  482  revenue rank:  297
cashier name:  Eric Mr.  transaction count:  8  total revenue:  2867.28  transaction rank:  482  revenue rank:  1297
cashier name:  Jackson Michael  transaction count:  8  total revenue:  4724.97  transaction rank:  482  revenue rank:  300
cashier name:  Hernandez Michael  transaction count:  8  total revenue:  4722.79  transaction rank:  482  revenue rank:  301
cashier name:  Sosa David  transaction count:  8  total revenue:  2873.62  transaction rank:  482  revenue rank:  1292
cashier name:  Wells Monica  transaction count:  8  total revenue:  2623.48  transaction rank:  482  revenue rank:  1518
cashier name:  Mckinney Marcus  transaction count:  8  total revenue:  4640.76  transaction rank:  482  revenue rank:  321
cashier name:  Walters Jay  transaction count:  8  total revenue:  5357.19  transaction rank:  482  revenue rank:  184
cashier name:  Carroll Eric  transaction count:  8  total revenue:  4635.31  transaction rank:  482  revenue rank:  325
cashier name:  Woods Marcus  transaction count:  8  total revenue:  4627.23  transaction rank:  482  revenue rank:  329
cashier name:  Campbell Brittany  transaction count:  8  total revenue:  2073.68  transaction rank:  482  revenue rank:  2095
cashier name:  Moon James  transaction count:  8  total revenue:  4612.71  transaction rank:  482  revenue rank:  336
cashier name:  Wells Monica  transaction count:  8  total revenue:  4602.98  transaction rank:  482  revenue rank:  342
cashier name:  Werner Kara  transaction count:  8  total revenue:  4602.08  transaction rank:  482  revenue rank:  343

cashier name:  Payne Samantha  transaction count:  8  total revenue:  2626.08  transaction rank:  482  revenue rank:  1514
cashier name:  Jones Christopher  transaction count:  8  total revenue:  4556.51  transaction rank:  482  revenue rank:  348
cashier name:  Galvan Lori  transaction count:  8  total revenue:  4553.30  transaction rank:  482  revenue rank:  349
cashier name:  Waters Julie  transaction count:  8  total revenue:  4553.06  transaction rank:  482  revenue rank:  350
cashier name:  Love Thomas  transaction count:  8  total revenue:  2893.22  transaction rank:  482  revenue rank:  1271
cashier name:  Smith Brandy  transaction count:  8  total revenue:  2893.40  transaction rank:  482  revenue rank:  1270
cashier name:  Blanchard Ricky  transaction count:  8  total revenue:  2508.70  transaction rank:  482  revenue rank:  1636
cashier name:  Colon Lindsey  transaction count:  8  total revenue:  4520.80  transaction rank:  482  revenue rank:  359
cashier name:  Mckinney Marcus  transaction count:  8  total revenue:  1983.78  transaction rank:  482  revenue rank:  2198
cashier name:  Horton Mark  transaction count:  8  total revenue:  4507.15  transaction rank:  482  revenue rank:  365
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  2077.52  transaction rank:  482  revenue rank:  2088
cashier name:  Campbell Brittany  transaction count:  8  total revenue:  1991.15  transaction rank:  482  revenue rank:  2193
cashier name:  Colon Lindsey  transaction count:  8  total revenue:  4471.30  transaction rank:  482  revenue rank:  375
cashier name:  Galvan Lori  transaction count:  8  total revenue:  2899.51  transaction rank:  482  revenue rank:  1260
cashier name:  Foster Jennifer  transaction count:  8  total revenue:  4461.75  transaction rank:  482  revenue rank:  381
cashier name:  Foster Jennifer  transaction count:  8  total revenue:  4458.69  transaction rank:  482  revenue rank:  382
cashier name:  Thompson Matthew  transaction count:  8  total revenue:  4451.57  transaction rank:  482  revenue rank:  383
cashier name:  Moore Jason  transaction count:  8  total revenue:  4434.87  transaction rank:  482  revenue rank:  385
cashier name:  Gardner Laura  transaction count:  8  total revenue:  2900.36  transaction rank:  482  revenue rank:  1257
cashier name:  Kramer Veronica  transaction count:  8  total revenue:  4414.49  transaction rank:  482  revenue rank:  394
cashier name:  Smith Brandy  transaction count:  8  total revenue:  4409.39  transaction rank:  482  revenue rank:  395
cashier name:  Burns Kendra  transaction count:  8  total revenue:  4399.71  transaction rank:  482  revenue rank:  401
cashier name:  Brown Lisa  transaction count:  8  total revenue:  4397.59  transaction rank:  482  revenue rank:  403
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  4390.99  transaction rank:  482  revenue rank:  404
cashier name:  Dodson Courtney  transaction count:  8  total revenue:  2635.12  transaction rank:  482  revenue rank:  1504
cashier name:  Nichols Mitchell  transaction count:  8  total revenue:  4388.52  transaction rank:  482  revenue rank:  407
cashier name:  Galvan Lori  transaction count:  8  total revenue:  5109.88  transaction rank:  482  revenue rank:  223
cashier name:  Love Thomas  transaction count:  8  total revenue:  4383.00  transaction rank:  482  revenue rank:  410
cashier name:  Martin Monica  transaction count:  8  total revenue:  4380.71  transaction rank:  482  revenue rank:  412
cashier name:  White Kenneth  transaction count:  8  total revenue:  5103.82  transaction rank:  482  revenue rank:  224
cashier name:  Woods Marcus  transaction count:  8  total revenue:  4364.63  transaction rank:  482  revenue rank:  418
cashier name:  Alvarez Brenda  transaction count:  8  total revenue:  4354.78  transaction rank:  482  revenue rank:  421
cashier name:  Blanchard Ricky  transaction count:  8  total revenue:  4337.53  transaction rank:  482  revenue rank:  426
cashier name:  Gardner Laura  transaction count:  8  total revenue:  2925.89  transaction rank:  482  revenue rank:  1237
cashier name:  Mckenzie William  transaction count:  8  total revenue:  4329.53  transaction rank:  482  revenue rank:  430
cashier name:  Colon Lindsey  transaction count:  8  total revenue:  4323.76  transaction rank:  482  revenue rank:  431
cashier name:  Waters Julie  transaction count:  8  total revenue:  2637.24  transaction rank:  482  revenue rank:  1501
cashier name:  Waters Julie  transaction count:  8  total revenue:  2642.55  transaction rank:  482  revenue rank:  1498
cashier name:  Smith Brandy  transaction count:  8  total revenue:  2932.57  transaction rank:  482  revenue rank:  1233
cashier name:  Nguyen Richard  transaction count:  8  total revenue:  4303.99  transaction rank:  482  revenue rank:  444
cashier name:  Sean Mr.  transaction count:  8  total revenue:  2422.42  transaction rank:  482  revenue rank:  1719
cashier name:  Hull Shane  transaction count:  8  total revenue:  2659.61  transaction rank:  482  revenue rank:  1488
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  4287.70  transaction rank:  482  revenue rank:  454
cashier name:  White Kenneth  transaction count:  8  total revenue:  4286.72  transaction rank:  482  revenue rank:  455
cashier name:  Moon James  transaction count:  8  total revenue:  2667.74  transaction rank:  482  revenue rank:  1482
cashier name:  Bryan Mr.  transaction count:  8  total revenue:  4250.79  transaction rank:  482  revenue rank:  466
cashier name:  Hayes Brandon  transaction count:  8  total revenue:  4243.15  transaction rank:  482  revenue rank:  467
cashier name:  Long Kirsten  transaction count:  8  total revenue:  2940.42  transaction rank:  482  revenue rank:  1223
cashier name:  Nguyen Richard  transaction count:  8  total revenue:  4223.25  transaction rank:  482  revenue rank:  472
cashier name:  Galvan Lori  transaction count:  8  total revenue:  5401.56  transaction rank:  482  revenue rank:  178
cashier name:  Manning Maria  transaction count:  8  total revenue:  4213.50  transaction rank:  482  revenue rank:  480
cashier name:  Manning Maria  transaction count:  8  total revenue:  5887.85  transaction rank:  482  revenue rank:  123
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  4197.38  transaction rank:  482  revenue rank:  485
cashier name:  Jackson Gary  transaction count:  8  total revenue:  4176.63  transaction rank:  482  revenue rank:  499
cashier name:  Smith Brandy  transaction count:  8  total revenue:  1906.19  transaction rank:  482  revenue rank:  2288
cashier name:  Manning Maria  transaction count:  8  total revenue:  4140.41  transaction rank:  482  revenue rank:  513
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  4124.84  transaction rank:  482  revenue rank:  520
cashier name:  Bradley Rita  transaction count:  8  total revenue:  4115.06  transaction rank:  482  revenue rank:  525
cashier name:  Mckinney Marcus  transaction count:  8  total revenue:  2410.63  transaction rank:  482  revenue rank:  1733
cashier name:  Payne Samantha  transaction count:  8  total revenue:  4090.77  transaction rank:  482  revenue rank:  530
cashier name:  Perry Andrea  transaction count:  8  total revenue:  4079.30  transaction rank:  482  revenue rank:  531
cashier name:  Randolph Emily  transaction count:  8  total revenue:  4074.96  transaction rank:  482  revenue rank:  532
cashier name:  Owens Jeffrey  transaction count:  8  total revenue:  4073.69  transaction rank:  482  revenue rank:  534
cashier name:  Myers Gary  transaction count:  8  total revenue:  4073.06  transaction rank:  482  revenue rank:  535
cashier name:  Kramer Veronica  transaction count:  8  total revenue:  4064.98  transaction rank:  482  revenue rank:  539
cashier name:  Walters Jay  transaction count:  8  total revenue:  1422.53  transaction rank:  482  revenue rank:  2896
cashier name:  Thompson Andrea  transaction count:  8  total revenue:  2689.27  transaction rank:  482  revenue rank:  1465
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  5407.91  transaction rank:  482  revenue rank:  175
cashier name:  Hayes Brandon  transaction count:  8  total revenue:  2957.76  transaction rank:  482  revenue rank:  1200
cashier name:  Vasquez Peter  transaction count:  8  total revenue:  2958.56  transaction rank:  482  revenue rank:  1198
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  4006.99  transaction rank:  482  revenue rank:  565
cashier name:  Chambers Jeffrey  transaction count:  8  total revenue:  2555.60  transaction rank:  482  revenue rank:  1586
cashier name:  Hull Shane  transaction count:  8  total revenue:  2123.96  transaction rank:  482  revenue rank:  2028
cashier name:  Warren Timothy  transaction count:  8  total revenue:  3968.76  transaction rank:  482  revenue rank:  584
cashier name:  Chambers Jeffrey  transaction count:  8  total revenue:  3968.40  transaction rank:  482  revenue rank:  585
cashier name:  Hernandez Michael  transaction count:  8  total revenue:  3959.86  transaction rank:  482  revenue rank:  586
cashier name:  White Kenneth  transaction count:  8  total revenue:  2993.22  transaction rank:  482  revenue rank:  1174
cashier name:  Bennett Alec  transaction count:  8  total revenue:  2994.03  transaction rank:  482  revenue rank:  1172
cashier name:  Walters Jay  transaction count:  8  total revenue:  3943.33  transaction rank:  482  revenue rank:  591
cashier name:  Spears Erin  transaction count:  8  total revenue:  3923.05  transaction rank:  482  revenue rank:  598
cashier name:  Jacobs Brenda  transaction count:  8  total revenue:  2698.07  transaction rank:  482  revenue rank:  1457
cashier name:  Meyer James  transaction count:  8  total revenue:  3000.58  transaction rank:  482  revenue rank:  1164
cashier name:  Gardner Laura  transaction count:  8  total revenue:  3908.99  transaction rank:  482  revenue rank:  604
cashier name:  Campbell Brittany  transaction count:  8  total revenue:  3906.05  transaction rank:  482  revenue rank:  607
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  5411.53  transaction rank:  482  revenue rank:  173
cashier name:  Moon James  transaction count:  8  total revenue:  6030.11  transaction rank:  482  revenue rank:  111
cashier name:  Day Natasha  transaction count:  8  total revenue:  3025.25  transaction rank:  482  revenue rank:  1151
cashier name:  Colon Lindsey  transaction count:  8  total revenue:  2699.21  transaction rank:  482  revenue rank:  1453
cashier name:  Sean Mr.  transaction count:  8  total revenue:  3880.68  transaction rank:  482  revenue rank:  620
cashier name:  Jones Christopher  transaction count:  8  total revenue:  3026.20  transaction rank:  482  revenue rank:  1150
cashier name:  Terri Mrs.  transaction count:  8  total revenue:  3027.75  transaction rank:  482  revenue rank:  1147
cashier name:  Jones Christopher  transaction count:  8  total revenue:  3875.89  transaction rank:  482  revenue rank:  624
cashier name:  Frederick Evan  transaction count:  8  total revenue:  2560.45  transaction rank:  482  revenue rank:  1581
cashier name:  Gardner Laura  transaction count:  8  total revenue:  2393.29  transaction rank:  482  revenue rank:  1748
cashier name:  Foster Kenneth  transaction count:  8  total revenue:  3862.91  transaction rank:  482  revenue rank:  630
cashier name:  Horton Ashley  transaction count:  8  total revenue:  3857.48  transaction rank:  482  revenue rank:  633
cashier name:  Spears Erin  transaction count:  8  total revenue:  5077.45  transaction rank:  482  revenue rank:  228
cashier name:  Jordan Carla  transaction count:  8  total revenue:  5074.41  transaction rank:  482  revenue rank:  229
cashier name:  Hughes Christopher  transaction count:  8  total revenue:  1894.90  transaction rank:  482  revenue rank:  2300
cashier name:  Warren Timothy  transaction count:  8  total revenue:  3839.72  transaction rank:  482  revenue rank:  645
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  3836.80  transaction rank:  482  revenue rank:  646
cashier name:  Sosa David  transaction count:  8  total revenue:  3836.26  transaction rank:  482  revenue rank:  647
cashier name:  Eric Mr.  transaction count:  8  total revenue:  3032.59  transaction rank:  482  revenue rank:  1138
cashier name:  Wells Monica  transaction count:  8  total revenue:  3829.51  transaction rank:  482  revenue rank:  650
cashier name:  Roach Christine  transaction count:  8  total revenue:  3822.01  transaction rank:  482  revenue rank:  652
cashier name:  Garcia Sarah  transaction count:  8  total revenue:  3820.56  transaction rank:  482  revenue rank:  654
cashier name:  Payne Samantha  transaction count:  8  total revenue:  3056.02  transaction rank:  482  revenue rank:  1120
cashier name:  Foster Jennifer  transaction count:  8  total revenue:  3061.47  transaction rank:  482  revenue rank:  1115
cashier name:  Payne Samantha  transaction count:  8  total revenue:  3786.48  transaction rank:  482  revenue rank:  669
cashier name:  Glover Michelle  transaction count:  8  total revenue:  3777.42  transaction rank:  482  revenue rank:  671
cashier name:  Sosa David  transaction count:  8  total revenue:  3062.38  transaction rank:  482  revenue rank:  1112
cashier name:  Owens Jeffrey  transaction count:  8  total revenue:  3762.06  transaction rank:  482  revenue rank:  678
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  2388.35  transaction rank:  482  revenue rank:  1756
cashier name:  Church Joshua  transaction count:  8  total revenue:  3066.12  transaction rank:  482  revenue rank:  1108
cashier name:  Warren Timothy  transaction count:  8  total revenue:  3067.25  transaction rank:  482  revenue rank:  1107
cashier name:  Galvan Lori  transaction count:  8  total revenue:  7267.32  transaction rank:  482  revenue rank:  32
cashier name:  Foster Kenneth  transaction count:  8  total revenue:  5419.67  transaction rank:  482  revenue rank:  170
cashier name:  Roach Christine  transaction count:  8  total revenue:  912.49  transaction rank:  482  revenue rank:  3626
cashier name:  Glover Michelle  transaction count:  8  total revenue:  3735.66  transaction rank:  482  revenue rank:  690
cashier name:  Mckenzie William  transaction count:  8  total revenue:  3086.53  transaction rank:  482  revenue rank:  1098
cashier name:  Galvan Lori  transaction count:  8  total revenue:  3725.74  transaction rank:  482  revenue rank:  698
cashier name:  Sosa David  transaction count:  8  total revenue:  3718.47  transaction rank:  482  revenue rank:  701
cashier name:  Martin Monica  transaction count:  8  total revenue:  2520.02  transaction rank:  482  revenue rank:  1626
cashier name:  Randolph Emily  transaction count:  8  total revenue:  5057.85  transaction rank:  482  revenue rank:  233
cashier name:  Thompson Andrea  transaction count:  8  total revenue:  3709.09  transaction rank:  482  revenue rank:  707
cashier name:  Martin Monica  transaction count:  8  total revenue:  3704.85  transaction rank:  482  revenue rank:  710
cashier name:  Brown Lisa  transaction count:  8  total revenue:  3704.16  transaction rank:  482  revenue rank:  711
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  3087.71  transaction rank:  482  revenue rank:  1094
cashier name:  Atkinson Gary  transaction count:  8  total revenue:  3089.93  transaction rank:  482  revenue rank:  1093
cashier name:  Farrell Christopher  transaction count:  8  total revenue:  3686.48  transaction rank:  482  revenue rank:  718
cashier name:  Long Kirsten  transaction count:  8  total revenue:  3682.90  transaction rank:  482  revenue rank:  721
cashier name:  Ellis Lauren  transaction count:  8  total revenue:  3093.56  transaction rank:  482  revenue rank:  1089
cashier name:  Perry Andrea  transaction count:  8  total revenue:  3677.15  transaction rank:  482  revenue rank:  725
cashier name:  Nichols Mitchell  transaction count:  8  total revenue:  3676.00  transaction rank:  482  revenue rank:  727
cashier name:  Woods Marcus  transaction count:  8  total revenue:  7134.78  transaction rank:  482  revenue rank:  38
cashier name:  Martin Monica  transaction count:  8  total revenue:  3671.48  transaction rank:  482  revenue rank:  730
cashier name:  Eric Mr.  transaction count:  8  total revenue:  2156.95  transaction rank:  482  revenue rank:  1994
cashier name:  Jones Michael  transaction count:  8  total revenue:  3651.83  transaction rank:  482  revenue rank:  736
cashier name:  Conrad Frederick  transaction count:  8  total revenue:  3644.58  transaction rank:  482  revenue rank:  738
cashier name:  Herrera Spencer  transaction count:  8  total revenue:  3634.56  transaction rank:  482  revenue rank:  742
cashier name:  Ellis Lauren  transaction count:  8  total revenue:  2519.57  transaction rank:  482  revenue rank:  1627
cashier name:  Martin Monica  transaction count:  8  total revenue:  3111.47  transaction rank:  482  revenue rank:  1076
cashier name:  Owens Jeffrey  transaction count:  8  total revenue:  3112.08  transaction rank:  482  revenue rank:  1074
cashier name:  Kramer Veronica  transaction count:  7  total revenue:  1268.46  transaction rank:  754  revenue rank:  3106
cashier name:  Alvarez Brenda  transaction count:  7  total revenue:  1958.05  transaction rank:  754  revenue rank:  2230
cashier name:  Williams Michael  transaction count:  7  total revenue:  2524.34  transaction rank:  754  revenue rank:  1623
cashier name:  Warren Timothy  transaction count:  7  total revenue:  1967.52  transaction rank:  754  revenue rank:  2221
cashier name:  Horton Ashley  transaction count:  7  total revenue:  1970.12  transaction rank:  754  revenue rank:  2218
cashier name:  Sosa David  transaction count:  7  total revenue:  1995.92  transaction rank:  754  revenue rank:  2188
cashier name:  Hernandez Michael  transaction count:  7  total revenue:  1996.29  transaction rank:  754  revenue rank:  2187

cashier name:  Kerr Jason  transaction count:  7  total revenue:  1996.68  transaction rank:  754  revenue rank:  2186
cashier name:  Garcia Sarah  transaction count:  7  total revenue:  2499.65  transaction rank:  754  revenue rank:  1644
cashier name:  Hughes Christopher  transaction count:  7  total revenue:  2493.01  transaction rank:  754  revenue rank:  1652
cashier name:  Vasquez Peter  transaction count:  7  total revenue:  2490.41  transaction rank:  754  revenue rank:  1655
cashier name:  Eric Mr.  transaction count:  7  total revenue:  2488.03  transaction rank:  754  revenue rank:  1656
cashier name:  Williams Michael  transaction count:  7  total revenue:  2474.52  transaction rank:  754  revenue rank:  1671
cashier name:  Carroll Eric  transaction count:  7  total revenue:  2461.15  transaction rank:  754  revenue rank:  1684
cashier name:  Conrad Frederick  transaction count:  7  total revenue:  2449.15  transaction rank:  754  revenue rank:  1689
cashier name:  Garcia Sarah  transaction count:  7  total revenue:  2052.47  transaction rank:  754  revenue rank:  2115
cashier name:  Mckenzie William  transaction count:  7  total revenue:  2057.59  transaction rank:  754  revenue rank:  2111
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  2063.49  transaction rank:  754  revenue rank:  2106
cashier name:  Campbell Bethany  transaction count:  7  total revenue:  2440.71  transaction rank:  754  revenue rank:  1698
cashier name:  Alvarez Brenda  transaction count:  7  total revenue:  2436.48  transaction rank:  754  revenue rank:  1704
cashier name:  Ellis Lauren  transaction count:  7  total revenue:  2434.77  transaction rank:  754  revenue rank:  1706
cashier name:  White Kenneth  transaction count:  7  total revenue:  2429.84  transaction rank:  754  revenue rank:  1708
cashier name:  Harrell Angie  transaction count:  7  total revenue:  2089.13  transaction rank:  754  revenue rank:  2072
cashier name:  Walls Kristen  transaction count:  7  total revenue:  2107.94  transaction rank:  754  revenue rank:  2053
cashier name:  Brown Lisa  transaction count:  7  total revenue:  2417.98  transaction rank:  754  revenue rank:  1724
cashier name:  Atkinson Gary  transaction count:  7  total revenue:  2111.15  transaction rank:  754  revenue rank:  2046
cashier name:  Henderson Nancy  transaction count:  7  total revenue:  2112.96  transaction rank:  754  revenue rank:  2041
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  2121.39  transaction rank:  754  revenue rank:  2033
cashier name:  Thompson Matthew  transaction count:  7  total revenue:  2121.76  transaction rank:  754  revenue rank:  2031
cashier name:  Riley Ashley  transaction count:  7  total revenue:  2123.63  transaction rank:  754  revenue rank:  2029
cashier name:  Hull Shane  transaction count:  7  total revenue:  2398.56  transaction rank:  754  revenue rank:  1742
cashier name:  Sean Mr.  transaction count:  7  total revenue:  2393.57  transaction rank:  754  revenue rank:  1747
cashier name:  Jacobs Brenda  transaction count:  7  total revenue:  2389.53  transaction rank:  754  revenue rank:  1752
cashier name:  Walls Kristen  transaction count:  7  total revenue:  2144.75  transaction rank:  754  revenue rank:  2007
cashier name:  Alvarez Brenda  transaction count:  7  total revenue:  2378.79  transaction rank:  754  revenue rank:  1760
cashier name:  Campbell Bethany  transaction count:  7  total revenue:  5060.89  transaction rank:  754  revenue rank:  232
cashier name:  Wells Monica  transaction count:  7  total revenue:  5046.45  transaction rank:  754  revenue rank:  235
cashier name:  Walls Kristen  transaction count:  7  total revenue:  2368.82  transaction rank:  754  revenue rank:  1772
cashier name:  Tate Harry  transaction count:  7  total revenue:  5035.76  transaction rank:  754  revenue rank:  237
cashier name:  Moore Jason  transaction count:  7  total revenue:  2366.78  transaction rank:  754  revenue rank:  1774
cashier name:  Bryan Mr.  transaction count:  7  total revenue:  5025.15  transaction rank:  754  revenue rank:  238
cashier name:  Riley Ashley  transaction count:  7  total revenue:  2164.97  transaction rank:  754  revenue rank:  1987
cashier name:  Smith Brandy  transaction count:  7  total revenue:  2167.24  transaction rank:  754  revenue rank:  1985
cashier name:  Myers Gary  transaction count:  7  total revenue:  2171.19  transaction rank:  754  revenue rank:  1981
cashier name:  Gonzalez Michele  transaction count:  7  total revenue:  2361.74  transaction rank:  754  revenue rank:  1781
cashier name:  Moon James  transaction count:  7  total revenue:  2179.18  transaction rank:  754  revenue rank:  1972
cashier name:  Rogers Mark  transaction count:  7  total revenue:  2351.87  transaction rank:  754  revenue rank:  1790
cashier name:  Hughes Christopher  transaction count:  7  total revenue:  2349.16  transaction rank:  754  revenue rank:  1796
cashier name:  Waters Julie  transaction count:  7  total revenue:  2197.10  transaction rank:  754  revenue rank:  1960
cashier name:  Riley Ashley  transaction count:  7  total revenue:  5000.81  transaction rank:  754  revenue rank:  244
cashier name:  Jones Evelyn  transaction count:  7  total revenue:  2344.38  transaction rank:  754  revenue rank:  1802
cashier name:  Pena Johnathan  transaction count:  7  total revenue:  2343.95  transaction rank:  754  revenue rank:  1803
cashier name:  Moon James  transaction count:  7  total revenue:  2342.44  transaction rank:  754  revenue rank:  1805
cashier name:  Vasquez Peter  transaction count:  7  total revenue:  4990.37  transaction rank:  754  revenue rank:  247
cashier name:  Vasquez Peter  transaction count:  7  total revenue:  2205.39  transaction rank:  754  revenue rank:  1949
cashier name:  Eric Mr.  transaction count:  7  total revenue:  2206.18  transaction rank:  754  revenue rank:  1947
cashier name:  Horton Ashley  transaction count:  7  total revenue:  2217.50  transaction rank:  754  revenue rank:  1936
cashier name:  Blanchard Ricky  transaction count:  7  total revenue:  2218.01  transaction rank:  754  revenue rank:  1935
cashier name:  Church Joshua  transaction count:  7  total revenue:  4947.94  transaction rank:  754  revenue rank:  253
cashier name:  Bradley Rita  transaction count:  7  total revenue:  2307.25  transaction rank:  754  revenue rank:  1840
cashier name:  Moore Jason  transaction count:  7  total revenue:  2227.39  transaction rank:  754  revenue rank:  1919
cashier name:  Myers Gary  transaction count:  7  total revenue:  2306.23  transaction rank:  754  revenue rank:  1842
cashier name:  Marquez Jeffrey  transaction count:  7  total revenue:  2230.33  transaction rank:  754  revenue rank:  1918
cashier name:  Myers Gary  transaction count:  7  total revenue:  2303.42  transaction rank:  754  revenue rank:  1845
cashier name:  Hull Shane  transaction count:  7  total revenue:  2234.08  transaction rank:  754  revenue rank:  1914
cashier name:  Harrell Angie  transaction count:  7  total revenue:  2250.82  transaction rank:  754  revenue rank:  1905
cashier name:  Roach Christine  transaction count:  7  total revenue:  4919.19  transaction rank:  754  revenue rank:  259
cashier name:  Pena Johnathan  transaction count:  7  total revenue:  2289.43  transaction rank:  754  revenue rank:  1866
cashier name:  Blanchard Ricky  transaction count:  7  total revenue:  2271.67  transaction rank:  754  revenue rank:  1887
cashier name:  Blanchard Ricky  transaction count:  7  total revenue:  4899.27  transaction rank:  754  revenue rank:  263
cashier name:  Terri Mrs.  transaction count:  7  total revenue:  4896.29  transaction rank:  754  revenue rank:  264
cashier name:  Wood Joshua  transaction count:  7  total revenue:  4894.10  transaction rank:  754  revenue rank:  265
cashier name:  Thompson Andrea  transaction count:  7  total revenue:  4885.39  transaction rank:  754  revenue rank:  267
cashier name:  Shah Amanda  transaction count:  7  total revenue:  4883.24  transaction rank:  754  revenue rank:  269
cashier name:  Foster Kenneth  transaction count:  7  total revenue:  570.92  transaction rank:  754  revenue rank:  4066
cashier name:  Sean Mr.  transaction count:  7  total revenue:  4841.83  transaction rank:  754  revenue rank:  278
cashier name:  Conrad Frederick  transaction count:  7  total revenue:  4808.45  transaction rank:  754  revenue rank:  283
cashier name:  Nichols Mitchell  transaction count:  7  total revenue:  4752.17  transaction rank:  754  revenue rank:  291
cashier name:  Alvarez Brenda  transaction count:  7  total revenue:  4719.65  transaction rank:  754  revenue rank:  303
cashier name:  Jackson Michael  transaction count:  7  total revenue:  4652.37  transaction rank:  754  revenue rank:  317
cashier name:  Bradley Rita  transaction count:  7  total revenue:  4652.22  transaction rank:  754  revenue rank:  318
cashier name:  Jessica Ms.  transaction count:  7  total revenue:  4640.80  transaction rank:  754  revenue rank:  320
cashier name:  Meyer James  transaction count:  7  total revenue:  4638.00  transaction rank:  754  revenue rank:  324
cashier name:  Nguyen Richard  transaction count:  7  total revenue:  4618.64  transaction rank:  754  revenue rank:  332
cashier name:  Eric Mr.  transaction count:  7  total revenue:  4600.14  transaction rank:  754  revenue rank:  345
cashier name:  Durham Denise  transaction count:  7  total revenue:  4534.37  transaction rank:  754  revenue rank:  353
cashier name:  Church Joshua  transaction count:  7  total revenue:  4528.38  transaction rank:  754  revenue rank:  355
cashier name:  Meyer James  transaction count:  7  total revenue:  4521.65  transaction rank:  754  revenue rank:  358
cashier name:  Jordan Carla  transaction count:  7  total revenue:  4520.74  transaction rank:  754  revenue rank:  360
cashier name:  Rogers Mark  transaction count:  7  total revenue:  4518.39  transaction rank:  754  revenue rank:  361
cashier name:  Burns Kendra  transaction count:  7  total revenue:  4503.24  transaction rank:  754  revenue rank:  366
cashier name:  Jordan Carla  transaction count:  7  total revenue:  4486.46  transaction rank:  754  revenue rank:  372
cashier name:  Martin Monica  transaction count:  7  total revenue:  4466.14  transaction rank:  754  revenue rank:  377
cashier name:  Marquez Jeffrey  transaction count:  7  total revenue:  4402.10  transaction rank:  754  revenue rank:  400
cashier name:  Golden Laurie  transaction count:  7  total revenue:  4397.90  transaction rank:  754  revenue rank:  402
cashier name:  Thompson Matthew  transaction count:  7  total revenue:  4388.99  transaction rank:  754  revenue rank:  406
cashier name:  Randolph Emily  transaction count:  7  total revenue:  4384.14  transaction rank:  754  revenue rank:  409
cashier name:  Day Natasha  transaction count:  7  total revenue:  4375.20  transaction rank:  754  revenue rank:  414
cashier name:  Moon James  transaction count:  7  total revenue:  4320.81  transaction rank:  754  revenue rank:  433
cashier name:  Marquez Jeffrey  transaction count:  7  total revenue:  4318.43  transaction rank:  754  revenue rank:  434
cashier name:  Jessica Ms.  transaction count:  7  total revenue:  4304.88  transaction rank:  754  revenue rank:  443
cashier name:  Gardner Laura  transaction count:  7  total revenue:  4302.52  transaction rank:  754  revenue rank:  445
cashier name:  Golden Laurie  transaction count:  7  total revenue:  4297.44  transaction rank:  754  revenue rank:  448
cashier name:  Bryan Mr.  transaction count:  7  total revenue:  4291.72  transaction rank:  754  revenue rank:  451
cashier name:  Walls Kristen  transaction count:  7  total revenue:  4273.06  transaction rank:  754  revenue rank:  461
cashier name:  Nichols Brandon  transaction count:  7  total revenue:  687.16  transaction rank:  754  revenue rank:  3929
cashier name:  Jackson Michael  transaction count:  7  total revenue:  4232.48  transaction rank:  754  revenue rank:  470
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  4219.70  transaction rank:  754  revenue rank:  475
cashier name:  Walters Jay  transaction count:  7  total revenue:  4218.90  transaction rank:  754  revenue rank:  476
cashier name:  Sean Mr.  transaction count:  7  total revenue:  4217.21  transaction rank:  754  revenue rank:  478
cashier name:  Gross Andrew  transaction count:  7  total revenue:  834.53  transaction rank:  754  revenue rank:  3734
cashier name:  Pena Johnathan  transaction count:  7  total revenue:  4142.06  transaction rank:  754  revenue rank:  510
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  4140.46  transaction rank:  754  revenue rank:  512
cashier name:  Campbell Brittany  transaction count:  7  total revenue:  4139.58  transaction rank:  754  revenue rank:  514
cashier name:  Foster Kenneth  transaction count:  7  total revenue:  4122.61  transaction rank:  754  revenue rank:  521
cashier name:  Wells Monica  transaction count:  7  total revenue:  4122.58  transaction rank:  754  revenue rank:  522
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  4093.97  transaction rank:  754  revenue rank:  528
cashier name:  Mckenzie William  transaction count:  7  total revenue:  4046.52  transaction rank:  754  revenue rank:  546
cashier name:  Hayes Brandon  transaction count:  7  total revenue:  4040.70  transaction rank:  754  revenue rank:  548
cashier name:  Walls Kristen  transaction count:  7  total revenue:  4040.02  transaction rank:  754  revenue rank:  549
cashier name:  Burns Kendra  transaction count:  7  total revenue:  4005.19  transaction rank:  754  revenue rank:  566
cashier name:  Moore Jason  transaction count:  7  total revenue:  3989.59  transaction rank:  754  revenue rank:  575
cashier name:  Smith Diana  transaction count:  7  total revenue:  3982.22  transaction rank:  754  revenue rank:  578
cashier name:  Atkinson Gary  transaction count:  7  total revenue:  3979.71  transaction rank:  754  revenue rank:  579
cashier name:  Werner Kara  transaction count:  7  total revenue:  3978.98  transaction rank:  754  revenue rank:  581
cashier name:  Jones Evelyn  transaction count:  7  total revenue:  3941.98  transaction rank:  754  revenue rank:  592
cashier name:  Ellis Lauren  transaction count:  7  total revenue:  3916.96  transaction rank:  754  revenue rank:  599
cashier name:  Gardner Laura  transaction count:  7  total revenue:  3910.49  transaction rank:  754  revenue rank:  601
cashier name:  Thompson Andrea  transaction count:  7  total revenue:  3904.53  transaction rank:  754  revenue rank:  609
cashier name:  Torres Steven  transaction count:  7  total revenue:  3885.47  transaction rank:  754  revenue rank:  618
cashier name:  Love Thomas  transaction count:  7  total revenue:  3873.95  transaction rank:  754  revenue rank:  625
cashier name:  Galvan Lori  transaction count:  7  total revenue:  3869.94  transaction rank:  754  revenue rank:  627
cashier name:  Smith Diana  transaction count:  7  total revenue:  3869.31  transaction rank:  754  revenue rank:  628
cashier name:  Jones Evelyn  transaction count:  7  total revenue:  3853.40  transaction rank:  754  revenue rank:  638
cashier name:  Thompson Andrea  transaction count:  7  total revenue:  3849.66  transaction rank:  754  revenue rank:  641
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  3842.65  transaction rank:  754  revenue rank:  642
cashier name:  Hughes Christopher  transaction count:  7  total revenue:  3800.83  transaction rank:  754  revenue rank:  660
cashier name:  Davis Jennifer  transaction count:  7  total revenue:  3799.18  transaction rank:  754  revenue rank:  661
cashier name:  Horton Mark  transaction count:  7  total revenue:  3798.32  transaction rank:  754  revenue rank:  662
cashier name:  Church Joshua  transaction count:  7  total revenue:  3759.45  transaction rank:  754  revenue rank:  679
cashier name:  Gross Andrew  transaction count:  7  total revenue:  3747.68  transaction rank:  754  revenue rank:  684
cashier name:  Marquez Jeffrey  transaction count:  7  total revenue:  3745.95  transaction rank:  754  revenue rank:  685
cashier name:  Hughes Christopher  transaction count:  7  total revenue:  3741.88  transaction rank:  754  revenue rank:  687
cashier name:  Randolph Emily  transaction count:  7  total revenue:  3734.56  transaction rank:  754  revenue rank:  691
cashier name:  Nguyen Richard  transaction count:  7  total revenue:  3730.92  transaction rank:  754  revenue rank:  693
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  3716.40  transaction rank:  754  revenue rank:  702
cashier name:  Nichols Brandon  transaction count:  7  total revenue:  3716.21  transaction rank:  754  revenue rank:  703
cashier name:  Wood Joshua  transaction count:  7  total revenue:  3715.65  transaction rank:  754  revenue rank:  704
cashier name:  White Kenneth  transaction count:  7  total revenue:  3712.61  transaction rank:  754  revenue rank:  706
cashier name:  Glover Michelle  transaction count:  7  total revenue:  3667.06  transaction rank:  754  revenue rank:  731
cashier name:  Brown Lisa  transaction count:  7  total revenue:  3657.34  transaction rank:  754  revenue rank:  733
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  3654.97  transaction rank:  754  revenue rank:  735
cashier name:  Myers Gary  transaction count:  7  total revenue:  3643.71  transaction rank:  754  revenue rank:  739
cashier name:  Sean Mr.  transaction count:  7  total revenue:  3642.80  transaction rank:  754  revenue rank:  740
cashier name:  Walters Jay  transaction count:  7  total revenue:  7027.04  transaction rank:  754  revenue rank:  41
cashier name:  Hayes Brandon  transaction count:  7  total revenue:  3628.82  transaction rank:  754  revenue rank:  747
cashier name:  Warren Timothy  transaction count:  7  total revenue:  3627.85  transaction rank:  754  revenue rank:  749

cashier name:  Thompson Andrea  transaction count:  7  total revenue:  3614.62  transaction rank:  754  revenue rank:  755
cashier name:  Gross Andrew  transaction count:  7  total revenue:  3609.46  transaction rank:  754  revenue rank:  757
cashier name:  Jacobs Brenda  transaction count:  7  total revenue:  3605.10  transaction rank:  754  revenue rank:  758
cashier name:  Wilson Jill  transaction count:  7  total revenue:  3596.15  transaction rank:  754  revenue rank:  763
cashier name:  Burns Kendra  transaction count:  7  total revenue:  3592.60  transaction rank:  754  revenue rank:  767
cashier name:  Perry Andrea  transaction count:  7  total revenue:  3584.76  transaction rank:  754  revenue rank:  769
cashier name:  Walters Jay  transaction count:  7  total revenue:  3580.73  transaction rank:  754  revenue rank:  772
cashier name:  Riley Ashley  transaction count:  7  total revenue:  3569.87  transaction rank:  754  revenue rank:  778
cashier name:  Hull Shane  transaction count:  7  total revenue:  3565.80  transaction rank:  754  revenue rank:  782
cashier name:  Alvarez Brenda  transaction count:  7  total revenue:  1062.86  transaction rank:  754  revenue rank:  3387
cashier name:  Davis Jennifer  transaction count:  7  total revenue:  3561.38  transaction rank:  754  revenue rank:  785
cashier name:  Walters Jay  transaction count:  7  total revenue:  3526.62  transaction rank:  754  revenue rank:  801
cashier name:  Wood Joshua  transaction count:  7  total revenue:  3526.30  transaction rank:  754  revenue rank:  802
cashier name:  Jackson Michael  transaction count:  7  total revenue:  3524.45  transaction rank:  754  revenue rank:  803
cashier name:  Jones Christopher  transaction count:  7  total revenue:  3522.68  transaction rank:  754  revenue rank:  804
cashier name:  Wells Monica  transaction count:  7  total revenue:  3514.43  transaction rank:  754  revenue rank:  809
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  3507.64  transaction rank:  754  revenue rank:  811
cashier name:  Randolph Emily  transaction count:  7  total revenue:  3496.18  transaction rank:  754  revenue rank:  816
cashier name:  Myers Gary  transaction count:  7  total revenue:  3485.73  transaction rank:  754  revenue rank:  823
cashier name:  Warren Timothy  transaction count:  7  total revenue:  3481.10  transaction rank:  754  revenue rank:  825
cashier name:  Hull Shane  transaction count:  7  total revenue:  3480.47  transaction rank:  754  revenue rank:  826
cashier name:  Martin Monica  transaction count:  7  total revenue:  3471.41  transaction rank:  754  revenue rank:  833
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  3470.29  transaction rank:  754  revenue rank:  834
cashier name:  Manning Maria  transaction count:  7  total revenue:  3468.97  transaction rank:  754  revenue rank:  835
cashier name:  Smith Brandy  transaction count:  7  total revenue:  3463.35  transaction rank:  754  revenue rank:  838
cashier name:  Long Kirsten  transaction count:  7  total revenue:  3460.02  transaction rank:  754  revenue rank:  839
cashier name:  Terri Mrs.  transaction count:  7  total revenue:  3442.60  transaction rank:  754  revenue rank:  847
cashier name:  Burns Kendra  transaction count:  7  total revenue:  3439.77  transaction rank:  754  revenue rank:  851
cashier name:  Durham Denise  transaction count:  7  total revenue:  3438.29  transaction rank:  754  revenue rank:  852
cashier name:  Chen Kathleen  transaction count:  7  total revenue:  3424.23  transaction rank:  754  revenue rank:  861
cashier name:  Martin Monica  transaction count:  7  total revenue:  3424.08  transaction rank:  754  revenue rank:  862
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  3422.01  transaction rank:  754  revenue rank:  865
cashier name:  Kramer Veronica  transaction count:  7  total revenue:  3408.47  transaction rank:  754  revenue rank:  869
cashier name:  Love Thomas  transaction count:  7  total revenue:  3404.26  transaction rank:  754  revenue rank:  873
cashier name:  Gardner Laura  transaction count:  7  total revenue:  3392.30  transaction rank:  754  revenue rank:  879
cashier name:  Golden Laurie  transaction count:  7  total revenue:  3389.65  transaction rank:  754  revenue rank:  881
cashier name:  Jackson Gary  transaction count:  7  total revenue:  3388.46  transaction rank:  754  revenue rank:  882
cashier name:  Day Natasha  transaction count:  7  total revenue:  3386.41  transaction rank:  754  revenue rank:  884
cashier name:  Johnston William  transaction count:  7  total revenue:  3386.14  transaction rank:  754  revenue rank:  885
cashier name:  Torres Steven  transaction count:  7  total revenue:  3382.44  transaction rank:  754  revenue rank:  893
cashier name:  Riley Ashley  transaction count:  7  total revenue:  3379.79  transaction rank:  754  revenue rank:  894
cashier name:  Hayes Brandon  transaction count:  7  total revenue:  3371.03  transaction rank:  754  revenue rank:  900
cashier name:  Roach Christine  transaction count:  7  total revenue:  3365.39  transaction rank:  754  revenue rank:  902
cashier name:  Spears Erin  transaction count:  7  total revenue:  3357.74  transaction rank:  754  revenue rank:  903
cashier name:  Foster Jennifer  transaction count:  7  total revenue:  3350.83  transaction rank:  754  revenue rank:  910
cashier name:  Herrera Spencer  transaction count:  7  total revenue:  3337.19  transaction rank:  754  revenue rank:  919
cashier name:  Nguyen Richard  transaction count:  7  total revenue:  3297.39  transaction rank:  754  revenue rank:  939
cashier name:  Glover Michelle  transaction count:  7  total revenue:  3290.77  transaction rank:  754  revenue rank:  941
cashier name:  Foster Jennifer  transaction count:  7  total revenue:  3290.44  transaction rank:  754  revenue rank:  942
cashier name:  Jackson Gary  transaction count:  7  total revenue:  3285.13  transaction rank:  754  revenue rank:  945
cashier name:  Horton Ashley  transaction count:  7  total revenue:  6442.94  transaction rank:  754  revenue rank:  67
cashier name:  Nichols Brandon  transaction count:  7  total revenue:  3270.15  transaction rank:  754  revenue rank:  954
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  3268.28  transaction rank:  754  revenue rank:  955
cashier name:  Kramer Veronica  transaction count:  7  total revenue:  3261.66  transaction rank:  754  revenue rank:  959
cashier name:  Horton Ashley  transaction count:  7  total revenue:  3254.41  transaction rank:  754  revenue rank:  961
cashier name:  Davis Jennifer  transaction count:  7  total revenue:  3253.43  transaction rank:  754  revenue rank:  962
cashier name:  Pena Johnathan  transaction count:  7  total revenue:  3249.19  transaction rank:  754  revenue rank:  966
cashier name:  Ellis Lauren  transaction count:  7  total revenue:  3245.23  transaction rank:  754  revenue rank:  971
cashier name:  Werner Kara  transaction count:  7  total revenue:  3242.11  transaction rank:  754  revenue rank:  973
cashier name:  Wells Monica  transaction count:  7  total revenue:  3236.38  transaction rank:  754  revenue rank:  980
cashier name:  White Kenneth  transaction count:  7  total revenue:  3230.35  transaction rank:  754  revenue rank:  985
cashier name:  Martin Monica  transaction count:  7  total revenue:  3230.25  transaction rank:  754  revenue rank:  986
cashier name:  Gonzalez Michele  transaction count:  7  total revenue:  1254.04  transaction rank:  754  revenue rank:  3136
cashier name:  Vasquez Peter  transaction count:  7  total revenue:  3225.51  transaction rank:  754  revenue rank:  992
cashier name:  Manning Maria  transaction count:  7  total revenue:  3223.53  transaction rank:  754  revenue rank:  995
cashier name:  White Kenneth  transaction count:  7  total revenue:  3221.62  transaction rank:  754  revenue rank:  998
cashier name:  Werner Kara  transaction count:  7  total revenue:  6332.21  transaction rank:  754  revenue rank:  79
cashier name:  Bryan Mr.  transaction count:  7  total revenue:  3169.52  transaction rank:  754  revenue rank:  1029
cashier name:  Dodson Courtney  transaction count:  7  total revenue:  1308.40  transaction rank:  754  revenue rank:  3054
cashier name:  Burns Kendra  transaction count:  7  total revenue:  3165.95  transaction rank:  754  revenue rank:  1032
cashier name:  Mckenzie William  transaction count:  7  total revenue:  3157.33  transaction rank:  754  revenue rank:  1036
cashier name:  Spears Erin  transaction count:  7  total revenue:  3147.45  transaction rank:  754  revenue rank:  1046
cashier name:  Jones Michael  transaction count:  7  total revenue:  3138.47  transaction rank:  754  revenue rank:  1054
cashier name:  Smith Diana  transaction count:  7  total revenue:  3131.55  transaction rank:  754  revenue rank:  1060
cashier name:  Walls Kristen  transaction count:  7  total revenue:  3121.50  transaction rank:  754  revenue rank:  1066
cashier name:  Carroll Eric  transaction count:  7  total revenue:  3120.10  transaction rank:  754  revenue rank:  1067
cashier name:  Meyer James  transaction count:  7  total revenue:  6191.68  transaction rank:  754  revenue rank:  92
cashier name:  Meyer James  transaction count:  7  total revenue:  3111.64  transaction rank:  754  revenue rank:  1075
cashier name:  Meyer James  transaction count:  7  total revenue:  3095.68  transaction rank:  754  revenue rank:  1087
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  3073.70  transaction rank:  754  revenue rank:  1103
cashier name:  Hernandez Michael  transaction count:  7  total revenue:  3068.94  transaction rank:  754  revenue rank:  1106
cashier name:  Kerr Jason  transaction count:  7  total revenue:  3055.83  transaction rank:  754  revenue rank:  1121
cashier name:  Durham Denise  transaction count:  7  total revenue:  3051.47  transaction rank:  754  revenue rank:  1124
cashier name:  Foster Jennifer  transaction count:  7  total revenue:  3051.40  transaction rank:  754  revenue rank:  1125
cashier name:  Williams Michael  transaction count:  7  total revenue:  3049.64  transaction rank:  754  revenue rank:  1126
cashier name:  Love Thomas  transaction count:  7  total revenue:  3044.56  transaction rank:  754  revenue rank:  1131
cashier name:  Wilson Jill  transaction count:  7  total revenue:  3042.56  transaction rank:  754  revenue rank:  1134
cashier name:  Waters Julie  transaction count:  7  total revenue:  3040.04  transaction rank:  754  revenue rank:  1135
cashier name:  Randolph Emily  transaction count:  7  total revenue:  3031.05  transaction rank:  754  revenue rank:  1141
cashier name:  Davis Jennifer  transaction count:  7  total revenue:  3030.82  transaction rank:  754  revenue rank:  1142
cashier name:  Sean Mr.  transaction count:  7  total revenue:  3021.59  transaction rank:  754  revenue rank:  1152
cashier name:  Rogers Mark  transaction count:  7  total revenue:  1409.82  transaction rank:  754  revenue rank:  2918
cashier name:  Galvan Lori  transaction count:  7  total revenue:  3002.36  transaction rank:  754  revenue rank:  1161
cashier name:  Hull Shane  transaction count:  7  total revenue:  3001.21  transaction rank:  754  revenue rank:  1163
cashier name:  Herrera Spencer  transaction count:  7  total revenue:  2997.17  transaction rank:  754  revenue rank:  1167
cashier name:  Walls Kristen  transaction count:  7  total revenue:  2995.78  transaction rank:  754  revenue rank:  1170
cashier name:  Werner Kara  transaction count:  7  total revenue:  2985.79  transaction rank:  754  revenue rank:  1176
cashier name:  White Kenneth  transaction count:  7  total revenue:  2985.72  transaction rank:  754  revenue rank:  1177
cashier name:  Bradley Rita  transaction count:  7  total revenue:  2982.14  transaction rank:  754  revenue rank:  1180
cashier name:  Garcia Sarah  transaction count:  7  total revenue:  2979.60  transaction rank:  754  revenue rank:  1181
cashier name:  Jones Michael  transaction count:  7  total revenue:  2978.83  transaction rank:  754  revenue rank:  1182
cashier name:  Durham Denise  transaction count:  7  total revenue:  2978.10  transaction rank:  754  revenue rank:  1183
cashier name:  Payne Samantha  transaction count:  7  total revenue:  2972.27  transaction rank:  754  revenue rank:  1187
cashier name:  White Kenneth  transaction count:  7  total revenue:  2962.09  transaction rank:  754  revenue rank:  1194
cashier name:  Davis Jennifer  transaction count:  7  total revenue:  2955.25  transaction rank:  754  revenue rank:  1201
cashier name:  Hernandez Michael  transaction count:  7  total revenue:  2952.64  transaction rank:  754  revenue rank:  1202
cashier name:  Perry Andrea  transaction count:  7  total revenue:  1425.25  transaction rank:  754  revenue rank:  2893
cashier name:  Garcia Sarah  transaction count:  7  total revenue:  1427.69  transaction rank:  754  revenue rank:  2891
cashier name:  Manning Maria  transaction count:  7  total revenue:  2945.70  transaction rank:  754  revenue rank:  1217
cashier name:  Carroll Eric  transaction count:  7  total revenue:  2944.16  transaction rank:  754  revenue rank:  1219
cashier name:  Moon James  transaction count:  7  total revenue:  2939.50  transaction rank:  754  revenue rank:  1225
cashier name:  Love Thomas  transaction count:  7  total revenue:  2938.08  transaction rank:  754  revenue rank:  1228
cashier name:  Hull Shane  transaction count:  7  total revenue:  2930.30  transaction rank:  754  revenue rank:  1234
cashier name:  Terri Mrs.  transaction count:  7  total revenue:  2922.46  transaction rank:  754  revenue rank:  1238
cashier name:  Pena Johnathan  transaction count:  7  total revenue:  1449.67  transaction rank:  754  revenue rank:  2863
cashier name:  Bryan Mr.  transaction count:  7  total revenue:  1451.67  transaction rank:  754  revenue rank:  2860
cashier name:  Waters Julie  transaction count:  7  total revenue:  2910.34  transaction rank:  754  revenue rank:  1249
cashier name:  Long Kirsten  transaction count:  7  total revenue:  1463.51  transaction rank:  754  revenue rank:  2842
cashier name:  Myers Gary  transaction count:  7  total revenue:  2905.46  transaction rank:  754  revenue rank:  1255
cashier name:  Frederick Evan  transaction count:  7  total revenue:  2900.99  transaction rank:  754  revenue rank:  1256
cashier name:  Sosa David  transaction count:  7  total revenue:  2899.83  transaction rank:  754  revenue rank:  1258
cashier name:  Love Thomas  transaction count:  7  total revenue:  2899.45  transaction rank:  754  revenue rank:  1261
cashier name:  Perry Andrea  transaction count:  7  total revenue:  2896.84  transaction rank:  754  revenue rank:  1264
cashier name:  Smith Brandy  transaction count:  7  total revenue:  2895.13  transaction rank:  754  revenue rank:  1266
cashier name:  Perry Andrea  transaction count:  7  total revenue:  5786.64  transaction rank:  754  revenue rank:  135
cashier name:  Warren Timothy  transaction count:  7  total revenue:  1502.59  transaction rank:  754  revenue rank:  2779
cashier name:  Foster Kenneth  transaction count:  7  total revenue:  1504.70  transaction rank:  754  revenue rank:  2777
cashier name:  Horton Mark  transaction count:  7  total revenue:  2887.91  transaction rank:  754  revenue rank:  1277
cashier name:  Love Thomas  transaction count:  7  total revenue:  1506.59  transaction rank:  754  revenue rank:  2773
cashier name:  Mckenzie William  transaction count:  7  total revenue:  2886.66  transaction rank:  754  revenue rank:  1279
cashier name:  Love Thomas  transaction count:  7  total revenue:  1519.90  transaction rank:  754  revenue rank:  2753
cashier name:  Bradley Rita  transaction count:  7  total revenue:  2870.31  transaction rank:  754  revenue rank:  1293
cashier name:  Blanchard Ricky  transaction count:  7  total revenue:  2867.50  transaction rank:  754  revenue rank:  1296
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  1536.25  transaction rank:  754  revenue rank:  2728
cashier name:  Warren Timothy  transaction count:  7  total revenue:  2866.86  transaction rank:  754  revenue rank:  1299
cashier name:  Love Thomas  transaction count:  7  total revenue:  2866.69  transaction rank:  754  revenue rank:  1300
cashier name:  Kramer Veronica  transaction count:  7  total revenue:  2864.05  transaction rank:  754  revenue rank:  1302
cashier name:  Vasquez Peter  transaction count:  7  total revenue:  1539.93  transaction rank:  754  revenue rank:  2722
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  2860.59  transaction rank:  754  revenue rank:  1307
cashier name:  Gross Andrew  transaction count:  7  total revenue:  2858.19  transaction rank:  754  revenue rank:  1309
cashier name:  Moyer Steven  transaction count:  7  total revenue:  2848.63  transaction rank:  754  revenue rank:  1316
cashier name:  Campbell Brittany  transaction count:  7  total revenue:  2847.36  transaction rank:  754  revenue rank:  1317
cashier name:  Campbell Brittany  transaction count:  7  total revenue:  2846.91  transaction rank:  754  revenue rank:  1318
cashier name:  Campbell Brittany  transaction count:  7  total revenue:  2843.15  transaction rank:  754  revenue rank:  1323
cashier name:  Harrell Angie  transaction count:  7  total revenue:  5595.78  transaction rank:  754  revenue rank:  146
cashier name:  Glover Michelle  transaction count:  7  total revenue:  2833.05  transaction rank:  754  revenue rank:  1332
cashier name:  Walters Jay  transaction count:  7  total revenue:  2829.69  transaction rank:  754  revenue rank:  1335
cashier name:  Garcia Sarah  transaction count:  7  total revenue:  2827.58  transaction rank:  754  revenue rank:  1339
cashier name:  Sosa David  transaction count:  7  total revenue:  2824.23  transaction rank:  754  revenue rank:  1341
cashier name:  Carroll Eric  transaction count:  7  total revenue:  2812.66  transaction rank:  754  revenue rank:  1346

cashier name:  Rogers Mark  transaction count:  7  total revenue:  2810.18  transaction rank:  754  revenue rank:  1351
cashier name:  Hayes Brandon  transaction count:  7  total revenue:  1622.27  transaction rank:  754  revenue rank:  2612
cashier name:  Day Natasha  transaction count:  7  total revenue:  1628.85  transaction rank:  754  revenue rank:  2607
cashier name:  Long Kirsten  transaction count:  7  total revenue:  1646.15  transaction rank:  754  revenue rank:  2592
cashier name:  Bennett Alec  transaction count:  7  total revenue:  2787.74  transaction rank:  754  revenue rank:  1365
cashier name:  Moon James  transaction count:  7  total revenue:  2778.00  transaction rank:  754  revenue rank:  1373
cashier name:  Glover Michelle  transaction count:  7  total revenue:  2769.46  transaction rank:  754  revenue rank:  1381
cashier name:  Hughes Christopher  transaction count:  7  total revenue:  1666.43  transaction rank:  754  revenue rank:  2567
cashier name:  Golden Laurie  transaction count:  7  total revenue:  1669.95  transaction rank:  754  revenue rank:  2563
cashier name:  Gross Andrew  transaction count:  7  total revenue:  2763.62  transaction rank:  754  revenue rank:  1388
cashier name:  Warren Timothy  transaction count:  7  total revenue:  2755.99  transaction rank:  754  revenue rank:  1393
cashier name:  Long Kirsten  transaction count:  7  total revenue:  2753.67  transaction rank:  754  revenue rank:  1398
cashier name:  Brooks Renee  transaction count:  7  total revenue:  2742.35  transaction rank:  754  revenue rank:  1411
cashier name:  Campbell Bethany  transaction count:  7  total revenue:  2737.23  transaction rank:  754  revenue rank:  1415
cashier name:  Wood Joshua  transaction count:  7  total revenue:  1736.29  transaction rank:  754  revenue rank:  2484
cashier name:  Walters Jay  transaction count:  7  total revenue:  1744.32  transaction rank:  754  revenue rank:  2474
cashier name:  Jacobs Brenda  transaction count:  7  total revenue:  1750.90  transaction rank:  754  revenue rank:  2463
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  2706.46  transaction rank:  754  revenue rank:  1444
cashier name:  Hull Shane  transaction count:  7  total revenue:  2706.41  transaction rank:  754  revenue rank:  1445
cashier name:  Torres Steven  transaction count:  7  total revenue:  1754.03  transaction rank:  754  revenue rank:  2460
cashier name:  Church Joshua  transaction count:  7  total revenue:  2696.34  transaction rank:  754  revenue rank:  1458
cashier name:  Torres Steven  transaction count:  7  total revenue:  2694.54  transaction rank:  754  revenue rank:  1460
cashier name:  Walters Jay  transaction count:  7  total revenue:  2677.56  transaction rank:  754  revenue rank:  1475
cashier name:  Conrad Frederick  transaction count:  7  total revenue:  1809.81  transaction rank:  754  revenue rank:  2400
cashier name:  Galvan Lori  transaction count:  7  total revenue:  1814.04  transaction rank:  754  revenue rank:  2394
cashier name:  Thomas Robert  transaction count:  7  total revenue:  2654.36  transaction rank:  754  revenue rank:  1490
cashier name:  Mckinney Marcus  transaction count:  7  total revenue:  2643.52  transaction rank:  754  revenue rank:  1497
cashier name:  Kramer Veronica  transaction count:  7  total revenue:  2638.68  transaction rank:  754  revenue rank:  1500
cashier name:  Shah Amanda  transaction count:  7  total revenue:  1832.10  transaction rank:  754  revenue rank:  2374
cashier name:  Perry Andrea  transaction count:  7  total revenue:  2633.18  transaction rank:  754  revenue rank:  1505
cashier name:  Chambers Jeffrey  transaction count:  7  total revenue:  5360.03  transaction rank:  754  revenue rank:  183
cashier name:  Bryan Mr.  transaction count:  7  total revenue:  2624.86  transaction rank:  754  revenue rank:  1515
cashier name:  Kerr Jason  transaction count:  7  total revenue:  2624.74  transaction rank:  754  revenue rank:  1516
cashier name:  Dodson Courtney  transaction count:  7  total revenue:  2608.50  transaction rank:  754  revenue rank:  1533
cashier name:  Hayes Brandon  transaction count:  7  total revenue:  1860.51  transaction rank:  754  revenue rank:  2341
cashier name:  Gardner Laura  transaction count:  7  total revenue:  2603.38  transaction rank:  754  revenue rank:  1538
cashier name:  Eric Mr.  transaction count:  7  total revenue:  1864.57  transaction rank:  754  revenue rank:  2330
cashier name:  Herrera Spencer  transaction count:  7  total revenue:  2598.25  transaction rank:  754  revenue rank:  1545
cashier name:  Campbell Bethany  transaction count:  7  total revenue:  2590.99  transaction rank:  754  revenue rank:  1554
cashier name:  Frederick Evan  transaction count:  7  total revenue:  2584.67  transaction rank:  754  revenue rank:  1558
cashier name:  Smith Brandy  transaction count:  7  total revenue:  2582.84  transaction rank:  754  revenue rank:  1559
cashier name:  Kerr Jason  transaction count:  7  total revenue:  1882.68  transaction rank:  754  revenue rank:  2310
cashier name:  Smith Brandy  transaction count:  7  total revenue:  1888.52  transaction rank:  754  revenue rank:  2304
cashier name:  Bennett Alec  transaction count:  7  total revenue:  2561.73  transaction rank:  754  revenue rank:  1578
cashier name:  Myers Gary  transaction count:  7  total revenue:  2560.73  transaction rank:  754  revenue rank:  1579
cashier name:  Werner Kara  transaction count:  7  total revenue:  1904.75  transaction rank:  754  revenue rank:  2289
cashier name:  Colon Lindsey  transaction count:  7  total revenue:  2554.40  transaction rank:  754  revenue rank:  1589
cashier name:  Frederick Evan  transaction count:  7  total revenue:  5250.14  transaction rank:  754  revenue rank:  201
cashier name:  Wood Joshua  transaction count:  7  total revenue:  2551.54  transaction rank:  754  revenue rank:  1592
cashier name:  Harrell Angie  transaction count:  7  total revenue:  1915.63  transaction rank:  754  revenue rank:  2280
cashier name:  Horton Mark  transaction count:  7  total revenue:  1929.04  transaction rank:  754  revenue rank:  2267
cashier name:  Woods Marcus  transaction count:  7  total revenue:  2542.83  transaction rank:  754  revenue rank:  1601
cashier name:  Randolph Emily  transaction count:  7  total revenue:  5217.82  transaction rank:  754  revenue rank:  206
cashier name:  Kerr Jason  transaction count:  7  total revenue:  2532.85  transaction rank:  754  revenue rank:  1612
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  3787.73  transaction rank:  1115  revenue rank:  668
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  3058.88  transaction rank:  1115  revenue rank:  1116
cashier name:  Church Joshua  transaction count:  6  total revenue:  1400.44  transaction rank:  1115  revenue rank:  2937
cashier name:  Moore Jason  transaction count:  6  total revenue:  3057.71  transaction rank:  1115  revenue rank:  1118
cashier name:  Moore Jason  transaction count:  6  total revenue:  3791.05  transaction rank:  1115  revenue rank:  665
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  3791.62  transaction rank:  1115  revenue rank:  664
cashier name:  Glover Michelle  transaction count:  6  total revenue:  1821.47  transaction rank:  1115  revenue rank:  2382
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  3053.29  transaction rank:  1115  revenue rank:  1122
cashier name:  Williams Gina  transaction count:  6  total revenue:  3795.22  transaction rank:  1115  revenue rank:  663
cashier name:  Jones Christopher  transaction count:  6  total revenue:  2089.30  transaction rank:  1115  revenue rank:  2071
cashier name:  Brooks Renee  transaction count:  6  total revenue:  2645.24  transaction rank:  1115  revenue rank:  1496
cashier name:  Atkinson Gary  transaction count:  6  total revenue:  2525.48  transaction rank:  1115  revenue rank:  1621
cashier name:  Jessica Ms.  transaction count:  6  total revenue:  1402.18  transaction rank:  1115  revenue rank:  2931
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  3046.04  transaction rank:  1115  revenue rank:  1128
cashier name:  Tate Harry  transaction count:  6  total revenue:  3809.38  transaction rank:  1115  revenue rank:  659
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  3045.25  transaction rank:  1115  revenue rank:  1130
cashier name:  Martin Monica  transaction count:  6  total revenue:  2084.91  transaction rank:  1115  revenue rank:  2077
cashier name:  Warren Timothy  transaction count:  6  total revenue:  3813.40  transaction rank:  1115  revenue rank:  656
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  1405.49  transaction rank:  1115  revenue rank:  2924
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  1831.95  transaction rank:  1115  revenue rank:  2375
cashier name:  Durham Denise  transaction count:  6  total revenue:  2501.07  transaction rank:  1115  revenue rank:  1642
cashier name:  Hernandez Michael  transaction count:  6  total revenue:  3826.10  transaction rank:  1115  revenue rank:  651
cashier name:  Hughes Christopher  transaction count:  6  total revenue:  3037.15  transaction rank:  1115  revenue rank:  1137
cashier name:  White Kenneth  transaction count:  6  total revenue:  3834.12  transaction rank:  1115  revenue rank:  648
cashier name:  Torres Steven  transaction count:  6  total revenue:  3032.20  transaction rank:  1115  revenue rank:  1139
cashier name:  Chambers Jeffrey  transaction count:  6  total revenue:  3842.37  transaction rank:  1115  revenue rank:  643
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  1948.49  transaction rank:  1115  revenue rank:  2243
cashier name:  Jones Christopher  transaction count:  6  total revenue:  2423.37  transaction rank:  1115  revenue rank:  1715
cashier name:  Woods Marcus  transaction count:  6  total revenue:  3851.21  transaction rank:  1115  revenue rank:  639
cashier name:  Waters Julie  transaction count:  6  total revenue:  3854.43  transaction rank:  1115  revenue rank:  636
cashier name:  Walters Jay  transaction count:  6  total revenue:  3854.91  transaction rank:  1115  revenue rank:  635
cashier name:  Bradley Rita  transaction count:  6  total revenue:  3863.18  transaction rank:  1115  revenue rank:  629
cashier name:  Sean Mr.  transaction count:  6  total revenue:  912.31  transaction rank:  1115  revenue rank:  3627
cashier name:  Hayes Brandon  transaction count:  6  total revenue:  3027.48  transaction rank:  1115  revenue rank:  1148
cashier name:  Campbell Brittany  transaction count:  6  total revenue:  3027.06  transaction rank:  1115  revenue rank:  1149
cashier name:  Love Thomas  transaction count:  6  total revenue:  3879.32  transaction rank:  1115  revenue rank:  621
cashier name:  Meyer James  transaction count:  6  total revenue:  878.19  transaction rank:  1115  revenue rank:  3675
cashier name:  Spears Erin  transaction count:  6  total revenue:  2636.73  transaction rank:  1115  revenue rank:  1503
cashier name:  Golden Laurie  transaction count:  6  total revenue:  1407.37  transaction rank:  1115  revenue rank:  2923
cashier name:  Day Natasha  transaction count:  6  total revenue:  3889.71  transaction rank:  1115  revenue rank:  614
cashier name:  Jacobs Brenda  transaction count:  6  total revenue:  3017.73  transaction rank:  1115  revenue rank:  1155
cashier name:  Flores Angela  transaction count:  6  total revenue:  3015.94  transaction rank:  1115  revenue rank:  1156
cashier name:  Werner Kara  transaction count:  6  total revenue:  3894.66  transaction rank:  1115  revenue rank:  612
cashier name:  Roach Christine  transaction count:  6  total revenue:  3902.30  transaction rank:  1115  revenue rank:  610
cashier name:  Walters Jay  transaction count:  6  total revenue:  2080.93  transaction rank:  1115  revenue rank:  2083
cashier name:  Warren Timothy  transaction count:  6  total revenue:  3907.17  transaction rank:  1115  revenue rank:  606
cashier name:  Shah Amanda  transaction count:  6  total revenue:  1955.06  transaction rank:  1115  revenue rank:  2231
cashier name:  Brown Lisa  transaction count:  6  total revenue:  3001.50  transaction rank:  1115  revenue rank:  1162
cashier name:  Bradley Rita  transaction count:  6  total revenue:  2632.66  transaction rank:  1115  revenue rank:  1506
cashier name:  Riley Ashley  transaction count:  6  total revenue:  3912.31  transaction rank:  1115  revenue rank:  600
cashier name:  Thomas Robert  transaction count:  6  total revenue:  2998.98  transaction rank:  1115  revenue rank:  1165
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  2998.93  transaction rank:  1115  revenue rank:  1166
cashier name:  Pena Johnathan  transaction count:  6  total revenue:  2632.11  transaction rank:  1115  revenue rank:  1507
cashier name:  Wells Monica  transaction count:  6  total revenue:  3935.14  transaction rank:  1115  revenue rank:  595
cashier name:  Foster Kenneth  transaction count:  6  total revenue:  3938.49  transaction rank:  1115  revenue rank:  593
cashier name:  Kerr Jason  transaction count:  6  total revenue:  2077.19  transaction rank:  1115  revenue rank:  2090
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  1415.59  transaction rank:  1115  revenue rank:  2909
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  3948.09  transaction rank:  1115  revenue rank:  590
cashier name:  Jones Christopher  transaction count:  6  total revenue:  2993.91  transaction rank:  1115  revenue rank:  1173
cashier name:  Eric Mr.  transaction count:  6  total revenue:  3950.28  transaction rank:  1115  revenue rank:  588
cashier name:  Spears Erin  transaction count:  6  total revenue:  2986.91  transaction rank:  1115  revenue rank:  1175
cashier name:  Nichols Mitchell  transaction count:  6  total revenue:  2074.74  transaction rank:  1115  revenue rank:  2093
cashier name:  Jacobs Brenda  transaction count:  6  total revenue:  1850.25  transaction rank:  1115  revenue rank:  2354
cashier name:  Day Natasha  transaction count:  6  total revenue:  3990.12  transaction rank:  1115  revenue rank:  574
cashier name:  Glover Michelle  transaction count:  6  total revenue:  1418.30  transaction rank:  1115  revenue rank:  2904
cashier name:  Johnson Samantha  transaction count:  6  total revenue:  5364.97  transaction rank:  1115  revenue rank:  182
cashier name:  Werner Kara  transaction count:  6  total revenue:  1851.59  transaction rank:  1115  revenue rank:  2351
cashier name:  Pena Johnathan  transaction count:  6  total revenue:  1912.35  transaction rank:  1115  revenue rank:  2284
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2439.03  transaction rank:  1115  revenue rank:  1701
cashier name:  Wilson Jill  transaction count:  6  total revenue:  3990.41  transaction rank:  1115  revenue rank:  573
cashier name:  Jordan Carla  transaction count:  6  total revenue:  2973.33  transaction rank:  1115  revenue rank:  1185
cashier name:  Hayes Brandon  transaction count:  6  total revenue:  2973.31  transaction rank:  1115  revenue rank:  1186
cashier name:  Jones Evelyn  transaction count:  6  total revenue:  1979.02  transaction rank:  1115  revenue rank:  2203
cashier name:  Glover Michelle  transaction count:  6  total revenue:  3998.87  transaction rank:  1115  revenue rank:  570
cashier name:  Church Joshua  transaction count:  6  total revenue:  2970.17  transaction rank:  1115  revenue rank:  1189
cashier name:  Mckenzie William  transaction count:  6  total revenue:  2969.92  transaction rank:  1115  revenue rank:  1190
cashier name:  Foster Jennifer  transaction count:  6  total revenue:  2964.51  transaction rank:  1115  revenue rank:  1191
cashier name:  Jones Christopher  transaction count:  6  total revenue:  2964.37  transaction rank:  1115  revenue rank:  1192
cashier name:  Walls Kristen  transaction count:  6  total revenue:  2964.19  transaction rank:  1115  revenue rank:  1193
cashier name:  Sosa David  transaction count:  6  total revenue:  2511.65  transaction rank:  1115  revenue rank:  1633
cashier name:  Moore Jason  transaction count:  6  total revenue:  847.41  transaction rank:  1115  revenue rank:  3710
cashier name:  Wilson Jill  transaction count:  6  total revenue:  4000.85  transaction rank:  1115  revenue rank:  567
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  2959.21  transaction rank:  1115  revenue rank:  1197
cashier name:  Jones Evelyn  transaction count:  6  total revenue:  4007.04  transaction rank:  1115  revenue rank:  564
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  2958.44  transaction rank:  1115  revenue rank:  1199
cashier name:  Jackson Michael  transaction count:  6  total revenue:  4032.10  transaction rank:  1115  revenue rank:  558
cashier name:  Tate Harry  transaction count:  6  total revenue:  2439.71  transaction rank:  1115  revenue rank:  1699
cashier name:  Moyer Steven  transaction count:  6  total revenue:  2073.22  transaction rank:  1115  revenue rank:  2096
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  4056.80  transaction rank:  1115  revenue rank:  544
cashier name:  Herrera Spencer  transaction count:  6  total revenue:  4063.75  transaction rank:  1115  revenue rank:  540
cashier name:  Long Kirsten  transaction count:  6  total revenue:  2950.20  transaction rank:  1115  revenue rank:  1205
cashier name:  Jones Michael  transaction count:  6  total revenue:  2949.58  transaction rank:  1115  revenue rank:  1206
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  2949.35  transaction rank:  1115  revenue rank:  1207
cashier name:  Eric Mr.  transaction count:  6  total revenue:  4116.38  transaction rank:  1115  revenue rank:  524
cashier name:  Henderson Nancy  transaction count:  6  total revenue:  4139.41  transaction rank:  1115  revenue rank:  515
cashier name:  Brooks Renee  transaction count:  6  total revenue:  4146.46  transaction rank:  1115  revenue rank:  509

cashier name:  Chen Kathleen  transaction count:  6  total revenue:  4182.90  transaction rank:  1115  revenue rank:  494
cashier name:  Jackson Gary  transaction count:  6  total revenue:  2947.94  transaction rank:  1115  revenue rank:  1212
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2947.68  transaction rank:  1115  revenue rank:  1213
cashier name:  Blanchard Ricky  transaction count:  6  total revenue:  4184.10  transaction rank:  1115  revenue rank:  493
cashier name:  Brooks Renee  transaction count:  6  total revenue:  1856.01  transaction rank:  1115  revenue rank:  2345
cashier name:  Williams Michael  transaction count:  6  total revenue:  2441.97  transaction rank:  1115  revenue rank:  1696
cashier name:  Spears Erin  transaction count:  6  total revenue:  1859.03  transaction rank:  1115  revenue rank:  2344
cashier name:  Love Thomas  transaction count:  6  total revenue:  2945.38  transaction rank:  1115  revenue rank:  1218
cashier name:  Thomas Robert  transaction count:  6  total revenue:  2619.05  transaction rank:  1115  revenue rank:  1522
cashier name:  Galvan Lori  transaction count:  6  total revenue:  4206.36  transaction rank:  1115  revenue rank:  483
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  4210.07  transaction rank:  1115  revenue rank:  481
cashier name:  Kerr Jason  transaction count:  6  total revenue:  765.45  transaction rank:  1115  revenue rank:  3831
cashier name:  Hernandez Michael  transaction count:  6  total revenue:  4238.28  transaction rank:  1115  revenue rank:  468
cashier name:  Gross Andrew  transaction count:  6  total revenue:  1428.03  transaction rank:  1115  revenue rank:  2890
cashier name:  Harrell Angie  transaction count:  6  total revenue:  2061.01  transaction rank:  1115  revenue rank:  2109
cashier name:  Durham Denise  transaction count:  6  total revenue:  4282.67  transaction rank:  1115  revenue rank:  457
cashier name:  Glover Michelle  transaction count:  6  total revenue:  4305.95  transaction rank:  1115  revenue rank:  442
cashier name:  Williams Michael  transaction count:  6  total revenue:  2047.51  transaction rank:  1115  revenue rank:  2126
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  4306.95  transaction rank:  1115  revenue rank:  441
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  4310.90  transaction rank:  1115  revenue rank:  440
cashier name:  Shah Amanda  transaction count:  6  total revenue:  4311.17  transaction rank:  1115  revenue rank:  439
cashier name:  Carroll Eric  transaction count:  6  total revenue:  4315.35  transaction rank:  1115  revenue rank:  437
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  4315.83  transaction rank:  1115  revenue rank:  435
cashier name:  Roach Christine  transaction count:  6  total revenue:  2616.64  transaction rank:  1115  revenue rank:  1525
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  2930.25  transaction rank:  1115  revenue rank:  1235
cashier name:  Durham Denise  transaction count:  6  total revenue:  2928.70  transaction rank:  1115  revenue rank:  1236
cashier name:  Moore Jason  transaction count:  6  total revenue:  4331.48  transaction rank:  1115  revenue rank:  429
cashier name:  Golden Laurie  transaction count:  6  total revenue:  2616.14  transaction rank:  1115  revenue rank:  1526
cashier name:  Campbell Bethany  transaction count:  6  total revenue:  1449.33  transaction rank:  1115  revenue rank:  2865
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  2044.67  transaction rank:  1115  revenue rank:  2131
cashier name:  Moyer Steven  transaction count:  6  total revenue:  1450.91  transaction rank:  1115  revenue rank:  2862
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  4332.32  transaction rank:  1115  revenue rank:  428
cashier name:  Perry Andrea  transaction count:  6  total revenue:  4336.26  transaction rank:  1115  revenue rank:  427
cashier name:  Brooks Renee  transaction count:  6  total revenue:  2613.82  transaction rank:  1115  revenue rank:  1528
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  1452.80  transaction rank:  1115  revenue rank:  2858
cashier name:  Colon Lindsey  transaction count:  6  total revenue:  4350.78  transaction rank:  1115  revenue rank:  423
cashier name:  Moyer Steven  transaction count:  6  total revenue:  4354.20  transaction rank:  1115  revenue rank:  422
cashier name:  Jones Evelyn  transaction count:  6  total revenue:  2911.51  transaction rank:  1115  revenue rank:  1248
cashier name:  Riley Ashley  transaction count:  6  total revenue:  2612.02  transaction rank:  1115  revenue rank:  1529
cashier name:  Jordan Carla  transaction count:  6  total revenue:  4368.54  transaction rank:  1115  revenue rank:  416
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  2042.56  transaction rank:  1115  revenue rank:  2135
cashier name:  Horton Ashley  transaction count:  6  total revenue:  2907.54  transaction rank:  1115  revenue rank:  1252
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  4387.41  transaction rank:  1115  revenue rank:  408
cashier name:  Warren Timothy  transaction count:  6  total revenue:  2907.41  transaction rank:  1115  revenue rank:  1254
cashier name:  Spears Erin  transaction count:  6  total revenue:  2463.59  transaction rank:  1115  revenue rank:  1682
cashier name:  Sosa David  transaction count:  6  total revenue:  2609.03  transaction rank:  1115  revenue rank:  1532
cashier name:  Walls Kristen  transaction count:  6  total revenue:  4430.52  transaction rank:  1115  revenue rank:  387
cashier name:  Colon Lindsey  transaction count:  6  total revenue:  2548.54  transaction rank:  1115  revenue rank:  1596
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  2899.68  transaction rank:  1115  revenue rank:  1259
cashier name:  Herrera Spencer  transaction count:  6  total revenue:  4461.84  transaction rank:  1115  revenue rank:  380
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  5155.40  transaction rank:  1115  revenue rank:  215
cashier name:  Long Kirsten  transaction count:  6  total revenue:  1474.22  transaction rank:  1115  revenue rank:  2822
cashier name:  Smith Brandy  transaction count:  6  total revenue:  1481.85  transaction rank:  1115  revenue rank:  2810
cashier name:  Thomas Robert  transaction count:  6  total revenue:  2606.51  transaction rank:  1115  revenue rank:  1535
cashier name:  Sosa David  transaction count:  6  total revenue:  4463.70  transaction rank:  1115  revenue rank:  379
cashier name:  Foster Jennifer  transaction count:  6  total revenue:  2039.78  transaction rank:  1115  revenue rank:  2138
cashier name:  Torres Steven  transaction count:  6  total revenue:  2894.05  transaction rank:  1115  revenue rank:  1267
cashier name:  Warren Timothy  transaction count:  6  total revenue:  2893.84  transaction rank:  1115  revenue rank:  1268
cashier name:  Marquez Jeffrey  transaction count:  6  total revenue:  1484.28  transaction rank:  1115  revenue rank:  2804
cashier name:  Jones Christopher  transaction count:  6  total revenue:  4525.83  transaction rank:  1115  revenue rank:  357
cashier name:  Sosa David  transaction count:  6  total revenue:  4527.27  transaction rank:  1115  revenue rank:  356
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  2516.65  transaction rank:  1115  revenue rank:  1631
cashier name:  Garcia Sarah  transaction count:  6  total revenue:  2891.25  transaction rank:  1115  revenue rank:  1273
cashier name:  Meyer James  transaction count:  6  total revenue:  4529.59  transaction rank:  1115  revenue rank:  354
cashier name:  Werner Kara  transaction count:  6  total revenue:  2545.02  transaction rank:  1115  revenue rank:  1598
cashier name:  Church Joshua  transaction count:  6  total revenue:  2603.18  transaction rank:  1115  revenue rank:  1539
cashier name:  Torres Steven  transaction count:  6  total revenue:  2603.13  transaction rank:  1115  revenue rank:  1540
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  2036.65  transaction rank:  1115  revenue rank:  2142
cashier name:  Torres Steven  transaction count:  6  total revenue:  1864.07  transaction rank:  1115  revenue rank:  2334
cashier name:  Wilson Jill  transaction count:  6  total revenue:  1508.92  transaction rank:  1115  revenue rank:  2769
cashier name:  Warren Timothy  transaction count:  6  total revenue:  681.70  transaction rank:  1115  revenue rank:  3942
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  1517.29  transaction rank:  1115  revenue rank:  2755
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  2883.88  transaction rank:  1115  revenue rank:  1283
cashier name:  Love Thomas  transaction count:  6  total revenue:  2035.75  transaction rank:  1115  revenue rank:  2144
cashier name:  Foster Kenneth  transaction count:  6  total revenue:  2880.66  transaction rank:  1115  revenue rank:  1285
cashier name:  Day Natasha  transaction count:  6  total revenue:  2880.46  transaction rank:  1115  revenue rank:  1286
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  4609.75  transaction rank:  1115  revenue rank:  338
cashier name:  Smith Brandy  transaction count:  6  total revenue:  4639.37  transaction rank:  1115  revenue rank:  323
cashier name:  Atkinson Gary  transaction count:  6  total revenue:  1528.89  transaction rank:  1115  revenue rank:  2741
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  2874.13  transaction rank:  1115  revenue rank:  1290
cashier name:  Brown Lisa  transaction count:  6  total revenue:  4672.62  transaction rank:  1115  revenue rank:  313
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  4675.71  transaction rank:  1115  revenue rank:  312
cashier name:  Foster Kenneth  transaction count:  6  total revenue:  2527.64  transaction rank:  1115  revenue rank:  1618
cashier name:  Pena Johnathan  transaction count:  6  total revenue:  2868.30  transaction rank:  1115  revenue rank:  1294
cashier name:  Love Thomas  transaction count:  6  total revenue:  4716.54  transaction rank:  1115  revenue rank:  304
cashier name:  Nichols Brandon  transaction count:  6  total revenue:  2531.80  transaction rank:  1115  revenue rank:  1613
cashier name:  Thomas Robert  transaction count:  6  total revenue:  4731.36  transaction rank:  1115  revenue rank:  299
cashier name:  Blanchard Ricky  transaction count:  6  total revenue:  1864.62  transaction rank:  1115  revenue rank:  2328
cashier name:  Warren Timothy  transaction count:  6  total revenue:  2598.02  transaction rank:  1115  revenue rank:  1547
cashier name:  Jordan Carla  transaction count:  6  total revenue:  2470.40  transaction rank:  1115  revenue rank:  1677
cashier name:  Roach Christine  transaction count:  6  total revenue:  2864.62  transaction rank:  1115  revenue rank:  1301
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  2023.95  transaction rank:  1115  revenue rank:  2157
cashier name:  Gardner Laura  transaction count:  6  total revenue:  4770.40  transaction rank:  1115  revenue rank:  288
cashier name:  Manning Maria  transaction count:  6  total revenue:  2861.15  transaction rank:  1115  revenue rank:  1304
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2861.05  transaction rank:  1115  revenue rank:  1305
cashier name:  Smith Diana  transaction count:  6  total revenue:  2595.82  transaction rank:  1115  revenue rank:  1550
cashier name:  Jackson Gary  transaction count:  6  total revenue:  1882.08  transaction rank:  1115  revenue rank:  2313
cashier name:  Payne Samantha  transaction count:  6  total revenue:  2860.21  transaction rank:  1115  revenue rank:  1308
cashier name:  Love Thomas  transaction count:  6  total revenue:  2471.85  transaction rank:  1115  revenue rank:  1674
cashier name:  Glover Michelle  transaction count:  6  total revenue:  4781.35  transaction rank:  1115  revenue rank:  285
cashier name:  Campbell Bethany  transaction count:  6  total revenue:  1543.83  transaction rank:  1115  revenue rank:  2716
cashier name:  Moyer Steven  transaction count:  6  total revenue:  2854.66  transaction rank:  1115  revenue rank:  1312
cashier name:  Smith Brandy  transaction count:  6  total revenue:  2853.12  transaction rank:  1115  revenue rank:  1313
cashier name:  Jacobs Brenda  transaction count:  6  total revenue:  4818.34  transaction rank:  1115  revenue rank:  281
cashier name:  Galvan Lori  transaction count:  6  total revenue:  2276.77  transaction rank:  1115  revenue rank:  1880
cashier name:  Jackson Gary  transaction count:  6  total revenue:  2021.17  transaction rank:  1115  revenue rank:  2160
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  1950.66  transaction rank:  1115  revenue rank:  2239
cashier name:  Day Natasha  transaction count:  6  total revenue:  2588.04  transaction rank:  1115  revenue rank:  1555
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  2285.90  transaction rank:  1115  revenue rank:  1872
cashier name:  Golden Laurie  transaction count:  6  total revenue:  2286.22  transaction rank:  1115  revenue rank:  1871
cashier name:  Brown Lisa  transaction count:  6  total revenue:  1567.66  transaction rank:  1115  revenue rank:  2687
cashier name:  Martin Monica  transaction count:  6  total revenue:  2286.47  transaction rank:  1115  revenue rank:  1869
cashier name:  Randolph Emily  transaction count:  6  total revenue:  2475.49  transaction rank:  1115  revenue rank:  1669
cashier name:  Jacobs Brenda  transaction count:  6  total revenue:  2287.55  transaction rank:  1115  revenue rank:  1868
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  2258.45  transaction rank:  1115  revenue rank:  1899
cashier name:  Day Natasha  transaction count:  6  total revenue:  2254.92  transaction rank:  1115  revenue rank:  1902
cashier name:  Foster Jennifer  transaction count:  6  total revenue:  2838.94  transaction rank:  1115  revenue rank:  1327
cashier name:  Garcia Sarah  transaction count:  6  total revenue:  1572.99  transaction rank:  1115  revenue rank:  2680
cashier name:  Campbell Brittany  transaction count:  6  total revenue:  2016.63  transaction rank:  1115  revenue rank:  2169
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  2252.71  transaction rank:  1115  revenue rank:  1904
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  1597.65  transaction rank:  1115  revenue rank:  2643
cashier name:  Mckenzie William  transaction count:  6  total revenue:  2541.77  transaction rank:  1115  revenue rank:  1602
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  4929.92  transaction rank:  1115  revenue rank:  257
cashier name:  Foster Jennifer  transaction count:  6  total revenue:  2293.31  transaction rank:  1115  revenue rank:  1858
cashier name:  Woods Marcus  transaction count:  6  total revenue:  1974.92  transaction rank:  1115  revenue rank:  2211
cashier name:  Martin Monica  transaction count:  6  total revenue:  2244.47  transaction rank:  1115  revenue rank:  1908
cashier name:  Mckenzie William  transaction count:  6  total revenue:  2241.97  transaction rank:  1115  revenue rank:  1909
cashier name:  Ellis Lauren  transaction count:  6  total revenue:  2828.90  transaction rank:  1115  revenue rank:  1338
cashier name:  Rogers Mark  transaction count:  6  total revenue:  1882.30  transaction rank:  1115  revenue rank:  2312
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  2298.83  transaction rank:  1115  revenue rank:  1853
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  2014.97  transaction rank:  1115  revenue rank:  2170
cashier name:  Torres Steven  transaction count:  6  total revenue:  2823.66  transaction rank:  1115  revenue rank:  1342
cashier name:  Thomas Robert  transaction count:  6  total revenue:  2233.52  transaction rank:  1115  revenue rank:  1915
cashier name:  Sean Mr.  transaction count:  6  total revenue:  1599.86  transaction rank:  1115  revenue rank:  2640
cashier name:  Henderson Nancy  transaction count:  6  total revenue:  2299.77  transaction rank:  1115  revenue rank:  1851
cashier name:  Jones Michael  transaction count:  6  total revenue:  2524.01  transaction rank:  1115  revenue rank:  1624
cashier name:  Shah Amanda  transaction count:  6  total revenue:  2299.85  transaction rank:  1115  revenue rank:  1850
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  2811.35  transaction rank:  1115  revenue rank:  1348
cashier name:  Hernandez Michael  transaction count:  6  total revenue:  1609.16  transaction rank:  1115  revenue rank:  2630
cashier name:  Brown Lisa  transaction count:  6  total revenue:  2810.66  transaction rank:  1115  revenue rank:  1350
cashier name:  Nichols Mitchell  transaction count:  6  total revenue:  1883.91  transaction rank:  1115  revenue rank:  2308
cashier name:  Smith Brandy  transaction count:  6  total revenue:  2483.87  transaction rank:  1115  revenue rank:  1662
cashier name:  Pena Johnathan  transaction count:  6  total revenue:  2807.59  transaction rank:  1115  revenue rank:  1353
cashier name:  Conrad Frederick  transaction count:  6  total revenue:  2300.93  transaction rank:  1115  revenue rank:  1849
cashier name:  Hayes Brandon  transaction count:  6  total revenue:  2799.87  transaction rank:  1115  revenue rank:  1355
cashier name:  White Kenneth  transaction count:  6  total revenue:  2798.94  transaction rank:  1115  revenue rank:  1356
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  2233.10  transaction rank:  1115  revenue rank:  1916
cashier name:  Marquez Jeffrey  transaction count:  6  total revenue:  2304.95  transaction rank:  1115  revenue rank:  1843
cashier name:  Burns Kendra  transaction count:  6  total revenue:  2225.99  transaction rank:  1115  revenue rank:  1922
cashier name:  Jones Christopher  transaction count:  6  total revenue:  1624.61  transaction rank:  1115  revenue rank:  2610
cashier name:  Williams Michael  transaction count:  6  total revenue:  2576.42  transaction rank:  1115  revenue rank:  1565
cashier name:  Werner Kara  transaction count:  6  total revenue:  2310.16  transaction rank:  1115  revenue rank:  1836
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  2575.05  transaction rank:  1115  revenue rank:  1566
cashier name:  Golden Laurie  transaction count:  6  total revenue:  2312.53  transaction rank:  1115  revenue rank:  1833
cashier name:  Garcia Sarah  transaction count:  6  total revenue:  1886.50  transaction rank:  1115  revenue rank:  2306
cashier name:  Day Natasha  transaction count:  6  total revenue:  2219.68  transaction rank:  1115  revenue rank:  1932
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  2313.92  transaction rank:  1115  revenue rank:  1831
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2212.99  transaction rank:  1115  revenue rank:  1940
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  2782.13  transaction rank:  1115  revenue rank:  1369
cashier name:  Glover Michelle  transaction count:  6  total revenue:  2210.39  transaction rank:  1115  revenue rank:  1942
cashier name:  Martin Monica  transaction count:  6  total revenue:  1646.35  transaction rank:  1115  revenue rank:  2591
cashier name:  Horton Mark  transaction count:  6  total revenue:  2780.18  transaction rank:  1115  revenue rank:  1372

cashier name:  Horton Mark  transaction count:  6  total revenue:  2203.08  transaction rank:  1115  revenue rank:  1953
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  1678.55  transaction rank:  1115  revenue rank:  2551
cashier name:  Walls Kristen  transaction count:  6  total revenue:  2757.93  transaction rank:  1115  revenue rank:  1392
cashier name:  Jessica Ms.  transaction count:  6  total revenue:  2010.51  transaction rank:  1115  revenue rank:  2177
cashier name:  Jones Christopher  transaction count:  6  total revenue:  2755.40  transaction rank:  1115  revenue rank:  1394
cashier name:  Glover Michelle  transaction count:  6  total revenue:  2755.04  transaction rank:  1115  revenue rank:  1395
cashier name:  Wood Joshua  transaction count:  6  total revenue:  2333.06  transaction rank:  1115  revenue rank:  1815
cashier name:  Spears Erin  transaction count:  6  total revenue:  1684.16  transaction rank:  1115  revenue rank:  2547
cashier name:  Carroll Eric  transaction count:  6  total revenue:  1935.74  transaction rank:  1115  revenue rank:  2258
cashier name:  Love Thomas  transaction count:  6  total revenue:  1685.22  transaction rank:  1115  revenue rank:  2546
cashier name:  Walters Jay  transaction count:  6  total revenue:  4970.94  transaction rank:  1115  revenue rank:  249
cashier name:  Thompson Andrea  transaction count:  6  total revenue:  2202.54  transaction rank:  1115  revenue rank:  1954
cashier name:  Ellis Lauren  transaction count:  6  total revenue:  1689.26  transaction rank:  1115  revenue rank:  2541
cashier name:  Shah Amanda  transaction count:  6  total revenue:  2747.99  transaction rank:  1115  revenue rank:  1403
cashier name:  Thomas Robert  transaction count:  6  total revenue:  2202.14  transaction rank:  1115  revenue rank:  1955
cashier name:  Perry Andrea  transaction count:  6  total revenue:  2339.86  transaction rank:  1115  revenue rank:  1809
cashier name:  Jackson Gary  transaction count:  6  total revenue:  1691.63  transaction rank:  1115  revenue rank:  2539
cashier name:  Eric Mr.  transaction count:  6  total revenue:  2745.13  transaction rank:  1115  revenue rank:  1407
cashier name:  Woods Marcus  transaction count:  6  total revenue:  1695.20  transaction rank:  1115  revenue rank:  2535
cashier name:  Werner Kara  transaction count:  6  total revenue:  2342.10  transaction rank:  1115  revenue rank:  1806
cashier name:  Galvan Lori  transaction count:  6  total revenue:  1714.16  transaction rank:  1115  revenue rank:  2518
cashier name:  Chen Kathleen  transaction count:  6  total revenue:  2494.65  transaction rank:  1115  revenue rank:  1650
cashier name:  Jones Michael  transaction count:  6  total revenue:  5457.13  transaction rank:  1115  revenue rank:  166
cashier name:  Long Kirsten  transaction count:  6  total revenue:  2742.10  transaction rank:  1115  revenue rank:  1413
cashier name:  Church Joshua  transaction count:  6  total revenue:  1716.69  transaction rank:  1115  revenue rank:  2512
cashier name:  Garcia Sarah  transaction count:  6  total revenue:  2563.09  transaction rank:  1115  revenue rank:  1576
cashier name:  Williams Michael  transaction count:  6  total revenue:  2201.53  transaction rank:  1115  revenue rank:  1956
cashier name:  Brown Lisa  transaction count:  6  total revenue:  2190.37  transaction rank:  1115  revenue rank:  1962
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  2349.15  transaction rank:  1115  revenue rank:  1797
cashier name:  Bradley Rita  transaction count:  6  total revenue:  2349.67  transaction rank:  1115  revenue rank:  1795
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  2350.13  transaction rank:  1115  revenue rank:  1794
cashier name:  Jones Evelyn  transaction count:  6  total revenue:  2186.50  transaction rank:  1115  revenue rank:  1967
cashier name:  Meyer James  transaction count:  6  total revenue:  2734.38  transaction rank:  1115  revenue rank:  1422
cashier name:  Walters Jay  transaction count:  6  total revenue:  2350.70  transaction rank:  1115  revenue rank:  1792
cashier name:  Johnson Samantha  transaction count:  6  total revenue:  2733.90  transaction rank:  1115  revenue rank:  1424
cashier name:  Thompson Andrea  transaction count:  6  total revenue:  5004.96  transaction rank:  1115  revenue rank:  242
cashier name:  Jessica Ms.  transaction count:  6  total revenue:  2729.66  transaction rank:  1115  revenue rank:  1426
cashier name:  Galvan Lori  transaction count:  6  total revenue:  2352.84  transaction rank:  1115  revenue rank:  1789
cashier name:  Waters Julie  transaction count:  6  total revenue:  1734.47  transaction rank:  1115  revenue rank:  2488
cashier name:  Chambers Jeffrey  transaction count:  6  total revenue:  1888.90  transaction rank:  1115  revenue rank:  2303
cashier name:  Kerr Jason  transaction count:  6  total revenue:  1737.10  transaction rank:  1115  revenue rank:  2483
cashier name:  Woods Marcus  transaction count:  6  total revenue:  2527.17  transaction rank:  1115  revenue rank:  1619
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  2181.96  transaction rank:  1115  revenue rank:  1969
cashier name:  Martin Monica  transaction count:  6  total revenue:  2723.67  transaction rank:  1115  revenue rank:  1433
cashier name:  Wells Monica  transaction count:  6  total revenue:  1746.32  transaction rank:  1115  revenue rank:  2470
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  2539.22  transaction rank:  1115  revenue rank:  1607
cashier name:  Jones Evelyn  transaction count:  6  total revenue:  2172.49  transaction rank:  1115  revenue rank:  1980
cashier name:  Smith Brandy  transaction count:  6  total revenue:  2720.15  transaction rank:  1115  revenue rank:  1437
cashier name:  Waters Julie  transaction count:  6  total revenue:  2158.63  transaction rank:  1115  revenue rank:  1992
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  2717.62  transaction rank:  1115  revenue rank:  1439
cashier name:  Davis Jennifer  transaction count:  6  total revenue:  2150.27  transaction rank:  1115  revenue rank:  2003
cashier name:  Day Natasha  transaction count:  6  total revenue:  2375.99  transaction rank:  1115  revenue rank:  1763
cashier name:  Perry Andrea  transaction count:  6  total revenue:  2149.90  transaction rank:  1115  revenue rank:  2004
cashier name:  Smith Diana  transaction count:  6  total revenue:  2382.26  transaction rank:  1115  revenue rank:  1759
cashier name:  Torres Steven  transaction count:  6  total revenue:  2008.63  transaction rank:  1115  revenue rank:  2178
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2007.68  transaction rank:  1115  revenue rank:  2179
cashier name:  Randolph Emily  transaction count:  6  total revenue:  2144.75  transaction rank:  1115  revenue rank:  2007
cashier name:  Smith Brandy  transaction count:  6  total revenue:  2560.24  transaction rank:  1115  revenue rank:  1582
cashier name:  Moore Jason  transaction count:  6  total revenue:  2388.58  transaction rank:  1115  revenue rank:  1755
cashier name:  Bradley Rita  transaction count:  6  total revenue:  1756.25  transaction rank:  1115  revenue rank:  2458
cashier name:  Bryan Mr.  transaction count:  6  total revenue:  2388.88  transaction rank:  1115  revenue rank:  1753
cashier name:  Chambers Jeffrey  transaction count:  6  total revenue:  1757.96  transaction rank:  1115  revenue rank:  2456
cashier name:  Manning Maria  transaction count:  6  total revenue:  2133.96  transaction rank:  1115  revenue rank:  2015
cashier name:  Kerr Jason  transaction count:  6  total revenue:  2132.00  transaction rank:  1115  revenue rank:  2017
cashier name:  Johnson Samantha  transaction count:  6  total revenue:  1768.80  transaction rank:  1115  revenue rank:  2446
cashier name:  Randolph Emily  transaction count:  6  total revenue:  2698.82  transaction rank:  1115  revenue rank:  1455
cashier name:  Nichols Mitchell  transaction count:  6  total revenue:  2129.80  transaction rank:  1115  revenue rank:  2019
cashier name:  Owens Jeffrey  transaction count:  6  total revenue:  2398.52  transaction rank:  1115  revenue rank:  1743
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  2006.12  transaction rank:  1115  revenue rank:  2181
cashier name:  Horton Mark  transaction count:  6  total revenue:  1774.24  transaction rank:  1115  revenue rank:  2437
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  1942.83  transaction rank:  1115  revenue rank:  2251
cashier name:  Moyer Steven  transaction count:  6  total revenue:  2399.50  transaction rank:  1115  revenue rank:  1741
cashier name:  Randolph Emily  transaction count:  6  total revenue:  1782.35  transaction rank:  1115  revenue rank:  2430
cashier name:  Hull Shane  transaction count:  6  total revenue:  2408.93  transaction rank:  1115  revenue rank:  1736
cashier name:  Harrell Angie  transaction count:  6  total revenue:  1786.77  transaction rank:  1115  revenue rank:  2423
cashier name:  Roach Christine  transaction count:  6  total revenue:  2409.75  transaction rank:  1115  revenue rank:  1734
cashier name:  Kerr Jason  transaction count:  6  total revenue:  2120.76  transaction rank:  1115  revenue rank:  2035
cashier name:  Love Thomas  transaction count:  6  total revenue:  1789.68  transaction rank:  1115  revenue rank:  2422
cashier name:  Chen Kathleen  transaction count:  6  total revenue:  2115.96  transaction rank:  1115  revenue rank:  2039
cashier name:  Blanchard Ricky  transaction count:  6  total revenue:  2684.26  transaction rank:  1115  revenue rank:  1469
cashier name:  Brooks Renee  transaction count:  6  total revenue:  3245.97  transaction rank:  1115  revenue rank:  968
cashier name:  Hernandez Michael  transaction count:  6  total revenue:  3250.12  transaction rank:  1115  revenue rank:  964
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  3245.30  transaction rank:  1115  revenue rank:  970
cashier name:  Chen Kathleen  transaction count:  6  total revenue:  1797.63  transaction rank:  1115  revenue rank:  2414
cashier name:  Carroll Eric  transaction count:  6  total revenue:  3250.31  transaction rank:  1115  revenue rank:  963
cashier name:  Church Joshua  transaction count:  6  total revenue:  2681.01  transaction rank:  1115  revenue rank:  1471
cashier name:  Colon Lindsey  transaction count:  6  total revenue:  3256.20  transaction rank:  1115  revenue rank:  960
cashier name:  Walters Jay  transaction count:  6  total revenue:  1239.60  transaction rank:  1115  revenue rank:  3154
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  3270.26  transaction rank:  1115  revenue rank:  953
cashier name:  Wood Joshua  transaction count:  6  total revenue:  3274.35  transaction rank:  1115  revenue rank:  950
cashier name:  Vasquez Peter  transaction count:  6  total revenue:  3277.88  transaction rank:  1115  revenue rank:  949
cashier name:  Durham Denise  transaction count:  6  total revenue:  3236.84  transaction rank:  1115  revenue rank:  979
cashier name:  Jones Michael  transaction count:  6  total revenue:  2679.43  transaction rank:  1115  revenue rank:  1472
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  1234.26  transaction rank:  1115  revenue rank:  3161
cashier name:  Jacobs Brenda  transaction count:  6  total revenue:  3288.81  transaction rank:  1115  revenue rank:  944
cashier name:  Herrera Spencer  transaction count:  6  total revenue:  1246.01  transaction rank:  1115  revenue rank:  3145
cashier name:  Bradley Rita  transaction count:  6  total revenue:  3230.71  transaction rank:  1115  revenue rank:  984
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  2679.19  transaction rank:  1115  revenue rank:  1473
cashier name:  Thomas Robert  transaction count:  6  total revenue:  1800.99  transaction rank:  1115  revenue rank:  2412
cashier name:  Hughes Christopher  transaction count:  6  total revenue:  3296.34  transaction rank:  1115  revenue rank:  940
cashier name:  Jessica Ms.  transaction count:  6  total revenue:  2556.94  transaction rank:  1115  revenue rank:  1585
cashier name:  Day Natasha  transaction count:  6  total revenue:  3300.85  transaction rank:  1115  revenue rank:  937
cashier name:  Love Thomas  transaction count:  6  total revenue:  3228.53  transaction rank:  1115  revenue rank:  990
cashier name:  Randolph Emily  transaction count:  6  total revenue:  3306.65  transaction rank:  1115  revenue rank:  934
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  2676.30  transaction rank:  1115  revenue rank:  1476
cashier name:  Manning Maria  transaction count:  6  total revenue:  1230.21  transaction rank:  1115  revenue rank:  3169
cashier name:  Jackson Michael  transaction count:  6  total revenue:  3312.28  transaction rank:  1115  revenue rank:  929
cashier name:  Gardner Laura  transaction count:  6  total revenue:  2676.03  transaction rank:  1115  revenue rank:  1477
cashier name:  Spears Erin  transaction count:  6  total revenue:  3319.45  transaction rank:  1115  revenue rank:  927
cashier name:  Chen Kathleen  transaction count:  6  total revenue:  3330.71  transaction rank:  1115  revenue rank:  924
cashier name:  Love Thomas  transaction count:  6  total revenue:  2498.93  transaction rank:  1115  revenue rank:  1645
cashier name:  Thomas Robert  transaction count:  6  total revenue:  3335.80  transaction rank:  1115  revenue rank:  921
cashier name:  Horton Mark  transaction count:  6  total revenue:  2112.94  transaction rank:  1115  revenue rank:  2042
cashier name:  Shah Amanda  transaction count:  6  total revenue:  1267.23  transaction rank:  1115  revenue rank:  3108
cashier name:  Hull Shane  transaction count:  6  total revenue:  3214.90  transaction rank:  1115  revenue rank:  1002
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  1173.72  transaction rank:  1115  revenue rank:  3236
cashier name:  Werner Kara  transaction count:  6  total revenue:  3345.59  transaction rank:  1115  revenue rank:  914
cashier name:  Sean Mr.  transaction count:  6  total revenue:  3346.84  transaction rank:  1115  revenue rank:  912
cashier name:  Jones Christopher  transaction count:  6  total revenue:  3348.31  transaction rank:  1115  revenue rank:  911
cashier name:  Sean Mr.  transaction count:  6  total revenue:  3352.44  transaction rank:  1115  revenue rank:  908
cashier name:  Myers Gary  transaction count:  6  total revenue:  3204.33  transaction rank:  1115  revenue rank:  1008

cashier name:  Walls Kristen  transaction count:  6  total revenue:  3353.44  transaction rank:  1115  revenue rank:  905
cashier name:  Hughes Christopher  transaction count:  6  total revenue:  3372.96  transaction rank:  1115  revenue rank:  899
cashier name:  Roach Christine  transaction count:  6  total revenue:  3375.92  transaction rank:  1115  revenue rank:  897
cashier name:  Sosa David  transaction count:  6  total revenue:  3383.81  transaction rank:  1115  revenue rank:  892
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  3384.53  transaction rank:  1115  revenue rank:  888
cashier name:  Blanchard Ricky  transaction count:  6  total revenue:  3386.83  transaction rank:  1115  revenue rank:  883
cashier name:  Walters Jay  transaction count:  6  total revenue:  3391.82  transaction rank:  1115  revenue rank:  880
cashier name:  Church Joshua  transaction count:  6  total revenue:  3394.95  transaction rank:  1115  revenue rank:  878
cashier name:  Thomas Robert  transaction count:  6  total revenue:  3191.19  transaction rank:  1115  revenue rank:  1017
cashier name:  Eric Mr.  transaction count:  6  total revenue:  3404.51  transaction rank:  1115  revenue rank:  872
cashier name:  Harrell Angie  transaction count:  6  total revenue:  3406.69  transaction rank:  1115  revenue rank:  871
cashier name:  Waters Julie  transaction count:  6  total revenue:  3185.71  transaction rank:  1115  revenue rank:  1020
cashier name:  Warren Timothy  transaction count:  6  total revenue:  3420.68  transaction rank:  1115  revenue rank:  866
cashier name:  Carroll Eric  transaction count:  6  total revenue:  3422.47  transaction rank:  1115  revenue rank:  864
cashier name:  Owens Jeffrey  transaction count:  6  total revenue:  1274.80  transaction rank:  1115  revenue rank:  3096
cashier name:  Hayes Brandon  transaction count:  6  total revenue:  3424.72  transaction rank:  1115  revenue rank:  860
cashier name:  Hull Shane  transaction count:  6  total revenue:  1282.60  transaction rank:  1115  revenue rank:  3086
cashier name:  Mckenzie William  transaction count:  6  total revenue:  1151.81  transaction rank:  1115  revenue rank:  3267
cashier name:  Thompson Andrea  transaction count:  6  total revenue:  3446.83  transaction rank:  1115  revenue rank:  845
cashier name:  Walls Kristen  transaction count:  6  total revenue:  3449.16  transaction rank:  1115  revenue rank:  843
cashier name:  Payne Samantha  transaction count:  6  total revenue:  2109.32  transaction rank:  1115  revenue rank:  2049
cashier name:  Terri Mrs.  transaction count:  6  total revenue:  3453.10  transaction rank:  1115  revenue rank:  840
cashier name:  Waters Julie  transaction count:  6  total revenue:  2418.55  transaction rank:  1115  revenue rank:  1722
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  2419.81  transaction rank:  1115  revenue rank:  1721
cashier name:  Jordan Carla  transaction count:  6  total revenue:  3473.17  transaction rank:  1115  revenue rank:  832
cashier name:  Atkinson Gary  transaction count:  6  total revenue:  3484.35  transaction rank:  1115  revenue rank:  824
cashier name:  Harrell Angie  transaction count:  6  total revenue:  3159.40  transaction rank:  1115  revenue rank:  1035
cashier name:  Gonzalez Michele  transaction count:  6  total revenue:  2666.47  transaction rank:  1115  revenue rank:  1483
cashier name:  Meyer James  transaction count:  6  total revenue:  3487.76  transaction rank:  1115  revenue rank:  821
cashier name:  Woods Marcus  transaction count:  6  total revenue:  3154.55  transaction rank:  1115  revenue rank:  1038
cashier name:  Walters Jay  transaction count:  6  total revenue:  1313.23  transaction rank:  1115  revenue rank:  3046
cashier name:  Henderson Nancy  transaction count:  6  total revenue:  3490.70  transaction rank:  1115  revenue rank:  820
cashier name:  Frederick Evan  transaction count:  6  total revenue:  1143.45  transaction rank:  1115  revenue rank:  3279
cashier name:  Woods Marcus  transaction count:  6  total revenue:  3494.61  transaction rank:  1115  revenue rank:  817
cashier name:  Atkinson Gary  transaction count:  6  total revenue:  1124.65  transaction rank:  1115  revenue rank:  3301
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  3505.45  transaction rank:  1115  revenue rank:  813
cashier name:  Moyer Steven  transaction count:  6  total revenue:  3511.34  transaction rank:  1115  revenue rank:  810
cashier name:  Nguyen Richard  transaction count:  6  total revenue:  2663.90  transaction rank:  1115  revenue rank:  1484
cashier name:  Kerr Jason  transaction count:  6  total revenue:  1120.39  transaction rank:  1115  revenue rank:  3307
cashier name:  Torres Steven  transaction count:  6  total revenue:  1317.17  transaction rank:  1115  revenue rank:  3042
cashier name:  Day Natasha  transaction count:  6  total revenue:  3141.16  transaction rank:  1115  revenue rank:  1049
cashier name:  Wood Joshua  transaction count:  6  total revenue:  3140.90  transaction rank:  1115  revenue rank:  1050
cashier name:  Foster Kenneth  transaction count:  6  total revenue:  3140.73  transaction rank:  1115  revenue rank:  1051
cashier name:  Martin Monica  transaction count:  6  total revenue:  3515.48  transaction rank:  1115  revenue rank:  807
cashier name:  Horton Mark  transaction count:  6  total revenue:  3521.94  transaction rank:  1115  revenue rank:  805
cashier name:  Brooks Renee  transaction count:  6  total revenue:  1809.84  transaction rank:  1115  revenue rank:  2399
cashier name:  Long Kirsten  transaction count:  6  total revenue:  3536.70  transaction rank:  1115  revenue rank:  795
cashier name:  Golden Laurie  transaction count:  6  total revenue:  3134.42  transaction rank:  1115  revenue rank:  1056
cashier name:  Moyer Steven  transaction count:  6  total revenue:  3134.23  transaction rank:  1115  revenue rank:  1057
cashier name:  Brooks Renee  transaction count:  6  total revenue:  3133.13  transaction rank:  1115  revenue rank:  1058
cashier name:  Thompson Matthew  transaction count:  6  total revenue:  3132.90  transaction rank:  1115  revenue rank:  1059
cashier name:  Moyer Steven  transaction count:  6  total revenue:  2555.56  transaction rank:  1115  revenue rank:  1587
cashier name:  Love Thomas  transaction count:  6  total revenue:  3130.64  transaction rank:  1115  revenue rank:  1061
cashier name:  Galvan Lori  transaction count:  6  total revenue:  1092.42  transaction rank:  1115  revenue rank:  3346
cashier name:  Waters Julie  transaction count:  6  total revenue:  3555.96  transaction rank:  1115  revenue rank:  789
cashier name:  Frederick Evan  transaction count:  6  total revenue:  1086.05  transaction rank:  1115  revenue rank:  3352
cashier name:  Horton Mark  transaction count:  6  total revenue:  3565.05  transaction rank:  1115  revenue rank:  783
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  1814.27  transaction rank:  1115  revenue rank:  2392
cashier name:  Hayes Brandon  transaction count:  6  total revenue:  2096.59  transaction rank:  1115  revenue rank:  2061
cashier name:  Wood Joshua  transaction count:  6  total revenue:  3571.16  transaction rank:  1115  revenue rank:  777
cashier name:  Williams Michael  transaction count:  6  total revenue:  1814.74  transaction rank:  1115  revenue rank:  2391
cashier name:  Horton Mark  transaction count:  6  total revenue:  3571.54  transaction rank:  1115  revenue rank:  776
cashier name:  Colon Lindsey  transaction count:  6  total revenue:  3582.03  transaction rank:  1115  revenue rank:  771
cashier name:  Ellis Lauren  transaction count:  6  total revenue:  1053.25  transaction rank:  1115  revenue rank:  3399
cashier name:  Meyer James  transaction count:  6  total revenue:  3601.95  transaction rank:  1115  revenue rank:  759
cashier name:  Mckinney Marcus  transaction count:  6  total revenue:  3618.55  transaction rank:  1115  revenue rank:  752
cashier name:  Jackson Michael  transaction count:  6  total revenue:  2499.74  transaction rank:  1115  revenue rank:  1643
cashier name:  Jackson Michael  transaction count:  6  total revenue:  1014.14  transaction rank:  1115  revenue rank:  3461
cashier name:  Spears Erin  transaction count:  6  total revenue:  1351.28  transaction rank:  1115  revenue rank:  3004
cashier name:  Brown Lisa  transaction count:  6  total revenue:  1360.40  transaction rank:  1115  revenue rank:  2997
cashier name:  Bennett Alec  transaction count:  6  total revenue:  967.83  transaction rank:  1115  revenue rank:  3541
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  3109.14  transaction rank:  1115  revenue rank:  1080
cashier name:  White Kenneth  transaction count:  6  total revenue:  3629.80  transaction rank:  1115  revenue rank:  746
cashier name:  Jones Michael  transaction count:  6  total revenue:  3100.42  transaction rank:  1115  revenue rank:  1082
cashier name:  Campbell Bethany  transaction count:  6  total revenue:  3098.73  transaction rank:  1115  revenue rank:  1083
cashier name:  Thompson Andrea  transaction count:  6  total revenue:  3631.16  transaction rank:  1115  revenue rank:  745
cashier name:  Chen Kathleen  transaction count:  6  total revenue:  3098.22  transaction rank:  1115  revenue rank:  1085
cashier name:  Herrera Spencer  transaction count:  6  total revenue:  3097.07  transaction rank:  1115  revenue rank:  1086
cashier name:  Walters Jay  transaction count:  6  total revenue:  1820.74  transaction rank:  1115  revenue rank:  2384
cashier name:  Bradley Rita  transaction count:  6  total revenue:  3646.14  transaction rank:  1115  revenue rank:  737
cashier name:  Kramer Veronica  transaction count:  6  total revenue:  3679.83  transaction rank:  1115  revenue rank:  724
cashier name:  Henderson Nancy  transaction count:  6  total revenue:  3092.97  transaction rank:  1115  revenue rank:  1090
cashier name:  Hull Shane  transaction count:  6  total revenue:  3687.14  transaction rank:  1115  revenue rank:  717
cashier name:  Payne Samantha  transaction count:  6  total revenue:  3688.60  transaction rank:  1115  revenue rank:  715
cashier name:  Thomas Robert  transaction count:  6  total revenue:  3690.29  transaction rank:  1115  revenue rank:  714
cashier name:  Bradley Rita  transaction count:  6  total revenue:  957.67  transaction rank:  1115  revenue rank:  3556
cashier name:  Alvarez Brenda  transaction count:  6  total revenue:  3707.72  transaction rank:  1115  revenue rank:  709
cashier name:  Woods Marcus  transaction count:  6  total revenue:  1375.27  transaction rank:  1115  revenue rank:  2969
cashier name:  Walls Kristen  transaction count:  6  total revenue:  3719.88  transaction rank:  1115  revenue rank:  699
cashier name:  Jones Christopher  transaction count:  6  total revenue:  3726.27  transaction rank:  1115  revenue rank:  697
cashier name:  Harrell Angie  transaction count:  6  total revenue:  3082.02  transaction rank:  1115  revenue rank:  1099
cashier name:  Owens Jeffrey  transaction count:  6  total revenue:  3729.30  transaction rank:  1115  revenue rank:  696
cashier name:  Gardner Laura  transaction count:  6  total revenue:  3730.24  transaction rank:  1115  revenue rank:  694
cashier name:  Colon Lindsey  transaction count:  6  total revenue:  3074.60  transaction rank:  1115  revenue rank:  1102
cashier name:  Woods Marcus  transaction count:  6  total revenue:  2653.49  transaction rank:  1115  revenue rank:  1492
cashier name:  Tate Harry  transaction count:  6  total revenue:  1391.47  transaction rank:  1115  revenue rank:  2949
cashier name:  Horton Mark  transaction count:  6  total revenue:  3731.62  transaction rank:  1115  revenue rank:  692
cashier name:  Kerr Jason  transaction count:  6  total revenue:  2652.41  transaction rank:  1115  revenue rank:  1493
cashier name:  Campbell Brittany  transaction count:  6  total revenue:  3751.99  transaction rank:  1115  revenue rank:  682
cashier name:  Dodson Courtney  transaction count:  6  total revenue:  3752.08  transaction rank:  1115  revenue rank:  681
cashier name:  Carroll Eric  transaction count:  6  total revenue:  3764.72  transaction rank:  1115  revenue rank:  677
cashier name:  Atkinson Gary  transaction count:  6  total revenue:  3063.80  transaction rank:  1115  revenue rank:  1110
cashier name:  Owens Jeffrey  transaction count:  6  total revenue:  1399.06  transaction rank:  1115  revenue rank:  2939
cashier name:  Werner Kara  transaction count:  6  total revenue:  3764.77  transaction rank:  1115  revenue rank:  676
cashier name:  Smith Diana  transaction count:  6  total revenue:  3062.30  transaction rank:  1115  revenue rank:  1113
cashier name:  Werner Kara  transaction count:  6  total revenue:  3769.74  transaction rank:  1115  revenue rank:  674
cashier name:  Blanchard Ricky  transaction count:  5  total revenue:  2369.45  transaction rank:  1617  revenue rank:  1771
cashier name:  Church Joshua  transaction count:  5  total revenue:  4778.91  transaction rank:  1617  revenue rank:  286
cashier name:  Foster Jennifer  transaction count:  5  total revenue:  4509.66  transaction rank:  1617  revenue rank:  364
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  4477.61  transaction rank:  1617  revenue rank:  374
cashier name:  Hernandez Michael  transaction count:  5  total revenue:  4422.56  transaction rank:  1617  revenue rank:  389
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  4339.09  transaction rank:  1617  revenue rank:  425
cashier name:  Moore Jason  transaction count:  5  total revenue:  4315.67  transaction rank:  1617  revenue rank:  436
cashier name:  Carroll Eric  transaction count:  5  total revenue:  4290.37  transaction rank:  1617  revenue rank:  452
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  4282.46  transaction rank:  1617  revenue rank:  458
cashier name:  Jackson Michael  transaction count:  5  total revenue:  4269.60  transaction rank:  1617  revenue rank:  462
cashier name:  Moon James  transaction count:  5  total revenue:  4192.63  transaction rank:  1617  revenue rank:  486
cashier name:  Jacobs Brenda  transaction count:  5  total revenue:  4186.36  transaction rank:  1617  revenue rank:  491
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  4134.23  transaction rank:  1617  revenue rank:  516
cashier name:  Terri Mrs.  transaction count:  5  total revenue:  4129.14  transaction rank:  1617  revenue rank:  518
cashier name:  Moon James  transaction count:  5  total revenue:  4015.79  transaction rank:  1617  revenue rank:  559
cashier name:  Hernandez Michael  transaction count:  5  total revenue:  4014.04  transaction rank:  1617  revenue rank:  561
cashier name:  Terri Mrs.  transaction count:  5  total revenue:  3991.82  transaction rank:  1617  revenue rank:  572
cashier name:  Werner Kara  transaction count:  5  total revenue:  3949.11  transaction rank:  1617  revenue rank:  589
cashier name:  Woods Marcus  transaction count:  5  total revenue:  3929.56  transaction rank:  1617  revenue rank:  596
cashier name:  Meyer James  transaction count:  5  total revenue:  3909.69  transaction rank:  1617  revenue rank:  603
cashier name:  Bradley Rita  transaction count:  5  total revenue:  3908.89  transaction rank:  1617  revenue rank:  605
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  3901.73  transaction rank:  1617  revenue rank:  611
cashier name:  Walters Jay  transaction count:  5  total revenue:  3877.15  transaction rank:  1617  revenue rank:  623
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  3858.73  transaction rank:  1617  revenue rank:  632
cashier name:  Roach Christine  transaction count:  5  total revenue:  3855.43  transaction rank:  1617  revenue rank:  634
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  3816.28  transaction rank:  1617  revenue rank:  655
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  3813.17  transaction rank:  1617  revenue rank:  657
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  3787.95  transaction rank:  1617  revenue rank:  667
cashier name:  Wells Monica  transaction count:  5  total revenue:  3783.61  transaction rank:  1617  revenue rank:  670
cashier name:  Jackson Gary  transaction count:  5  total revenue:  3770.65  transaction rank:  1617  revenue rank:  673
cashier name:  Tate Harry  transaction count:  5  total revenue:  3766.55  transaction rank:  1617  revenue rank:  675
cashier name:  Roach Christine  transaction count:  5  total revenue:  3748.20  transaction rank:  1617  revenue rank:  683
cashier name:  Hayes Brandon  transaction count:  5  total revenue:  3744.99  transaction rank:  1617  revenue rank:  686
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  3741.38  transaction rank:  1617  revenue rank:  688
cashier name:  Harrell Angie  transaction count:  5  total revenue:  3687.17  transaction rank:  1617  revenue rank:  716
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  3685.17  transaction rank:  1617  revenue rank:  719
cashier name:  Hull Shane  transaction count:  5  total revenue:  3676.17  transaction rank:  1617  revenue rank:  726
cashier name:  Gardner Laura  transaction count:  5  total revenue:  3671.91  transaction rank:  1617  revenue rank:  729
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  3636.78  transaction rank:  1617  revenue rank:  741
cashier name:  Love Thomas  transaction count:  5  total revenue:  3633.54  transaction rank:  1617  revenue rank:  743
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  3631.45  transaction rank:  1617  revenue rank:  744
cashier name:  Smith Brandy  transaction count:  5  total revenue:  3595.52  transaction rank:  1617  revenue rank:  764
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  3593.98  transaction rank:  1617  revenue rank:  765
cashier name:  Bryan Mr.  transaction count:  5  total revenue:  3586.61  transaction rank:  1617  revenue rank:  768

cashier name:  Perry Andrea  transaction count:  5  total revenue:  3580.26  transaction rank:  1617  revenue rank:  773
cashier name:  Kerr Jason  transaction count:  5  total revenue:  3569.42  transaction rank:  1617  revenue rank:  779
cashier name:  Nichols Mitchell  transaction count:  5  total revenue:  3545.33  transaction rank:  1617  revenue rank:  792
cashier name:  Smith Brandy  transaction count:  5  total revenue:  3537.68  transaction rank:  1617  revenue rank:  794
cashier name:  Roach Christine  transaction count:  5  total revenue:  3485.93  transaction rank:  1617  revenue rank:  822
cashier name:  Hernandez Michael  transaction count:  5  total revenue:  3468.17  transaction rank:  1617  revenue rank:  836
cashier name:  Thompson Matthew  transaction count:  5  total revenue:  3449.59  transaction rank:  1617  revenue rank:  842
cashier name:  Thomas Robert  transaction count:  5  total revenue:  3448.94  transaction rank:  1617  revenue rank:  844
cashier name:  Myers Gary  transaction count:  5  total revenue:  3441.05  transaction rank:  1617  revenue rank:  849
cashier name:  Jones Michael  transaction count:  5  total revenue:  3435.35  transaction rank:  1617  revenue rank:  855
cashier name:  Horton Mark  transaction count:  5  total revenue:  3422.78  transaction rank:  1617  revenue rank:  863
cashier name:  Manning Maria  transaction count:  5  total revenue:  3414.01  transaction rank:  1617  revenue rank:  867
cashier name:  Payne Samantha  transaction count:  5  total revenue:  3397.84  transaction rank:  1617  revenue rank:  876
cashier name:  Horton Ashley  transaction count:  5  total revenue:  3375.79  transaction rank:  1617  revenue rank:  898
cashier name:  Chambers Jeffrey  transaction count:  5  total revenue:  3353.10  transaction rank:  1617  revenue rank:  907
cashier name:  Moon James  transaction count:  5  total revenue:  3344.12  transaction rank:  1617  revenue rank:  915
cashier name:  Sean Mr.  transaction count:  5  total revenue:  3337.58  transaction rank:  1617  revenue rank:  917
cashier name:  Manning Maria  transaction count:  5  total revenue:  3334.97  transaction rank:  1617  revenue rank:  922
cashier name:  Chen Kathleen  transaction count:  5  total revenue:  3318.34  transaction rank:  1617  revenue rank:  928
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  3306.85  transaction rank:  1617  revenue rank:  933
cashier name:  Wilson Jill  transaction count:  5  total revenue:  3300.66  transaction rank:  1617  revenue rank:  938
cashier name:  Thomas Robert  transaction count:  5  total revenue:  3289.69  transaction rank:  1617  revenue rank:  943
cashier name:  Sean Mr.  transaction count:  5  total revenue:  3280.65  transaction rank:  1617  revenue rank:  946
cashier name:  Bennett Alec  transaction count:  5  total revenue:  3277.92  transaction rank:  1617  revenue rank:  948
cashier name:  Horton Mark  transaction count:  5  total revenue:  3271.45  transaction rank:  1617  revenue rank:  952
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  3267.54  transaction rank:  1617  revenue rank:  956
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  3249.23  transaction rank:  1617  revenue rank:  965
cashier name:  Church Joshua  transaction count:  5  total revenue:  3239.69  transaction rank:  1617  revenue rank:  976
cashier name:  Conrad Frederick  transaction count:  5  total revenue:  3238.64  transaction rank:  1617  revenue rank:  977
cashier name:  Ellis Lauren  transaction count:  5  total revenue:  3238.16  transaction rank:  1617  revenue rank:  978
cashier name:  Horton Mark  transaction count:  5  total revenue:  3233.54  transaction rank:  1617  revenue rank:  981
cashier name:  Hughes Christopher  transaction count:  5  total revenue:  3233.04  transaction rank:  1617  revenue rank:  982
cashier name:  Walls Kristen  transaction count:  5  total revenue:  3225.99  transaction rank:  1617  revenue rank:  991
cashier name:  Kerr Jason  transaction count:  5  total revenue:  3219.72  transaction rank:  1617  revenue rank:  999
cashier name:  Woods Marcus  transaction count:  5  total revenue:  3217.76  transaction rank:  1617  revenue rank:  1000
cashier name:  Foster Jennifer  transaction count:  5  total revenue:  3211.70  transaction rank:  1617  revenue rank:  1003
cashier name:  Conrad Frederick  transaction count:  5  total revenue:  3195.48  transaction rank:  1617  revenue rank:  1014
cashier name:  Terri Mrs.  transaction count:  5  total revenue:  3191.86  transaction rank:  1617  revenue rank:  1016
cashier name:  Day Natasha  transaction count:  5  total revenue:  3188.38  transaction rank:  1617  revenue rank:  1019
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  3184.08  transaction rank:  1617  revenue rank:  1021
cashier name:  Perry Andrea  transaction count:  5  total revenue:  3177.50  transaction rank:  1617  revenue rank:  1022
cashier name:  Meyer James  transaction count:  5  total revenue:  3155.49  transaction rank:  1617  revenue rank:  1037
cashier name:  Dodson Courtney  transaction count:  5  total revenue:  3152.72  transaction rank:  1617  revenue rank:  1041
cashier name:  Hayes Brandon  transaction count:  5  total revenue:  3140.41  transaction rank:  1617  revenue rank:  1052
cashier name:  Carter Karen  transaction count:  5  total revenue:  3138.89  transaction rank:  1617  revenue rank:  1053
cashier name:  Golden Laurie  transaction count:  5  total revenue:  3130.15  transaction rank:  1617  revenue rank:  1062
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  3121.53  transaction rank:  1617  revenue rank:  1065
cashier name:  Owens Jeffrey  transaction count:  5  total revenue:  3116.62  transaction rank:  1617  revenue rank:  1069
cashier name:  Jackson Michael  transaction count:  5  total revenue:  3113.83  transaction rank:  1617  revenue rank:  1073
cashier name:  Manning Maria  transaction count:  5  total revenue:  3109.60  transaction rank:  1617  revenue rank:  1079
cashier name:  Hughes Christopher  transaction count:  5  total revenue:  3101.06  transaction rank:  1617  revenue rank:  1081
cashier name:  Blanchard Ricky  transaction count:  5  total revenue:  3093.96  transaction rank:  1617  revenue rank:  1088
cashier name:  Durham Denise  transaction count:  5  total revenue:  3090.92  transaction rank:  1617  revenue rank:  1091
cashier name:  Meyer James  transaction count:  5  total revenue:  3090.73  transaction rank:  1617  revenue rank:  1092
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  3086.62  transaction rank:  1617  revenue rank:  1097
cashier name:  Payne Samantha  transaction count:  5  total revenue:  3081.37  transaction rank:  1617  revenue rank:  1100
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  3079.62  transaction rank:  1617  revenue rank:  1101
cashier name:  Tate Harry  transaction count:  5  total revenue:  3070.50  transaction rank:  1617  revenue rank:  1105
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  3063.98  transaction rank:  1617  revenue rank:  1109
cashier name:  Bennett Alec  transaction count:  5  total revenue:  3053.10  transaction rank:  1617  revenue rank:  1123
cashier name:  Harrell Angie  transaction count:  5  total revenue:  3044.53  transaction rank:  1617  revenue rank:  1132
cashier name:  Wells Monica  transaction count:  5  total revenue:  3037.36  transaction rank:  1617  revenue rank:  1136
cashier name:  Mckenzie William  transaction count:  5  total revenue:  3031.80  transaction rank:  1617  revenue rank:  1140
cashier name:  Manning Maria  transaction count:  5  total revenue:  3030.72  transaction rank:  1617  revenue rank:  1143
cashier name:  Walls Kristen  transaction count:  5  total revenue:  3030.22  transaction rank:  1617  revenue rank:  1144
cashier name:  Nguyen Richard  transaction count:  5  total revenue:  3029.34  transaction rank:  1617  revenue rank:  1146
cashier name:  Horton Mark  transaction count:  5  total revenue:  3018.51  transaction rank:  1617  revenue rank:  1154
cashier name:  Eric Mr.  transaction count:  5  total revenue:  3012.61  transaction rank:  1617  revenue rank:  1157
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  3007.39  transaction rank:  1617  revenue rank:  1160
cashier name:  Hernandez Michael  transaction count:  5  total revenue:  2995.90  transaction rank:  1617  revenue rank:  1169
cashier name:  Moon James  transaction count:  5  total revenue:  2985.17  transaction rank:  1617  revenue rank:  1178
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  2976.54  transaction rank:  1617  revenue rank:  1184
cashier name:  Moyer Steven  transaction count:  5  total revenue:  2961.22  transaction rank:  1617  revenue rank:  1196
cashier name:  Wood Joshua  transaction count:  5  total revenue:  2950.21  transaction rank:  1617  revenue rank:  1204
cashier name:  Terri Mrs.  transaction count:  5  total revenue:  2948.60  transaction rank:  1617  revenue rank:  1209
cashier name:  Thomas Robert  transaction count:  5  total revenue:  2948.32  transaction rank:  1617  revenue rank:  1210
cashier name:  Harrell Angie  transaction count:  5  total revenue:  2948.08  transaction rank:  1617  revenue rank:  1211
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  2947.58  transaction rank:  1617  revenue rank:  1214
cashier name:  Wilson Jill  transaction count:  5  total revenue:  2940.60  transaction rank:  1617  revenue rank:  1221
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  2938.83  transaction rank:  1617  revenue rank:  1226
cashier name:  Waters Julie  transaction count:  5  total revenue:  2938.33  transaction rank:  1617  revenue rank:  1227
cashier name:  Carroll Eric  transaction count:  5  total revenue:  2936.42  transaction rank:  1617  revenue rank:  1230
cashier name:  Tate Harry  transaction count:  5  total revenue:  2934.80  transaction rank:  1617  revenue rank:  1231
cashier name:  Wood Joshua  transaction count:  5  total revenue:  2934.11  transaction rank:  1617  revenue rank:  1232
cashier name:  Durham Denise  transaction count:  5  total revenue:  2917.25  transaction rank:  1617  revenue rank:  1242
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2917.14  transaction rank:  1617  revenue rank:  1243
cashier name:  Glover Michelle  transaction count:  5  total revenue:  2913.87  transaction rank:  1617  revenue rank:  1247
cashier name:  Carroll Eric  transaction count:  5  total revenue:  2908.71  transaction rank:  1617  revenue rank:  1250
cashier name:  Blanchard Ricky  transaction count:  5  total revenue:  2907.43  transaction rank:  1617  revenue rank:  1253
cashier name:  Waters Julie  transaction count:  5  total revenue:  2895.98  transaction rank:  1617  revenue rank:  1265
cashier name:  Long Kirsten  transaction count:  5  total revenue:  2891.87  transaction rank:  1617  revenue rank:  1272
cashier name:  Carroll Eric  transaction count:  5  total revenue:  2890.00  transaction rank:  1617  revenue rank:  1274
cashier name:  Foster Jennifer  transaction count:  5  total revenue:  2878.18  transaction rank:  1617  revenue rank:  1287
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  2877.45  transaction rank:  1617  revenue rank:  1288
cashier name:  Jordan Carla  transaction count:  5  total revenue:  2873.86  transaction rank:  1617  revenue rank:  1291
cashier name:  Golden Laurie  transaction count:  5  total revenue:  2867.90  transaction rank:  1617  revenue rank:  1295
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  2856.50  transaction rank:  1617  revenue rank:  1310
cashier name:  Horton Ashley  transaction count:  5  total revenue:  2845.45  transaction rank:  1617  revenue rank:  1322
cashier name:  Blanchard Ricky  transaction count:  5  total revenue:  2841.88  transaction rank:  1617  revenue rank:  1324
cashier name:  Moore Jason  transaction count:  5  total revenue:  2841.00  transaction rank:  1617  revenue rank:  1325
cashier name:  Sosa David  transaction count:  5  total revenue:  2839.32  transaction rank:  1617  revenue rank:  1326
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  2838.17  transaction rank:  1617  revenue rank:  1329
cashier name:  Owens Jeffrey  transaction count:  5  total revenue:  2829.72  transaction rank:  1617  revenue rank:  1334
cashier name:  Thomas Robert  transaction count:  5  total revenue:  2829.30  transaction rank:  1617  revenue rank:  1336
cashier name:  Torres Steven  transaction count:  5  total revenue:  2829.19  transaction rank:  1617  revenue rank:  1337
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2824.41  transaction rank:  1617  revenue rank:  1340
cashier name:  Harrell Angie  transaction count:  5  total revenue:  2814.89  transaction rank:  1617  revenue rank:  1345
cashier name:  Long Kirsten  transaction count:  5  total revenue:  2796.56  transaction rank:  1617  revenue rank:  1357
cashier name:  Meyer James  transaction count:  5  total revenue:  2796.46  transaction rank:  1617  revenue rank:  1358
cashier name:  Walls Kristen  transaction count:  5  total revenue:  2795.47  transaction rank:  1617  revenue rank:  1359
cashier name:  Burns Kendra  transaction count:  5  total revenue:  2787.76  transaction rank:  1617  revenue rank:  1364
cashier name:  Myers Gary  transaction count:  5  total revenue:  2786.14  transaction rank:  1617  revenue rank:  1366
cashier name:  Manning Maria  transaction count:  5  total revenue:  2783.09  transaction rank:  1617  revenue rank:  1368
cashier name:  Wilson Jill  transaction count:  5  total revenue:  2781.83  transaction rank:  1617  revenue rank:  1370
cashier name:  Bennett Alec  transaction count:  5  total revenue:  2773.39  transaction rank:  1617  revenue rank:  1377
cashier name:  Jones Michael  transaction count:  5  total revenue:  2759.76  transaction rank:  1617  revenue rank:  1390
cashier name:  Brooks Renee  transaction count:  5  total revenue:  2754.56  transaction rank:  1617  revenue rank:  1396
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  2750.73  transaction rank:  1617  revenue rank:  1400
cashier name:  Thompson Matthew  transaction count:  5  total revenue:  2750.17  transaction rank:  1617  revenue rank:  1401
cashier name:  Kerr Jason  transaction count:  5  total revenue:  2747.73  transaction rank:  1617  revenue rank:  1405
cashier name:  Frederick Evan  transaction count:  5  total revenue:  2743.89  transaction rank:  1617  revenue rank:  1409
cashier name:  Nguyen Richard  transaction count:  5  total revenue:  2742.17  transaction rank:  1617  revenue rank:  1412
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  2735.67  transaction rank:  1617  revenue rank:  1417
cashier name:  Williams Michael  transaction count:  5  total revenue:  2713.62  transaction rank:  1617  revenue rank:  1441
cashier name:  Long Kirsten  transaction count:  5  total revenue:  2713.12  transaction rank:  1617  revenue rank:  1442
cashier name:  Thompson Andrea  transaction count:  5  total revenue:  2708.92  transaction rank:  1617  revenue rank:  1443
cashier name:  Randolph Emily  transaction count:  5  total revenue:  2704.17  transaction rank:  1617  revenue rank:  1448
cashier name:  Tate Harry  transaction count:  5  total revenue:  2699.79  transaction rank:  1617  revenue rank:  1452
cashier name:  Shah Amanda  transaction count:  5  total revenue:  2698.25  transaction rank:  1617  revenue rank:  1456
cashier name:  Smith Brandy  transaction count:  5  total revenue:  2693.35  transaction rank:  1617  revenue rank:  1461
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  2691.54  transaction rank:  1617  revenue rank:  1463
cashier name:  Smith Brandy  transaction count:  5  total revenue:  2688.18  transaction rank:  1617  revenue rank:  1466
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  2671.38  transaction rank:  1617  revenue rank:  1479
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  2670.36  transaction rank:  1617  revenue rank:  1480
cashier name:  Manning Maria  transaction count:  5  total revenue:  2668.08  transaction rank:  1617  revenue rank:  1481
cashier name:  White Kenneth  transaction count:  5  total revenue:  2631.04  transaction rank:  1617  revenue rank:  1508
cashier name:  Long Kirsten  transaction count:  5  total revenue:  2630.44  transaction rank:  1617  revenue rank:  1509
cashier name:  Williams Michael  transaction count:  5  total revenue:  2627.69  transaction rank:  1617  revenue rank:  1511
cashier name:  Moyer Steven  transaction count:  5  total revenue:  2626.78  transaction rank:  1617  revenue rank:  1513
cashier name:  Galvan Lori  transaction count:  5  total revenue:  2623.87  transaction rank:  1617  revenue rank:  1517
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  2620.04  transaction rank:  1617  revenue rank:  1520
cashier name:  Myers Gary  transaction count:  5  total revenue:  2614.00  transaction rank:  1617  revenue rank:  1527
cashier name:  Kramer Veronica  transaction count:  5  total revenue:  2609.64  transaction rank:  1617  revenue rank:  1531
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  2606.14  transaction rank:  1617  revenue rank:  1536
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  2601.62  transaction rank:  1617  revenue rank:  1541
cashier name:  Smith Diana  transaction count:  5  total revenue:  2600.62  transaction rank:  1617  revenue rank:  1543
cashier name:  Torres Steven  transaction count:  5  total revenue:  2596.90  transaction rank:  1617  revenue rank:  1548
cashier name:  Gross Andrew  transaction count:  5  total revenue:  2593.71  transaction rank:  1617  revenue rank:  1552
cashier name:  Moore Jason  transaction count:  5  total revenue:  2585.88  transaction rank:  1617  revenue rank:  1556
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2581.17  transaction rank:  1617  revenue rank:  1561
cashier name:  Glover Michelle  transaction count:  5  total revenue:  2577.34  transaction rank:  1617  revenue rank:  1564
cashier name:  Payne Samantha  transaction count:  5  total revenue:  2566.52  transaction rank:  1617  revenue rank:  1571
cashier name:  Perry Andrea  transaction count:  5  total revenue:  2565.52  transaction rank:  1617  revenue rank:  1572
cashier name:  Shah Amanda  transaction count:  5  total revenue:  2564.93  transaction rank:  1617  revenue rank:  1573
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  2563.63  transaction rank:  1617  revenue rank:  1575
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  2554.97  transaction rank:  1617  revenue rank:  1588
cashier name:  Gross Andrew  transaction count:  5  total revenue:  2553.42  transaction rank:  1617  revenue rank:  1591
cashier name:  Brooks Renee  transaction count:  5  total revenue:  2549.36  transaction rank:  1617  revenue rank:  1594
cashier name:  Dodson Courtney  transaction count:  5  total revenue:  2548.79  transaction rank:  1617  revenue rank:  1595
cashier name:  Horton Ashley  transaction count:  5  total revenue:  2547.18  transaction rank:  1617  revenue rank:  1597
cashier name:  Gross Andrew  transaction count:  5  total revenue:  2541.64  transaction rank:  1617  revenue rank:  1603
cashier name:  Roach Christine  transaction count:  5  total revenue:  2540.46  transaction rank:  1617  revenue rank:  1606
cashier name:  Glover Michelle  transaction count:  5  total revenue:  2528.69  transaction rank:  1617  revenue rank:  1617

cashier name:  Hull Shane  transaction count:  5  total revenue:  2523.86  transaction rank:  1617  revenue rank:  1625
cashier name:  Smith Diana  transaction count:  5  total revenue:  2512.46  transaction rank:  1617  revenue rank:  1632
cashier name:  Wells Monica  transaction count:  5  total revenue:  2498.04  transaction rank:  1617  revenue rank:  1647
cashier name:  Myers Gary  transaction count:  5  total revenue:  2492.24  transaction rank:  1617  revenue rank:  1653
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  2483.29  transaction rank:  1617  revenue rank:  1664
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  2481.90  transaction rank:  1617  revenue rank:  1665
cashier name:  Gross Andrew  transaction count:  5  total revenue:  2472.00  transaction rank:  1617  revenue rank:  1673
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  2463.78  transaction rank:  1617  revenue rank:  1681
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  2452.94  transaction rank:  1617  revenue rank:  1687
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  2443.99  transaction rank:  1617  revenue rank:  1694
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  2443.72  transaction rank:  1617  revenue rank:  1695
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  2438.62  transaction rank:  1617  revenue rank:  1702
cashier name:  Nichols Mitchell  transaction count:  5  total revenue:  2428.83  transaction rank:  1617  revenue rank:  1709
cashier name:  Burns Kendra  transaction count:  5  total revenue:  2428.23  transaction rank:  1617  revenue rank:  1710
cashier name:  Martin Monica  transaction count:  5  total revenue:  2426.58  transaction rank:  1617  revenue rank:  1711
cashier name:  Galvan Lori  transaction count:  5  total revenue:  2423.94  transaction rank:  1617  revenue rank:  1713
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  2423.88  transaction rank:  1617  revenue rank:  1714
cashier name:  White Kenneth  transaction count:  5  total revenue:  2417.25  transaction rank:  1617  revenue rank:  1726
cashier name:  Werner Kara  transaction count:  5  total revenue:  2409.28  transaction rank:  1617  revenue rank:  1735
cashier name:  Thompson Matthew  transaction count:  5  total revenue:  2407.16  transaction rank:  1617  revenue rank:  1737
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  2390.68  transaction rank:  1617  revenue rank:  1750
cashier name:  Perry Andrea  transaction count:  5  total revenue:  2389.76  transaction rank:  1617  revenue rank:  1751
cashier name:  Werner Kara  transaction count:  5  total revenue:  2385.75  transaction rank:  1617  revenue rank:  1757
cashier name:  Glover Michelle  transaction count:  5  total revenue:  2378.28  transaction rank:  1617  revenue rank:  1761
cashier name:  Moon James  transaction count:  5  total revenue:  2375.09  transaction rank:  1617  revenue rank:  1764
cashier name:  Jacobs Brenda  transaction count:  5  total revenue:  2374.83  transaction rank:  1617  revenue rank:  1765
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  2374.50  transaction rank:  1617  revenue rank:  1766
cashier name:  Kerr Jason  transaction count:  5  total revenue:  2372.48  transaction rank:  1617  revenue rank:  1769
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  2370.62  transaction rank:  1617  revenue rank:  1770
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  2368.75  transaction rank:  1617  revenue rank:  1773
cashier name:  Meyer James  transaction count:  5  total revenue:  2365.31  transaction rank:  1617  revenue rank:  1776
cashier name:  Tate Harry  transaction count:  5  total revenue:  2358.41  transaction rank:  1617  revenue rank:  1783
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  2358.29  transaction rank:  1617  revenue rank:  1784
cashier name:  Shah Amanda  transaction count:  5  total revenue:  2353.15  transaction rank:  1617  revenue rank:  1788
cashier name:  Bryan Mr.  transaction count:  5  total revenue:  2351.39  transaction rank:  1617  revenue rank:  1791
cashier name:  Sosa David  transaction count:  5  total revenue:  2347.52  transaction rank:  1617  revenue rank:  1800
cashier name:  Bradley Rita  transaction count:  5  total revenue:  2344.86  transaction rank:  1617  revenue rank:  1801
cashier name:  Rogers Mark  transaction count:  5  total revenue:  2340.80  transaction rank:  1617  revenue rank:  1807
cashier name:  Spears Erin  transaction count:  5  total revenue:  2340.11  transaction rank:  1617  revenue rank:  1808
cashier name:  Chen Kathleen  transaction count:  5  total revenue:  2337.81  transaction rank:  1617  revenue rank:  1811
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  2334.83  transaction rank:  1617  revenue rank:  1812
cashier name:  Bradley Rita  transaction count:  5  total revenue:  2334.24  transaction rank:  1617  revenue rank:  1814
cashier name:  Spears Erin  transaction count:  5  total revenue:  2326.64  transaction rank:  1617  revenue rank:  1820
cashier name:  Hughes Christopher  transaction count:  5  total revenue:  2314.42  transaction rank:  1617  revenue rank:  1829
cashier name:  Blanchard Ricky  transaction count:  5  total revenue:  2311.68  transaction rank:  1617  revenue rank:  1834
cashier name:  Harrell Angie  transaction count:  5  total revenue:  2309.72  transaction rank:  1617  revenue rank:  1838
cashier name:  Church Joshua  transaction count:  5  total revenue:  2307.76  transaction rank:  1617  revenue rank:  1839
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  2302.26  transaction rank:  1617  revenue rank:  1847
cashier name:  Dodson Courtney  transaction count:  5  total revenue:  2297.80  transaction rank:  1617  revenue rank:  1854
cashier name:  Riley Ashley  transaction count:  5  total revenue:  2292.24  transaction rank:  1617  revenue rank:  1860
cashier name:  Warren Timothy  transaction count:  5  total revenue:  2291.29  transaction rank:  1617  revenue rank:  1862
cashier name:  Walls Kristen  transaction count:  5  total revenue:  2291.16  transaction rank:  1617  revenue rank:  1864
cashier name:  Williams Michael  transaction count:  5  total revenue:  2286.28  transaction rank:  1617  revenue rank:  1870
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2284.30  transaction rank:  1617  revenue rank:  1873
cashier name:  Brooks Renee  transaction count:  5  total revenue:  2283.25  transaction rank:  1617  revenue rank:  1875
cashier name:  Frederick Evan  transaction count:  5  total revenue:  2282.44  transaction rank:  1617  revenue rank:  1876
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  2281.12  transaction rank:  1617  revenue rank:  1877
cashier name:  Walls Kristen  transaction count:  5  total revenue:  2279.44  transaction rank:  1617  revenue rank:  1878
cashier name:  Hull Shane  transaction count:  5  total revenue:  2276.84  transaction rank:  1617  revenue rank:  1879
cashier name:  Owens Jeffrey  transaction count:  5  total revenue:  2275.94  transaction rank:  1617  revenue rank:  1881
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  2275.90  transaction rank:  1617  revenue rank:  1882
cashier name:  White Kenneth  transaction count:  5  total revenue:  2272.49  transaction rank:  1617  revenue rank:  1884
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  2269.40  transaction rank:  1617  revenue rank:  1888
cashier name:  Horton Ashley  transaction count:  5  total revenue:  2268.44  transaction rank:  1617  revenue rank:  1890
cashier name:  Jackson Michael  transaction count:  5  total revenue:  2267.64  transaction rank:  1617  revenue rank:  1891
cashier name:  Bradley Rita  transaction count:  5  total revenue:  2266.20  transaction rank:  1617  revenue rank:  1892
cashier name:  Gonzalez Michele  transaction count:  5  total revenue:  2265.69  transaction rank:  1617  revenue rank:  1894
cashier name:  Alvarez Brenda  transaction count:  5  total revenue:  2262.72  transaction rank:  1617  revenue rank:  1895
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  2262.15  transaction rank:  1617  revenue rank:  1896
cashier name:  Owens Jeffrey  transaction count:  5  total revenue:  2255.48  transaction rank:  1617  revenue rank:  1901
cashier name:  Wilson Jill  transaction count:  5  total revenue:  2252.79  transaction rank:  1617  revenue rank:  1903
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  2248.06  transaction rank:  1617  revenue rank:  1907
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2235.76  transaction rank:  1617  revenue rank:  1912
cashier name:  Dodson Courtney  transaction count:  5  total revenue:  2235.15  transaction rank:  1617  revenue rank:  1913
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  2227.34  transaction rank:  1617  revenue rank:  1920
cashier name:  Walters Jay  transaction count:  5  total revenue:  2224.24  transaction rank:  1617  revenue rank:  1923
cashier name:  Chen Kathleen  transaction count:  5  total revenue:  2223.40  transaction rank:  1617  revenue rank:  1924
cashier name:  Walls Kristen  transaction count:  5  total revenue:  2222.66  transaction rank:  1617  revenue rank:  1925
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  2220.08  transaction rank:  1617  revenue rank:  1930
cashier name:  Sean Mr.  transaction count:  5  total revenue:  2218.50  transaction rank:  1617  revenue rank:  1934
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2213.62  transaction rank:  1617  revenue rank:  1939
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  2206.32  transaction rank:  1617  revenue rank:  1946
cashier name:  Woods Marcus  transaction count:  5  total revenue:  2204.79  transaction rank:  1617  revenue rank:  1950
cashier name:  Gonzalez Michele  transaction count:  5  total revenue:  2188.94  transaction rank:  1617  revenue rank:  1965
cashier name:  Chambers Jeffrey  transaction count:  5  total revenue:  2188.72  transaction rank:  1617  revenue rank:  1966
cashier name:  Golden Laurie  transaction count:  5  total revenue:  2181.09  transaction rank:  1617  revenue rank:  1971
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  2175.72  transaction rank:  1617  revenue rank:  1976
cashier name:  Waters Julie  transaction count:  5  total revenue:  2169.98  transaction rank:  1617  revenue rank:  1984
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  2162.07  transaction rank:  1617  revenue rank:  1989
cashier name:  Smith Diana  transaction count:  5  total revenue:  2159.08  transaction rank:  1617  revenue rank:  1991
cashier name:  Wells Monica  transaction count:  5  total revenue:  2157.38  transaction rank:  1617  revenue rank:  1993
cashier name:  Chen Kathleen  transaction count:  5  total revenue:  2156.21  transaction rank:  1617  revenue rank:  1996
cashier name:  Eric Mr.  transaction count:  5  total revenue:  2156.15  transaction rank:  1617  revenue rank:  1997
cashier name:  Wood Joshua  transaction count:  5  total revenue:  2156.12  transaction rank:  1617  revenue rank:  1998
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  2153.27  transaction rank:  1617  revenue rank:  2000
cashier name:  Riley Ashley  transaction count:  5  total revenue:  2152.26  transaction rank:  1617  revenue rank:  2001
cashier name:  Riley Ashley  transaction count:  5  total revenue:  2147.32  transaction rank:  1617  revenue rank:  2006
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  2130.35  transaction rank:  1617  revenue rank:  2018
cashier name:  Perry Andrea  transaction count:  5  total revenue:  2128.40  transaction rank:  1617  revenue rank:  2020
cashier name:  Shah Amanda  transaction count:  5  total revenue:  2127.39  transaction rank:  1617  revenue rank:  2022
cashier name:  Church Joshua  transaction count:  5  total revenue:  2126.30  transaction rank:  1617  revenue rank:  2024
cashier name:  Burns Kendra  transaction count:  5  total revenue:  2112.04  transaction rank:  1617  revenue rank:  2044
cashier name:  Moore Jason  transaction count:  5  total revenue:  2110.87  transaction rank:  1617  revenue rank:  2047
cashier name:  Randolph Emily  transaction count:  5  total revenue:  2110.11  transaction rank:  1617  revenue rank:  2048
cashier name:  Brooks Renee  transaction count:  5  total revenue:  2108.50  transaction rank:  1617  revenue rank:  2052
cashier name:  Warren Timothy  transaction count:  5  total revenue:  2106.59  transaction rank:  1617  revenue rank:  2056
cashier name:  Walls Kristen  transaction count:  5  total revenue:  2101.66  transaction rank:  1617  revenue rank:  2058
cashier name:  Burns Kendra  transaction count:  5  total revenue:  2099.41  transaction rank:  1617  revenue rank:  2060
cashier name:  Gross Andrew  transaction count:  5  total revenue:  2092.66  transaction rank:  1617  revenue rank:  2064
cashier name:  Hull Shane  transaction count:  5  total revenue:  2091.59  transaction rank:  1617  revenue rank:  2066
cashier name:  Harrell Angie  transaction count:  5  total revenue:  2090.10  transaction rank:  1617  revenue rank:  2068
cashier name:  Bennett Alec  transaction count:  5  total revenue:  2084.37  transaction rank:  1617  revenue rank:  2078
cashier name:  Hull Shane  transaction count:  5  total revenue:  2082.78  transaction rank:  1617  revenue rank:  2081
cashier name:  Martin Monica  transaction count:  5  total revenue:  2069.30  transaction rank:  1617  revenue rank:  2103
cashier name:  Torres Steven  transaction count:  5  total revenue:  2066.74  transaction rank:  1617  revenue rank:  2104
cashier name:  Brooks Renee  transaction count:  5  total revenue:  2063.19  transaction rank:  1617  revenue rank:  2108
cashier name:  Jordan Carla  transaction count:  5  total revenue:  2056.06  transaction rank:  1617  revenue rank:  2112
cashier name:  Roach Christine  transaction count:  5  total revenue:  2056.05  transaction rank:  1617  revenue rank:  2113
cashier name:  Walters Jay  transaction count:  5  total revenue:  2055.72  transaction rank:  1617  revenue rank:  2114
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  2052.01  transaction rank:  1617  revenue rank:  2116
cashier name:  Shah Amanda  transaction count:  5  total revenue:  2051.53  transaction rank:  1617  revenue rank:  2118
cashier name:  Church Joshua  transaction count:  5  total revenue:  2049.49  transaction rank:  1617  revenue rank:  2121
cashier name:  Love Thomas  transaction count:  5  total revenue:  2047.88  transaction rank:  1617  revenue rank:  2124
cashier name:  Wood Joshua  transaction count:  5  total revenue:  2042.76  transaction rank:  1617  revenue rank:  2134
cashier name:  Church Joshua  transaction count:  5  total revenue:  2038.90  transaction rank:  1617  revenue rank:  2139
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  2029.62  transaction rank:  1617  revenue rank:  2151
cashier name:  Hull Shane  transaction count:  5  total revenue:  2026.00  transaction rank:  1617  revenue rank:  2155
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  2024.71  transaction rank:  1617  revenue rank:  2156
cashier name:  Thomas Robert  transaction count:  5  total revenue:  2023.83  transaction rank:  1617  revenue rank:  2158
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  2020.64  transaction rank:  1617  revenue rank:  2161
cashier name:  Warren Timothy  transaction count:  5  total revenue:  2020.48  transaction rank:  1617  revenue rank:  2162
cashier name:  Riley Ashley  transaction count:  5  total revenue:  2018.06  transaction rank:  1617  revenue rank:  2166
cashier name:  Mckenzie William  transaction count:  5  total revenue:  2011.47  transaction rank:  1617  revenue rank:  2175
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  2002.31  transaction rank:  1617  revenue rank:  2182
cashier name:  Golden Laurie  transaction count:  5  total revenue:  1997.94  transaction rank:  1617  revenue rank:  2184
cashier name:  Golden Laurie  transaction count:  5  total revenue:  1995.54  transaction rank:  1617  revenue rank:  2189

cashier name:  Eric Mr.  transaction count:  5  total revenue:  1994.83  transaction rank:  1617  revenue rank:  2190
cashier name:  Galvan Lori  transaction count:  5  total revenue:  1991.59  transaction rank:  1617  revenue rank:  2192
cashier name:  Durham Denise  transaction count:  5  total revenue:  1991.13  transaction rank:  1617  revenue rank:  2194
cashier name:  Brooks Renee  transaction count:  5  total revenue:  1990.71  transaction rank:  1617  revenue rank:  2195
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  1983.25  transaction rank:  1617  revenue rank:  2199
cashier name:  Moyer Steven  transaction count:  5  total revenue:  1979.24  transaction rank:  1617  revenue rank:  2202
cashier name:  Walters Jay  transaction count:  5  total revenue:  1978.95  transaction rank:  1617  revenue rank:  2204
cashier name:  Conrad Frederick  transaction count:  5  total revenue:  1974.98  transaction rank:  1617  revenue rank:  2210
cashier name:  Walters Jay  transaction count:  5  total revenue:  1973.80  transaction rank:  1617  revenue rank:  2212
cashier name:  Torres Steven  transaction count:  5  total revenue:  1967.35  transaction rank:  1617  revenue rank:  2222
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  1966.77  transaction rank:  1617  revenue rank:  2224
cashier name:  Waters Julie  transaction count:  5  total revenue:  1951.91  transaction rank:  1617  revenue rank:  2238
cashier name:  Love Thomas  transaction count:  5  total revenue:  1949.32  transaction rank:  1617  revenue rank:  2242
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  1944.46  transaction rank:  1617  revenue rank:  2248
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  1943.63  transaction rank:  1617  revenue rank:  2249
cashier name:  Horton Ashley  transaction count:  5  total revenue:  1937.27  transaction rank:  1617  revenue rank:  2256
cashier name:  Bennett Alec  transaction count:  5  total revenue:  1935.11  transaction rank:  1617  revenue rank:  2259
cashier name:  Jackson Michael  transaction count:  5  total revenue:  1931.54  transaction rank:  1617  revenue rank:  2262
cashier name:  Thomas Robert  transaction count:  5  total revenue:  1929.78  transaction rank:  1617  revenue rank:  2264
cashier name:  Gonzalez Michele  transaction count:  5  total revenue:  1929.36  transaction rank:  1617  revenue rank:  2265
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1927.43  transaction rank:  1617  revenue rank:  2269
cashier name:  Randolph Emily  transaction count:  5  total revenue:  1924.61  transaction rank:  1617  revenue rank:  2271
cashier name:  Myers Gary  transaction count:  5  total revenue:  1924.25  transaction rank:  1617  revenue rank:  2272
cashier name:  Horton Mark  transaction count:  5  total revenue:  1922.11  transaction rank:  1617  revenue rank:  2275
cashier name:  Payne Samantha  transaction count:  5  total revenue:  1921.92  transaction rank:  1617  revenue rank:  2276
cashier name:  Shah Amanda  transaction count:  5  total revenue:  1911.20  transaction rank:  1617  revenue rank:  2285
cashier name:  Galvan Lori  transaction count:  5  total revenue:  1908.34  transaction rank:  1617  revenue rank:  2287
cashier name:  Smith Brandy  transaction count:  5  total revenue:  1903.60  transaction rank:  1617  revenue rank:  2293
cashier name:  Wells Monica  transaction count:  5  total revenue:  1896.69  transaction rank:  1617  revenue rank:  2297
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  1895.55  transaction rank:  1617  revenue rank:  2298
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  1895.20  transaction rank:  1617  revenue rank:  2299
cashier name:  Martin Monica  transaction count:  5  total revenue:  1883.95  transaction rank:  1617  revenue rank:  2307
cashier name:  Long Kirsten  transaction count:  5  total revenue:  1882.45  transaction rank:  1617  revenue rank:  2311
cashier name:  Spears Erin  transaction count:  5  total revenue:  1879.74  transaction rank:  1617  revenue rank:  2316
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  1871.65  transaction rank:  1617  revenue rank:  2321
cashier name:  Dodson Courtney  transaction count:  5  total revenue:  1871.45  transaction rank:  1617  revenue rank:  2322
cashier name:  Riley Ashley  transaction count:  5  total revenue:  1870.01  transaction rank:  1617  revenue rank:  2325
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  1859.41  transaction rank:  1617  revenue rank:  2343
cashier name:  Thompson Andrea  transaction count:  5  total revenue:  1854.04  transaction rank:  1617  revenue rank:  2347
cashier name:  Torres Steven  transaction count:  5  total revenue:  1853.80  transaction rank:  1617  revenue rank:  2349
cashier name:  Hughes Christopher  transaction count:  5  total revenue:  1850.27  transaction rank:  1617  revenue rank:  2353
cashier name:  Thompson Andrea  transaction count:  5  total revenue:  1848.25  transaction rank:  1617  revenue rank:  2356
cashier name:  Moore Jason  transaction count:  5  total revenue:  1847.44  transaction rank:  1617  revenue rank:  2358
cashier name:  Randolph Emily  transaction count:  5  total revenue:  1844.78  transaction rank:  1617  revenue rank:  2363
cashier name:  Kerr Jason  transaction count:  5  total revenue:  1841.76  transaction rank:  1617  revenue rank:  2365
cashier name:  Jones Christopher  transaction count:  5  total revenue:  1840.83  transaction rank:  1617  revenue rank:  2367
cashier name:  Brown Lisa  transaction count:  5  total revenue:  1823.84  transaction rank:  1617  revenue rank:  2379
cashier name:  Golden Laurie  transaction count:  5  total revenue:  1819.26  transaction rank:  1617  revenue rank:  2386
cashier name:  Church Joshua  transaction count:  5  total revenue:  1814.25  transaction rank:  1617  revenue rank:  2393
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1814.02  transaction rank:  1617  revenue rank:  2395
cashier name:  Burns Kendra  transaction count:  5  total revenue:  1810.93  transaction rank:  1617  revenue rank:  2397
cashier name:  Long Kirsten  transaction count:  5  total revenue:  1809.33  transaction rank:  1617  revenue rank:  2401
cashier name:  Glover Michelle  transaction count:  5  total revenue:  1805.85  transaction rank:  1617  revenue rank:  2402
cashier name:  Jackson Gary  transaction count:  5  total revenue:  1805.25  transaction rank:  1617  revenue rank:  2404
cashier name:  Jackson Michael  transaction count:  5  total revenue:  1804.96  transaction rank:  1617  revenue rank:  2405
cashier name:  Hayes Brandon  transaction count:  5  total revenue:  1804.87  transaction rank:  1617  revenue rank:  2406
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  1804.07  transaction rank:  1617  revenue rank:  2407
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  1803.68  transaction rank:  1617  revenue rank:  2408
cashier name:  Hull Shane  transaction count:  5  total revenue:  1803.30  transaction rank:  1617  revenue rank:  2409
cashier name:  Jones Christopher  transaction count:  5  total revenue:  1779.48  transaction rank:  1617  revenue rank:  2432
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1777.26  transaction rank:  1617  revenue rank:  2435
cashier name:  Galvan Lori  transaction count:  5  total revenue:  1773.96  transaction rank:  1617  revenue rank:  2438
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  1772.42  transaction rank:  1617  revenue rank:  2440
cashier name:  Burns Kendra  transaction count:  5  total revenue:  1771.77  transaction rank:  1617  revenue rank:  2444
cashier name:  Gross Andrew  transaction count:  5  total revenue:  1769.94  transaction rank:  1617  revenue rank:  2445
cashier name:  Day Natasha  transaction count:  5  total revenue:  1768.47  transaction rank:  1617  revenue rank:  2447
cashier name:  Manning Maria  transaction count:  5  total revenue:  1765.75  transaction rank:  1617  revenue rank:  2450
cashier name:  Moore Jason  transaction count:  5  total revenue:  1762.83  transaction rank:  1617  revenue rank:  2454
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  1750.38  transaction rank:  1617  revenue rank:  2464
cashier name:  Marquez Jeffrey  transaction count:  5  total revenue:  1747.26  transaction rank:  1617  revenue rank:  2469
cashier name:  Jones Christopher  transaction count:  5  total revenue:  1739.94  transaction rank:  1617  revenue rank:  2478
cashier name:  Jackson Michael  transaction count:  5  total revenue:  1738.06  transaction rank:  1617  revenue rank:  2481
cashier name:  Moyer Steven  transaction count:  5  total revenue:  1736.08  transaction rank:  1617  revenue rank:  2485
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  1728.05  transaction rank:  1617  revenue rank:  2499
cashier name:  Wilson Jill  transaction count:  5  total revenue:  1718.67  transaction rank:  1617  revenue rank:  2509
cashier name:  Perry Andrea  transaction count:  5  total revenue:  1717.23  transaction rank:  1617  revenue rank:  2510
cashier name:  Walls Kristen  transaction count:  5  total revenue:  1713.95  transaction rank:  1617  revenue rank:  2519
cashier name:  Ellis Lauren  transaction count:  5  total revenue:  1705.31  transaction rank:  1617  revenue rank:  2527
cashier name:  Conrad Frederick  transaction count:  5  total revenue:  1695.10  transaction rank:  1617  revenue rank:  2536
cashier name:  Bradley Rita  transaction count:  5  total revenue:  1692.67  transaction rank:  1617  revenue rank:  2538
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  1680.05  transaction rank:  1617  revenue rank:  2550
cashier name:  Bradley Rita  transaction count:  5  total revenue:  1677.72  transaction rank:  1617  revenue rank:  2552
cashier name:  Thomas Robert  transaction count:  5  total revenue:  1675.03  transaction rank:  1617  revenue rank:  2558
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1668.75  transaction rank:  1617  revenue rank:  2566
cashier name:  Thomas Robert  transaction count:  5  total revenue:  1663.48  transaction rank:  1617  revenue rank:  2571
cashier name:  Love Thomas  transaction count:  5  total revenue:  1661.46  transaction rank:  1617  revenue rank:  2575
cashier name:  Durham Denise  transaction count:  5  total revenue:  1659.73  transaction rank:  1617  revenue rank:  2576
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  1649.98  transaction rank:  1617  revenue rank:  2586
cashier name:  Gross Andrew  transaction count:  5  total revenue:  1649.21  transaction rank:  1617  revenue rank:  2588
cashier name:  Atkinson Gary  transaction count:  5  total revenue:  1647.22  transaction rank:  1617  revenue rank:  2590
cashier name:  Wells Monica  transaction count:  5  total revenue:  1644.90  transaction rank:  1617  revenue rank:  2593
cashier name:  Shah Amanda  transaction count:  5  total revenue:  1635.81  transaction rank:  1617  revenue rank:  2602
cashier name:  Wilson Jill  transaction count:  5  total revenue:  1634.42  transaction rank:  1617  revenue rank:  2604
cashier name:  Frederick Evan  transaction count:  5  total revenue:  1620.67  transaction rank:  1617  revenue rank:  2614
cashier name:  Durham Denise  transaction count:  5  total revenue:  1620.54  transaction rank:  1617  revenue rank:  2615
cashier name:  Thomas Robert  transaction count:  5  total revenue:  1615.21  transaction rank:  1617  revenue rank:  2622
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  1613.10  transaction rank:  1617  revenue rank:  2624
cashier name:  Riley Ashley  transaction count:  5  total revenue:  1606.61  transaction rank:  1617  revenue rank:  2635
cashier name:  Moore Jason  transaction count:  5  total revenue:  1605.84  transaction rank:  1617  revenue rank:  2636
cashier name:  Smith Diana  transaction count:  5  total revenue:  1597.52  transaction rank:  1617  revenue rank:  2644
cashier name:  Colon Lindsey  transaction count:  5  total revenue:  1596.64  transaction rank:  1617  revenue rank:  2645
cashier name:  Bryan Mr.  transaction count:  5  total revenue:  1595.78  transaction rank:  1617  revenue rank:  2647
cashier name:  Gardner Laura  transaction count:  5  total revenue:  1595.71  transaction rank:  1617  revenue rank:  2648
cashier name:  Thompson Andrea  transaction count:  5  total revenue:  1595.22  transaction rank:  1617  revenue rank:  2649
cashier name:  Woods Marcus  transaction count:  5  total revenue:  1593.47  transaction rank:  1617  revenue rank:  2652
cashier name:  Williams Michael  transaction count:  5  total revenue:  1590.09  transaction rank:  1617  revenue rank:  2656
cashier name:  Rogers Mark  transaction count:  5  total revenue:  1588.54  transaction rank:  1617  revenue rank:  2659
cashier name:  Burns Kendra  transaction count:  5  total revenue:  1585.28  transaction rank:  1617  revenue rank:  2662
cashier name:  Spears Erin  transaction count:  5  total revenue:  1582.50  transaction rank:  1617  revenue rank:  2664
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  1577.33  transaction rank:  1617  revenue rank:  2673
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  1577.30  transaction rank:  1617  revenue rank:  2674
cashier name:  Kramer Veronica  transaction count:  5  total revenue:  1576.22  transaction rank:  1617  revenue rank:  2676
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  1563.63  transaction rank:  1617  revenue rank:  2693
cashier name:  Jacobs Brenda  transaction count:  5  total revenue:  1562.05  transaction rank:  1617  revenue rank:  2696
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1555.44  transaction rank:  1617  revenue rank:  2700
cashier name:  Alvarez Brenda  transaction count:  5  total revenue:  1540.89  transaction rank:  1617  revenue rank:  2720
cashier name:  Wood Joshua  transaction count:  5  total revenue:  1539.50  transaction rank:  1617  revenue rank:  2724
cashier name:  Long Kirsten  transaction count:  5  total revenue:  1535.98  transaction rank:  1617  revenue rank:  2730
cashier name:  Manning Maria  transaction count:  5  total revenue:  1515.91  transaction rank:  1617  revenue rank:  2756
cashier name:  Nichols Brandon  transaction count:  5  total revenue:  1515.71  transaction rank:  1617  revenue rank:  2757
cashier name:  Wilson Jill  transaction count:  5  total revenue:  1511.82  transaction rank:  1617  revenue rank:  2763
cashier name:  Chambers Jeffrey  transaction count:  5  total revenue:  1511.50  transaction rank:  1617  revenue rank:  2764
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  1492.11  transaction rank:  1617  revenue rank:  2793
cashier name:  Warren Timothy  transaction count:  5  total revenue:  1482.44  transaction rank:  1617  revenue rank:  2808
cashier name:  Rogers Mark  transaction count:  5  total revenue:  1477.20  transaction rank:  1617  revenue rank:  2818
cashier name:  Moore Jason  transaction count:  5  total revenue:  1469.86  transaction rank:  1617  revenue rank:  2831
cashier name:  Carroll Eric  transaction count:  5  total revenue:  1460.55  transaction rank:  1617  revenue rank:  2844
cashier name:  Sosa David  transaction count:  5  total revenue:  1459.69  transaction rank:  1617  revenue rank:  2848
cashier name:  Mckinney Marcus  transaction count:  5  total revenue:  1456.77  transaction rank:  1617  revenue rank:  2854
cashier name:  Terri Mrs.  transaction count:  5  total revenue:  1454.64  transaction rank:  1617  revenue rank:  2857
cashier name:  Golden Laurie  transaction count:  5  total revenue:  1452.07  transaction rank:  1617  revenue rank:  2859
cashier name:  Woods Marcus  transaction count:  5  total revenue:  1448.59  transaction rank:  1617  revenue rank:  2867
cashier name:  Nguyen Richard  transaction count:  5  total revenue:  1445.64  transaction rank:  1617  revenue rank:  2870
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  1442.14  transaction rank:  1617  revenue rank:  2874
cashier name:  Sean Mr.  transaction count:  5  total revenue:  1439.94  transaction rank:  1617  revenue rank:  2877
cashier name:  Martin Monica  transaction count:  5  total revenue:  1438.70  transaction rank:  1617  revenue rank:  2878
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  1432.17  transaction rank:  1617  revenue rank:  2888
cashier name:  Jacobs Brenda  transaction count:  5  total revenue:  1413.58  transaction rank:  1617  revenue rank:  2913
cashier name:  Brooks Renee  transaction count:  5  total revenue:  1411.92  transaction rank:  1617  revenue rank:  2916
cashier name:  Conrad Frederick  transaction count:  5  total revenue:  1391.84  transaction rank:  1617  revenue rank:  2948
cashier name:  Durham Denise  transaction count:  5  total revenue:  1387.47  transaction rank:  1617  revenue rank:  2953
cashier name:  Woods Marcus  transaction count:  5  total revenue:  1386.81  transaction rank:  1617  revenue rank:  2955
cashier name:  Chen Kathleen  transaction count:  5  total revenue:  1385.38  transaction rank:  1617  revenue rank:  2956
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  1382.82  transaction rank:  1617  revenue rank:  2957
cashier name:  Tate Harry  transaction count:  5  total revenue:  1381.90  transaction rank:  1617  revenue rank:  2958
cashier name:  Mckenzie William  transaction count:  5  total revenue:  1381.88  transaction rank:  1617  revenue rank:  2959
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  1377.90  transaction rank:  1617  revenue rank:  2962
cashier name:  Myers Gary  transaction count:  5  total revenue:  1374.64  transaction rank:  1617  revenue rank:  2972
cashier name:  Bennett Alec  transaction count:  5  total revenue:  1367.67  transaction rank:  1617  revenue rank:  2983
cashier name:  Shah Amanda  transaction count:  5  total revenue:  1363.83  transaction rank:  1617  revenue rank:  2987

cashier name:  Gross Andrew  transaction count:  5  total revenue:  1361.24  transaction rank:  1617  revenue rank:  2994
cashier name:  Roach Christine  transaction count:  5  total revenue:  1360.45  transaction rank:  1617  revenue rank:  2996
cashier name:  Hernandez Michael  transaction count:  5  total revenue:  1358.08  transaction rank:  1617  revenue rank:  2998
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  1354.55  transaction rank:  1617  revenue rank:  3001
cashier name:  Jones Christopher  transaction count:  5  total revenue:  1343.83  transaction rank:  1617  revenue rank:  3017
cashier name:  Jackson Gary  transaction count:  5  total revenue:  1336.83  transaction rank:  1617  revenue rank:  3027
cashier name:  Hull Shane  transaction count:  5  total revenue:  1335.56  transaction rank:  1617  revenue rank:  3028
cashier name:  Gardner Laura  transaction count:  5  total revenue:  1322.93  transaction rank:  1617  revenue rank:  3036
cashier name:  Kramer Veronica  transaction count:  5  total revenue:  1314.34  transaction rank:  1617  revenue rank:  3045
cashier name:  Atkinson Gary  transaction count:  5  total revenue:  1306.83  transaction rank:  1617  revenue rank:  3056
cashier name:  Jones Christopher  transaction count:  5  total revenue:  1299.55  transaction rank:  1617  revenue rank:  3068
cashier name:  Warren Timothy  transaction count:  5  total revenue:  1284.89  transaction rank:  1617  revenue rank:  3082
cashier name:  Torres Steven  transaction count:  5  total revenue:  1274.09  transaction rank:  1617  revenue rank:  3098
cashier name:  Bryan Mr.  transaction count:  5  total revenue:  1273.46  transaction rank:  1617  revenue rank:  3100
cashier name:  Smith Brandy  transaction count:  5  total revenue:  1266.23  transaction rank:  1617  revenue rank:  3113
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  1258.30  transaction rank:  1617  revenue rank:  3127
cashier name:  Church Joshua  transaction count:  5  total revenue:  1239.14  transaction rank:  1617  revenue rank:  3155
cashier name:  Bryan Mr.  transaction count:  5  total revenue:  1228.81  transaction rank:  1617  revenue rank:  3171
cashier name:  Martin Monica  transaction count:  5  total revenue:  1224.38  transaction rank:  1617  revenue rank:  3176
cashier name:  Hull Shane  transaction count:  5  total revenue:  1223.73  transaction rank:  1617  revenue rank:  3178
cashier name:  Jackson Gary  transaction count:  5  total revenue:  1215.86  transaction rank:  1617  revenue rank:  3188
cashier name:  Chambers Jeffrey  transaction count:  5  total revenue:  1215.15  transaction rank:  1617  revenue rank:  3190
cashier name:  Tate Harry  transaction count:  5  total revenue:  1194.51  transaction rank:  1617  revenue rank:  3210
cashier name:  Brown Lisa  transaction count:  5  total revenue:  1189.35  transaction rank:  1617  revenue rank:  3218
cashier name:  Walls Kristen  transaction count:  5  total revenue:  1183.54  transaction rank:  1617  revenue rank:  3227
cashier name:  Jessica Ms.  transaction count:  5  total revenue:  1183.28  transaction rank:  1617  revenue rank:  3228
cashier name:  Vasquez Peter  transaction count:  5  total revenue:  1183.08  transaction rank:  1617  revenue rank:  3229
cashier name:  Warren Timothy  transaction count:  5  total revenue:  1155.73  transaction rank:  1617  revenue rank:  3260
cashier name:  Herrera Spencer  transaction count:  5  total revenue:  1149.96  transaction rank:  1617  revenue rank:  3270
cashier name:  Sean Mr.  transaction count:  5  total revenue:  1149.61  transaction rank:  1617  revenue rank:  3271
cashier name:  Jacobs Brenda  transaction count:  5  total revenue:  1146.04  transaction rank:  1617  revenue rank:  3274
cashier name:  Foster Kenneth  transaction count:  5  total revenue:  1125.53  transaction rank:  1617  revenue rank:  3299
cashier name:  Perry Andrea  transaction count:  5  total revenue:  1113.38  transaction rank:  1617  revenue rank:  3318
cashier name:  Henderson Nancy  transaction count:  5  total revenue:  1053.71  transaction rank:  1617  revenue rank:  3398
cashier name:  Torres Steven  transaction count:  5  total revenue:  1034.93  transaction rank:  1617  revenue rank:  3428
cashier name:  Gonzalez Michele  transaction count:  5  total revenue:  1020.04  transaction rank:  1617  revenue rank:  3450
cashier name:  Jones Evelyn  transaction count:  5  total revenue:  1012.73  transaction rank:  1617  revenue rank:  3465
cashier name:  Woods Marcus  transaction count:  5  total revenue:  1010.45  transaction rank:  1617  revenue rank:  3470
cashier name:  Chambers Jeffrey  transaction count:  5  total revenue:  960.62  transaction rank:  1617  revenue rank:  3553
cashier name:  Jones Christopher  transaction count:  5  total revenue:  942.93  transaction rank:  1617  revenue rank:  3572
cashier name:  Johnson Samantha  transaction count:  5  total revenue:  936.26  transaction rank:  1617  revenue rank:  3580
cashier name:  Campbell Bethany  transaction count:  5  total revenue:  932.83  transaction rank:  1617  revenue rank:  3585
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  931.20  transaction rank:  1617  revenue rank:  3588
cashier name:  Alvarez Brenda  transaction count:  5  total revenue:  921.86  transaction rank:  1617  revenue rank:  3609
cashier name:  Day Natasha  transaction count:  5  total revenue:  911.53  transaction rank:  1617  revenue rank:  3629
cashier name:  Wells Monica  transaction count:  5  total revenue:  908.20  transaction rank:  1617  revenue rank:  3636
cashier name:  Moyer Steven  transaction count:  5  total revenue:  868.42  transaction rank:  1617  revenue rank:  3684
cashier name:  Jordan Carla  transaction count:  5  total revenue:  856.65  transaction rank:  1617  revenue rank:  3694
cashier name:  Alvarez Brenda  transaction count:  5  total revenue:  846.94  transaction rank:  1617  revenue rank:  3712
cashier name:  Eric Mr.  transaction count:  5  total revenue:  844.80  transaction rank:  1617  revenue rank:  3715
cashier name:  Moore Jason  transaction count:  5  total revenue:  839.73  transaction rank:  1617  revenue rank:  3723
cashier name:  Rogers Mark  transaction count:  5  total revenue:  824.45  transaction rank:  1617  revenue rank:  3753
cashier name:  Frederick Evan  transaction count:  5  total revenue:  774.02  transaction rank:  1617  revenue rank:  3823
cashier name:  Gross Andrew  transaction count:  5  total revenue:  746.96  transaction rank:  1617  revenue rank:  3855
cashier name:  Gonzalez Michele  transaction count:  5  total revenue:  702.52  transaction rank:  1617  revenue rank:  3909
cashier name:  Pena Johnathan  transaction count:  5  total revenue:  687.56  transaction rank:  1617  revenue rank:  3928
cashier name:  Brooks Renee  transaction count:  5  total revenue:  666.41  transaction rank:  1617  revenue rank:  3960
cashier name:  Foster Jennifer  transaction count:  5  total revenue:  657.76  transaction rank:  1617  revenue rank:  3967
cashier name:  Hull Shane  transaction count:  5  total revenue:  653.61  transaction rank:  1617  revenue rank:  3971
cashier name:  Long Kirsten  transaction count:  5  total revenue:  631.11  transaction rank:  1617  revenue rank:  3993
cashier name:  Sosa David  transaction count:  5  total revenue:  578.68  transaction rank:  1617  revenue rank:  4059
cashier name:  Meyer James  transaction count:  5  total revenue:  574.11  transaction rank:  1617  revenue rank:  4063
cashier name:  Garcia Sarah  transaction count:  5  total revenue:  561.16  transaction rank:  1617  revenue rank:  4077
cashier name:  Warren Timothy  transaction count:  5  total revenue:  500.19  transaction rank:  1617  revenue rank:  4143
cashier name:  Davis Jennifer  transaction count:  5  total revenue:  491.36  transaction rank:  1617  revenue rank:  4154
cashier name:  Moore Jason  transaction count:  5  total revenue:  458.02  transaction rank:  1617  revenue rank:  4197
cashier name:  Campbell Brittany  transaction count:  5  total revenue:  443.98  transaction rank:  1617  revenue rank:  4211
cashier name:  Hull Shane  transaction count:  4  total revenue:  386.29  transaction rank:  2177  revenue rank:  4282
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1749.78  transaction rank:  2177  revenue rank:  2465
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  961.78  transaction rank:  2177  revenue rank:  3550
cashier name:  Kerr Jason  transaction count:  4  total revenue:  3699.72  transaction rank:  2177  revenue rank:  712
cashier name:  Jessica Ms.  transaction count:  4  total revenue:  949.83  transaction rank:  2177  revenue rank:  3565
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2502.12  transaction rank:  2177  revenue rank:  1641
cashier name:  Walters Jay  transaction count:  4  total revenue:  947.48  transaction rank:  2177  revenue rank:  3569
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  1745.80  transaction rank:  2177  revenue rank:  2472
cashier name:  Smith Diana  transaction count:  4  total revenue:  941.54  transaction rank:  2177  revenue rank:  3573
cashier name:  Bryan Mr.  transaction count:  4  total revenue:  938.74  transaction rank:  2177  revenue rank:  3578
cashier name:  Garcia Sarah  transaction count:  4  total revenue:  1743.93  transaction rank:  2177  revenue rank:  2475
cashier name:  Warren Timothy  transaction count:  4  total revenue:  930.01  transaction rank:  2177  revenue rank:  3592
cashier name:  Moyer Steven  transaction count:  4  total revenue:  2072.76  transaction rank:  2177  revenue rank:  2097
cashier name:  Wells Monica  transaction count:  4  total revenue:  929.42  transaction rank:  2177  revenue rank:  3596
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1738.83  transaction rank:  2177  revenue rank:  2480
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  926.25  transaction rank:  2177  revenue rank:  3602
cashier name:  Kerr Jason  transaction count:  4  total revenue:  2441.72  transaction rank:  2177  revenue rank:  1697
cashier name:  Meyer James  transaction count:  4  total revenue:  1738.01  transaction rank:  2177  revenue rank:  2482
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2726.24  transaction rank:  2177  revenue rank:  1430
cashier name:  Carroll Eric  transaction count:  4  total revenue:  919.22  transaction rank:  2177  revenue rank:  3613
cashier name:  Wilson Jill  transaction count:  4  total revenue:  918.18  transaction rank:  2177  revenue rank:  3615
cashier name:  Durham Denise  transaction count:  4  total revenue:  2726.40  transaction rank:  2177  revenue rank:  1429
cashier name:  Walters Jay  transaction count:  4  total revenue:  416.00  transaction rank:  2177  revenue rank:  4246
cashier name:  Marquez Jeffrey  transaction count:  4  total revenue:  916.01  transaction rank:  2177  revenue rank:  3620
cashier name:  Myers Gary  transaction count:  4  total revenue:  913.88  transaction rank:  2177  revenue rank:  3623
cashier name:  Kramer Veronica  transaction count:  4  total revenue:  3738.07  transaction rank:  2177  revenue rank:  689
cashier name:  Hughes Christopher  transaction count:  4  total revenue:  3877.89  transaction rank:  2177  revenue rank:  622
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  1735.34  transaction rank:  2177  revenue rank:  2487
cashier name:  Jones Michael  transaction count:  4  total revenue:  2726.93  transaction rank:  2177  revenue rank:  1428
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  2728.88  transaction rank:  2177  revenue rank:  1427
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1964.90  transaction rank:  2177  revenue rank:  2225
cashier name:  Sosa David  transaction count:  4  total revenue:  1733.50  transaction rank:  2177  revenue rank:  2491
cashier name:  Jackson Michael  transaction count:  4  total revenue:  1732.73  transaction rank:  2177  revenue rank:  2492
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  892.37  transaction rank:  2177  revenue rank:  3651
cashier name:  Moore Jason  transaction count:  4  total revenue:  1963.37  transaction rank:  2177  revenue rank:  2226
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  2505.06  transaction rank:  2177  revenue rank:  1640
cashier name:  Woods Marcus  transaction count:  4  total revenue:  452.51  transaction rank:  2177  revenue rank:  4204
cashier name:  Gross Andrew  transaction count:  4  total revenue:  891.23  transaction rank:  2177  revenue rank:  3655
cashier name:  Hull Shane  transaction count:  4  total revenue:  891.20  transaction rank:  2177  revenue rank:  3656
cashier name:  Williams Michael  transaction count:  4  total revenue:  1732.18  transaction rank:  2177  revenue rank:  2495
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1731.05  transaction rank:  2177  revenue rank:  2496
cashier name:  Hull Shane  transaction count:  4  total revenue:  459.27  transaction rank:  2177  revenue rank:  4195
cashier name:  Church Joshua  transaction count:  4  total revenue:  1729.75  transaction rank:  2177  revenue rank:  2497
cashier name:  Williams Michael  transaction count:  4  total revenue:  465.05  transaction rank:  2177  revenue rank:  4187
cashier name:  Love Thomas  transaction count:  4  total revenue:  882.13  transaction rank:  2177  revenue rank:  3666
cashier name:  Jacobs Brenda  transaction count:  4  total revenue:  470.09  transaction rank:  2177  revenue rank:  4183
cashier name:  Shah Amanda  transaction count:  4  total revenue:  881.37  transaction rank:  2177  revenue rank:  3671
cashier name:  Gardner Laura  transaction count:  4  total revenue:  2074.26  transaction rank:  2177  revenue rank:  2094
cashier name:  Wood Joshua  transaction count:  4  total revenue:  1727.87  transaction rank:  2177  revenue rank:  2500
cashier name:  Jones Christopher  transaction count:  4  total revenue:  3888.99  transaction rank:  2177  revenue rank:  616
cashier name:  Woods Marcus  transaction count:  4  total revenue:  1727.67  transaction rank:  2177  revenue rank:  2501
cashier name:  Myers Gary  transaction count:  4  total revenue:  874.10  transaction rank:  2177  revenue rank:  3677
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  476.37  transaction rank:  2177  revenue rank:  4175
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1725.56  transaction rank:  2177  revenue rank:  2503
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  863.06  transaction rank:  2177  revenue rank:  3689
cashier name:  Golden Laurie  transaction count:  4  total revenue:  2735.05  transaction rank:  2177  revenue rank:  1419
cashier name:  Wood Joshua  transaction count:  4  total revenue:  1724.88  transaction rank:  2177  revenue rank:  2505
cashier name:  Jessica Ms.  transaction count:  4  total revenue:  484.81  transaction rank:  2177  revenue rank:  4163
cashier name:  Manning Maria  transaction count:  4  total revenue:  1723.15  transaction rank:  2177  revenue rank:  2506
cashier name:  Golden Laurie  transaction count:  4  total revenue:  1722.61  transaction rank:  2177  revenue rank:  2507
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1721.96  transaction rank:  2177  revenue rank:  2508
cashier name:  Jackson Michael  transaction count:  4  total revenue:  847.88  transaction rank:  2177  revenue rank:  3709
cashier name:  Church Joshua  transaction count:  4  total revenue:  3999.72  transaction rank:  2177  revenue rank:  569
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  1715.64  transaction rank:  2177  revenue rank:  2513
cashier name:  Campbell Bethany  transaction count:  4  total revenue:  842.02  transaction rank:  2177  revenue rank:  3720
cashier name:  Randolph Emily  transaction count:  4  total revenue:  840.64  transaction rank:  2177  revenue rank:  3722
cashier name:  Randolph Emily  transaction count:  4  total revenue:  507.02  transaction rank:  2177  revenue rank:  4134
cashier name:  Kramer Veronica  transaction count:  4  total revenue:  837.24  transaction rank:  2177  revenue rank:  3726
cashier name:  Durham Denise  transaction count:  4  total revenue:  1959.28  transaction rank:  2177  revenue rank:  2229
cashier name:  Wells Monica  transaction count:  4  total revenue:  2524.75  transaction rank:  2177  revenue rank:  1622
cashier name:  Roach Christine  transaction count:  4  total revenue:  835.39  transaction rank:  2177  revenue rank:  3731
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  835.39  transaction rank:  2177  revenue rank:  3731
cashier name:  Randolph Emily  transaction count:  4  total revenue:  4149.82  transaction rank:  2177  revenue rank:  507
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  1714.92  transaction rank:  2177  revenue rank:  2517
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  2743.56  transaction rank:  2177  revenue rank:  1410
cashier name:  Bradley Rita  transaction count:  4  total revenue:  1712.50  transaction rank:  2177  revenue rank:  2521
cashier name:  Perry Andrea  transaction count:  4  total revenue:  825.80  transaction rank:  2177  revenue rank:  3751
cashier name:  Gardner Laura  transaction count:  4  total revenue:  824.66  transaction rank:  2177  revenue rank:  3752
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  1711.37  transaction rank:  2177  revenue rank:  2523
cashier name:  Tate Harry  transaction count:  4  total revenue:  546.42  transaction rank:  2177  revenue rank:  4088
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1707.43  transaction rank:  2177  revenue rank:  2526
cashier name:  Shah Amanda  transaction count:  4  total revenue:  811.03  transaction rank:  2177  revenue rank:  3764
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  810.61  transaction rank:  2177  revenue rank:  3765

cashier name:  Jones Christopher  transaction count:  4  total revenue:  805.27  transaction rank:  2177  revenue rank:  3771
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1700.13  transaction rank:  2177  revenue rank:  2531
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  1699.92  transaction rank:  2177  revenue rank:  2532
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1699.67  transaction rank:  2177  revenue rank:  2533
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  1699.41  transaction rank:  2177  revenue rank:  2534
cashier name:  Sosa David  transaction count:  4  total revenue:  796.79  transaction rank:  2177  revenue rank:  3785
cashier name:  Williams Michael  transaction count:  4  total revenue:  796.17  transaction rank:  2177  revenue rank:  3786
cashier name:  Jordan Carla  transaction count:  4  total revenue:  2744.29  transaction rank:  2177  revenue rank:  1408
cashier name:  Vasquez Peter  transaction count:  4  total revenue:  2077.22  transaction rank:  2177  revenue rank:  2089
cashier name:  Martin Monica  transaction count:  4  total revenue:  1693.21  transaction rank:  2177  revenue rank:  2537
cashier name:  Wells Monica  transaction count:  4  total revenue:  2528.98  transaction rank:  2177  revenue rank:  1615
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  789.79  transaction rank:  2177  revenue rank:  3793
cashier name:  Blanchard Ricky  transaction count:  4  total revenue:  789.58  transaction rank:  2177  revenue rank:  3794
cashier name:  Smith Brandy  transaction count:  4  total revenue:  2746.80  transaction rank:  2177  revenue rank:  1406
cashier name:  Smith Diana  transaction count:  4  total revenue:  785.30  transaction rank:  2177  revenue rank:  3806
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  784.94  transaction rank:  2177  revenue rank:  3807
cashier name:  Smith Brandy  transaction count:  4  total revenue:  784.92  transaction rank:  2177  revenue rank:  3808
cashier name:  Meyer James  transaction count:  4  total revenue:  2749.60  transaction rank:  2177  revenue rank:  1402
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  783.14  transaction rank:  2177  revenue rank:  3810
cashier name:  Mckenzie William  transaction count:  4  total revenue:  1688.91  transaction rank:  2177  revenue rank:  2542
cashier name:  Sosa David  transaction count:  4  total revenue:  1953.30  transaction rank:  2177  revenue rank:  2236
cashier name:  Smith Diana  transaction count:  4  total revenue:  1686.75  transaction rank:  2177  revenue rank:  2544
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  2751.48  transaction rank:  2177  revenue rank:  1399
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2753.69  transaction rank:  2177  revenue rank:  1397
cashier name:  Wood Joshua  transaction count:  4  total revenue:  1683.99  transaction rank:  2177  revenue rank:  2548
cashier name:  Thomas Robert  transaction count:  4  total revenue:  570.39  transaction rank:  2177  revenue rank:  4067
cashier name:  Vasquez Peter  transaction count:  4  total revenue:  1682.35  transaction rank:  2177  revenue rank:  2549
cashier name:  Nichols Mitchell  transaction count:  4  total revenue:  4864.14  transaction rank:  2177  revenue rank:  272
cashier name:  Williams Michael  transaction count:  4  total revenue:  2432.20  transaction rank:  2177  revenue rank:  1707
cashier name:  Wells Monica  transaction count:  4  total revenue:  2758.31  transaction rank:  2177  revenue rank:  1391
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  768.81  transaction rank:  2177  revenue rank:  3827
cashier name:  Golden Laurie  transaction count:  4  total revenue:  2505.12  transaction rank:  2177  revenue rank:  1639
cashier name:  Wilson Jill  transaction count:  4  total revenue:  4218.49  transaction rank:  2177  revenue rank:  477
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1676.74  transaction rank:  2177  revenue rank:  2554
cashier name:  Payne Samantha  transaction count:  4  total revenue:  2018.75  transaction rank:  2177  revenue rank:  2164
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  758.71  transaction rank:  2177  revenue rank:  3840
cashier name:  Tate Harry  transaction count:  4  total revenue:  2529.79  transaction rank:  2177  revenue rank:  1614
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  574.64  transaction rank:  2177  revenue rank:  4062
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  577.35  transaction rank:  2177  revenue rank:  4060
cashier name:  Garcia Sarah  transaction count:  4  total revenue:  750.04  transaction rank:  2177  revenue rank:  3849
cashier name:  Randolph Emily  transaction count:  4  total revenue:  578.87  transaction rank:  2177  revenue rank:  4058
cashier name:  Galvan Lori  transaction count:  4  total revenue:  1950.13  transaction rank:  2177  revenue rank:  2240
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2763.92  transaction rank:  2177  revenue rank:  1387
cashier name:  Werner Kara  transaction count:  4  total revenue:  580.34  transaction rank:  2177  revenue rank:  4057
cashier name:  Horton Ashley  transaction count:  4  total revenue:  1669.06  transaction rank:  2177  revenue rank:  2564
cashier name:  Garcia Sarah  transaction count:  4  total revenue:  1668.87  transaction rank:  2177  revenue rank:  2565
cashier name:  Bradley Rita  transaction count:  4  total revenue:  743.28  transaction rank:  2177  revenue rank:  3859
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  742.85  transaction rank:  2177  revenue rank:  3860
cashier name:  Jackson Michael  transaction count:  4  total revenue:  581.58  transaction rank:  2177  revenue rank:  4055
cashier name:  Jackson Michael  transaction count:  4  total revenue:  584.70  transaction rank:  2177  revenue rank:  4051
cashier name:  Gardner Laura  transaction count:  4  total revenue:  737.47  transaction rank:  2177  revenue rank:  3866
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2079.19  transaction rank:  2177  revenue rank:  2087
cashier name:  Nichols Mitchell  transaction count:  4  total revenue:  2764.04  transaction rank:  2177  revenue rank:  1386
cashier name:  Golden Laurie  transaction count:  4  total revenue:  584.93  transaction rank:  2177  revenue rank:  4049
cashier name:  Jones Christopher  transaction count:  4  total revenue:  734.96  transaction rank:  2177  revenue rank:  3870
cashier name:  Church Joshua  transaction count:  4  total revenue:  2533.70  transaction rank:  2177  revenue rank:  1611
cashier name:  Martin Monica  transaction count:  4  total revenue:  718.50  transaction rank:  2177  revenue rank:  3883
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  718.18  transaction rank:  2177  revenue rank:  3885
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  718.04  transaction rank:  2177  revenue rank:  3886
cashier name:  Gross Andrew  transaction count:  4  total revenue:  2079.84  transaction rank:  2177  revenue rank:  2085
cashier name:  Martin Monica  transaction count:  4  total revenue:  2476.91  transaction rank:  2177  revenue rank:  1668
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  714.00  transaction rank:  2177  revenue rank:  3891
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1659.53  transaction rank:  2177  revenue rank:  2577
cashier name:  Walters Jay  transaction count:  4  total revenue:  589.55  transaction rank:  2177  revenue rank:  4042
cashier name:  Smith Brandy  transaction count:  4  total revenue:  592.47  transaction rank:  2177  revenue rank:  4039
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  1947.78  transaction rank:  2177  revenue rank:  2244
cashier name:  Horton Ashley  transaction count:  4  total revenue:  2474.92  transaction rank:  2177  revenue rank:  1670
cashier name:  Myers Gary  transaction count:  4  total revenue:  2777.53  transaction rank:  2177  revenue rank:  1374
cashier name:  Warren Timothy  transaction count:  4  total revenue:  601.53  transaction rank:  2177  revenue rank:  4028
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  1650.29  transaction rank:  2177  revenue rank:  2585
cashier name:  Martin Monica  transaction count:  4  total revenue:  2424.43  transaction rank:  2177  revenue rank:  1712
cashier name:  Walters Jay  transaction count:  4  total revenue:  2780.37  transaction rank:  2177  revenue rank:  1371
cashier name:  Marquez Jeffrey  transaction count:  4  total revenue:  4256.90  transaction rank:  2177  revenue rank:  464
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1642.88  transaction rank:  2177  revenue rank:  2594
cashier name:  Durham Denise  transaction count:  4  total revenue:  1639.95  transaction rank:  2177  revenue rank:  2596
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1639.06  transaction rank:  2177  revenue rank:  2597
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  616.40  transaction rank:  2177  revenue rank:  4013
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  1638.20  transaction rank:  2177  revenue rank:  2598
cashier name:  Church Joshua  transaction count:  4  total revenue:  1638.05  transaction rank:  2177  revenue rank:  2599
cashier name:  Gardner Laura  transaction count:  4  total revenue:  4601.46  transaction rank:  2177  revenue rank:  344
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  1636.49  transaction rank:  2177  revenue rank:  2600
cashier name:  Bennett Alec  transaction count:  4  total revenue:  674.99  transaction rank:  2177  revenue rank:  3947
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  673.52  transaction rank:  2177  revenue rank:  3949
cashier name:  Wilson Jill  transaction count:  4  total revenue:  2082.86  transaction rank:  2177  revenue rank:  2080
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  671.43  transaction rank:  2177  revenue rank:  3951
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  669.28  transaction rank:  2177  revenue rank:  3956
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  620.35  transaction rank:  2177  revenue rank:  4008
cashier name:  Walters Jay  transaction count:  4  total revenue:  2084.30  transaction rank:  2177  revenue rank:  2079
cashier name:  Gross Andrew  transaction count:  4  total revenue:  666.54  transaction rank:  2177  revenue rank:  3959
cashier name:  Kerr Jason  transaction count:  4  total revenue:  622.12  transaction rank:  2177  revenue rank:  4005
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1632.72  transaction rank:  2177  revenue rank:  2605
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  634.83  transaction rank:  2177  revenue rank:  3990
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  636.98  transaction rank:  2177  revenue rank:  3988
cashier name:  Nichols Mitchell  transaction count:  4  total revenue:  2471.85  transaction rank:  2177  revenue rank:  1674
cashier name:  Smith Brandy  transaction count:  4  total revenue:  2793.47  transaction rank:  2177  revenue rank:  1361
cashier name:  Martin Monica  transaction count:  4  total revenue:  641.88  transaction rank:  2177  revenue rank:  3983
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  651.28  transaction rank:  2177  revenue rank:  3973
cashier name:  Bradley Rita  transaction count:  4  total revenue:  1628.38  transaction rank:  2177  revenue rank:  2608
cashier name:  Rogers Mark  transaction count:  4  total revenue:  1625.13  transaction rank:  2177  revenue rank:  2609
cashier name:  Meyer James  transaction count:  4  total revenue:  2793.61  transaction rank:  2177  revenue rank:  1360
cashier name:  Glover Michelle  transaction count:  4  total revenue:  2536.50  transaction rank:  2177  revenue rank:  1609
cashier name:  Martin Monica  transaction count:  4  total revenue:  644.52  transaction rank:  2177  revenue rank:  3979
cashier name:  Herrera Spencer  transaction count:  4  total revenue:  643.12  transaction rank:  2177  revenue rank:  3982
cashier name:  White Kenneth  transaction count:  4  total revenue:  2809.07  transaction rank:  2177  revenue rank:  1352
cashier name:  Jacobs Brenda  transaction count:  4  total revenue:  2537.00  transaction rank:  2177  revenue rank:  1608
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  2422.91  transaction rank:  2177  revenue rank:  1716
cashier name:  Woods Marcus  transaction count:  4  total revenue:  2085.17  transaction rank:  2177  revenue rank:  2076
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  1617.93  transaction rank:  2177  revenue rank:  2618
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  1613.63  transaction rank:  2177  revenue rank:  2623
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2087.23  transaction rank:  2177  revenue rank:  2073
cashier name:  Durham Denise  transaction count:  4  total revenue:  1611.43  transaction rank:  2177  revenue rank:  2626
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  1610.51  transaction rank:  2177  revenue rank:  2627
cashier name:  Day Natasha  transaction count:  4  total revenue:  2811.15  transaction rank:  2177  revenue rank:  1349
cashier name:  Frederick Evan  transaction count:  4  total revenue:  1608.61  transaction rank:  2177  revenue rank:  2631
cashier name:  Golden Laurie  transaction count:  4  total revenue:  1608.55  transaction rank:  2177  revenue rank:  2632
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1608.11  transaction rank:  2177  revenue rank:  2633
cashier name:  Brown Lisa  transaction count:  4  total revenue:  1942.57  transaction rank:  2177  revenue rank:  2252
cashier name:  Thompson Matthew  transaction count:  4  total revenue:  2422.79  transaction rank:  2177  revenue rank:  1718
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1605.64  transaction rank:  2177  revenue rank:  2637
cashier name:  Shah Amanda  transaction count:  4  total revenue:  1602.79  transaction rank:  2177  revenue rank:  2638
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2816.12  transaction rank:  2177  revenue rank:  1344
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1598.63  transaction rank:  2177  revenue rank:  2642
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  1940.10  transaction rank:  2177  revenue rank:  2254
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1596.58  transaction rank:  2177  revenue rank:  2646
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  2089.80  transaction rank:  2177  revenue rank:  2069
cashier name:  Perry Andrea  transaction count:  4  total revenue:  2091.84  transaction rank:  2177  revenue rank:  2065
cashier name:  Jordan Carla  transaction count:  4  total revenue:  1937.90  transaction rank:  2177  revenue rank:  2255
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  1593.86  transaction rank:  2177  revenue rank:  2651
cashier name:  Smith Diana  transaction count:  4  total revenue:  1591.84  transaction rank:  2177  revenue rank:  2653
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  1590.78  transaction rank:  2177  revenue rank:  2654
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  2101.31  transaction rank:  2177  revenue rank:  2059
cashier name:  Moyer Steven  transaction count:  4  total revenue:  2028.16  transaction rank:  2177  revenue rank:  2154
cashier name:  Shah Amanda  transaction count:  4  total revenue:  1588.96  transaction rank:  2177  revenue rank:  2658
cashier name:  Martin Monica  transaction count:  4  total revenue:  2103.96  transaction rank:  2177  revenue rank:  2057
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2107.80  transaction rank:  2177  revenue rank:  2054
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2418.18  transaction rank:  2177  revenue rank:  1723
cashier name:  Jones Christopher  transaction count:  4  total revenue:  2837.11  transaction rank:  2177  revenue rank:  1330
cashier name:  Manning Maria  transaction count:  4  total revenue:  1936.78  transaction rank:  2177  revenue rank:  2257
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  2108.59  transaction rank:  2177  revenue rank:  2051
cashier name:  Smith Diana  transaction count:  4  total revenue:  2108.62  transaction rank:  2177  revenue rank:  2050
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1574.48  transaction rank:  2177  revenue rank:  2677
cashier name:  Thompson Matthew  transaction count:  4  total revenue:  1574.02  transaction rank:  2177  revenue rank:  2678
cashier name:  Jordan Carla  transaction count:  4  total revenue:  1570.38  transaction rank:  2177  revenue rank:  2681
cashier name:  Meyer James  transaction count:  4  total revenue:  1569.00  transaction rank:  2177  revenue rank:  2685
cashier name:  Bradley Rita  transaction count:  4  total revenue:  2112.70  transaction rank:  2177  revenue rank:  2043
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  2845.68  transaction rank:  2177  revenue rank:  1321
cashier name:  Church Joshua  transaction count:  4  total revenue:  1565.72  transaction rank:  2177  revenue rank:  2688
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  1933.70  transaction rank:  2177  revenue rank:  2260
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  2415.87  transaction rank:  2177  revenue rank:  1728
cashier name:  Myers Gary  transaction count:  4  total revenue:  1563.12  transaction rank:  2177  revenue rank:  2694

cashier name:  Sosa David  transaction count:  4  total revenue:  2497.19  transaction rank:  2177  revenue rank:  1648
cashier name:  Burns Kendra  transaction count:  4  total revenue:  2414.10  transaction rank:  2177  revenue rank:  1729
cashier name:  Colon Lindsey  transaction count:  4  total revenue:  1555.88  transaction rank:  2177  revenue rank:  2699
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  2115.26  transaction rank:  2177  revenue rank:  2040
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1993.87  transaction rank:  2177  revenue rank:  2191
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  1554.26  transaction rank:  2177  revenue rank:  2704
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1553.87  transaction rank:  2177  revenue rank:  2705
cashier name:  Wilson Jill  transaction count:  4  total revenue:  2028.78  transaction rank:  2177  revenue rank:  2153
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1549.88  transaction rank:  2177  revenue rank:  2708
cashier name:  Brooks Renee  transaction count:  4  total revenue:  2495.90  transaction rank:  2177  revenue rank:  1649
cashier name:  Jacobs Brenda  transaction count:  4  total revenue:  1546.41  transaction rank:  2177  revenue rank:  2710
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  1929.34  transaction rank:  2177  revenue rank:  2266
cashier name:  Roach Christine  transaction count:  4  total revenue:  1545.03  transaction rank:  2177  revenue rank:  2713
cashier name:  Brooks Renee  transaction count:  4  total revenue:  1543.99  transaction rank:  2177  revenue rank:  2715
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  2855.22  transaction rank:  2177  revenue rank:  1311
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2118.07  transaction rank:  2177  revenue rank:  2037
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  2542.84  transaction rank:  2177  revenue rank:  1600
cashier name:  Jones Michael  transaction count:  4  total revenue:  2120.35  transaction rank:  2177  revenue rank:  2036
cashier name:  Henderson Nancy  transaction count:  4  total revenue:  1539.04  transaction rank:  2177  revenue rank:  2725
cashier name:  Galvan Lori  transaction count:  4  total revenue:  1928.80  transaction rank:  2177  revenue rank:  2268
cashier name:  Jones Christopher  transaction count:  4  total revenue:  1536.71  transaction rank:  2177  revenue rank:  2727
cashier name:  Bennett Alec  transaction count:  4  total revenue:  2867.17  transaction rank:  2177  revenue rank:  1298
cashier name:  Rogers Mark  transaction count:  4  total revenue:  2028.97  transaction rank:  2177  revenue rank:  2152
cashier name:  Woods Marcus  transaction count:  4  total revenue:  1530.96  transaction rank:  2177  revenue rank:  2737
cashier name:  Eric Mr.  transaction count:  4  total revenue:  1529.02  transaction rank:  2177  revenue rank:  2740
cashier name:  Jackson Gary  transaction count:  4  total revenue:  2877.02  transaction rank:  2177  revenue rank:  1289
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2411.74  transaction rank:  2177  revenue rank:  1732
cashier name:  Love Thomas  transaction count:  4  total revenue:  1526.04  transaction rank:  2177  revenue rank:  2744
cashier name:  Moyer Steven  transaction count:  4  total revenue:  1525.53  transaction rank:  2177  revenue rank:  2745
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1524.61  transaction rank:  2177  revenue rank:  2748
cashier name:  Sosa David  transaction count:  4  total revenue:  1522.20  transaction rank:  2177  revenue rank:  2750
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1521.94  transaction rank:  2177  revenue rank:  2751
cashier name:  Torres Steven  transaction count:  4  total revenue:  2505.81  transaction rank:  2177  revenue rank:  1638
cashier name:  Love Thomas  transaction count:  4  total revenue:  2882.06  transaction rank:  2177  revenue rank:  1284
cashier name:  Randolph Emily  transaction count:  4  total revenue:  2121.49  transaction rank:  2177  revenue rank:  2032
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  1513.83  transaction rank:  2177  revenue rank:  2761
cashier name:  Jackson Michael  transaction count:  4  total revenue:  2123.55  transaction rank:  2177  revenue rank:  2030
cashier name:  Long Kirsten  transaction count:  4  total revenue:  2885.14  transaction rank:  2177  revenue rank:  1280
cashier name:  Spears Erin  transaction count:  4  total revenue:  1507.77  transaction rank:  2177  revenue rank:  2770
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1507.42  transaction rank:  2177  revenue rank:  2771
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1507.40  transaction rank:  2177  revenue rank:  2772
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1505.14  transaction rank:  2177  revenue rank:  2775
cashier name:  Jacobs Brenda  transaction count:  4  total revenue:  2888.19  transaction rank:  2177  revenue rank:  1276
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2487.33  transaction rank:  2177  revenue rank:  1659
cashier name:  Mckenzie William  transaction count:  4  total revenue:  1918.66  transaction rank:  2177  revenue rank:  2278
cashier name:  Horton Ashley  transaction count:  4  total revenue:  1499.65  transaction rank:  2177  revenue rank:  2781
cashier name:  Harrell Angie  transaction count:  4  total revenue:  1916.06  transaction rank:  2177  revenue rank:  2279
cashier name:  Payne Samantha  transaction count:  4  total revenue:  2406.46  transaction rank:  2177  revenue rank:  1739
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  1496.32  transaction rank:  2177  revenue rank:  2786
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1494.72  transaction rank:  2177  revenue rank:  2789
cashier name:  Roach Christine  transaction count:  4  total revenue:  1493.57  transaction rank:  2177  revenue rank:  2790
cashier name:  Rogers Mark  transaction count:  4  total revenue:  1492.36  transaction rank:  2177  revenue rank:  2791
cashier name:  Williams Michael  transaction count:  4  total revenue:  2399.96  transaction rank:  2177  revenue rank:  1740
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1491.29  transaction rank:  2177  revenue rank:  2794
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  1489.22  transaction rank:  2177  revenue rank:  2798
cashier name:  Shah Amanda  transaction count:  4  total revenue:  1488.94  transaction rank:  2177  revenue rank:  2799
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  1914.42  transaction rank:  2177  revenue rank:  2282
cashier name:  Spears Erin  transaction count:  4  total revenue:  2893.80  transaction rank:  2177  revenue rank:  1269
cashier name:  Mckenzie William  transaction count:  4  total revenue:  2550.25  transaction rank:  2177  revenue rank:  1593
cashier name:  Gardner Laura  transaction count:  4  total revenue:  2397.90  transaction rank:  2177  revenue rank:  1744
cashier name:  Bennett Alec  transaction count:  4  total revenue:  2897.23  transaction rank:  2177  revenue rank:  1263
cashier name:  Horton Ashley  transaction count:  4  total revenue:  2471.56  transaction rank:  2177  revenue rank:  1676
cashier name:  Spears Erin  transaction count:  4  total revenue:  1480.54  transaction rank:  2177  revenue rank:  2815
cashier name:  Spears Erin  transaction count:  4  total revenue:  1479.10  transaction rank:  2177  revenue rank:  2817
cashier name:  Bradley Rita  transaction count:  4  total revenue:  2125.76  transaction rank:  2177  revenue rank:  2025
cashier name:  Smith Brandy  transaction count:  4  total revenue:  1476.04  transaction rank:  2177  revenue rank:  2819
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  1475.98  transaction rank:  2177  revenue rank:  2820
cashier name:  Love Thomas  transaction count:  4  total revenue:  1474.37  transaction rank:  2177  revenue rank:  2821
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  2899.10  transaction rank:  2177  revenue rank:  1262
cashier name:  Spears Erin  transaction count:  4  total revenue:  1472.53  transaction rank:  2177  revenue rank:  2826
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1472.11  transaction rank:  2177  revenue rank:  2828
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  1472.10  transaction rank:  2177  revenue rank:  2829
cashier name:  Jones Christopher  transaction count:  4  total revenue:  2128.30  transaction rank:  2177  revenue rank:  2021
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  1469.57  transaction rank:  2177  revenue rank:  2834
cashier name:  Williams Michael  transaction count:  4  total revenue:  1467.72  transaction rank:  2177  revenue rank:  2837
cashier name:  Hughes Christopher  transaction count:  4  total revenue:  1467.05  transaction rank:  2177  revenue rank:  2838
cashier name:  Wood Joshua  transaction count:  4  total revenue:  2557.37  transaction rank:  2177  revenue rank:  1583
cashier name:  Burns Kendra  transaction count:  4  total revenue:  1464.82  transaction rank:  2177  revenue rank:  2840
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  2908.15  transaction rank:  2177  revenue rank:  1251
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  1460.31  transaction rank:  2177  revenue rank:  2846
cashier name:  Jessica Ms.  transaction count:  4  total revenue:  2133.11  transaction rank:  2177  revenue rank:  2016
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1904.02  transaction rank:  2177  revenue rank:  2291
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  1455.69  transaction rank:  2177  revenue rank:  2855
cashier name:  Wood Joshua  transaction count:  4  total revenue:  2914.68  transaction rank:  2177  revenue rank:  1245
cashier name:  Thomas Robert  transaction count:  4  total revenue:  2137.58  transaction rank:  2177  revenue rank:  2013
cashier name:  Meyer James  transaction count:  4  total revenue:  2914.72  transaction rank:  2177  revenue rank:  1244
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1451.12  transaction rank:  2177  revenue rank:  2861
cashier name:  Glover Michelle  transaction count:  4  total revenue:  2917.47  transaction rank:  2177  revenue rank:  1241
cashier name:  Marquez Jeffrey  transaction count:  4  total revenue:  1986.83  transaction rank:  2177  revenue rank:  2196
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  2922.04  transaction rank:  2177  revenue rank:  1239
cashier name:  Rogers Mark  transaction count:  4  total revenue:  1449.11  transaction rank:  2177  revenue rank:  2866
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2137.86  transaction rank:  2177  revenue rank:  2012
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1900.42  transaction rank:  2177  revenue rank:  2295
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  2143.48  transaction rank:  2177  revenue rank:  2011
cashier name:  Marquez Jeffrey  transaction count:  4  total revenue:  2143.68  transaction rank:  2177  revenue rank:  2010
cashier name:  Waters Julie  transaction count:  4  total revenue:  1441.11  transaction rank:  2177  revenue rank:  2876
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  2388.65  transaction rank:  2177  revenue rank:  1754
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  1898.67  transaction rank:  2177  revenue rank:  2296
cashier name:  Horton Ashley  transaction count:  4  total revenue:  1436.42  transaction rank:  2177  revenue rank:  2881
cashier name:  Meyer James  transaction count:  4  total revenue:  2032.56  transaction rank:  2177  revenue rank:  2147
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  1433.81  transaction rank:  2177  revenue rank:  2883
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2382.59  transaction rank:  2177  revenue rank:  1758
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1433.68  transaction rank:  2177  revenue rank:  2885
cashier name:  Long Kirsten  transaction count:  4  total revenue:  1433.13  transaction rank:  2177  revenue rank:  2886
cashier name:  Gardner Laura  transaction count:  4  total revenue:  1432.77  transaction rank:  2177  revenue rank:  2887
cashier name:  Bradley Rita  transaction count:  4  total revenue:  2376.28  transaction rank:  2177  revenue rank:  1762
cashier name:  Sosa David  transaction count:  4  total revenue:  2939.74  transaction rank:  2177  revenue rank:  1224
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2946.24  transaction rank:  2177  revenue rank:  1216
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1985.86  transaction rank:  2177  revenue rank:  2197
cashier name:  Waters Julie  transaction count:  4  total revenue:  2947.39  transaction rank:  2177  revenue rank:  1215
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1425.08  transaction rank:  2177  revenue rank:  2894
cashier name:  Gardner Laura  transaction count:  4  total revenue:  2032.66  transaction rank:  2177  revenue rank:  2146
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  2951.26  transaction rank:  2177  revenue rank:  1203
cashier name:  Mckenzie William  transaction count:  4  total revenue:  2560.56  transaction rank:  2177  revenue rank:  1580
cashier name:  Carroll Eric  transaction count:  4  total revenue:  1420.53  transaction rank:  2177  revenue rank:  2901
cashier name:  Shah Amanda  transaction count:  4  total revenue:  1420.34  transaction rank:  2177  revenue rank:  2902
cashier name:  Werner Kara  transaction count:  4  total revenue:  1419.36  transaction rank:  2177  revenue rank:  2903
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  2982.47  transaction rank:  2177  revenue rank:  1179
cashier name:  Jones Christopher  transaction count:  4  total revenue:  1418.08  transaction rank:  2177  revenue rank:  2906
cashier name:  Torres Steven  transaction count:  4  total revenue:  1416.94  transaction rank:  2177  revenue rank:  2907
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  2994.76  transaction rank:  2177  revenue rank:  1171
cashier name:  Golden Laurie  transaction count:  4  total revenue:  1415.33  transaction rank:  2177  revenue rank:  2910
cashier name:  Brown Lisa  transaction count:  4  total revenue:  1413.47  transaction rank:  2177  revenue rank:  2914
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2150.38  transaction rank:  2177  revenue rank:  2002
cashier name:  Church Joshua  transaction count:  4  total revenue:  2154.20  transaction rank:  2177  revenue rank:  1999
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  1411.50  transaction rank:  2177  revenue rank:  2917
cashier name:  Bryan Mr.  transaction count:  4  total revenue:  1889.07  transaction rank:  2177  revenue rank:  2302
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  3020.40  transaction rank:  2177  revenue rank:  1153
cashier name:  Kramer Veronica  transaction count:  4  total revenue:  3042.89  transaction rank:  2177  revenue rank:  1133
cashier name:  Moyer Steven  transaction count:  4  total revenue:  1404.00  transaction rank:  2177  revenue rank:  2926
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  1403.62  transaction rank:  2177  revenue rank:  2927
cashier name:  White Kenneth  transaction count:  4  total revenue:  2564.13  transaction rank:  2177  revenue rank:  1574
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1402.46  transaction rank:  2177  revenue rank:  2930
cashier name:  Jessica Ms.  transaction count:  4  total revenue:  1401.36  transaction rank:  2177  revenue rank:  2932
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  1401.36  transaction rank:  2177  revenue rank:  2932
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1401.13  transaction rank:  2177  revenue rank:  2934
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1401.04  transaction rank:  2177  revenue rank:  2936
cashier name:  Torres Steven  transaction count:  4  total revenue:  3057.89  transaction rank:  2177  revenue rank:  1117
cashier name:  Carroll Eric  transaction count:  4  total revenue:  1400.39  transaction rank:  2177  revenue rank:  2938
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  3063.03  transaction rank:  2177  revenue rank:  1111
cashier name:  Perry Andrea  transaction count:  4  total revenue:  2572.88  transaction rank:  2177  revenue rank:  1567
cashier name:  Payne Samantha  transaction count:  4  total revenue:  1397.08  transaction rank:  2177  revenue rank:  2942
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1394.02  transaction rank:  2177  revenue rank:  2946
cashier name:  Colon Lindsey  transaction count:  4  total revenue:  2035.24  transaction rank:  2177  revenue rank:  2145
cashier name:  Spears Erin  transaction count:  4  total revenue:  3072.39  transaction rank:  2177  revenue rank:  1104
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  1388.38  transaction rank:  2177  revenue rank:  2952
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  1387.15  transaction rank:  2177  revenue rank:  2954
cashier name:  Campbell Bethany  transaction count:  4  total revenue:  2160.73  transaction rank:  2177  revenue rank:  1990
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  2164.61  transaction rank:  2177  revenue rank:  1988
cashier name:  Jackson Michael  transaction count:  4  total revenue:  1379.54  transaction rank:  2177  revenue rank:  2961
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  1377.01  transaction rank:  2177  revenue rank:  2964
cashier name:  Mckenzie William  transaction count:  4  total revenue:  1375.17  transaction rank:  2177  revenue rank:  2970
cashier name:  Colon Lindsey  transaction count:  4  total revenue:  1883.16  transaction rank:  2177  revenue rank:  2309
cashier name:  Meyer James  transaction count:  4  total revenue:  2580.07  transaction rank:  2177  revenue rank:  1562
cashier name:  Jones Michael  transaction count:  4  total revenue:  1374.48  transaction rank:  2177  revenue rank:  2973
cashier name:  Wilson Jill  transaction count:  4  total revenue:  2506.15  transaction rank:  2177  revenue rank:  1637
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  2498.87  transaction rank:  2177  revenue rank:  1646
cashier name:  Horton Mark  transaction count:  4  total revenue:  1369.95  transaction rank:  2177  revenue rank:  2978
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  1368.45  transaction rank:  2177  revenue rank:  2980
cashier name:  Horton Ashley  transaction count:  4  total revenue:  1367.90  transaction rank:  2177  revenue rank:  2982
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  2594.80  transaction rank:  2177  revenue rank:  1551
cashier name:  Glover Michelle  transaction count:  4  total revenue:  1879.93  transaction rank:  2177  revenue rank:  2315

cashier name:  Hughes Christopher  transaction count:  4  total revenue:  2356.80  transaction rank:  2177  revenue rank:  1785
cashier name:  Wilson Jill  transaction count:  4  total revenue:  3154.21  transaction rank:  2177  revenue rank:  1039
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  1864.41  transaction rank:  2177  revenue rank:  2331
cashier name:  Roach Christine  transaction count:  4  total revenue:  1864.31  transaction rank:  2177  revenue rank:  2332
cashier name:  Love Thomas  transaction count:  4  total revenue:  1310.09  transaction rank:  2177  revenue rank:  3051
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  2601.00  transaction rank:  2177  revenue rank:  1542
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  3168.43  transaction rank:  2177  revenue rank:  1031
cashier name:  Horton Ashley  transaction count:  4  total revenue:  1863.50  transaction rank:  2177  revenue rank:  2335
cashier name:  Long Kirsten  transaction count:  4  total revenue:  1302.90  transaction rank:  2177  revenue rank:  3060
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1302.78  transaction rank:  2177  revenue rank:  3061
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1862.47  transaction rank:  2177  revenue rank:  2336
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  2182.42  transaction rank:  2177  revenue rank:  1968
cashier name:  Moon James  transaction count:  4  total revenue:  2350.34  transaction rank:  2177  revenue rank:  1793
cashier name:  Durham Denise  transaction count:  4  total revenue:  1292.00  transaction rank:  2177  revenue rank:  3073
cashier name:  Myers Gary  transaction count:  4  total revenue:  1287.50  transaction rank:  2177  revenue rank:  3078
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  1287.22  transaction rank:  2177  revenue rank:  3079
cashier name:  Manning Maria  transaction count:  4  total revenue:  1861.30  transaction rank:  2177  revenue rank:  2338
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  2189.01  transaction rank:  2177  revenue rank:  1964
cashier name:  Horton Mark  transaction count:  4  total revenue:  1284.20  transaction rank:  2177  revenue rank:  3083
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  3174.76  transaction rank:  2177  revenue rank:  1026
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  3175.03  transaction rank:  2177  revenue rank:  1025
cashier name:  Smith Diana  transaction count:  4  total revenue:  1861.27  transaction rank:  2177  revenue rank:  2339
cashier name:  Dodson Courtney  transaction count:  4  total revenue:  1280.96  transaction rank:  2177  revenue rank:  3088
cashier name:  Harrell Angie  transaction count:  4  total revenue:  1278.40  transaction rank:  2177  revenue rank:  3090
cashier name:  Galvan Lori  transaction count:  4  total revenue:  2189.25  transaction rank:  2177  revenue rank:  1963
cashier name:  Spears Erin  transaction count:  4  total revenue:  1274.93  transaction rank:  2177  revenue rank:  3095
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  3175.88  transaction rank:  2177  revenue rank:  1023
cashier name:  Jones Michael  transaction count:  4  total revenue:  2348.75  transaction rank:  2177  revenue rank:  1798
cashier name:  Burns Kendra  transaction count:  4  total revenue:  1273.62  transaction rank:  2177  revenue rank:  3099
cashier name:  Campbell Brittany  transaction count:  4  total revenue:  2195.51  transaction rank:  2177  revenue rank:  1961
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  2605.59  transaction rank:  2177  revenue rank:  1537
cashier name:  Wood Joshua  transaction count:  4  total revenue:  3203.05  transaction rank:  2177  revenue rank:  1011
cashier name:  Thompson Andrea  transaction count:  4  total revenue:  3215.52  transaction rank:  2177  revenue rank:  1001
cashier name:  Brooks Renee  transaction count:  4  total revenue:  2347.85  transaction rank:  2177  revenue rank:  1799
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1264.28  transaction rank:  2177  revenue rank:  3116
cashier name:  Thompson Matthew  transaction count:  4  total revenue:  2619.79  transaction rank:  2177  revenue rank:  1521
cashier name:  Payne Samantha  transaction count:  4  total revenue:  1263.46  transaction rank:  2177  revenue rank:  3118
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  1260.21  transaction rank:  2177  revenue rank:  3122
cashier name:  Bryan Mr.  transaction count:  4  total revenue:  1260.21  transaction rank:  2177  revenue rank:  3122
cashier name:  Wilson Jill  transaction count:  4  total revenue:  1258.94  transaction rank:  2177  revenue rank:  3125
cashier name:  Gross Andrew  transaction count:  4  total revenue:  2200.22  transaction rank:  2177  revenue rank:  1958
cashier name:  Kerr Jason  transaction count:  4  total revenue:  1257.60  transaction rank:  2177  revenue rank:  3129
cashier name:  Roach Christine  transaction count:  4  total revenue:  2484.35  transaction rank:  2177  revenue rank:  1660
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  2508.72  transaction rank:  2177  revenue rank:  1635
cashier name:  Frederick Evan  transaction count:  4  total revenue:  1254.48  transaction rank:  2177  revenue rank:  3135
cashier name:  Smith Diana  transaction count:  4  total revenue:  3229.06  transaction rank:  2177  revenue rank:  988
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  1253.26  transaction rank:  2177  revenue rank:  3138
cashier name:  Jackson Michael  transaction count:  4  total revenue:  1252.75  transaction rank:  2177  revenue rank:  3140
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2483.83  transaction rank:  2177  revenue rank:  1663
cashier name:  Nichols Mitchell  transaction count:  4  total revenue:  3232.17  transaction rank:  2177  revenue rank:  983
cashier name:  Campbell Bethany  transaction count:  4  total revenue:  2627.06  transaction rank:  2177  revenue rank:  1512
cashier name:  Hull Shane  transaction count:  4  total revenue:  1851.55  transaction rank:  2177  revenue rank:  2352
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1243.22  transaction rank:  2177  revenue rank:  3150
cashier name:  Love Thomas  transaction count:  4  total revenue:  2201.38  transaction rank:  2177  revenue rank:  1957
cashier name:  Sosa David  transaction count:  4  total revenue:  2629.99  transaction rank:  2177  revenue rank:  1510
cashier name:  Wood Joshua  transaction count:  4  total revenue:  1241.01  transaction rank:  2177  revenue rank:  3153
cashier name:  White Kenneth  transaction count:  4  total revenue:  3263.12  transaction rank:  2177  revenue rank:  957
cashier name:  Riley Ashley  transaction count:  4  total revenue:  1849.63  transaction rank:  2177  revenue rank:  2355
cashier name:  Wood Joshua  transaction count:  4  total revenue:  1237.11  transaction rank:  2177  revenue rank:  3156
cashier name:  Jackson Michael  transaction count:  4  total revenue:  2042.29  transaction rank:  2177  revenue rank:  2136
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  1236.81  transaction rank:  2177  revenue rank:  3158
cashier name:  Meyer James  transaction count:  4  total revenue:  1236.66  transaction rank:  2177  revenue rank:  3159
cashier name:  Martin Monica  transaction count:  4  total revenue:  3278.94  transaction rank:  2177  revenue rank:  947
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  1234.20  transaction rank:  2177  revenue rank:  3162
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1232.13  transaction rank:  2177  revenue rank:  3166
cashier name:  Hughes Christopher  transaction count:  4  total revenue:  3308.54  transaction rank:  2177  revenue rank:  932
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1229.91  transaction rank:  2177  revenue rank:  3170
cashier name:  Walters Jay  transaction count:  4  total revenue:  2343.34  transaction rank:  2177  revenue rank:  1804
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  2338.28  transaction rank:  2177  revenue rank:  1810
cashier name:  Myers Gary  transaction count:  4  total revenue:  1227.20  transaction rank:  2177  revenue rank:  3173
cashier name:  Randolph Emily  transaction count:  4  total revenue:  1225.08  transaction rank:  2177  revenue rank:  3175
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2334.59  transaction rank:  2177  revenue rank:  1813
cashier name:  Glover Michelle  transaction count:  4  total revenue:  1222.37  transaction rank:  2177  revenue rank:  3179
cashier name:  Spears Erin  transaction count:  4  total revenue:  1218.32  transaction rank:  2177  revenue rank:  3186
cashier name:  Horton Mark  transaction count:  4  total revenue:  2043.66  transaction rank:  2177  revenue rank:  2133
cashier name:  Horton Ashley  transaction count:  4  total revenue:  2325.38  transaction rank:  2177  revenue rank:  1821
cashier name:  Williams Michael  transaction count:  4  total revenue:  1215.02  transaction rank:  2177  revenue rank:  3191
cashier name:  Hull Shane  transaction count:  4  total revenue:  1843.00  transaction rank:  2177  revenue rank:  2364
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1211.83  transaction rank:  2177  revenue rank:  3195
cashier name:  Walls Kristen  transaction count:  4  total revenue:  2205.67  transaction rank:  2177  revenue rank:  1948
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1210.66  transaction rank:  2177  revenue rank:  3197
cashier name:  Burns Kendra  transaction count:  4  total revenue:  1203.26  transaction rank:  2177  revenue rank:  3202
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1200.84  transaction rank:  2177  revenue rank:  3204
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  1200.05  transaction rank:  2177  revenue rank:  3206
cashier name:  Thomas Robert  transaction count:  4  total revenue:  2323.45  transaction rank:  2177  revenue rank:  1822
cashier name:  Bennett Alec  transaction count:  4  total revenue:  2206.59  transaction rank:  2177  revenue rank:  1945
cashier name:  Tate Harry  transaction count:  4  total revenue:  2323.44  transaction rank:  2177  revenue rank:  1823
cashier name:  Williams Michael  transaction count:  4  total revenue:  3309.73  transaction rank:  2177  revenue rank:  930
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  2210.18  transaction rank:  2177  revenue rank:  1943
cashier name:  Rogers Mark  transaction count:  4  total revenue:  1839.77  transaction rank:  2177  revenue rank:  2368
cashier name:  Bradley Rita  transaction count:  4  total revenue:  2321.19  transaction rank:  2177  revenue rank:  1824
cashier name:  Day Natasha  transaction count:  4  total revenue:  1189.15  transaction rank:  2177  revenue rank:  3219
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  1188.70  transaction rank:  2177  revenue rank:  3220
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1186.46  transaction rank:  2177  revenue rank:  3222
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1185.37  transaction rank:  2177  revenue rank:  3223
cashier name:  Moon James  transaction count:  4  total revenue:  1184.49  transaction rank:  2177  revenue rank:  3225
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  1183.71  transaction rank:  2177  revenue rank:  3226
cashier name:  Burns Kendra  transaction count:  4  total revenue:  2212.29  transaction rank:  2177  revenue rank:  1941
cashier name:  Meyer James  transaction count:  4  total revenue:  1181.75  transaction rank:  2177  revenue rank:  3231
cashier name:  Mckenzie William  transaction count:  4  total revenue:  1176.61  transaction rank:  2177  revenue rank:  3233
cashier name:  Myers Gary  transaction count:  4  total revenue:  3338.38  transaction rank:  2177  revenue rank:  916
cashier name:  Meyer James  transaction count:  4  total revenue:  1836.75  transaction rank:  2177  revenue rank:  2371
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  1833.49  transaction rank:  2177  revenue rank:  2373
cashier name:  Kerr Jason  transaction count:  4  total revenue:  2637.24  transaction rank:  2177  revenue rank:  1501
cashier name:  Spears Erin  transaction count:  4  total revenue:  1831.49  transaction rank:  2177  revenue rank:  2376
cashier name:  Campbell Bethany  transaction count:  4  total revenue:  1166.78  transaction rank:  2177  revenue rank:  3246
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  1162.43  transaction rank:  2177  revenue rank:  3252
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  1161.36  transaction rank:  2177  revenue rank:  3253

cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1823.44  transaction rank:  2177  revenue rank:  2380
cashier name:  Sean Mr.  transaction count:  4  total revenue:  1822.31  transaction rank:  2177  revenue rank:  2381
cashier name:  Warren Timothy  transaction count:  4  total revenue:  1154.12  transaction rank:  2177  revenue rank:  3262
cashier name:  Colon Lindsey  transaction count:  4  total revenue:  2649.42  transaction rank:  2177  revenue rank:  1494
cashier name:  Martin Monica  transaction count:  4  total revenue:  1153.67  transaction rank:  2177  revenue rank:  3264
cashier name:  Mckenzie William  transaction count:  4  total revenue:  2001.20  transaction rank:  2177  revenue rank:  2183
cashier name:  Hull Shane  transaction count:  4  total revenue:  1151.95  transaction rank:  2177  revenue rank:  3266
cashier name:  Henderson Nancy  transaction count:  4  total revenue:  3430.84  transaction rank:  2177  revenue rank:  858
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  2653.90  transaction rank:  2177  revenue rank:  1491
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  2516.91  transaction rank:  2177  revenue rank:  1630
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2218.96  transaction rank:  2177  revenue rank:  1933
cashier name:  Myers Gary  transaction count:  4  total revenue:  2455.03  transaction rank:  2177  revenue rank:  1686
cashier name:  Moon James  transaction count:  4  total revenue:  2312.86  transaction rank:  2177  revenue rank:  1832
cashier name:  Vasquez Peter  transaction count:  4  total revenue:  1819.06  transaction rank:  2177  revenue rank:  2387
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  1143.94  transaction rank:  2177  revenue rank:  3277
cashier name:  Sosa David  transaction count:  4  total revenue:  2311.51  transaction rank:  2177  revenue rank:  1835
cashier name:  Waters Julie  transaction count:  4  total revenue:  3492.54  transaction rank:  2177  revenue rank:  819
cashier name:  Alvarez Brenda  transaction count:  4  total revenue:  1141.56  transaction rank:  2177  revenue rank:  3280
cashier name:  Bradley Rita  transaction count:  4  total revenue:  1141.28  transaction rank:  2177  revenue rank:  3281
cashier name:  Sosa David  transaction count:  4  total revenue:  2481.72  transaction rank:  2177  revenue rank:  1666
cashier name:  Love Thomas  transaction count:  4  total revenue:  1139.88  transaction rank:  2177  revenue rank:  3284
cashier name:  Torres Steven  transaction count:  4  total revenue:  1816.84  transaction rank:  2177  revenue rank:  2389
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2017.67  transaction rank:  2177  revenue rank:  2168
cashier name:  Walls Kristen  transaction count:  4  total revenue:  1133.22  transaction rank:  2177  revenue rank:  3291
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  1131.92  transaction rank:  2177  revenue rank:  3293
cashier name:  Shah Amanda  transaction count:  4  total revenue:  2659.33  transaction rank:  2177  revenue rank:  1489
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  2660.08  transaction rank:  2177  revenue rank:  1487
cashier name:  Hayes Brandon  transaction count:  4  total revenue:  1125.80  transaction rank:  2177  revenue rank:  3298
cashier name:  White Kenneth  transaction count:  4  total revenue:  2309.79  transaction rank:  2177  revenue rank:  1837
cashier name:  Long Kirsten  transaction count:  4  total revenue:  3497.98  transaction rank:  2177  revenue rank:  815
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  2662.42  transaction rank:  2177  revenue rank:  1486
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  1122.78  transaction rank:  2177  revenue rank:  3305
cashier name:  Horton Mark  transaction count:  4  total revenue:  3515.31  transaction rank:  2177  revenue rank:  808
cashier name:  White Kenneth  transaction count:  4  total revenue:  1119.71  transaction rank:  2177  revenue rank:  3308
cashier name:  Carroll Eric  transaction count:  4  total revenue:  1117.72  transaction rank:  2177  revenue rank:  3310
cashier name:  Blanchard Ricky  transaction count:  4  total revenue:  2226.82  transaction rank:  2177  revenue rank:  1921
cashier name:  Gonzalez Michele  transaction count:  4  total revenue:  1972.77  transaction rank:  2177  revenue rank:  2214
cashier name:  Moyer Steven  transaction count:  4  total revenue:  1115.31  transaction rank:  2177  revenue rank:  3314
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  2304.72  transaction rank:  2177  revenue rank:  1844
cashier name:  Werner Kara  transaction count:  4  total revenue:  1972.73  transaction rank:  2177  revenue rank:  2215
cashier name:  Horton Ashley  transaction count:  4  total revenue:  2662.66  transaction rank:  2177  revenue rank:  1485
cashier name:  Durham Denise  transaction count:  4  total revenue:  2675.85  transaction rank:  2177  revenue rank:  1478
cashier name:  Thompson Matthew  transaction count:  4  total revenue:  2303.34  transaction rank:  2177  revenue rank:  1846
cashier name:  Sean Mr.  transaction count:  4  total revenue:  2299.30  transaction rank:  2177  revenue rank:  1852
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  2046.78  transaction rank:  2177  revenue rank:  2127
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  1098.22  transaction rank:  2177  revenue rank:  3336
cashier name:  Woods Marcus  transaction count:  4  total revenue:  1805.78  transaction rank:  2177  revenue rank:  2403
cashier name:  Ellis Lauren  transaction count:  4  total revenue:  2048.86  transaction rank:  2177  revenue rank:  2123
cashier name:  Atkinson Gary  transaction count:  4  total revenue:  1094.99  transaction rank:  2177  revenue rank:  3340
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  2051.98  transaction rank:  2177  revenue rank:  2117
cashier name:  Wood Joshua  transaction count:  4  total revenue:  2448.10  transaction rank:  2177  revenue rank:  1690
cashier name:  White Kenneth  transaction count:  4  total revenue:  2448.01  transaction rank:  2177  revenue rank:  1691
cashier name:  Williams Michael  transaction count:  4  total revenue:  1971.87  transaction rank:  2177  revenue rank:  2216
cashier name:  Johnson Samantha  transaction count:  4  total revenue:  3560.26  transaction rank:  2177  revenue rank:  786
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2237.59  transaction rank:  2177  revenue rank:  1910
cashier name:  Terri Mrs.  transaction count:  4  total revenue:  1802.57  transaction rank:  2177  revenue rank:  2411
cashier name:  Mckenzie William  transaction count:  4  total revenue:  2682.28  transaction rank:  2177  revenue rank:  1470
cashier name:  Werner Kara  transaction count:  4  total revenue:  1080.09  transaction rank:  2177  revenue rank:  3360
cashier name:  Foster Kenneth  transaction count:  4  total revenue:  1795.44  transaction rank:  2177  revenue rank:  2415
cashier name:  Sosa David  transaction count:  4  total revenue:  2250.27  transaction rank:  2177  revenue rank:  1906
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  2292.25  transaction rank:  2177  revenue rank:  1859
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  1073.72  transaction rank:  2177  revenue rank:  3371
cashier name:  Jordan Carla  transaction count:  4  total revenue:  1071.70  transaction rank:  2177  revenue rank:  3374
cashier name:  Sosa David  transaction count:  4  total revenue:  1071.26  transaction rank:  2177  revenue rank:  3376
cashier name:  Sosa David  transaction count:  4  total revenue:  2291.80  transaction rank:  2177  revenue rank:  1861
cashier name:  Foster Jennifer  transaction count:  4  total revenue:  1793.63  transaction rank:  2177  revenue rank:  2418
cashier name:  Smith Diana  transaction count:  4  total revenue:  1793.35  transaction rank:  2177  revenue rank:  2419
cashier name:  Jones Christopher  transaction count:  4  total revenue:  1065.96  transaction rank:  2177  revenue rank:  3382
cashier name:  Warren Timothy  transaction count:  4  total revenue:  3561.49  transaction rank:  2177  revenue rank:  784
cashier name:  Tate Harry  transaction count:  4  total revenue:  1061.60  transaction rank:  2177  revenue rank:  3390
cashier name:  Riley Ashley  transaction count:  4  total revenue:  2684.83  transaction rank:  2177  revenue rank:  1467
cashier name:  Roach Christine  transaction count:  4  total revenue:  1058.60  transaction rank:  2177  revenue rank:  3393
cashier name:  Durham Denise  transaction count:  4  total revenue:  1057.45  transaction rank:  2177  revenue rank:  3394
cashier name:  Jones Michael  transaction count:  4  total revenue:  2689.45  transaction rank:  2177  revenue rank:  1464
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  2291.23  transaction rank:  2177  revenue rank:  1863
cashier name:  Spears Erin  transaction count:  4  total revenue:  1969.30  transaction rank:  2177  revenue rank:  2219
cashier name:  Campbell Bethany  transaction count:  4  total revenue:  1784.17  transaction rank:  2177  revenue rank:  2425
cashier name:  Myers Gary  transaction count:  4  total revenue:  1783.12  transaction rank:  2177  revenue rank:  2426
cashier name:  Moore Jason  transaction count:  4  total revenue:  1969.02  transaction rank:  2177  revenue rank:  2220
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  1046.06  transaction rank:  2177  revenue rank:  3410
cashier name:  Jackson Gary  transaction count:  4  total revenue:  1044.35  transaction rank:  2177  revenue rank:  3413
cashier name:  Jones Evelyn  transaction count:  4  total revenue:  1782.37  transaction rank:  2177  revenue rank:  2429
cashier name:  Smith Brandy  transaction count:  4  total revenue:  1044.03  transaction rank:  2177  revenue rank:  3415
cashier name:  Conrad Frederick  transaction count:  4  total revenue:  1042.73  transaction rank:  2177  revenue rank:  3418
cashier name:  Myers Gary  transaction count:  4  total revenue:  1782.19  transaction rank:  2177  revenue rank:  2431
cashier name:  Kramer Veronica  transaction count:  4  total revenue:  2059.28  transaction rank:  2177  revenue rank:  2110
cashier name:  Mckenzie William  transaction count:  4  total revenue:  1037.26  transaction rank:  2177  revenue rank:  3426
cashier name:  Manning Maria  transaction count:  4  total revenue:  1035.41  transaction rank:  2177  revenue rank:  3427
cashier name:  Hernandez Michael  transaction count:  4  total revenue:  1033.64  transaction rank:  2177  revenue rank:  3431
cashier name:  Jones Michael  transaction count:  4  total revenue:  1033.20  transaction rank:  2177  revenue rank:  3432
cashier name:  Roach Christine  transaction count:  4  total revenue:  1032.29  transaction rank:  2177  revenue rank:  3433
cashier name:  Henderson Nancy  transaction count:  4  total revenue:  2258.18  transaction rank:  2177  revenue rank:  1900
cashier name:  Jones Michael  transaction count:  4  total revenue:  2287.97  transaction rank:  2177  revenue rank:  1867
cashier name:  Tate Harry  transaction count:  4  total revenue:  1028.64  transaction rank:  2177  revenue rank:  3437
cashier name:  Owens Jeffrey  transaction count:  4  total revenue:  2447.50  transaction rank:  2177  revenue rank:  1692
cashier name:  Kerr Jason  transaction count:  4  total revenue:  1025.51  transaction rank:  2177  revenue rank:  3440
cashier name:  Warren Timothy  transaction count:  4  total revenue:  2259.08  transaction rank:  2177  revenue rank:  1898
cashier name:  Glover Michelle  transaction count:  4  total revenue:  1023.68  transaction rank:  2177  revenue rank:  3443
cashier name:  Blanchard Ricky  transaction count:  4  total revenue:  1021.06  transaction rank:  2177  revenue rank:  3448
cashier name:  Long Kirsten  transaction count:  4  total revenue:  2261.81  transaction rank:  2177  revenue rank:  1897
cashier name:  Harrell Angie  transaction count:  4  total revenue:  2266.16  transaction rank:  2177  revenue rank:  1893
cashier name:  Walls Kristen  transaction count:  4  total revenue:  2446.72  transaction rank:  2177  revenue rank:  1693
cashier name:  Perry Andrea  transaction count:  4  total revenue:  1019.19  transaction rank:  2177  revenue rank:  3454
cashier name:  Chen Kathleen  transaction count:  4  total revenue:  2271.92  transaction rank:  2177  revenue rank:  1886
cashier name:  Long Kirsten  transaction count:  4  total revenue:  1014.47  transaction rank:  2177  revenue rank:  3460
cashier name:  Sean Mr.  transaction count:  4  total revenue:  3625.56  transaction rank:  2177  revenue rank:  751
cashier name:  Walls Kristen  transaction count:  4  total revenue:  1013.07  transaction rank:  2177  revenue rank:  3464
cashier name:  Thompson Matthew  transaction count:  4  total revenue:  261.37  transaction rank:  2177  revenue rank:  4423
cashier name:  Jones Michael  transaction count:  4  total revenue:  1771.91  transaction rank:  2177  revenue rank:  2442
cashier name:  Marquez Jeffrey  transaction count:  4  total revenue:  1010.12  transaction rank:  2177  revenue rank:  3471
cashier name:  Kramer Veronica  transaction count:  4  total revenue:  1009.84  transaction rank:  2177  revenue rank:  3472
cashier name:  Tate Harry  transaction count:  4  total revenue:  1009.39  transaction rank:  2177  revenue rank:  3473
cashier name:  Gardner Laura  transaction count:  4  total revenue:  1005.21  transaction rank:  2177  revenue rank:  3480
cashier name:  Sean Mr.  transaction count:  4  total revenue:  1003.64  transaction rank:  2177  revenue rank:  3482
cashier name:  Manning Maria  transaction count:  4  total revenue:  1002.99  transaction rank:  2177  revenue rank:  3483
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  1001.28  transaction rank:  2177  revenue rank:  3490
cashier name:  Davis Jennifer  transaction count:  4  total revenue:  997.61  transaction rank:  2177  revenue rank:  3493
cashier name:  Waters Julie  transaction count:  4  total revenue:  1767.65  transaction rank:  2177  revenue rank:  2449
cashier name:  Smith Diana  transaction count:  4  total revenue:  304.89  transaction rank:  2177  revenue rank:  4380
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  994.20  transaction rank:  2177  revenue rank:  3499
cashier name:  Colon Lindsey  transaction count:  4  total revenue:  993.18  transaction rank:  2177  revenue rank:  3502
cashier name:  Golden Laurie  transaction count:  4  total revenue:  1764.67  transaction rank:  2177  revenue rank:  2451
cashier name:  Blanchard Ricky  transaction count:  4  total revenue:  991.49  transaction rank:  2177  revenue rank:  3505
cashier name:  Golden Laurie  transaction count:  4  total revenue:  987.50  transaction rank:  2177  revenue rank:  3509
cashier name:  Nichols Brandon  transaction count:  4  total revenue:  986.54  transaction rank:  2177  revenue rank:  3511
cashier name:  Payne Samantha  transaction count:  4  total revenue:  1762.88  transaction rank:  2177  revenue rank:  2453
cashier name:  Spears Erin  transaction count:  4  total revenue:  353.89  transaction rank:  2177  revenue rank:  4323
cashier name:  Glover Michelle  transaction count:  4  total revenue:  983.64  transaction rank:  2177  revenue rank:  3516
cashier name:  Carroll Eric  transaction count:  4  total revenue:  2069.75  transaction rank:  2177  revenue rank:  2100
cashier name:  Shah Amanda  transaction count:  4  total revenue:  361.67  transaction rank:  2177  revenue rank:  4313
cashier name:  Harrell Angie  transaction count:  4  total revenue:  1760.30  transaction rank:  2177  revenue rank:  2455
cashier name:  Nguyen Richard  transaction count:  4  total revenue:  2700.22  transaction rank:  2177  revenue rank:  1451
cashier name:  Chambers Jeffrey  transaction count:  4  total revenue:  979.42  transaction rank:  2177  revenue rank:  3525
cashier name:  Golden Laurie  transaction count:  4  total revenue:  1757.74  transaction rank:  2177  revenue rank:  2457
cashier name:  Eric Mr.  transaction count:  4  total revenue:  2703.56  transaction rank:  2177  revenue rank:  1449
cashier name:  Carroll Eric  transaction count:  4  total revenue:  975.99  transaction rank:  2177  revenue rank:  3528
cashier name:  Mckinney Marcus  transaction count:  4  total revenue:  971.75  transaction rank:  2177  revenue rank:  3534
cashier name:  Pena Johnathan  transaction count:  4  total revenue:  971.67  transaction rank:  2177  revenue rank:  3535
cashier name:  Thomas Robert  transaction count:  4  total revenue:  1752.37  transaction rank:  2177  revenue rank:  2461
cashier name:  Galvan Lori  transaction count:  4  total revenue:  2480.61  transaction rank:  2177  revenue rank:  1667
cashier name:  Werner Kara  transaction count:  4  total revenue:  969.80  transaction rank:  2177  revenue rank:  3538
cashier name:  Walls Kristen  transaction count:  4  total revenue:  3628.36  transaction rank:  2177  revenue rank:  748
cashier name:  Manning Maria  transaction count:  4  total revenue:  967.38  transaction rank:  2177  revenue rank:  3543
cashier name:  Spears Erin  transaction count:  4  total revenue:  2072.27  transaction rank:  2177  revenue rank:  2099
cashier name:  Vasquez Peter  transaction count:  3  total revenue:  2392.92  transaction rank:  2854  revenue rank:  1749
cashier name:  Roach Christine  transaction count:  3  total revenue:  1075.47  transaction rank:  2854  revenue rank:  3369
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1455.54  transaction rank:  2854  revenue rank:  2856
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  2134.39  transaction rank:  2854  revenue rank:  2014
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  2329.86  transaction rank:  2854  revenue rank:  1818
cashier name:  Sosa David  transaction count:  3  total revenue:  2327.99  transaction rank:  2854  revenue rank:  1819
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1075.18  transaction rank:  2854  revenue rank:  3370
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  969.17  transaction rank:  2854  revenue rank:  3539
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  1072.04  transaction rank:  2854  revenue rank:  3372
cashier name:  Perry Andrea  transaction count:  3  total revenue:  1214.66  transaction rank:  2854  revenue rank:  3192
cashier name:  Wilson Jill  transaction count:  3  total revenue:  2921.24  transaction rank:  2854  revenue rank:  1240
cashier name:  Wells Monica  transaction count:  3  total revenue:  1794.47  transaction rank:  2854  revenue rank:  2416
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  1214.15  transaction rank:  2854  revenue rank:  3194
cashier name:  Smith Diana  transaction count:  3  total revenue:  1012.54  transaction rank:  2854  revenue rank:  3466
cashier name:  Wells Monica  transaction count:  3  total revenue:  1448.17  transaction rank:  2854  revenue rank:  2868
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  1901.13  transaction rank:  2854  revenue rank:  2294
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1794.14  transaction rank:  2854  revenue rank:  2417
cashier name:  Myers Gary  transaction count:  3  total revenue:  1442.65  transaction rank:  2854  revenue rank:  2871

cashier name:  Walters Jay  transaction count:  3  total revenue:  934.37  transaction rank:  2854  revenue rank:  3583
cashier name:  Sean Mr.  transaction count:  3  total revenue:  396.51  transaction rank:  2854  revenue rank:  4274
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  399.29  transaction rank:  2854  revenue rank:  4269
cashier name:  Johnson Samantha  transaction count:  3  total revenue:  1741.93  transaction rank:  2854  revenue rank:  2476
cashier name:  Martin Monica  transaction count:  3  total revenue:  931.38  transaction rank:  2854  revenue rank:  3587
cashier name:  Galvan Lori  transaction count:  3  total revenue:  403.07  transaction rank:  2854  revenue rank:  4262
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  931.17  transaction rank:  2854  revenue rank:  3589
cashier name:  Moon James  transaction count:  3  total revenue:  930.24  transaction rank:  2854  revenue rank:  3590
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  930.09  transaction rank:  2854  revenue rank:  3591
cashier name:  Williams Michael  transaction count:  3  total revenue:  1201.07  transaction rank:  2854  revenue rank:  3203
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  929.99  transaction rank:  2854  revenue rank:  3593
cashier name:  Williams Michael  transaction count:  3  total revenue:  1740.71  transaction rank:  2854  revenue rank:  2477
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1070.35  transaction rank:  2854  revenue rank:  3378
cashier name:  Brooks Renee  transaction count:  3  total revenue:  1200.84  transaction rank:  2854  revenue rank:  3204
cashier name:  Shah Amanda  transaction count:  3  total revenue:  405.68  transaction rank:  2854  revenue rank:  4258
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  2018.61  transaction rank:  2854  revenue rank:  2165
cashier name:  Love Thomas  transaction count:  3  total revenue:  927.71  transaction rank:  2854  revenue rank:  3599
cashier name:  White Kenneth  transaction count:  3  total revenue:  1772.15  transaction rank:  2854  revenue rank:  2441
cashier name:  Shah Amanda  transaction count:  3  total revenue:  926.55  transaction rank:  2854  revenue rank:  3601
cashier name:  Smith Brandy  transaction count:  3  total revenue:  986.08  transaction rank:  2854  revenue rank:  3512
cashier name:  Frederick Evan  transaction count:  3  total revenue:  925.50  transaction rank:  2854  revenue rank:  3603
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  925.44  transaction rank:  2854  revenue rank:  3604
cashier name:  Williams Michael  transaction count:  3  total revenue:  412.63  transaction rank:  2854  revenue rank:  4252
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  922.99  transaction rank:  2854  revenue rank:  3606
cashier name:  Durham Denise  transaction count:  3  total revenue:  1198.60  transaction rank:  2854  revenue rank:  3208
cashier name:  Perry Andrea  transaction count:  3  total revenue:  412.83  transaction rank:  2854  revenue rank:  4251
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  413.40  transaction rank:  2854  revenue rank:  4250
cashier name:  Shah Amanda  transaction count:  3  total revenue:  2493.61  transaction rank:  2854  revenue rank:  1651
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  1429.19  transaction rank:  2854  revenue rank:  2889
cashier name:  Garcia Sarah  transaction count:  3  total revenue:  919.31  transaction rank:  2854  revenue rank:  3612
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  984.98  transaction rank:  2854  revenue rank:  3513
cashier name:  Warren Timothy  transaction count:  3  total revenue:  414.39  transaction rank:  2854  revenue rank:  4248
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  1977.95  transaction rank:  2854  revenue rank:  2207
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1194.21  transaction rank:  2854  revenue rank:  3212
cashier name:  Johnson Samantha  transaction count:  3  total revenue:  2439.53  transaction rank:  2854  revenue rank:  1700
cashier name:  Love Thomas  transaction count:  3  total revenue:  415.39  transaction rank:  2854  revenue rank:  4247
cashier name:  Galvan Lori  transaction count:  3  total revenue:  1971.46  transaction rank:  2854  revenue rank:  2217
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1065.36  transaction rank:  2854  revenue rank:  3384
cashier name:  Long Kirsten  transaction count:  3  total revenue:  915.95  transaction rank:  2854  revenue rank:  3621
cashier name:  Gardner Laura  transaction count:  3  total revenue:  914.97  transaction rank:  2854  revenue rank:  3622
cashier name:  Durham Denise  transaction count:  3  total revenue:  2457.12  transaction rank:  2854  revenue rank:  1685
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  913.02  transaction rank:  2854  revenue rank:  3624
cashier name:  Glover Michelle  transaction count:  3  total revenue:  417.93  transaction rank:  2854  revenue rank:  4244
cashier name:  Wood Joshua  transaction count:  3  total revenue:  1065.15  transaction rank:  2854  revenue rank:  3385
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  1421.58  transaction rank:  2854  revenue rank:  2897
cashier name:  Jones Christopher  transaction count:  3  total revenue:  912.14  transaction rank:  2854  revenue rank:  3628
cashier name:  Meyer James  transaction count:  3  total revenue:  419.51  transaction rank:  2854  revenue rank:  4240
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  430.67  transaction rank:  2854  revenue rank:  4231
cashier name:  Torres Steven  transaction count:  3  total revenue:  910.87  transaction rank:  2854  revenue rank:  3631
cashier name:  Jones Michael  transaction count:  3  total revenue:  435.58  transaction rank:  2854  revenue rank:  4228
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  1735.43  transaction rank:  2854  revenue rank:  2486
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1421.08  transaction rank:  2854  revenue rank:  2898
cashier name:  Perry Andrea  transaction count:  3  total revenue:  436.72  transaction rank:  2854  revenue rank:  4227
cashier name:  Meyer James  transaction count:  3  total revenue:  437.78  transaction rank:  2854  revenue rank:  4224
cashier name:  Jordan Carla  transaction count:  3  total revenue:  1838.76  transaction rank:  2854  revenue rank:  2369
cashier name:  Hughes Christopher  transaction count:  3  total revenue:  438.36  transaction rank:  2854  revenue rank:  4222
cashier name:  Thomas Robert  transaction count:  3  total revenue:  1420.75  transaction rank:  2854  revenue rank:  2900
cashier name:  Shah Amanda  transaction count:  3  total revenue:  1063.08  transaction rank:  2854  revenue rank:  3386
cashier name:  Harrell Angie  transaction count:  3  total revenue:  899.16  transaction rank:  2854  revenue rank:  3641
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  898.88  transaction rank:  2854  revenue rank:  3642
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  898.68  transaction rank:  2854  revenue rank:  3643
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  898.51  transaction rank:  2854  revenue rank:  3644
cashier name:  Walls Kristen  transaction count:  3  total revenue:  1755.06  transaction rank:  2854  revenue rank:  2459
cashier name:  Martin Monica  transaction count:  3  total revenue:  897.59  transaction rank:  2854  revenue rank:  3646
cashier name:  Roach Christine  transaction count:  3  total revenue:  1062.28  transaction rank:  2854  revenue rank:  3388
cashier name:  Harrell Angie  transaction count:  3  total revenue:  439.86  transaction rank:  2854  revenue rank:  4218
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  894.69  transaction rank:  2854  revenue rank:  3649
cashier name:  Moyer Steven  transaction count:  3  total revenue:  451.54  transaction rank:  2854  revenue rank:  4206
cashier name:  Carroll Eric  transaction count:  3  total revenue:  1186.90  transaction rank:  2854  revenue rank:  3221
cashier name:  Gross Andrew  transaction count:  3  total revenue:  1418.20  transaction rank:  2854  revenue rank:  2905
cashier name:  Ellis Lauren  transaction count:  3  total revenue:  2011.70  transaction rank:  2854  revenue rank:  2174
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  974.93  transaction rank:  2854  revenue rank:  3530
cashier name:  Eric Mr.  transaction count:  3  total revenue:  1416.02  transaction rank:  2854  revenue rank:  2908
cashier name:  Myers Gary  transaction count:  3  total revenue:  1185.13  transaction rank:  2854  revenue rank:  3224
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  453.69  transaction rank:  2854  revenue rank:  4203
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1060.00  transaction rank:  2854  revenue rank:  3391
cashier name:  Mckinney Marcus  transaction count:  3  total revenue:  454.87  transaction rank:  2854  revenue rank:  4201
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  887.51  transaction rank:  2854  revenue rank:  3660
cashier name:  Sean Mr.  transaction count:  3  total revenue:  1413.75  transaction rank:  2854  revenue rank:  2911
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1892.43  transaction rank:  2854  revenue rank:  2301
cashier name:  Walters Jay  transaction count:  3  total revenue:  2373.32  transaction rank:  2854  revenue rank:  1767
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  1771.84  transaction rank:  2854  revenue rank:  2443
cashier name:  Jackson Michael  transaction count:  3  total revenue:  882.96  transaction rank:  2854  revenue rank:  3665
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  1007.85  transaction rank:  2854  revenue rank:  3475
cashier name:  Kerr Jason  transaction count:  3  total revenue:  2317.99  transaction rank:  2854  revenue rank:  1826
cashier name:  Warren Timothy  transaction count:  3  total revenue:  881.86  transaction rank:  2854  revenue rank:  3668
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  881.74  transaction rank:  2854  revenue rank:  3669
cashier name:  Horton Ashley  transaction count:  3  total revenue:  1960.28  transaction rank:  2854  revenue rank:  2228
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  2215.15  transaction rank:  2854  revenue rank:  1938
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  3009.35  transaction rank:  2854  revenue rank:  1159
cashier name:  Bennett Alec  transaction count:  3  total revenue:  1409.69  transaction rank:  2854  revenue rank:  2919
cashier name:  Woods Marcus  transaction count:  3  total revenue:  878.78  transaction rank:  2854  revenue rank:  3674
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  2215.96  transaction rank:  2854  revenue rank:  1937
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1409.00  transaction rank:  2854  revenue rank:  2921
cashier name:  Walters Jay  transaction count:  3  total revenue:  2562.45  transaction rank:  2854  revenue rank:  1577
cashier name:  Thomas Robert  transaction count:  3  total revenue:  874.10  transaction rank:  2854  revenue rank:  3677
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  471.16  transaction rank:  2854  revenue rank:  4180
cashier name:  Frederick Evan  transaction count:  3  total revenue:  214.96  transaction rank:  2854  revenue rank:  4480
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  870.89  transaction rank:  2854  revenue rank:  3681
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1725.98  transaction rank:  2854  revenue rank:  2502
cashier name:  Garcia Sarah  transaction count:  3  total revenue:  2011.33  transaction rank:  2854  revenue rank:  2176
cashier name:  Woods Marcus  transaction count:  3  total revenue:  476.79  transaction rank:  2854  revenue rank:  4173
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  868.11  transaction rank:  2854  revenue rank:  3685
cashier name:  Thomas Robert  transaction count:  3  total revenue:  866.80  transaction rank:  2854  revenue rank:  3686
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  866.04  transaction rank:  2854  revenue rank:  3687
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  477.68  transaction rank:  2854  revenue rank:  4170
cashier name:  Smith Diana  transaction count:  3  total revenue:  1404.22  transaction rank:  2854  revenue rank:  2925
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  482.18  transaction rank:  2854  revenue rank:  4166
cashier name:  Wood Joshua  transaction count:  3  total revenue:  860.79  transaction rank:  2854  revenue rank:  3691
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  858.43  transaction rank:  2854  revenue rank:  3692
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1006.19  transaction rank:  2854  revenue rank:  3477
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1175.57  transaction rank:  2854  revenue rank:  3234
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  856.46  transaction rank:  2854  revenue rank:  3695
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1403.12  transaction rank:  2854  revenue rank:  2928
cashier name:  Williams Michael  transaction count:  3  total revenue:  1174.92  transaction rank:  2854  revenue rank:  3235
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1054.96  transaction rank:  2854  revenue rank:  3396
cashier name:  Kerr Jason  transaction count:  3  total revenue:  853.75  transaction rank:  2854  revenue rank:  3699
cashier name:  Walters Jay  transaction count:  3  total revenue:  3046.25  transaction rank:  2854  revenue rank:  1127
cashier name:  Wood Joshua  transaction count:  3  total revenue:  853.07  transaction rank:  2854  revenue rank:  3701
cashier name:  Brown Lisa  transaction count:  3  total revenue:  852.19  transaction rank:  2854  revenue rank:  3702
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  487.82  transaction rank:  2854  revenue rank:  4160
cashier name:  Moore Jason  transaction count:  3  total revenue:  850.14  transaction rank:  2854  revenue rank:  3704
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  849.12  transaction rank:  2854  revenue rank:  3705
cashier name:  Ellis Lauren  transaction count:  3  total revenue:  2437.36  transaction rank:  2854  revenue rank:  1703
cashier name:  Johnson Samantha  transaction count:  3  total revenue:  2076.07  transaction rank:  2854  revenue rank:  2091
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  487.85  transaction rank:  2854  revenue rank:  4158
cashier name:  Wells Monica  transaction count:  3  total revenue:  1054.17  transaction rank:  2854  revenue rank:  3397

cashier name:  Colon Lindsey  transaction count:  3  total revenue:  1171.99  transaction rank:  2854  revenue rank:  3238
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  1717.06  transaction rank:  2854  revenue rank:  2511
cashier name:  Garcia Sarah  transaction count:  3  total revenue:  493.89  transaction rank:  2854  revenue rank:  4152
cashier name:  Jones Christopher  transaction count:  3  total revenue:  2737.28  transaction rank:  2854  revenue rank:  1414
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  493.98  transaction rank:  2854  revenue rank:  4151
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1171.29  transaction rank:  2854  revenue rank:  3239
cashier name:  Moore Jason  transaction count:  3  total revenue:  499.28  transaction rank:  2854  revenue rank:  4146
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  844.46  transaction rank:  2854  revenue rank:  3717
cashier name:  Owens Jeffrey  transaction count:  3  total revenue:  501.64  transaction rank:  2854  revenue rank:  4140
cashier name:  Rogers Mark  transaction count:  3  total revenue:  843.03  transaction rank:  2854  revenue rank:  3719
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  1401.05  transaction rank:  2854  revenue rank:  2935
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1715.52  transaction rank:  2854  revenue rank:  2514
cashier name:  Rogers Mark  transaction count:  3  total revenue:  1833.82  transaction rank:  2854  revenue rank:  2372
cashier name:  Church Joshua  transaction count:  3  total revenue:  505.74  transaction rank:  2854  revenue rank:  4135
cashier name:  Williams Michael  transaction count:  3  total revenue:  2069.38  transaction rank:  2854  revenue rank:  2102
cashier name:  Randolph Emily  transaction count:  3  total revenue:  511.50  transaction rank:  2854  revenue rank:  4131
cashier name:  Bennett Alec  transaction count:  3  total revenue:  3582.72  transaction rank:  2854  revenue rank:  770
cashier name:  Brown Lisa  transaction count:  3  total revenue:  836.97  transaction rank:  2854  revenue rank:  3727
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  517.56  transaction rank:  2854  revenue rank:  4128
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  1169.81  transaction rank:  2854  revenue rank:  3243
cashier name:  Torres Steven  transaction count:  3  total revenue:  1888.22  transaction rank:  2854  revenue rank:  2305
cashier name:  Durham Denise  transaction count:  3  total revenue:  2641.25  transaction rank:  2854  revenue rank:  1499
cashier name:  Wood Joshua  transaction count:  3  total revenue:  1167.04  transaction rank:  2854  revenue rank:  3245
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  835.19  transaction rank:  2854  revenue rank:  3733
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1396.22  transaction rank:  2854  revenue rank:  2943
cashier name:  Roach Christine  transaction count:  3  total revenue:  1395.23  transaction rank:  2854  revenue rank:  2944
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  1395.22  transaction rank:  2854  revenue rank:  2945
cashier name:  Smith Diana  transaction count:  3  total revenue:  833.04  transaction rank:  2854  revenue rank:  3737
cashier name:  Kerr Jason  transaction count:  3  total revenue:  521.73  transaction rank:  2854  revenue rank:  4121
cashier name:  Waters Julie  transaction count:  3  total revenue:  2435.80  transaction rank:  2854  revenue rank:  1705
cashier name:  Brown Lisa  transaction count:  3  total revenue:  831.80  transaction rank:  2854  revenue rank:  3740
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  830.97  transaction rank:  2854  revenue rank:  3741
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1712.97  transaction rank:  2854  revenue rank:  2520
cashier name:  Wood Joshua  transaction count:  3  total revenue:  524.87  transaction rank:  2854  revenue rank:  4117
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  524.87  transaction rank:  2854  revenue rank:  4117
cashier name:  Jackson Michael  transaction count:  3  total revenue:  828.99  transaction rank:  2854  revenue rank:  3745
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  828.94  transaction rank:  2854  revenue rank:  3746
cashier name:  Manning Maria  transaction count:  3  total revenue:  527.59  transaction rank:  2854  revenue rank:  4116
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  298.20  transaction rank:  2854  revenue rank:  4385
cashier name:  Mckinney Marcus  transaction count:  3  total revenue:  531.40  transaction rank:  2854  revenue rank:  4109
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  2526.91  transaction rank:  2854  revenue rank:  1620
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  1051.92  transaction rank:  2854  revenue rank:  3401
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  2156.85  transaction rank:  2854  revenue rank:  1995
cashier name:  Owens Jeffrey  transaction count:  3  total revenue:  534.42  transaction rank:  2854  revenue rank:  4107
cashier name:  Chen Kathleen  transaction count:  3  total revenue:  821.85  transaction rank:  2854  revenue rank:  3754
cashier name:  Smith Brandy  transaction count:  3  total revenue:  534.73  transaction rank:  2854  revenue rank:  4106
cashier name:  Galvan Lori  transaction count:  3  total revenue:  1976.34  transaction rank:  2854  revenue rank:  2209
cashier name:  Moore Jason  transaction count:  3  total revenue:  1707.85  transaction rank:  2854  revenue rank:  2524
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1955.06  transaction rank:  2854  revenue rank:  2231
cashier name:  Vasquez Peter  transaction count:  3  total revenue:  538.72  transaction rank:  2854  revenue rank:  4098
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1390.41  transaction rank:  2854  revenue rank:  2950
cashier name:  Wood Joshua  transaction count:  3  total revenue:  814.89  transaction rank:  2854  revenue rank:  3761
cashier name:  Smith Diana  transaction count:  3  total revenue:  2577.50  transaction rank:  2854  revenue rank:  1563
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1954.75  transaction rank:  2854  revenue rank:  2233
cashier name:  Torres Steven  transaction count:  3  total revenue:  1824.22  transaction rank:  2854  revenue rank:  2378
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  2373.02  transaction rank:  2854  revenue rank:  1768
cashier name:  Brown Lisa  transaction count:  3  total revenue:  810.21  transaction rank:  2854  revenue rank:  3766
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  809.34  transaction rank:  2854  revenue rank:  3767
cashier name:  Meyer James  transaction count:  3  total revenue:  808.82  transaction rank:  2854  revenue rank:  3768
cashier name:  Warren Timothy  transaction count:  3  total revenue:  1704.35  transaction rank:  2854  revenue rank:  2528
cashier name:  Eric Mr.  transaction count:  3  total revenue:  548.12  transaction rank:  2854  revenue rank:  4087
cashier name:  Perry Andrea  transaction count:  3  total revenue:  2044.71  transaction rank:  2854  revenue rank:  2130
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  1702.86  transaction rank:  2854  revenue rank:  2529
cashier name:  Frederick Evan  transaction count:  3  total revenue:  1954.71  transaction rank:  2854  revenue rank:  2234
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  234.28  transaction rank:  2854  revenue rank:  4456
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  2366.53  transaction rank:  2854  revenue rank:  1775
cashier name:  Brooks Renee  transaction count:  3  total revenue:  800.00  transaction rank:  2854  revenue rank:  3776
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  799.79  transaction rank:  2854  revenue rank:  3777
cashier name:  Glover Michelle  transaction count:  3  total revenue:  548.54  transaction rank:  2854  revenue rank:  4086
cashier name:  Kerr Jason  transaction count:  3  total revenue:  1163.49  transaction rank:  2854  revenue rank:  3251
cashier name:  Bennett Alec  transaction count:  3  total revenue:  548.68  transaction rank:  2854  revenue rank:  4085
cashier name:  Roach Christine  transaction count:  3  total revenue:  798.19  transaction rank:  2854  revenue rank:  3781
cashier name:  Mckenzie William  transaction count:  3  total revenue:  797.52  transaction rank:  2854  revenue rank:  3782
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  235.26  transaction rank:  2854  revenue rank:  4454
cashier name:  Woods Marcus  transaction count:  3  total revenue:  796.94  transaction rank:  2854  revenue rank:  3784
cashier name:  Sean Mr.  transaction count:  3  total revenue:  368.30  transaction rank:  2854  revenue rank:  4303
cashier name:  Walters Jay  transaction count:  3  total revenue:  1379.92  transaction rank:  2854  revenue rank:  2960
cashier name:  Williams Michael  transaction count:  3  total revenue:  1004.40  transaction rank:  2854  revenue rank:  3481
cashier name:  Myers Gary  transaction count:  3  total revenue:  2364.93  transaction rank:  2854  revenue rank:  1777
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  1377.66  transaction rank:  2854  revenue rank:  2963
cashier name:  Moore Jason  transaction count:  3  total revenue:  791.05  transaction rank:  2854  revenue rank:  3790
cashier name:  Tate Harry  transaction count:  3  total revenue:  1160.91  transaction rank:  2854  revenue rank:  3254
cashier name:  Long Kirsten  transaction count:  3  total revenue:  790.67  transaction rank:  2854  revenue rank:  3792
cashier name:  Moon James  transaction count:  3  total revenue:  1376.80  transaction rank:  2854  revenue rank:  2965
cashier name:  Smith Brandy  transaction count:  3  total revenue:  1376.09  transaction rank:  2854  revenue rank:  2966
cashier name:  Riley Ashley  transaction count:  3  total revenue:  551.81  transaction rank:  2854  revenue rank:  4083
cashier name:  Hayes Brandon  transaction count:  3  total revenue:  1375.79  transaction rank:  2854  revenue rank:  2967
cashier name:  Waters Julie  transaction count:  3  total revenue:  563.63  transaction rank:  2854  revenue rank:  4075
cashier name:  Riley Ashley  transaction count:  3  total revenue:  787.47  transaction rank:  2854  revenue rank:  3798
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  787.21  transaction rank:  2854  revenue rank:  3799
cashier name:  Walls Kristen  transaction count:  3  total revenue:  1689.37  transaction rank:  2854  revenue rank:  2540
cashier name:  Frederick Evan  transaction count:  3  total revenue:  786.06  transaction rank:  2854  revenue rank:  3801
cashier name:  Davis Jennifer  transaction count:  3  total revenue:  786.01  transaction rank:  2854  revenue rank:  3802
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  563.65  transaction rank:  2854  revenue rank:  4074
cashier name:  Golden Laurie  transaction count:  3  total revenue:  569.06  transaction rank:  2854  revenue rank:  4070
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  785.38  transaction rank:  2854  revenue rank:  3805
cashier name:  Campbell Bethany  transaction count:  3  total revenue:  1375.52  transaction rank:  2854  revenue rank:  2968
cashier name:  Smith Brandy  transaction count:  3  total revenue:  3086.95  transaction rank:  2854  revenue rank:  1096
cashier name:  Jordan Carla  transaction count:  3  total revenue:  1160.40  transaction rank:  2854  revenue rank:  3255
cashier name:  Shah Amanda  transaction count:  3  total revenue:  1159.79  transaction rank:  2854  revenue rank:  3256
cashier name:  White Kenneth  transaction count:  3  total revenue:  1050.68  transaction rank:  2854  revenue rank:  3404
cashier name:  Jones Michael  transaction count:  3  total revenue:  2316.89  transaction rank:  2854  revenue rank:  1828
cashier name:  Walters Jay  transaction count:  3  total revenue:  358.50  transaction rank:  2854  revenue rank:  4318
cashier name:  Payne Samantha  transaction count:  3  total revenue:  1372.18  transaction rank:  2854  revenue rank:  2975
cashier name:  Moore Jason  transaction count:  3  total revenue:  1686.19  transaction rank:  2854  revenue rank:  2545
cashier name:  Carroll Eric  transaction count:  3  total revenue:  1370.56  transaction rank:  2854  revenue rank:  2976
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  2314.24  transaction rank:  2854  revenue rank:  1830
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  776.31  transaction rank:  2854  revenue rank:  3817
cashier name:  Jones Michael  transaction count:  3  total revenue:  1155.23  transaction rank:  2854  revenue rank:  3261
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1368.50  transaction rank:  2854  revenue rank:  2979
cashier name:  Woods Marcus  transaction count:  3  total revenue:  774.96  transaction rank:  2854  revenue rank:  3820
cashier name:  Brooks Renee  transaction count:  3  total revenue:  1048.31  transaction rank:  2854  revenue rank:  3406
cashier name:  Thomas Robert  transaction count:  3  total revenue:  774.10  transaction rank:  2854  revenue rank:  3822
cashier name:  Gardner Laura  transaction count:  3  total revenue:  1368.02  transaction rank:  2854  revenue rank:  2981
cashier name:  Campbell Bethany  transaction count:  3  total revenue:  1782.54  transaction rank:  2854  revenue rank:  2428
cashier name:  Wells Monica  transaction count:  3  total revenue:  771.15  transaction rank:  2854  revenue rank:  3825
cashier name:  Glover Michelle  transaction count:  3  total revenue:  2167.02  transaction rank:  2854  revenue rank:  1986
cashier name:  Day Natasha  transaction count:  3  total revenue:  1046.83  transaction rank:  2854  revenue rank:  3408
cashier name:  Rogers Mark  transaction count:  3  total revenue:  767.97  transaction rank:  2854  revenue rank:  3828
cashier name:  Ellis Lauren  transaction count:  3  total revenue:  1981.62  transaction rank:  2854  revenue rank:  2200
cashier name:  Walters Jay  transaction count:  3  total revenue:  1677.50  transaction rank:  2854  revenue rank:  2553
cashier name:  Tate Harry  transaction count:  3  total revenue:  1046.07  transaction rank:  2854  revenue rank:  3409
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  764.37  transaction rank:  2854  revenue rank:  3832
cashier name:  Bradley Rita  transaction count:  3  total revenue:  763.86  transaction rank:  2854  revenue rank:  3833
cashier name:  Love Thomas  transaction count:  3  total revenue:  763.45  transaction rank:  2854  revenue rank:  3834
cashier name:  Church Joshua  transaction count:  3  total revenue:  982.68  transaction rank:  2854  revenue rank:  3518
cashier name:  Jordan Carla  transaction count:  3  total revenue:  1044.98  transaction rank:  2854  revenue rank:  3411
cashier name:  Jordan Carla  transaction count:  3  total revenue:  1676.47  transaction rank:  2854  revenue rank:  2556
cashier name:  Galvan Lori  transaction count:  3  total revenue:  760.27  transaction rank:  2854  revenue rank:  3838
cashier name:  Owens Jeffrey  transaction count:  3  total revenue:  1675.60  transaction rank:  2854  revenue rank:  2557
cashier name:  Jones Michael  transaction count:  3  total revenue:  1044.92  transaction rank:  2854  revenue rank:  3412
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  2467.74  transaction rank:  2854  revenue rank:  1678
cashier name:  Jacobs Brenda  transaction count:  3  total revenue:  1878.32  transaction rank:  2854  revenue rank:  2317
cashier name:  Horton Mark  transaction count:  3  total revenue:  1674.46  transaction rank:  2854  revenue rank:  2559
cashier name:  Durham Denise  transaction count:  3  total revenue:  1672.60  transaction rank:  2854  revenue rank:  2560
cashier name:  Gross Andrew  transaction count:  3  total revenue:  1361.93  transaction rank:  2854  revenue rank:  2992
cashier name:  Davis Jennifer  transaction count:  3  total revenue:  753.65  transaction rank:  2854  revenue rank:  3846
cashier name:  Wells Monica  transaction count:  3  total revenue:  753.32  transaction rank:  2854  revenue rank:  3847
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  752.88  transaction rank:  2854  revenue rank:  3848
cashier name:  Horton Mark  transaction count:  3  total revenue:  1874.42  transaction rank:  2854  revenue rank:  2318
cashier name:  Manning Maria  transaction count:  3  total revenue:  1002.78  transaction rank:  2854  revenue rank:  3484
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  1670.40  transaction rank:  2854  revenue rank:  2561
cashier name:  Moyer Steven  transaction count:  3  total revenue:  245.84  transaction rank:  2854  revenue rank:  4445
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  747.93  transaction rank:  2854  revenue rank:  3853
cashier name:  Roach Christine  transaction count:  3  total revenue:  1002.75  transaction rank:  2854  revenue rank:  3485
cashier name:  Wells Monica  transaction count:  3  total revenue:  1149.36  transaction rank:  2854  revenue rank:  3272
cashier name:  Hull Shane  transaction count:  3  total revenue:  580.73  transaction rank:  2854  revenue rank:  4056
cashier name:  Church Joshua  transaction count:  3  total revenue:  2173.96  transaction rank:  2854  revenue rank:  1979
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  1356.49  transaction rank:  2854  revenue rank:  2999
cashier name:  Jones Michael  transaction count:  3  total revenue:  2699.04  transaction rank:  2854  revenue rank:  1454
cashier name:  White Kenneth  transaction count:  3  total revenue:  1043.30  transaction rank:  2854  revenue rank:  3416
cashier name:  Davis Jennifer  transaction count:  3  total revenue:  742.35  transaction rank:  2854  revenue rank:  3861
cashier name:  Gardner Laura  transaction count:  3  total revenue:  2219.73  transaction rank:  2854  revenue rank:  1931
cashier name:  Roach Christine  transaction count:  3  total revenue:  740.80  transaction rank:  2854  revenue rank:  3863
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  584.39  transaction rank:  2854  revenue rank:  4052
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  1352.62  transaction rank:  2854  revenue rank:  3003
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1042.97  transaction rank:  2854  revenue rank:  3417
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1348.96  transaction rank:  2854  revenue rank:  3005
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1348.75  transaction rank:  2854  revenue rank:  3006
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  1002.21  transaction rank:  2854  revenue rank:  3487
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1348.50  transaction rank:  2854  revenue rank:  3008
cashier name:  Jackson Michael  transaction count:  3  total revenue:  1665.61  transaction rank:  2854  revenue rank:  2568
cashier name:  Waller Chad  transaction count:  3  total revenue:  729.50  transaction rank:  2854  revenue rank:  3872

cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1661.99  transaction rank:  2854  revenue rank:  2574
cashier name:  Bennett Alec  transaction count:  3  total revenue:  589.28  transaction rank:  2854  revenue rank:  4043
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  2467.35  transaction rank:  2854  revenue rank:  1679
cashier name:  Galvan Lori  transaction count:  3  total revenue:  1001.52  transaction rank:  2854  revenue rank:  3488
cashier name:  Torres Steven  transaction count:  3  total revenue:  1041.68  transaction rank:  2854  revenue rank:  3421
cashier name:  Chambers Jeffrey  transaction count:  3  total revenue:  1041.62  transaction rank:  2854  revenue rank:  3422
cashier name:  Long Kirsten  transaction count:  3  total revenue:  2534.72  transaction rank:  2854  revenue rank:  1610
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  709.67  transaction rank:  2854  revenue rank:  3894
cashier name:  Warren Timothy  transaction count:  3  total revenue:  709.50  transaction rank:  2854  revenue rank:  3895
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  709.20  transaction rank:  2854  revenue rank:  3896
cashier name:  Smith Brandy  transaction count:  3  total revenue:  1040.82  transaction rank:  2854  revenue rank:  3423
cashier name:  Brooks Renee  transaction count:  3  total revenue:  707.97  transaction rank:  2854  revenue rank:  3898
cashier name:  Wilson Jill  transaction count:  3  total revenue:  707.89  transaction rank:  2854  revenue rank:  3899
cashier name:  Moore Jason  transaction count:  3  total revenue:  707.55  transaction rank:  2854  revenue rank:  3900
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  2776.50  transaction rank:  2854  revenue rank:  1375
cashier name:  Werner Kara  transaction count:  3  total revenue:  705.25  transaction rank:  2854  revenue rank:  3902
cashier name:  Spears Erin  transaction count:  3  total revenue:  705.13  transaction rank:  2854  revenue rank:  3903
cashier name:  Wood Joshua  transaction count:  3  total revenue:  2220.54  transaction rank:  2854  revenue rank:  1927
cashier name:  Walters Jay  transaction count:  3  total revenue:  703.89  transaction rank:  2854  revenue rank:  3905
cashier name:  Manning Maria  transaction count:  3  total revenue:  593.37  transaction rank:  2854  revenue rank:  4036
cashier name:  Kerr Jason  transaction count:  3  total revenue:  1001.48  transaction rank:  2854  revenue rank:  3489
cashier name:  Moore Jason  transaction count:  3  total revenue:  2036.94  transaction rank:  2854  revenue rank:  2141
cashier name:  White Kenneth  transaction count:  3  total revenue:  596.85  transaction rank:  2854  revenue rank:  4032
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1946.39  transaction rank:  2854  revenue rank:  2246
cashier name:  Horton Mark  transaction count:  3  total revenue:  1650.55  transaction rank:  2854  revenue rank:  2583
cashier name:  Moore Jason  transaction count:  3  total revenue:  1340.40  transaction rank:  2854  revenue rank:  3021
cashier name:  Chambers Jeffrey  transaction count:  3  total revenue:  2596.48  transaction rank:  2854  revenue rank:  1549
cashier name:  Sosa David  transaction count:  3  total revenue:  697.11  transaction rank:  2854  revenue rank:  3914
cashier name:  White Kenneth  transaction count:  3  total revenue:  1139.67  transaction rank:  2854  revenue rank:  3285
cashier name:  Smith Diana  transaction count:  3  total revenue:  126.38  transaction rank:  2854  revenue rank:  4589
cashier name:  Martin Monica  transaction count:  3  total revenue:  1945.34  transaction rank:  2854  revenue rank:  2247
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  2080.50  transaction rank:  2854  revenue rank:  2084
cashier name:  Church Joshua  transaction count:  3  total revenue:  604.14  transaction rank:  2854  revenue rank:  4026
cashier name:  Golden Laurie  transaction count:  3  total revenue:  201.75  transaction rank:  2854  revenue rank:  4501
cashier name:  Hull Shane  transaction count:  3  total revenue:  606.27  transaction rank:  2854  revenue rank:  4025
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  611.74  transaction rank:  2854  revenue rank:  4021
cashier name:  Mckinney Marcus  transaction count:  3  total revenue:  1338.36  transaction rank:  2854  revenue rank:  3024
cashier name:  Spears Erin  transaction count:  3  total revenue:  691.66  transaction rank:  2854  revenue rank:  3924
cashier name:  Tate Harry  transaction count:  3  total revenue:  690.43  transaction rank:  2854  revenue rank:  3925
cashier name:  Wood Joshua  transaction count:  3  total revenue:  1338.31  transaction rank:  2854  revenue rank:  3025
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  2791.62  transaction rank:  2854  revenue rank:  1363
cashier name:  Wells Monica  transaction count:  3  total revenue:  613.05  transaction rank:  2854  revenue rank:  4018
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  687.16  transaction rank:  2854  revenue rank:  3929
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  1337.85  transaction rank:  2854  revenue rank:  3026
cashier name:  Smith Diana  transaction count:  3  total revenue:  2081.25  transaction rank:  2854  revenue rank:  2082
cashier name:  Moyer Steven  transaction count:  3  total revenue:  685.98  transaction rank:  2854  revenue rank:  3932
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  2175.14  transaction rank:  2854  revenue rank:  1978
cashier name:  Horton Ashley  transaction count:  3  total revenue:  1640.12  transaction rank:  2854  revenue rank:  2595
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  1037.94  transaction rank:  2854  revenue rank:  3425
cashier name:  Manning Maria  transaction count:  3  total revenue:  614.29  transaction rank:  2854  revenue rank:  4016
cashier name:  Church Joshua  transaction count:  3  total revenue:  684.29  transaction rank:  2854  revenue rank:  3937
cashier name:  Riley Ashley  transaction count:  3  total revenue:  1334.47  transaction rank:  2854  revenue rank:  3029
cashier name:  Williams Michael  transaction count:  3  total revenue:  1866.64  transaction rank:  2854  revenue rank:  2327
cashier name:  Wood Joshua  transaction count:  3  total revenue:  361.61  transaction rank:  2854  revenue rank:  4314
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  1135.06  transaction rank:  2854  revenue rank:  3288
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1134.78  transaction rank:  2854  revenue rank:  3289
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  679.68  transaction rank:  2854  revenue rank:  3943
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  679.54  transaction rank:  2854  revenue rank:  3944
cashier name:  Riley Ashley  transaction count:  3  total revenue:  1134.03  transaction rank:  2854  revenue rank:  3290
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  675.98  transaction rank:  2854  revenue rank:  3946
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  1323.95  transaction rank:  2854  revenue rank:  3035
cashier name:  Gardner Laura  transaction count:  3  total revenue:  1636.27  transaction rank:  2854  revenue rank:  2601
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  2360.69  transaction rank:  2854  revenue rank:  1782
cashier name:  Ellis Lauren  transaction count:  3  total revenue:  2069.39  transaction rank:  2854  revenue rank:  2101
cashier name:  Moon James  transaction count:  3  total revenue:  1322.00  transaction rank:  2854  revenue rank:  3038
cashier name:  Walls Kristen  transaction count:  3  total revenue:  671.00  transaction rank:  2854  revenue rank:  3952
cashier name:  Perry Andrea  transaction count:  3  total revenue:  616.74  transaction rank:  2854  revenue rank:  4012
cashier name:  Jones Michael  transaction count:  3  total revenue:  670.41  transaction rank:  2854  revenue rank:  3954
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1635.53  transaction rank:  2854  revenue rank:  2603
cashier name:  Bennett Alec  transaction count:  3  total revenue:  1321.40  transaction rank:  2854  revenue rank:  3039
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  1320.10  transaction rank:  2854  revenue rank:  3040
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  1132.63  transaction rank:  2854  revenue rank:  3292
cashier name:  Chen Kathleen  transaction count:  3  total revenue:  255.40  transaction rank:  2854  revenue rank:  4435
cashier name:  Horton Ashley  transaction count:  3  total revenue:  1131.49  transaction rank:  2854  revenue rank:  3294
cashier name:  Burns Kendra  transaction count:  3  total revenue:  624.54  transaction rank:  2854  revenue rank:  4003
cashier name:  Randolph Emily  transaction count:  3  total revenue:  624.71  transaction rank:  2854  revenue rank:  4002
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  625.96  transaction rank:  2854  revenue rank:  3999
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1131.20  transaction rank:  2854  revenue rank:  3295
cashier name:  Moore Jason  transaction count:  3  total revenue:  662.16  transaction rank:  2854  revenue rank:  3965
cashier name:  Jackson Michael  transaction count:  3  total revenue:  627.03  transaction rank:  2854  revenue rank:  3998
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  1778.96  transaction rank:  2854  revenue rank:  2433
cashier name:  Sosa David  transaction count:  3  total revenue:  1778.79  transaction rank:  2854  revenue rank:  2434
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  1768.17  transaction rank:  2854  revenue rank:  2448
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1312.29  transaction rank:  2854  revenue rank:  3048
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  637.78  transaction rank:  2854  revenue rank:  3987
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  982.50  transaction rank:  2854  revenue rank:  3520
cashier name:  Eric Mr.  transaction count:  3  total revenue:  1311.02  transaction rank:  2854  revenue rank:  3050
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  1124.83  transaction rank:  2854  revenue rank:  3300
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1864.19  transaction rank:  2854  revenue rank:  2333
cashier name:  Meyer James  transaction count:  3  total revenue:  2704.36  transaction rank:  2854  revenue rank:  1447
cashier name:  Horton Ashley  transaction count:  3  total revenue:  647.41  transaction rank:  2854  revenue rank:  3977
cashier name:  Moon James  transaction count:  3  total revenue:  1123.33  transaction rank:  2854  revenue rank:  3302
cashier name:  Smith Diana  transaction count:  3  total revenue:  2045.50  transaction rank:  2854  revenue rank:  2128
cashier name:  Jessica Ms.  transaction count:  3  total revenue:  643.78  transaction rank:  2854  revenue rank:  3980
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  643.45  transaction rank:  2854  revenue rank:  3981
cashier name:  Jackson Michael  transaction count:  3  total revenue:  2181.13  transaction rank:  2854  revenue rank:  1970
cashier name:  Moyer Steven  transaction count:  3  total revenue:  1305.55  transaction rank:  2854  revenue rank:  3057
cashier name:  Church Joshua  transaction count:  3  total revenue:  1305.52  transaction rank:  2854  revenue rank:  3058
cashier name:  Jackson Gary  transaction count:  3  total revenue:  1305.03  transaction rank:  2854  revenue rank:  3059
cashier name:  Love Thomas  transaction count:  3  total revenue:  1031.64  transaction rank:  2854  revenue rank:  3434
cashier name:  Moyer Steven  transaction count:  3  total revenue:  1620.45  transaction rank:  2854  revenue rank:  2616
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1619.92  transaction rank:  2854  revenue rank:  2617
cashier name:  White Kenneth  transaction count:  3  total revenue:  146.95  transaction rank:  2854  revenue rank:  4568
cashier name:  Hayes Brandon  transaction count:  3  total revenue:  1617.10  transaction rank:  2854  revenue rank:  2619
cashier name:  Bennett Alec  transaction count:  3  total revenue:  1617.03  transaction rank:  2854  revenue rank:  2620
cashier name:  Wells Monica  transaction count:  3  total revenue:  2085.69  transaction rank:  2854  revenue rank:  2075
cashier name:  Brooks Renee  transaction count:  3  total revenue:  2086.47  transaction rank:  2854  revenue rank:  2074
cashier name:  Harrell Angie  transaction count:  3  total revenue:  1302.72  transaction rank:  2854  revenue rank:  3062
cashier name:  Love Thomas  transaction count:  3  total revenue:  1302.60  transaction rank:  2854  revenue rank:  3063
cashier name:  Myers Gary  transaction count:  3  total revenue:  1612.41  transaction rank:  2854  revenue rank:  2625
cashier name:  Williams Michael  transaction count:  3  total revenue:  2355.95  transaction rank:  2854  revenue rank:  1786
cashier name:  Shah Amanda  transaction count:  3  total revenue:  1300.67  transaction rank:  2854  revenue rank:  3065
cashier name:  Shah Amanda  transaction count:  3  total revenue:  2422.86  transaction rank:  2854  revenue rank:  1717
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  1609.58  transaction rank:  2854  revenue rank:  2629
cashier name:  Walters Jay  transaction count:  3  total revenue:  1300.17  transaction rank:  2854  revenue rank:  3066
cashier name:  Durham Denise  transaction count:  3  total revenue:  1120.94  transaction rank:  2854  revenue rank:  3306
cashier name:  Horton Mark  transaction count:  3  total revenue:  299.47  transaction rank:  2854  revenue rank:  4384
cashier name:  Golden Laurie  transaction count:  3  total revenue:  1862.08  transaction rank:  2854  revenue rank:  2337
cashier name:  Durham Denise  transaction count:  3  total revenue:  1607.82  transaction rank:  2854  revenue rank:  2634
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  972.31  transaction rank:  2854  revenue rank:  3533
cashier name:  Long Kirsten  transaction count:  3  total revenue:  1296.94  transaction rank:  2854  revenue rank:  3071
cashier name:  Gardner Laura  transaction count:  3  total revenue:  1294.74  transaction rank:  2854  revenue rank:  3072
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  1119.43  transaction rank:  2854  revenue rank:  3309
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1600.14  transaction rank:  2854  revenue rank:  2639
cashier name:  Jackson Gary  transaction count:  3  total revenue:  1290.97  transaction rank:  2854  revenue rank:  3074
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1599.05  transaction rank:  2854  revenue rank:  2641
cashier name:  Werner Kara  transaction count:  3  total revenue:  1290.66  transaction rank:  2854  revenue rank:  3075
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  2835.70  transaction rank:  2854  revenue rank:  1331
cashier name:  Harrell Angie  transaction count:  3  total revenue:  1940.11  transaction rank:  2854  revenue rank:  2253
cashier name:  Galvan Lori  transaction count:  3  total revenue:  1288.85  transaction rank:  2854  revenue rank:  3076
cashier name:  Martin Monica  transaction count:  3  total revenue:  1288.15  transaction rank:  2854  revenue rank:  3077
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  1028.20  transaction rank:  2854  revenue rank:  3438
cashier name:  Tate Harry  transaction count:  3  total revenue:  2090.90  transaction rank:  2854  revenue rank:  2067
cashier name:  Sean Mr.  transaction count:  3  total revenue:  321.47  transaction rank:  2854  revenue rank:  4365
cashier name:  Hayes Brandon  transaction count:  3  total revenue:  1115.62  transaction rank:  2854  revenue rank:  3312
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1285.03  transaction rank:  2854  revenue rank:  3081
cashier name:  Glover Michelle  transaction count:  3  total revenue:  2094.11  transaction rank:  2854  revenue rank:  2063
cashier name:  Moyer Steven  transaction count:  3  total revenue:  968.94  transaction rank:  2854  revenue rank:  3540
cashier name:  Horton Ashley  transaction count:  3  total revenue:  334.58  transaction rank:  2854  revenue rank:  4348
cashier name:  Roach Christine  transaction count:  3  total revenue:  1590.26  transaction rank:  2854  revenue rank:  2655
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  2306.85  transaction rank:  2854  revenue rank:  1841
cashier name:  Frederick Evan  transaction count:  3  total revenue:  1282.61  transaction rank:  2854  revenue rank:  3085
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1114.73  transaction rank:  2854  revenue rank:  3316
cashier name:  Golden Laurie  transaction count:  3  total revenue:  1812.31  transaction rank:  2854  revenue rank:  2396
cashier name:  Meyer James  transaction count:  3  total revenue:  1588.15  transaction rank:  2854  revenue rank:  2660
cashier name:  Meyer James  transaction count:  3  total revenue:  2107.13  transaction rank:  2854  revenue rank:  2055
cashier name:  Martin Monica  transaction count:  3  total revenue:  1024.27  transaction rank:  2854  revenue rank:  3442
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  1585.21  transaction rank:  2854  revenue rank:  2663
cashier name:  Jones Christopher  transaction count:  3  total revenue:  1279.08  transaction rank:  2854  revenue rank:  3089
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1112.16  transaction rank:  2854  revenue rank:  3319
cashier name:  Carroll Eric  transaction count:  3  total revenue:  1581.16  transaction rank:  2854  revenue rank:  2666
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  1581.12  transaction rank:  2854  revenue rank:  2667
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  1580.23  transaction rank:  2854  revenue rank:  2668
cashier name:  Jackson Gary  transaction count:  3  total revenue:  1579.97  transaction rank:  2854  revenue rank:  2669
cashier name:  Randolph Emily  transaction count:  3  total revenue:  1278.23  transaction rank:  2854  revenue rank:  3091
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1578.26  transaction rank:  2854  revenue rank:  2671
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  1577.45  transaction rank:  2854  revenue rank:  2672
cashier name:  Church Joshua  transaction count:  3  total revenue:  1860.81  transaction rank:  2854  revenue rank:  2340
cashier name:  Church Joshua  transaction count:  3  total revenue:  1275.27  transaction rank:  2854  revenue rank:  3093
cashier name:  Meyer James  transaction count:  3  total revenue:  2417.30  transaction rank:  2854  revenue rank:  1725
cashier name:  Moore Jason  transaction count:  3  total revenue:  2416.91  transaction rank:  2854  revenue rank:  1727
cashier name:  Waters Julie  transaction count:  3  total revenue:  350.04  transaction rank:  2854  revenue rank:  4330
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  1110.56  transaction rank:  2854  revenue rank:  3321

cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1265.95  transaction rank:  2854  revenue rank:  3114
cashier name:  Martin Monica  transaction count:  3  total revenue:  2696.06  transaction rank:  2854  revenue rank:  1459
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  2118.04  transaction rank:  2854  revenue rank:  2038
cashier name:  Tate Harry  transaction count:  3  total revenue:  965.88  transaction rank:  2854  revenue rank:  3545
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  1543.83  transaction rank:  2854  revenue rank:  2716
cashier name:  Kerr Jason  transaction count:  3  total revenue:  2236.47  transaction rank:  2854  revenue rank:  1911
cashier name:  Church Joshua  transaction count:  3  total revenue:  1541.45  transaction rank:  2854  revenue rank:  2718
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1541.35  transaction rank:  2854  revenue rank:  2719
cashier name:  Smith Brandy  transaction count:  3  total revenue:  1263.40  transaction rank:  2854  revenue rank:  3119
cashier name:  Nichols Brandon  transaction count:  3  total revenue:  2623.20  transaction rank:  2854  revenue rank:  1519
cashier name:  Hull Shane  transaction count:  3  total revenue:  2860.91  transaction rank:  2854  revenue rank:  1306
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  1539.61  transaction rank:  2854  revenue rank:  2723
cashier name:  Bradley Rita  transaction count:  3  total revenue:  1260.53  transaction rank:  2854  revenue rank:  3121
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  1102.64  transaction rank:  2854  revenue rank:  3333
cashier name:  Glover Michelle  transaction count:  3  total revenue:  2047.52  transaction rank:  2854  revenue rank:  2125
cashier name:  Vasquez Peter  transaction count:  3  total revenue:  1259.06  transaction rank:  2854  revenue rank:  3124
cashier name:  Manning Maria  transaction count:  3  total revenue:  1100.15  transaction rank:  2854  revenue rank:  3335
cashier name:  Moon James  transaction count:  3  total revenue:  1536.16  transaction rank:  2854  revenue rank:  2729
cashier name:  Campbell Bethany  transaction count:  3  total revenue:  2412.88  transaction rank:  2854  revenue rank:  1731
cashier name:  Love Thomas  transaction count:  3  total revenue:  1535.66  transaction rank:  2854  revenue rank:  2731
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1535.10  transaction rank:  2854  revenue rank:  2732
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  1854.30  transaction rank:  2854  revenue rank:  2346
cashier name:  Jackson Michael  transaction count:  3  total revenue:  1533.57  transaction rank:  2854  revenue rank:  2734
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  1533.24  transaction rank:  2854  revenue rank:  2735
cashier name:  Jones Christopher  transaction count:  3  total revenue:  1532.88  transaction rank:  2854  revenue rank:  2736
cashier name:  Chambers Jeffrey  transaction count:  3  total revenue:  2721.68  transaction rank:  2854  revenue rank:  1435
cashier name:  Eric Mr.  transaction count:  3  total revenue:  1530.72  transaction rank:  2854  revenue rank:  2738
cashier name:  Woods Marcus  transaction count:  3  total revenue:  1530.16  transaction rank:  2854  revenue rank:  2739
cashier name:  Campbell Brittany  transaction count:  3  total revenue:  1257.74  transaction rank:  2854  revenue rank:  3128
cashier name:  Long Kirsten  transaction count:  3  total revenue:  991.84  transaction rank:  2854  revenue rank:  3504
cashier name:  Burns Kendra  transaction count:  3  total revenue:  1528.45  transaction rank:  2854  revenue rank:  2742
cashier name:  Werner Kara  transaction count:  3  total revenue:  1097.66  transaction rank:  2854  revenue rank:  3338
cashier name:  Moore Jason  transaction count:  3  total revenue:  1256.30  transaction rank:  2854  revenue rank:  3131
cashier name:  Hughes Christopher  transaction count:  3  total revenue:  1256.30  transaction rank:  2854  revenue rank:  3131
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1927.37  transaction rank:  2854  revenue rank:  2270
cashier name:  Riley Ashley  transaction count:  3  total revenue:  1525.39  transaction rank:  2854  revenue rank:  2747
cashier name:  Shah Amanda  transaction count:  3  total revenue:  1255.06  transaction rank:  2854  revenue rank:  3133
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1522.36  transaction rank:  2854  revenue rank:  2749
cashier name:  Alvarez Brenda  transaction count:  3  total revenue:  965.36  transaction rank:  2854  revenue rank:  3546
cashier name:  Moon James  transaction count:  3  total revenue:  1773.45  transaction rank:  2854  revenue rank:  2439
cashier name:  Walters Jay  transaction count:  3  total revenue:  2049.47  transaction rank:  2854  revenue rank:  2122
cashier name:  Carroll Eric  transaction count:  3  total revenue:  2466.58  transaction rank:  2854  revenue rank:  1680
cashier name:  Torres Steven  transaction count:  3  total revenue:  1518.28  transaction rank:  2854  revenue rank:  2754
cashier name:  Wood Joshua  transaction count:  3  total revenue:  2883.99  transaction rank:  2854  revenue rank:  1282
cashier name:  Jordan Carla  transaction count:  3  total revenue:  2051.33  transaction rank:  2854  revenue rank:  2119
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  2406.49  transaction rank:  2854  revenue rank:  1738
cashier name:  Riley Ashley  transaction count:  3  total revenue:  1515.29  transaction rank:  2854  revenue rank:  2758
cashier name:  Carroll Eric  transaction count:  3  total revenue:  1514.49  transaction rank:  2854  revenue rank:  2759
cashier name:  Terri Mrs.  transaction count:  3  total revenue:  1514.33  transaction rank:  2854  revenue rank:  2760
cashier name:  Gonzalez Michele  transaction count:  3  total revenue:  1252.76  transaction rank:  2854  revenue rank:  3139
cashier name:  Smith Diana  transaction count:  3  total revenue:  1513.79  transaction rank:  2854  revenue rank:  2762
cashier name:  Conrad Frederick  transaction count:  3  total revenue:  1093.10  transaction rank:  2854  revenue rank:  3343
cashier name:  Brooks Renee  transaction count:  3  total revenue:  209.41  transaction rank:  2854  revenue rank:  4491
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1511.47  transaction rank:  2854  revenue rank:  2765
cashier name:  Horton Ashley  transaction count:  3  total revenue:  1922.86  transaction rank:  2854  revenue rank:  2273
cashier name:  Durham Denise  transaction count:  3  total revenue:  1509.16  transaction rank:  2854  revenue rank:  2767
cashier name:  Long Kirsten  transaction count:  3  total revenue:  1922.12  transaction rank:  2854  revenue rank:  2274
cashier name:  Galvan Lori  transaction count:  3  total revenue:  1252.25  transaction rank:  2854  revenue rank:  3141
cashier name:  Eric Mr.  transaction count:  3  total revenue:  1092.65  transaction rank:  2854  revenue rank:  3344
cashier name:  Carroll Eric  transaction count:  3  total revenue:  1248.96  transaction rank:  2854  revenue rank:  3143
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1248.47  transaction rank:  2854  revenue rank:  3144
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  2886.75  transaction rank:  2854  revenue rank:  1278
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  2031.34  transaction rank:  2854  revenue rank:  2150
cashier name:  Walls Kristen  transaction count:  3  total revenue:  2268.53  transaction rank:  2854  revenue rank:  1889
cashier name:  Manning Maria  transaction count:  3  total revenue:  1505.05  transaction rank:  2854  revenue rank:  2776
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  3553.21  transaction rank:  2854  revenue rank:  790
cashier name:  Ellis Lauren  transaction count:  3  total revenue:  351.93  transaction rank:  2854  revenue rank:  4327
cashier name:  Randolph Emily  transaction count:  3  total revenue:  1919.56  transaction rank:  2854  revenue rank:  2277
cashier name:  Sean Mr.  transaction count:  3  total revenue:  1243.96  transaction rank:  2854  revenue rank:  3148
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  2042.22  transaction rank:  2854  revenue rank:  2137
cashier name:  Jordan Carla  transaction count:  3  total revenue:  1497.88  transaction rank:  2854  revenue rank:  2782
cashier name:  Torres Steven  transaction count:  3  total revenue:  1090.62  transaction rank:  2854  revenue rank:  3348
cashier name:  Marquez Jeffrey  transaction count:  3  total revenue:  1088.73  transaction rank:  2854  revenue rank:  3349
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1496.50  transaction rank:  2854  revenue rank:  2785
cashier name:  Thomas Robert  transaction count:  3  total revenue:  2283.59  transaction rank:  2854  revenue rank:  1874
cashier name:  Thomas Robert  transaction count:  3  total revenue:  1494.98  transaction rank:  2854  revenue rank:  2787
cashier name:  Brown Lisa  transaction count:  3  total revenue:  2544.00  transaction rank:  2854  revenue rank:  1599
cashier name:  Garcia Sarah  transaction count:  3  total revenue:  1017.76  transaction rank:  2854  revenue rank:  3456
cashier name:  Wells Monica  transaction count:  3  total revenue:  1017.29  transaction rank:  2854  revenue rank:  3457
cashier name:  Walls Kristen  transaction count:  3  total revenue:  989.98  transaction rank:  2854  revenue rank:  3507
cashier name:  Spears Erin  transaction count:  3  total revenue:  1492.29  transaction rank:  2854  revenue rank:  2792
cashier name:  Wood Joshua  transaction count:  3  total revenue:  1084.67  transaction rank:  2854  revenue rank:  3354
cashier name:  Mckenzie William  transaction count:  3  total revenue:  1016.15  transaction rank:  2854  revenue rank:  3459
cashier name:  Kramer Veronica  transaction count:  3  total revenue:  1915.03  transaction rank:  2854  revenue rank:  2281
cashier name:  Colon Lindsey  transaction count:  3  total revenue:  2124.76  transaction rank:  2854  revenue rank:  2027
cashier name:  Hayes Brandon  transaction count:  3  total revenue:  1490.07  transaction rank:  2854  revenue rank:  2797
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  2295.74  transaction rank:  2854  revenue rank:  1856
cashier name:  Wood Joshua  transaction count:  3  total revenue:  2678.29  transaction rank:  2854  revenue rank:  1474
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1488.84  transaction rank:  2854  revenue rank:  2800
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1487.85  transaction rank:  2854  revenue rank:  2801
cashier name:  Glover Michelle  transaction count:  3  total revenue:  1235.96  transaction rank:  2854  revenue rank:  3160
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  1913.08  transaction rank:  2854  revenue rank:  2283
cashier name:  Perry Andrea  transaction count:  3  total revenue:  1797.98  transaction rank:  2854  revenue rank:  2413
cashier name:  Davis Jennifer  transaction count:  3  total revenue:  1997.76  transaction rank:  2854  revenue rank:  2185
cashier name:  Hernandez Michael  transaction count:  3  total revenue:  1483.57  transaction rank:  2854  revenue rank:  2806
cashier name:  Warren Timothy  transaction count:  3  total revenue:  1482.56  transaction rank:  2854  revenue rank:  2807
cashier name:  Waters Julie  transaction count:  3  total revenue:  1848.08  transaction rank:  2854  revenue rank:  2357
cashier name:  Jones Christopher  transaction count:  3  total revenue:  1482.33  transaction rank:  2854  revenue rank:  2809

cashier name:  Manning Maria  transaction count:  3  total revenue:  1232.84  transaction rank:  2854  revenue rank:  3164
cashier name:  Thomas Robert  transaction count:  3  total revenue:  2031.46  transaction rank:  2854  revenue rank:  2149
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1909.79  transaction rank:  2854  revenue rank:  2286
cashier name:  Nichols Mitchell  transaction count:  3  total revenue:  1481.36  transaction rank:  2854  revenue rank:  2813
cashier name:  Hull Shane  transaction count:  3  total revenue:  2462.04  transaction rank:  2854  revenue rank:  1683
cashier name:  Wood Joshua  transaction count:  3  total revenue:  964.55  transaction rank:  2854  revenue rank:  3547
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  1480.53  transaction rank:  2854  revenue rank:  2816
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1231.80  transaction rank:  2854  revenue rank:  3167
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  1231.50  transaction rank:  2854  revenue rank:  3168
cashier name:  Smith Brandy  transaction count:  3  total revenue:  2064.51  transaction rank:  2854  revenue rank:  2105
cashier name:  Sean Mr.  transaction count:  3  total revenue:  2293.69  transaction rank:  2854  revenue rank:  1857
cashier name:  Henderson Nancy  transaction count:  3  total revenue:  1013.30  transaction rank:  2854  revenue rank:  3463
cashier name:  Foster Kenneth  transaction count:  3  total revenue:  1077.93  transaction rank:  2854  revenue rank:  3364
cashier name:  Mckinney Marcus  transaction count:  3  total revenue:  1473.96  transaction rank:  2854  revenue rank:  2823
cashier name:  Herrera Spencer  transaction count:  3  total revenue:  2554.02  transaction rank:  2854  revenue rank:  1590
cashier name:  Johnson Samantha  transaction count:  3  total revenue:  1472.65  transaction rank:  2854  revenue rank:  2825
cashier name:  Thompson Matthew  transaction count:  3  total revenue:  352.85  transaction rank:  2854  revenue rank:  4325
cashier name:  Horton Ashley  transaction count:  3  total revenue:  1472.22  transaction rank:  2854  revenue rank:  2827
cashier name:  Harrell Angie  transaction count:  3  total revenue:  1978.94  transaction rank:  2854  revenue rank:  2205
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  1076.42  transaction rank:  2854  revenue rank:  3366
cashier name:  Love Thomas  transaction count:  3  total revenue:  1470.10  transaction rank:  2854  revenue rank:  2830
cashier name:  Foster Jennifer  transaction count:  3  total revenue:  2127.12  transaction rank:  2854  revenue rank:  2023
cashier name:  Roach Christine  transaction count:  3  total revenue:  1076.26  transaction rank:  2854  revenue rank:  3367
cashier name:  Bryan Mr.  transaction count:  3  total revenue:  2395.81  transaction rank:  2854  revenue rank:  1745
cashier name:  Church Joshua  transaction count:  3  total revenue:  1846.95  transaction rank:  2854  revenue rank:  2360
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1468.28  transaction rank:  2854  revenue rank:  2835
cashier name:  Roach Christine  transaction count:  3  total revenue:  1467.88  transaction rank:  2854  revenue rank:  2836
cashier name:  Brooks Renee  transaction count:  3  total revenue:  2333.00  transaction rank:  2854  revenue rank:  1816
cashier name:  Atkinson Gary  transaction count:  3  total revenue:  1075.79  transaction rank:  2854  revenue rank:  3368
cashier name:  Spears Erin  transaction count:  3  total revenue:  1846.09  transaction rank:  2854  revenue rank:  2361
cashier name:  White Kenneth  transaction count:  3  total revenue:  1978.16  transaction rank:  2854  revenue rank:  2206
cashier name:  Thomas Robert  transaction count:  3  total revenue:  1464.51  transaction rank:  2854  revenue rank:  2841
cashier name:  Dodson Courtney  transaction count:  3  total revenue:  1220.23  transaction rank:  2854  revenue rank:  3182
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1904.32  transaction rank:  2854  revenue rank:  2290
cashier name:  Horton Mark  transaction count:  3  total revenue:  2393.92  transaction rank:  2854  revenue rank:  1746
cashier name:  Hughes Christopher  transaction count:  3  total revenue:  1460.34  transaction rank:  2854  revenue rank:  2845
cashier name:  Blanchard Ricky  transaction count:  3  total revenue:  1220.21  transaction rank:  2854  revenue rank:  3183
cashier name:  Jones Evelyn  transaction count:  3  total revenue:  1218.90  transaction rank:  2854  revenue rank:  3184
cashier name:  Wilson Jill  transaction count:  3  total revenue:  1218.79  transaction rank:  2854  revenue rank:  3185
cashier name:  Pena Johnathan  transaction count:  3  total revenue:  1459.19  transaction rank:  2854  revenue rank:  2849
cashier name:  Brown Lisa  transaction count:  3  total revenue:  1457.61  transaction rank:  2854  revenue rank:  2850
cashier name:  Thompson Andrea  transaction count:  3  total revenue:  1457.59  transaction rank:  2854  revenue rank:  2851
cashier name:  Randolph Emily  transaction count:  3  total revenue:  2014.12  transaction rank:  2854  revenue rank:  2172
cashier name:  Nguyen Richard  transaction count:  3  total revenue:  1456.92  transaction rank:  2854  revenue rank:  2853
cashier name:  Eric Mr.  transaction count:  2  total revenue:  286.44  transaction rank:  3548  revenue rank:  4401
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  2006.63  transaction rank:  3548  revenue rank:  2180
cashier name:  Perry Andrea  transaction count:  2  total revenue:  199.06  transaction rank:  3548  revenue rank:  4502
cashier name:  Wilson Jill  transaction count:  2  total revenue:  198.58  transaction rank:  3548  revenue rank:  4503
cashier name:  Eric Mr.  transaction count:  2  total revenue:  195.56  transaction rank:  3548  revenue rank:  4506
cashier name:  Rogers Mark  transaction count:  2  total revenue:  1976.96  transaction rank:  3548  revenue rank:  2208
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  193.11  transaction rank:  3548  revenue rank:  4509
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  2517.70  transaction rank:  3548  revenue rank:  1629
cashier name:  Eric Mr.  transaction count:  2  total revenue:  2518.61  transaction rank:  3548  revenue rank:  1628
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  1967.28  transaction rank:  3548  revenue rank:  2223
cashier name:  Myers Gary  transaction count:  2  total revenue:  1960.63  transaction rank:  3548  revenue rank:  2227
cashier name:  Gardner Laura  transaction count:  2  total revenue:  1952.46  transaction rank:  3548  revenue rank:  2237
cashier name:  Myers Gary  transaction count:  2  total revenue:  186.41  transaction rank:  3548  revenue rank:  4515
cashier name:  Bennett Alec  transaction count:  2  total revenue:  184.04  transaction rank:  3548  revenue rank:  4519
cashier name:  Galvan Lori  transaction count:  2  total revenue:  2541.12  transaction rank:  3548  revenue rank:  1604
cashier name:  Manning Maria  transaction count:  2  total revenue:  183.48  transaction rank:  3548  revenue rank:  4521
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  182.77  transaction rank:  3548  revenue rank:  4523
cashier name:  Galvan Lori  transaction count:  2  total revenue:  178.99  transaction rank:  3548  revenue rank:  4526
cashier name:  Horton Mark  transaction count:  2  total revenue:  1903.90  transaction rank:  3548  revenue rank:  2292
cashier name:  Kerr Jason  transaction count:  2  total revenue:  176.71  transaction rank:  3548  revenue rank:  4529
cashier name:  Smith Brandy  transaction count:  2  total revenue:  174.49  transaction rank:  3548  revenue rank:  4531
cashier name:  Carroll Eric  transaction count:  2  total revenue:  172.81  transaction rank:  3548  revenue rank:  4534
cashier name:  Manning Maria  transaction count:  2  total revenue:  2581.47  transaction rank:  3548  revenue rank:  1560
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  1881.46  transaction rank:  3548  revenue rank:  2314
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  1873.58  transaction rank:  3548  revenue rank:  2320
cashier name:  Tate Harry  transaction count:  2  total revenue:  167.68  transaction rank:  3548  revenue rank:  4540
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  1853.81  transaction rank:  3548  revenue rank:  2348
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  1851.76  transaction rank:  3548  revenue rank:  2350
cashier name:  Meyer James  transaction count:  2  total revenue:  1847.04  transaction rank:  3548  revenue rank:  2359
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  1846.08  transaction rank:  3548  revenue rank:  2362
cashier name:  Moran John  transaction count:  2  total revenue:  1841.58  transaction rank:  3548  revenue rank:  2366
cashier name:  Payne Samantha  transaction count:  2  total revenue:  1838.64  transaction rank:  3548  revenue rank:  2370
cashier name:  Glover Michelle  transaction count:  2  total revenue:  1828.44  transaction rank:  3548  revenue rank:  2377
cashier name:  Shah Amanda  transaction count:  2  total revenue:  1820.80  transaction rank:  3548  revenue rank:  2383
cashier name:  Long Kirsten  transaction count:  2  total revenue:  1819.48  transaction rank:  3548  revenue rank:  2385
cashier name:  Owens Jeffrey  transaction count:  2  total revenue:  1818.43  transaction rank:  3548  revenue rank:  2388
cashier name:  Walters Jay  transaction count:  2  total revenue:  1815.52  transaction rank:  3548  revenue rank:  2390
cashier name:  Payne Samantha  transaction count:  2  total revenue:  161.40  transaction rank:  3548  revenue rank:  4550
cashier name:  Waters Julie  transaction count:  2  total revenue:  161.28  transaction rank:  3548  revenue rank:  4552
cashier name:  Shah Amanda  transaction count:  2  total revenue:  1802.64  transaction rank:  3548  revenue rank:  2410
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  1792.17  transaction rank:  3548  revenue rank:  2420
cashier name:  Burns Kendra  transaction count:  2  total revenue:  1791.37  transaction rank:  3548  revenue rank:  2421
cashier name:  Walls Kristen  transaction count:  2  total revenue:  1785.56  transaction rank:  3548  revenue rank:  2424
cashier name:  Riley Ashley  transaction count:  2  total revenue:  1782.69  transaction rank:  3548  revenue rank:  2427
cashier name:  Manning Maria  transaction count:  2  total revenue:  1762.90  transaction rank:  3548  revenue rank:  2452
cashier name:  Payne Samantha  transaction count:  2  total revenue:  1751.65  transaction rank:  3548  revenue rank:  2462
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  2723.55  transaction rank:  3548  revenue rank:  1434
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  1739.51  transaction rank:  3548  revenue rank:  2479
cashier name:  Mckinney Marcus  transaction count:  2  total revenue:  1733.61  transaction rank:  3548  revenue rank:  2490
cashier name:  Warren Timothy  transaction count:  2  total revenue:  1732.72  transaction rank:  3548  revenue rank:  2493
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  1732.6  transaction rank:  3548  revenue rank:  2494
cashier name:  Frederick Evan  transaction count:  2  total revenue:  1729.64  transaction rank:  3548  revenue rank:  2498
cashier name:  Warren Timothy  transaction count:  2  total revenue:  1715.29  transaction rank:  3548  revenue rank:  2515
cashier name:  Gardner Laura  transaction count:  2  total revenue:  1715.05  transaction rank:  3548  revenue rank:  2516
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  1712.10  transaction rank:  3548  revenue rank:  2522
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  1707.58  transaction rank:  3548  revenue rank:  2525
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  135.20  transaction rank:  3548  revenue rank:  4579
cashier name:  Jones Christopher  transaction count:  2  total revenue:  1702.66  transaction rank:  3548  revenue rank:  2530
cashier name:  Manning Maria  transaction count:  2  total revenue:  133.33  transaction rank:  3548  revenue rank:  4581
cashier name:  Harrell Angie  transaction count:  2  total revenue:  1687.02  transaction rank:  3548  revenue rank:  2543
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  132.00  transaction rank:  3548  revenue rank:  4583
cashier name:  Wilson Jill  transaction count:  2  total revenue:  1676.71  transaction rank:  3548  revenue rank:  2555
cashier name:  Spears Erin  transaction count:  2  total revenue:  131.22  transaction rank:  3548  revenue rank:  4584
cashier name:  Meyer James  transaction count:  2  total revenue:  1670.20  transaction rank:  3548  revenue rank:  2562
cashier name:  Glover Michelle  transaction count:  2  total revenue:  1662.76  transaction rank:  3548  revenue rank:  2572
cashier name:  Glover Michelle  transaction count:  2  total revenue:  126.85  transaction rank:  3548  revenue rank:  4588
cashier name:  Brooks Renee  transaction count:  2  total revenue:  1658.46  transaction rank:  3548  revenue rank:  2578
cashier name:  Horton Mark  transaction count:  2  total revenue:  1653.97  transaction rank:  3548  revenue rank:  2580
cashier name:  Wood Joshua  transaction count:  2  total revenue:  1652.64  transaction rank:  3548  revenue rank:  2581
cashier name:  Burns Kendra  transaction count:  2  total revenue:  1651.92  transaction rank:  3548  revenue rank:  2582
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  1649.70  transaction rank:  3548  revenue rank:  2587
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  1647.33  transaction rank:  3548  revenue rank:  2589
cashier name:  Torres Steven  transaction count:  2  total revenue:  1632.10  transaction rank:  3548  revenue rank:  2606
cashier name:  Werner Kara  transaction count:  2  total revenue:  1622.97  transaction rank:  3548  revenue rank:  2611
cashier name:  Roach Christine  transaction count:  2  total revenue:  1621.75  transaction rank:  3548  revenue rank:  2613
cashier name:  Rogers Mark  transaction count:  2  total revenue:  113.38  transaction rank:  3548  revenue rank:  4599
cashier name:  Perry Andrea  transaction count:  2  total revenue:  112.96  transaction rank:  3548  revenue rank:  4601
cashier name:  Glover Michelle  transaction count:  2  total revenue:  110.96  transaction rank:  3548  revenue rank:  4602
cashier name:  Burns Kendra  transaction count:  2  total revenue:  1594.91  transaction rank:  3548  revenue rank:  2650
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  1589.12  transaction rank:  3548  revenue rank:  2657
cashier name:  Wilson Jill  transaction count:  2  total revenue:  1578.54  transaction rank:  3548  revenue rank:  2670
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  1570.35  transaction rank:  3548  revenue rank:  2682
cashier name:  Frederick Evan  transaction count:  2  total revenue:  1564.74  transaction rank:  3548  revenue rank:  2689
cashier name:  Horton Ashley  transaction count:  2  total revenue:  1564.52  transaction rank:  3548  revenue rank:  2690
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  1563.93  transaction rank:  3548  revenue rank:  2692
cashier name:  Mckinney Marcus  transaction count:  2  total revenue:  1562.78  transaction rank:  3548  revenue rank:  2695
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  1554.60  transaction rank:  3548  revenue rank:  2701
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  1551.88  transaction rank:  3548  revenue rank:  2706
cashier name:  Gardner Laura  transaction count:  2  total revenue:  1546.64  transaction rank:  3548  revenue rank:  2709
cashier name:  Hayes Brandon  transaction count:  2  total revenue:  1545.22  transaction rank:  3548  revenue rank:  2712
cashier name:  Meyer James  transaction count:  2  total revenue:  1540.32  transaction rank:  3548  revenue rank:  2721
cashier name:  Brown Lisa  transaction count:  2  total revenue:  1537.34  transaction rank:  3548  revenue rank:  2726
cashier name:  Tate Harry  transaction count:  2  total revenue:  1534.40  transaction rank:  3548  revenue rank:  2733
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  1525.53  transaction rank:  3548  revenue rank:  2745
cashier name:  Long Kirsten  transaction count:  2  total revenue:  1520.36  transaction rank:  3548  revenue rank:  2752
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  87.53  transaction rank:  3548  revenue rank:  4623
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  1509.44  transaction rank:  3548  revenue rank:  2766
cashier name:  Tate Harry  transaction count:  2  total revenue:  1509.03  transaction rank:  3548  revenue rank:  2768
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  1505.96  transaction rank:  3548  revenue rank:  2774
cashier name:  Church Joshua  transaction count:  2  total revenue:  1503.94  transaction rank:  3548  revenue rank:  2778
cashier name:  Moon James  transaction count:  2  total revenue:  2889.93  transaction rank:  3548  revenue rank:  1275
cashier name:  Foster Kenneth  transaction count:  2  total revenue:  1500.11  transaction rank:  3548  revenue rank:  2780
cashier name:  Brooks Renee  transaction count:  2  total revenue:  1497.65  transaction rank:  3548  revenue rank:  2783
cashier name:  Mckenzie William  transaction count:  2  total revenue:  1494.82  transaction rank:  3548  revenue rank:  2788
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  1491.20  transaction rank:  3548  revenue rank:  2795
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  1485.10  transaction rank:  3548  revenue rank:  2802
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  1484.88  transaction rank:  3548  revenue rank:  2803
cashier name:  Wilson Jill  transaction count:  2  total revenue:  1484.13  transaction rank:  3548  revenue rank:  2805
cashier name:  Galvan Lori  transaction count:  2  total revenue:  1481.83  transaction rank:  3548  revenue rank:  2811
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  1481.40  transaction rank:  3548  revenue rank:  2812
cashier name:  Riley Ashley  transaction count:  2  total revenue:  1481.13  transaction rank:  3548  revenue rank:  2814
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  1473.52  transaction rank:  3548  revenue rank:  2824

cashier name:  Day Natasha  transaction count:  2  total revenue:  1465.14  transaction rank:  3548  revenue rank:  2839
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  1462.35  transaction rank:  3548  revenue rank:  2843
cashier name:  Garcia Sarah  transaction count:  2  total revenue:  84.17  transaction rank:  3548  revenue rank:  4629
cashier name:  Wells Monica  transaction count:  2  total revenue:  1457.10  transaction rank:  3548  revenue rank:  2852
cashier name:  Garcia Sarah  transaction count:  2  total revenue:  1449.67  transaction rank:  3548  revenue rank:  2863
cashier name:  Harrell Angie  transaction count:  2  total revenue:  1446.13  transaction rank:  3548  revenue rank:  2869
cashier name:  Spears Erin  transaction count:  2  total revenue:  77.08  transaction rank:  3548  revenue rank:  4634
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  1438.43  transaction rank:  3548  revenue rank:  2879
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  1434.34  transaction rank:  3548  revenue rank:  2882
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  1427.62  transaction rank:  3548  revenue rank:  2892
cashier name:  Galvan Lori  transaction count:  2  total revenue:  1424.10  transaction rank:  3548  revenue rank:  2895
cashier name:  Riley Ashley  transaction count:  2  total revenue:  1420.90  transaction rank:  3548  revenue rank:  2899
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  1413.72  transaction rank:  3548  revenue rank:  2912
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  1409.36  transaction rank:  3548  revenue rank:  2920
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  1408.78  transaction rank:  3548  revenue rank:  2922
cashier name:  Bennett Alec  transaction count:  2  total revenue:  1402.88  transaction rank:  3548  revenue rank:  2929
cashier name:  Tate Harry  transaction count:  2  total revenue:  1398.13  transaction rank:  3548  revenue rank:  2940
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1397.76  transaction rank:  3548  revenue rank:  2941
cashier name:  Randolph Emily  transaction count:  2  total revenue:  1393.59  transaction rank:  3548  revenue rank:  2947
cashier name:  Jones Christopher  transaction count:  2  total revenue:  1390.39  transaction rank:  3548  revenue rank:  2951
cashier name:  Brooks Renee  transaction count:  2  total revenue:  1374.84  transaction rank:  3548  revenue rank:  2971
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  60.48  transaction rank:  3548  revenue rank:  4649
cashier name:  Henderson Nancy  transaction count:  2  total revenue:  1373.06  transaction rank:  3548  revenue rank:  2974
cashier name:  Brown Lisa  transaction count:  2  total revenue:  1370.28  transaction rank:  3548  revenue rank:  2977
cashier name:  Day Natasha  transaction count:  2  total revenue:  1367.50  transaction rank:  3548  revenue rank:  2984
cashier name:  Moore Jason  transaction count:  2  total revenue:  1365.40  transaction rank:  3548  revenue rank:  2985
cashier name:  Woods Marcus  transaction count:  2  total revenue:  1364.06  transaction rank:  3548  revenue rank:  2986
cashier name:  Warren Timothy  transaction count:  2  total revenue:  1362.4  transaction rank:  3548  revenue rank:  2990
cashier name:  Williams Michael  transaction count:  2  total revenue:  1362.32  transaction rank:  3548  revenue rank:  2991
cashier name:  Shah Amanda  transaction count:  2  total revenue:  1361.55  transaction rank:  3548  revenue rank:  2993
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  55.99  transaction rank:  3548  revenue rank:  4655
cashier name:  Rogers Mark  transaction count:  2  total revenue:  1346.99  transaction rank:  3548  revenue rank:  3011
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  1346.72  transaction rank:  3548  revenue rank:  3012
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  1346.71  transaction rank:  3548  revenue rank:  3013
cashier name:  Long Kirsten  transaction count:  2  total revenue:  1344.45  transaction rank:  3548  revenue rank:  3016
cashier name:  Horton Ashley  transaction count:  2  total revenue:  55.69  transaction rank:  3548  revenue rank:  4656
cashier name:  Jones Michael  transaction count:  2  total revenue:  1340.44  transaction rank:  3548  revenue rank:  3020
cashier name:  Hull Shane  transaction count:  2  total revenue:  1340.30  transaction rank:  3548  revenue rank:  3022
cashier name:  Walters Jay  transaction count:  2  total revenue:  1334.13  transaction rank:  3548  revenue rank:  3030
cashier name:  Roach Christine  transaction count:  2  total revenue:  1333.15  transaction rank:  3548  revenue rank:  3031
cashier name:  Randolph Emily  transaction count:  2  total revenue:  1333.00  transaction rank:  3548  revenue rank:  3032
cashier name:  Smith Brandy  transaction count:  2  total revenue:  1314.75  transaction rank:  3548  revenue rank:  3044
cashier name:  Sean Mr.  transaction count:  2  total revenue:  1312.82  transaction rank:  3548  revenue rank:  3047
cashier name:  Bennett Alec  transaction count:  2  total revenue:  1311.06  transaction rank:  3548  revenue rank:  3049
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  1309.23  transaction rank:  3548  revenue rank:  3052
cashier name:  Frederick Evan  transaction count:  2  total revenue:  1308.43  transaction rank:  3548  revenue rank:  3053
cashier name:  Harrell Angie  transaction count:  2  total revenue:  1306.96  transaction rank:  3548  revenue rank:  3055
cashier name:  Love Thomas  transaction count:  2  total revenue:  1300.09  transaction rank:  3548  revenue rank:  3067
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  1299.22  transaction rank:  3548  revenue rank:  3069
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1285.99  transaction rank:  3548  revenue rank:  3080
cashier name:  Blanchard Ricky  transaction count:  2  total revenue:  1280.98  transaction rank:  3548  revenue rank:  3087
cashier name:  Glover Michelle  transaction count:  2  total revenue:  1278.10  transaction rank:  3548  revenue rank:  3092
cashier name:  Carroll Eric  transaction count:  2  total revenue:  1272.90  transaction rank:  3548  revenue rank:  3101
cashier name:  Eric Mr.  transaction count:  2  total revenue:  1268.06  transaction rank:  3548  revenue rank:  3107
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  1266.25  transaction rank:  3548  revenue rank:  3112
cashier name:  Kerr Jason  transaction count:  2  total revenue:  1264.04  transaction rank:  3548  revenue rank:  3117
cashier name:  Hull Shane  transaction count:  2  total revenue:  1262.03  transaction rank:  3548  revenue rank:  3120
cashier name:  Walters Jay  transaction count:  2  total revenue:  1258.58  transaction rank:  3548  revenue rank:  3126
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  1256.58  transaction rank:  3548  revenue rank:  3130
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  1254.79  transaction rank:  3548  revenue rank:  3134
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  1253.52  transaction rank:  3548  revenue rank:  3137
cashier name:  Burns Kendra  transaction count:  2  total revenue:  1249.16  transaction rank:  3548  revenue rank:  3142
cashier name:  Gardner Laura  transaction count:  2  total revenue:  1245.84  transaction rank:  3548  revenue rank:  3146
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  1244.22  transaction rank:  3548  revenue rank:  3147
cashier name:  Randolph Emily  transaction count:  2  total revenue:  1243.33  transaction rank:  3548  revenue rank:  3149
cashier name:  Moon James  transaction count:  2  total revenue:  1242.57  transaction rank:  3548  revenue rank:  3152
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  46.85  transaction rank:  3548  revenue rank:  4668
cashier name:  Sosa David  transaction count:  2  total revenue:  1237.02  transaction rank:  3548  revenue rank:  3157
cashier name:  Roach Christine  transaction count:  2  total revenue:  1233.04  transaction rank:  3548  revenue rank:  3163
cashier name:  Church Joshua  transaction count:  2  total revenue:  1232.32  transaction rank:  3548  revenue rank:  3165
cashier name:  Love Thomas  transaction count:  2  total revenue:  1226.94  transaction rank:  3548  revenue rank:  3174
cashier name:  Jackson Michael  transaction count:  2  total revenue:  1223.87  transaction rank:  3548  revenue rank:  3177
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  1221.78  transaction rank:  3548  revenue rank:  3180
cashier name:  Williams Michael  transaction count:  2  total revenue:  1220.75  transaction rank:  3548  revenue rank:  3181
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  1215.75  transaction rank:  3548  revenue rank:  3189
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  1214.24  transaction rank:  3548  revenue rank:  3193
cashier name:  Manning Maria  transaction count:  2  total revenue:  1208.01  transaction rank:  3548  revenue rank:  3198
cashier name:  Bradley Rita  transaction count:  2  total revenue:  1194.33  transaction rank:  3548  revenue rank:  3211
cashier name:  Hayes Brandon  transaction count:  2  total revenue:  1191.36  transaction rank:  3548  revenue rank:  3215
cashier name:  Woods Marcus  transaction count:  2  total revenue:  1190.59  transaction rank:  3548  revenue rank:  3216
cashier name:  Randolph Emily  transaction count:  2  total revenue:  1190.43  transaction rank:  3548  revenue rank:  3217
cashier name:  Thomas Robert  transaction count:  2  total revenue:  1177.92  transaction rank:  3548  revenue rank:  3232
cashier name:  Spears Erin  transaction count:  2  total revenue:  1172.25  transaction rank:  3548  revenue rank:  3237
cashier name:  Harrell Angie  transaction count:  2  total revenue:  1171.11  transaction rank:  3548  revenue rank:  3240
cashier name:  Werner Kara  transaction count:  2  total revenue:  1170.91  transaction rank:  3548  revenue rank:  3241
cashier name:  Wood Joshua  transaction count:  2  total revenue:  1170.00  transaction rank:  3548  revenue rank:  3242
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1167.20  transaction rank:  3548  revenue rank:  3244
cashier name:  Spears Erin  transaction count:  2  total revenue:  1166.78  transaction rank:  3548  revenue rank:  3246
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  1164.95  transaction rank:  3548  revenue rank:  3248
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  1164.82  transaction rank:  3548  revenue rank:  3249
cashier name:  Golden Laurie  transaction count:  2  total revenue:  1164.64  transaction rank:  3548  revenue rank:  3250
cashier name:  Jordan Carla  transaction count:  2  total revenue:  1159.55  transaction rank:  3548  revenue rank:  3257
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  1158.88  transaction rank:  3548  revenue rank:  3259
cashier name:  Bradley Rita  transaction count:  2  total revenue:  1153.99  transaction rank:  3548  revenue rank:  3263
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  1152.18  transaction rank:  3548  revenue rank:  3265
cashier name:  Galvan Lori  transaction count:  2  total revenue:  1151.16  transaction rank:  3548  revenue rank:  3268
cashier name:  Love Thomas  transaction count:  2  total revenue:  1150.55  transaction rank:  3548  revenue rank:  3269
cashier name:  Glover Michelle  transaction count:  2  total revenue:  1146.06  transaction rank:  3548  revenue rank:  3273
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  1144.09  transaction rank:  3548  revenue rank:  3276
cashier name:  Church Joshua  transaction count:  2  total revenue:  1140.53  transaction rank:  3548  revenue rank:  3282
cashier name:  Meyer James  transaction count:  2  total revenue:  1139.64  transaction rank:  3548  revenue rank:  3286
cashier name:  Campbell Bethany  transaction count:  2  total revenue:  1137.35  transaction rank:  3548  revenue rank:  3287
cashier name:  Gardner Laura  transaction count:  2  total revenue:  1130.56  transaction rank:  3548  revenue rank:  3296
cashier name:  Brooks Renee  transaction count:  2  total revenue:  1126.06  transaction rank:  3548  revenue rank:  3297
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  1123.20  transaction rank:  3548  revenue rank:  3303
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  1123.06  transaction rank:  3548  revenue rank:  3304
cashier name:  Glover Michelle  transaction count:  2  total revenue:  1115.52  transaction rank:  3548  revenue rank:  3313
cashier name:  Blanchard Ricky  transaction count:  2  total revenue:  1113.88  transaction rank:  3548  revenue rank:  3317
cashier name:  Smith Brandy  transaction count:  2  total revenue:  1111.03  transaction rank:  3548  revenue rank:  3320
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  1109.60  transaction rank:  3548  revenue rank:  3322
cashier name:  Carroll Eric  transaction count:  2  total revenue:  1108.15  transaction rank:  3548  revenue rank:  3325
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  1107.55  transaction rank:  3548  revenue rank:  3327
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  1104.82  transaction rank:  3548  revenue rank:  3331
cashier name:  Walters Jay  transaction count:  2  total revenue:  1100.88  transaction rank:  3548  revenue rank:  3334
cashier name:  Shah Amanda  transaction count:  2  total revenue:  1097.69  transaction rank:  3548  revenue rank:  3337
cashier name:  Myers Gary  transaction count:  2  total revenue:  1096.93  transaction rank:  3548  revenue rank:  3339
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  1094.46  transaction rank:  3548  revenue rank:  3341
cashier name:  Love Thomas  transaction count:  2  total revenue:  1094.10  transaction rank:  3548  revenue rank:  3342
cashier name:  Jones Christopher  transaction count:  2  total revenue:  1092.61  transaction rank:  3548  revenue rank:  3345
cashier name:  Wells Monica  transaction count:  2  total revenue:  1091.22  transaction rank:  3548  revenue rank:  3347
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  1088.41  transaction rank:  3548  revenue rank:  3350
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  1086.39  transaction rank:  3548  revenue rank:  3351
cashier name:  Kerr Jason  transaction count:  2  total revenue:  1084.60  transaction rank:  3548  revenue rank:  3355
cashier name:  Frederick Evan  transaction count:  2  total revenue:  1081.83  transaction rank:  3548  revenue rank:  3357
cashier name:  Gross Andrew  transaction count:  2  total revenue:  1081.60  transaction rank:  3548  revenue rank:  3358
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  1081.32  transaction rank:  3548  revenue rank:  3359
cashier name:  Shah Amanda  transaction count:  2  total revenue:  1079.23  transaction rank:  3548  revenue rank:  3361
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  1071.97  transaction rank:  3548  revenue rank:  3373
cashier name:  Moore Jason  transaction count:  2  total revenue:  1071.30  transaction rank:  3548  revenue rank:  3375
cashier name:  Henderson Nancy  transaction count:  2  total revenue:  1067.94  transaction rank:  3548  revenue rank:  3380
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  1067.72  transaction rank:  3548  revenue rank:  3381
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1065.75  transaction rank:  3548  revenue rank:  3383
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1062.20  transaction rank:  3548  revenue rank:  3389
cashier name:  Frederick Evan  transaction count:  2  total revenue:  1058.68  transaction rank:  3548  revenue rank:  3392
cashier name:  Jones Michael  transaction count:  2  total revenue:  1055.28  transaction rank:  3548  revenue rank:  3395
cashier name:  Day Natasha  transaction count:  2  total revenue:  1052.80  transaction rank:  3548  revenue rank:  3400
cashier name:  Mckenzie William  transaction count:  2  total revenue:  1051.02  transaction rank:  3548  revenue rank:  3402
cashier name:  Harrell Angie  transaction count:  2  total revenue:  1051.00  transaction rank:  3548  revenue rank:  3403
cashier name:  Church Joshua  transaction count:  2  total revenue:  1049.31  transaction rank:  3548  revenue rank:  3405
cashier name:  Randolph Emily  transaction count:  2  total revenue:  1047.34  transaction rank:  3548  revenue rank:  3407
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  1044.32  transaction rank:  3548  revenue rank:  3414
cashier name:  Tate Harry  transaction count:  2  total revenue:  1042.13  transaction rank:  3548  revenue rank:  3419
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  1041.69  transaction rank:  3548  revenue rank:  3420
cashier name:  Day Natasha  transaction count:  2  total revenue:  1039.15  transaction rank:  3548  revenue rank:  3424
cashier name:  Horton Ashley  transaction count:  2  total revenue:  1034.92  transaction rank:  3548  revenue rank:  3429
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  1034.17  transaction rank:  3548  revenue rank:  3430
cashier name:  Chen Kathleen  transaction count:  2  total revenue:  1025.73  transaction rank:  3548  revenue rank:  3439
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  1023.16  transaction rank:  3548  revenue rank:  3445
cashier name:  Jackson Michael  transaction count:  2  total revenue:  1022.17  transaction rank:  3548  revenue rank:  3447
cashier name:  Moore Jason  transaction count:  2  total revenue:  1019.49  transaction rank:  3548  revenue rank:  3451

cashier name:  Hayes Brandon  transaction count:  2  total revenue:  1019.34  transaction rank:  3548  revenue rank:  3452
cashier name:  Wood Joshua  transaction count:  2  total revenue:  1013.76  transaction rank:  3548  revenue rank:  3462
cashier name:  Rogers Mark  transaction count:  2  total revenue:  1011.5  transaction rank:  3548  revenue rank:  3468
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  1010.70  transaction rank:  3548  revenue rank:  3469
cashier name:  Eric Mr.  transaction count:  2  total revenue:  1008.50  transaction rank:  3548  revenue rank:  3474
cashier name:  Thompson Andrea  transaction count:  2  total revenue:  1007.40  transaction rank:  3548  revenue rank:  3476
cashier name:  Burns Kendra  transaction count:  2  total revenue:  1005.96  transaction rank:  3548  revenue rank:  3478
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  1002.48  transaction rank:  3548  revenue rank:  3486
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  1000.23  transaction rank:  3548  revenue rank:  3491
cashier name:  Church Joshua  transaction count:  2  total revenue:  998.86  transaction rank:  3548  revenue rank:  3492
cashier name:  Hull Shane  transaction count:  2  total revenue:  997.46  transaction rank:  3548  revenue rank:  3494
cashier name:  Love Thomas  transaction count:  2  total revenue:  996.78  transaction rank:  3548  revenue rank:  3495
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  991.97  transaction rank:  3548  revenue rank:  3503
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  989.60  transaction rank:  3548  revenue rank:  3508
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  984.48  transaction rank:  3548  revenue rank:  3514
cashier name:  Moore Jason  transaction count:  2  total revenue:  981.74  transaction rank:  3548  revenue rank:  3521
cashier name:  Torres Steven  transaction count:  2  total revenue:  979.60  transaction rank:  3548  revenue rank:  3523
cashier name:  Walls Kristen  transaction count:  2  total revenue:  979.50  transaction rank:  3548  revenue rank:  3524
cashier name:  Horton Mark  transaction count:  2  total revenue:  979.42  transaction rank:  3548  revenue rank:  3525
cashier name:  Moyer Steven  transaction count:  2  total revenue:  979.39  transaction rank:  3548  revenue rank:  3527
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  975.36  transaction rank:  3548  revenue rank:  3529
cashier name:  Mckenzie William  transaction count:  2  total revenue:  973.90  transaction rank:  3548  revenue rank:  3532
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  971.04  transaction rank:  3548  revenue rank:  3536
cashier name:  Roach Christine  transaction count:  2  total revenue:  970.72  transaction rank:  3548  revenue rank:  3537
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  967.55  transaction rank:  3548  revenue rank:  3542
cashier name:  Jones Christopher  transaction count:  2  total revenue:  966.54  transaction rank:  3548  revenue rank:  3544
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  963.32  transaction rank:  3548  revenue rank:  3549
cashier name:  Waters Julie  transaction count:  2  total revenue:  961.10  transaction rank:  3548  revenue rank:  3552
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  958.41  transaction rank:  3548  revenue rank:  3554
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  958.40  transaction rank:  3548  revenue rank:  3555
cashier name:  Harrell Angie  transaction count:  2  total revenue:  956.88  transaction rank:  3548  revenue rank:  3558
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  949.57  transaction rank:  3548  revenue rank:  3566
cashier name:  Mckinney Marcus  transaction count:  2  total revenue:  948.77  transaction rank:  3548  revenue rank:  3568
cashier name:  Moyer Steven  transaction count:  2  total revenue:  946.54  transaction rank:  3548  revenue rank:  3571
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  941.09  transaction rank:  3548  revenue rank:  3574
cashier name:  White Kenneth  transaction count:  2  total revenue:  939.44  transaction rank:  3548  revenue rank:  3577
cashier name:  Sosa David  transaction count:  2  total revenue:  934.68  transaction rank:  3548  revenue rank:  3582
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  932.64  transaction rank:  3548  revenue rank:  3586
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  929.88  transaction rank:  3548  revenue rank:  3594
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  929.8  transaction rank:  3548  revenue rank:  3595
cashier name:  Sean Mr.  transaction count:  2  total revenue:  928.00  transaction rank:  3548  revenue rank:  3598
cashier name:  Wells Monica  transaction count:  2  total revenue:  927.18  transaction rank:  3548  revenue rank:  3600
cashier name:  Woods Marcus  transaction count:  2  total revenue:  922.71  transaction rank:  3548  revenue rank:  3607
cashier name:  Bradley Rita  transaction count:  2  total revenue:  921.22  transaction rank:  3548  revenue rank:  3610
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  921.06  transaction rank:  3548  revenue rank:  3611
cashier name:  Carroll Eric  transaction count:  2  total revenue:  918.08  transaction rank:  3548  revenue rank:  3616
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  917.35  transaction rank:  3548  revenue rank:  3617
cashier name:  Pena Johnathan  transaction count:  2  total revenue:  910.28  transaction rank:  3548  revenue rank:  3633
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  909.60  transaction rank:  3548  revenue rank:  3634
cashier name:  Jordan Carla  transaction count:  2  total revenue:  906.32  transaction rank:  3548  revenue rank:  3637
cashier name:  Henderson Nancy  transaction count:  2  total revenue:  900.24  transaction rank:  3548  revenue rank:  3639
cashier name:  Payne Samantha  transaction count:  2  total revenue:  899.22  transaction rank:  3548  revenue rank:  3640
cashier name:  Sosa David  transaction count:  2  total revenue:  898.13  transaction rank:  3548  revenue rank:  3645
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  897.11  transaction rank:  3548  revenue rank:  3647
cashier name:  Meyer James  transaction count:  2  total revenue:  892.30  transaction rank:  3548  revenue rank:  3652
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  891.99  transaction rank:  3548  revenue rank:  3653
cashier name:  Jordan Carla  transaction count:  2  total revenue:  888.20  transaction rank:  3548  revenue rank:  3658
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  886.69  transaction rank:  3548  revenue rank:  3661
cashier name:  Jackson Gary  transaction count:  2  total revenue:  885.45  transaction rank:  3548  revenue rank:  3663
cashier name:  Church Joshua  transaction count:  2  total revenue:  881.43  transaction rank:  3548  revenue rank:  3670
cashier name:  Smith Diana  transaction count:  2  total revenue:  880.42  transaction rank:  3548  revenue rank:  3672
cashier name:  Alvarez Brenda  transaction count:  2  total revenue:  880.13  transaction rank:  3548  revenue rank:  3673
cashier name:  Alvarez Brenda  transaction count:  2  total revenue:  875.86  transaction rank:  3548  revenue rank:  3676
cashier name:  Wilson Jill  transaction count:  2  total revenue:  869.68  transaction rank:  3548  revenue rank:  3682
cashier name:  Riley Ashley  transaction count:  2  total revenue:  868.62  transaction rank:  3548  revenue rank:  3683
cashier name:  Jackson Michael  transaction count:  2  total revenue:  857.73  transaction rank:  3548  revenue rank:  3693
cashier name:  Jacobs Brenda  transaction count:  2  total revenue:  14.92  transaction rank:  3548  revenue rank:  4699
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  855.22  transaction rank:  3548  revenue rank:  3697
cashier name:  Jones Christopher  transaction count:  2  total revenue:  854.59  transaction rank:  3548  revenue rank:  3698
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  853.68  transaction rank:  3548  revenue rank:  3700
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  848.82  transaction rank:  3548  revenue rank:  3706
cashier name:  Manning Maria  transaction count:  2  total revenue:  848.57  transaction rank:  3548  revenue rank:  3707
cashier name:  Brown Lisa  transaction count:  2  total revenue:  847.21  transaction rank:  3548  revenue rank:  3711
cashier name:  Harrell Angie  transaction count:  2  total revenue:  846.23  transaction rank:  3548  revenue rank:  3713
cashier name:  Day Natasha  transaction count:  2  total revenue:  844.80  transaction rank:  3548  revenue rank:  3715
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  841.18  transaction rank:  3548  revenue rank:  3721
cashier name:  Riley Ashley  transaction count:  2  total revenue:  836.73  transaction rank:  3548  revenue rank:  3729
cashier name:  Werner Kara  transaction count:  2  total revenue:  836.40  transaction rank:  3548  revenue rank:  3730
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  833.81  transaction rank:  3548  revenue rank:  3735
cashier name:  Martin Monica  transaction count:  2  total revenue:  833.61  transaction rank:  3548  revenue rank:  3736
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  832.10  transaction rank:  3548  revenue rank:  3739
cashier name:  Brown Lisa  transaction count:  2  total revenue:  830.84  transaction rank:  3548  revenue rank:  3742
cashier name:  Burns Kendra  transaction count:  2  total revenue:  827.32  transaction rank:  3548  revenue rank:  3748
cashier name:  Carroll Eric  transaction count:  2  total revenue:  827.24  transaction rank:  3548  revenue rank:  3750
cashier name:  Perry Andrea  transaction count:  2  total revenue:  820.62  transaction rank:  3548  revenue rank:  3756
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  819.06  transaction rank:  3548  revenue rank:  3757
cashier name:  Smith Diana  transaction count:  2  total revenue:  817.16  transaction rank:  3548  revenue rank:  3758
cashier name:  Moore Jason  transaction count:  2  total revenue:  814.32  transaction rank:  3548  revenue rank:  3762
cashier name:  Pena Johnathan  transaction count:  2  total revenue:  812.40  transaction rank:  3548  revenue rank:  3763
cashier name:  Waters Julie  transaction count:  2  total revenue:  808.11  transaction rank:  3548  revenue rank:  3769
cashier name:  Harrell Angie  transaction count:  2  total revenue:  804.28  transaction rank:  3548  revenue rank:  3772
cashier name:  Woods Marcus  transaction count:  2  total revenue:  803.76  transaction rank:  3548  revenue rank:  3773
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  800.99  transaction rank:  3548  revenue rank:  3774
cashier name:  Walters Jay  transaction count:  2  total revenue:  800.26  transaction rank:  3548  revenue rank:  3775
cashier name:  Randolph Emily  transaction count:  2  total revenue:  798.70  transaction rank:  3548  revenue rank:  3779
cashier name:  Martin Monica  transaction count:  2  total revenue:  797.02  transaction rank:  3548  revenue rank:  3783
cashier name:  Day Natasha  transaction count:  2  total revenue:  794.76  transaction rank:  3548  revenue rank:  3787
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  792.84  transaction rank:  3548  revenue rank:  3788
cashier name:  Tate Harry  transaction count:  2  total revenue:  792.19  transaction rank:  3548  revenue rank:  3789
cashier name:  Roach Christine  transaction count:  2  total revenue:  790.74  transaction rank:  3548  revenue rank:  3791
cashier name:  Garcia Sarah  transaction count:  2  total revenue:  788.22  transaction rank:  3548  revenue rank:  3796
cashier name:  Campbell Brittany  transaction count:  2  total revenue:  786.18  transaction rank:  3548  revenue rank:  3800
cashier name:  Church Joshua  transaction count:  2  total revenue:  784.28  transaction rank:  3548  revenue rank:  3809
cashier name:  Payne Samantha  transaction count:  2  total revenue:  782.17  transaction rank:  3548  revenue rank:  3811
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  780.50  transaction rank:  3548  revenue rank:  3812
cashier name:  Meyer James  transaction count:  2  total revenue:  780.24  transaction rank:  3548  revenue rank:  3813
cashier name:  Bradley Rita  transaction count:  2  total revenue:  780.20  transaction rank:  3548  revenue rank:  3814
cashier name:  Jordan Carla  transaction count:  2  total revenue:  780.10  transaction rank:  3548  revenue rank:  3815
cashier name:  Shah Amanda  transaction count:  2  total revenue:  778.44  transaction rank:  3548  revenue rank:  3816
cashier name:  Carroll Eric  transaction count:  2  total revenue:  775.30  transaction rank:  3548  revenue rank:  3818
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  774.89  transaction rank:  3548  revenue rank:  3821
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  771.24  transaction rank:  3548  revenue rank:  3824
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  770.91  transaction rank:  3548  revenue rank:  3826
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  767.42  transaction rank:  3548  revenue rank:  3829
cashier name:  Chen Kathleen  transaction count:  2  total revenue:  766.03  transaction rank:  3548  revenue rank:  3830
cashier name:  Martin Monica  transaction count:  2  total revenue:  763.14  transaction rank:  3548  revenue rank:  3835
cashier name:  Tate Harry  transaction count:  2  total revenue:  761.56  transaction rank:  3548  revenue rank:  3836
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  760.99  transaction rank:  3548  revenue rank:  3837
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  759.92  transaction rank:  3548  revenue rank:  3839
cashier name:  Manning Maria  transaction count:  2  total revenue:  758.69  transaction rank:  3548  revenue rank:  3841
cashier name:  Mckenzie William  transaction count:  2  total revenue:  758.14  transaction rank:  3548  revenue rank:  3843
cashier name:  Golden Laurie  transaction count:  2  total revenue:  755.13  transaction rank:  3548  revenue rank:  3844
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  748.88  transaction rank:  3548  revenue rank:  3851
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  748.61  transaction rank:  3548  revenue rank:  3852
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  747.08  transaction rank:  3548  revenue rank:  3854
cashier name:  Thomas Robert  transaction count:  2  total revenue:  745.18  transaction rank:  3548  revenue rank:  3857
cashier name:  Blanchard Ricky  transaction count:  2  total revenue:  745.07  transaction rank:  3548  revenue rank:  3858
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  737.18  transaction rank:  3548  revenue rank:  3867
cashier name:  Church Joshua  transaction count:  2  total revenue:  737.08  transaction rank:  3548  revenue rank:  3868
cashier name:  Frederick Evan  transaction count:  2  total revenue:  733.43  transaction rank:  3548  revenue rank:  3871
cashier name:  White Kenneth  transaction count:  2  total revenue:  728.71  transaction rank:  3548  revenue rank:  3873
cashier name:  Payne Samantha  transaction count:  2  total revenue:  723.07  transaction rank:  3548  revenue rank:  3876
cashier name:  Kerr Jason  transaction count:  2  total revenue:  721.70  transaction rank:  3548  revenue rank:  3877
cashier name:  Warren Timothy  transaction count:  2  total revenue:  720.74  transaction rank:  3548  revenue rank:  3879
cashier name:  Chen Kathleen  transaction count:  2  total revenue:  720.01  transaction rank:  3548  revenue rank:  3881
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  717.98  transaction rank:  3548  revenue rank:  3887
cashier name:  Jones Michael  transaction count:  2  total revenue:  715.34  transaction rank:  3548  revenue rank:  3889
cashier name:  Owens Jeffrey  transaction count:  2  total revenue:  714.97  transaction rank:  3548  revenue rank:  3890
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  712.66  transaction rank:  3548  revenue rank:  3892
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  711.42  transaction rank:  3548  revenue rank:  3893
cashier name:  Thompson Andrea  transaction count:  2  total revenue:  706.41  transaction rank:  3548  revenue rank:  3901
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  702.97  transaction rank:  3548  revenue rank:  3907
cashier name:  Blanchard Ricky  transaction count:  2  total revenue:  702.53  transaction rank:  3548  revenue rank:  3908
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  699.93  transaction rank:  3548  revenue rank:  3910
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  699.30  transaction rank:  3548  revenue rank:  3911
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  697.99  transaction rank:  3548  revenue rank:  3912
cashier name:  Randolph Emily  transaction count:  2  total revenue:  696.08  transaction rank:  3548  revenue rank:  3915
cashier name:  Horton Mark  transaction count:  2  total revenue:  695.13  transaction rank:  3548  revenue rank:  3916
cashier name:  Shah Amanda  transaction count:  2  total revenue:  694.53  transaction rank:  3548  revenue rank:  3917
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  694.53  transaction rank:  3548  revenue rank:  3917

cashier name:  Jones Christopher  transaction count:  2  total revenue:  693.32  transaction rank:  3548  revenue rank:  3920
cashier name:  Gardner Laura  transaction count:  2  total revenue:  692.14  transaction rank:  3548  revenue rank:  3923
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  689.41  transaction rank:  3548  revenue rank:  3926
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  688.45  transaction rank:  3548  revenue rank:  3927
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  686.42  transaction rank:  3548  revenue rank:  3931
cashier name:  Durham Denise  transaction count:  2  total revenue:  685.54  transaction rank:  3548  revenue rank:  3933
cashier name:  Perry Andrea  transaction count:  2  total revenue:  684.95  transaction rank:  3548  revenue rank:  3934
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  684.70  transaction rank:  3548  revenue rank:  3935
cashier name:  Horton Ashley  transaction count:  2  total revenue:  683.70  transaction rank:  3548  revenue rank:  3938
cashier name:  Bradley Rita  transaction count:  2  total revenue:  682.63  transaction rank:  3548  revenue rank:  3940
cashier name:  Campbell Bethany  transaction count:  2  total revenue:  681.99  transaction rank:  3548  revenue rank:  3941
cashier name:  Rogers Mark  transaction count:  2  total revenue:  676.50  transaction rank:  3548  revenue rank:  3945
cashier name:  Riley Ashley  transaction count:  2  total revenue:  674.41  transaction rank:  3548  revenue rank:  3948
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  673.19  transaction rank:  3548  revenue rank:  3950
cashier name:  Smith Diana  transaction count:  2  total revenue:  670.04  transaction rank:  3548  revenue rank:  3955
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  666.77  transaction rank:  3548  revenue rank:  3958
cashier name:  Campbell Bethany  transaction count:  2  total revenue:  663.28  transaction rank:  3548  revenue rank:  3964
cashier name:  Blanchard Ricky  transaction count:  2  total revenue:  654.72  transaction rank:  3548  revenue rank:  3969
cashier name:  Chambers Jeffrey  transaction count:  2  total revenue:  654.14  transaction rank:  3548  revenue rank:  3970
cashier name:  Alvarez Brenda  transaction count:  2  total revenue:  649.71  transaction rank:  3548  revenue rank:  3974
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  649.28  transaction rank:  3548  revenue rank:  3975
cashier name:  Wells Monica  transaction count:  2  total revenue:  648.30  transaction rank:  3548  revenue rank:  3976
cashier name:  Galvan Lori  transaction count:  2  total revenue:  647.09  transaction rank:  3548  revenue rank:  3978
cashier name:  Frederick Evan  transaction count:  2  total revenue:  641.54  transaction rank:  3548  revenue rank:  3985
cashier name:  Payne Samantha  transaction count:  2  total revenue:  635.98  transaction rank:  3548  revenue rank:  3989
cashier name:  Bennett Alec  transaction count:  2  total revenue:  632.63  transaction rank:  3548  revenue rank:  3991
cashier name:  Glover Michelle  transaction count:  2  total revenue:  632.52  transaction rank:  3548  revenue rank:  3992
cashier name:  Myers Gary  transaction count:  2  total revenue:  630.42  transaction rank:  3548  revenue rank:  3994
cashier name:  Sean Mr.  transaction count:  2  total revenue:  629.36  transaction rank:  3548  revenue rank:  3996
cashier name:  Glover Michelle  transaction count:  2  total revenue:  625.88  transaction rank:  3548  revenue rank:  4000
cashier name:  Tate Harry  transaction count:  2  total revenue:  624.37  transaction rank:  3548  revenue rank:  4004
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  622.05  transaction rank:  3548  revenue rank:  4006
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  621.18  transaction rank:  3548  revenue rank:  4007
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  618.57  transaction rank:  3548  revenue rank:  4009
cashier name:  Horton Ashley  transaction count:  2  total revenue:  618.15  transaction rank:  3548  revenue rank:  4010
cashier name:  Walters Jay  transaction count:  2  total revenue:  618.03  transaction rank:  3548  revenue rank:  4011
cashier name:  Love Thomas  transaction count:  2  total revenue:  612.2  transaction rank:  3548  revenue rank:  4019
cashier name:  Smith Brandy  transaction count:  2  total revenue:  611.91  transaction rank:  3548  revenue rank:  4020
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  611.35  transaction rank:  3548  revenue rank:  4022
cashier name:  Jones Christopher  transaction count:  2  total revenue:  609.32  transaction rank:  3548  revenue rank:  4023
cashier name:  Henderson Nancy  transaction count:  2  total revenue:  602.42  transaction rank:  3548  revenue rank:  4027
cashier name:  Moyer Steven  transaction count:  2  total revenue:  599.20  transaction rank:  3548  revenue rank:  4029
cashier name:  Spears Erin  transaction count:  2  total revenue:  598.99  transaction rank:  3548  revenue rank:  4030
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  598.34  transaction rank:  3548  revenue rank:  4031
cashier name:  Sean Mr.  transaction count:  2  total revenue:  596.34  transaction rank:  3548  revenue rank:  4033
cashier name:  Glover Michelle  transaction count:  2  total revenue:  592.94  transaction rank:  3548  revenue rank:  4038
cashier name:  Sosa David  transaction count:  2  total revenue:  590.25  transaction rank:  3548  revenue rank:  4040
cashier name:  Pena Johnathan  transaction count:  2  total revenue:  589.56  transaction rank:  3548  revenue rank:  4041
cashier name:  Walls Kristen  transaction count:  2  total revenue:  588.06  transaction rank:  3548  revenue rank:  4045
cashier name:  Brooks Renee  transaction count:  2  total revenue:  587.80  transaction rank:  3548  revenue rank:  4047
cashier name:  Brown Lisa  transaction count:  2  total revenue:  584.87  transaction rank:  3548  revenue rank:  4050
cashier name:  Smith Diana  transaction count:  2  total revenue:  581.91  transaction rank:  3548  revenue rank:  4054
cashier name:  Martin Monica  transaction count:  2  total revenue:  575.60  transaction rank:  3548  revenue rank:  4061
cashier name:  Eric Mr.  transaction count:  2  total revenue:  567.97  transaction rank:  3548  revenue rank:  4071
cashier name:  Hull Shane  transaction count:  2  total revenue:  561.62  transaction rank:  3548  revenue rank:  4076
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  556.86  transaction rank:  3548  revenue rank:  4080
cashier name:  Gardner Laura  transaction count:  2  total revenue:  552.42  transaction rank:  3548  revenue rank:  4081
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  551.94  transaction rank:  3548  revenue rank:  4082
cashier name:  Glover Michelle  transaction count:  2  total revenue:  544.84  transaction rank:  3548  revenue rank:  4091
cashier name:  Mckenzie William  transaction count:  2  total revenue:  543.16  transaction rank:  3548  revenue rank:  4094
cashier name:  Myers Gary  transaction count:  2  total revenue:  539.90  transaction rank:  3548  revenue rank:  4095
cashier name:  Meyer James  transaction count:  2  total revenue:  539.32  transaction rank:  3548  revenue rank:  4096
cashier name:  Harrell Angie  transaction count:  2  total revenue:  536.78  transaction rank:  3548  revenue rank:  4102
cashier name:  Werner Kara  transaction count:  2  total revenue:  536.28  transaction rank:  3548  revenue rank:  4103
cashier name:  Mckenzie William  transaction count:  2  total revenue:  535.93  transaction rank:  3548  revenue rank:  4104
cashier name:  Sosa David  transaction count:  2  total revenue:  535.16  transaction rank:  3548  revenue rank:  4105
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  532.96  transaction rank:  3548  revenue rank:  4108
cashier name:  Nguyen Richard  transaction count:  2  total revenue:  531.16  transaction rank:  3548  revenue rank:  4110
cashier name:  Horton Ashley  transaction count:  2  total revenue:  528.66  transaction rank:  3548  revenue rank:  4113
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  528.01  transaction rank:  3548  revenue rank:  4115
cashier name:  Burns Kendra  transaction count:  2  total revenue:  523.02  transaction rank:  3548  revenue rank:  4119
cashier name:  Gross Andrew  transaction count:  2  total revenue:  521.01  transaction rank:  3548  revenue rank:  4122
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  520.5  transaction rank:  3548  revenue rank:  4123
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  519.98  transaction rank:  3548  revenue rank:  4124
cashier name:  Long Kirsten  transaction count:  2  total revenue:  519.31  transaction rank:  3548  revenue rank:  4125
cashier name:  Roach Christine  transaction count:  2  total revenue:  514.56  transaction rank:  3548  revenue rank:  4129
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  507.95  transaction rank:  3548  revenue rank:  4132
cashier name:  Meyer James  transaction count:  2  total revenue:  507.84  transaction rank:  3548  revenue rank:  4133
cashier name:  Walls Kristen  transaction count:  2  total revenue:  505.09  transaction rank:  3548  revenue rank:  4136
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  501.08  transaction rank:  3548  revenue rank:  4141
cashier name:  Harrell Angie  transaction count:  2  total revenue:  499.82  transaction rank:  3548  revenue rank:  4145
cashier name:  Alvarez Brenda  transaction count:  2  total revenue:  495.00  transaction rank:  3548  revenue rank:  4149
cashier name:  Waters Julie  transaction count:  2  total revenue:  494.42  transaction rank:  3548  revenue rank:  4150
cashier name:  Frederick Evan  transaction count:  2  total revenue:  490.10  transaction rank:  3548  revenue rank:  4155
cashier name:  Riley Ashley  transaction count:  2  total revenue:  487.85  transaction rank:  3548  revenue rank:  4158
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  487.76  transaction rank:  3548  revenue rank:  4161
cashier name:  Moyer Steven  transaction count:  2  total revenue:  486.31  transaction rank:  3548  revenue rank:  4162
cashier name:  Walls Kristen  transaction count:  2  total revenue:  484.32  transaction rank:  3548  revenue rank:  4165
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  478.38  transaction rank:  3548  revenue rank:  4169
cashier name:  Day Natasha  transaction count:  2  total revenue:  477.14  transaction rank:  3548  revenue rank:  4172
cashier name:  Nichols Mitchell  transaction count:  2  total revenue:  476.46  transaction rank:  3548  revenue rank:  4174
cashier name:  Jackson Michael  transaction count:  2  total revenue:  476.29  transaction rank:  3548  revenue rank:  4176
cashier name:  Wood Joshua  transaction count:  2  total revenue:  474.32  transaction rank:  3548  revenue rank:  4177
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  471.42  transaction rank:  3548  revenue rank:  4179
cashier name:  Jackson Gary  transaction count:  2  total revenue:  470.96  transaction rank:  3548  revenue rank:  4181
cashier name:  Werner Kara  transaction count:  2  total revenue:  470.76  transaction rank:  3548  revenue rank:  4182
cashier name:  Smith Diana  transaction count:  2  total revenue:  466.26  transaction rank:  3548  revenue rank:  4184
cashier name:  Carroll Eric  transaction count:  2  total revenue:  466.02  transaction rank:  3548  revenue rank:  4185
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  465.19  transaction rank:  3548  revenue rank:  4186
cashier name:  Gardner Laura  transaction count:  2  total revenue:  464.52  transaction rank:  3548  revenue rank:  4188
cashier name:  Moon James  transaction count:  2  total revenue:  464.40  transaction rank:  3548  revenue rank:  4189
cashier name:  Kerr Jason  transaction count:  2  total revenue:  461.54  transaction rank:  3548  revenue rank:  4191
cashier name:  Foster Kenneth  transaction count:  2  total revenue:  460.94  transaction rank:  3548  revenue rank:  4192
cashier name:  Glover Michelle  transaction count:  2  total revenue:  459.69  transaction rank:  3548  revenue rank:  4193
cashier name:  Carroll Eric  transaction count:  2  total revenue:  458.10  transaction rank:  3548  revenue rank:  4196
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  454.92  transaction rank:  3548  revenue rank:  4199
cashier name:  Wilson Jill  transaction count:  2  total revenue:  454.89  transaction rank:  3548  revenue rank:  4200
cashier name:  Thompson Andrea  transaction count:  2  total revenue:  450.56  transaction rank:  3548  revenue rank:  4207
cashier name:  Brown Lisa  transaction count:  2  total revenue:  449.11  transaction rank:  3548  revenue rank:  4208
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  445.91  transaction rank:  3548  revenue rank:  4210
cashier name:  Church Joshua  transaction count:  2  total revenue:  443.82  transaction rank:  3548  revenue rank:  4212
cashier name:  White Kenneth  transaction count:  2  total revenue:  441.28  transaction rank:  3548  revenue rank:  4216
cashier name:  Myers Gary  transaction count:  2  total revenue:  439.52  transaction rank:  3548  revenue rank:  4219
cashier name:  Smith Diana  transaction count:  2  total revenue:  439.49  transaction rank:  3548  revenue rank:  4220
cashier name:  Sosa David  transaction count:  2  total revenue:  439.49  transaction rank:  3548  revenue rank:  4220
cashier name:  Myers Gary  transaction count:  2  total revenue:  437.46  transaction rank:  3548  revenue rank:  4225
cashier name:  Garcia Sarah  transaction count:  2  total revenue:  435.02  transaction rank:  3548  revenue rank:  4230
cashier name:  Jones Evelyn  transaction count:  2  total revenue:  427.98  transaction rank:  3548  revenue rank:  4234
cashier name:  Hull Shane  transaction count:  2  total revenue:  427.49  transaction rank:  3548  revenue rank:  4235
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  424.70  transaction rank:  3548  revenue rank:  4237
cashier name:  Walters Jay  transaction count:  2  total revenue:  420.38  transaction rank:  3548  revenue rank:  4239
cashier name:  Williams Michael  transaction count:  2  total revenue:  419.48  transaction rank:  3548  revenue rank:  4241
cashier name:  Walters Jay  transaction count:  2  total revenue:  411.17  transaction rank:  3548  revenue rank:  4253
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  409.41  transaction rank:  3548  revenue rank:  4254
cashier name:  Brown Lisa  transaction count:  2  total revenue:  406.40  transaction rank:  3548  revenue rank:  4257
cashier name:  Horton Ashley  transaction count:  2  total revenue:  400.63  transaction rank:  3548  revenue rank:  4265
cashier name:  Jackson Michael  transaction count:  2  total revenue:  400.30  transaction rank:  3548  revenue rank:  4266
cashier name:  Campbell Bethany  transaction count:  2  total revenue:  399.89  transaction rank:  3548  revenue rank:  4267
cashier name:  Thomas Robert  transaction count:  2  total revenue:  399.71  transaction rank:  3548  revenue rank:  4268
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  398.94  transaction rank:  3548  revenue rank:  4271
cashier name:  Frederick Evan  transaction count:  2  total revenue:  397.89  transaction rank:  3548  revenue rank:  4272
cashier name:  Riley Ashley  transaction count:  2  total revenue:  383.96  transaction rank:  3548  revenue rank:  4283
cashier name:  Bennett Alec  transaction count:  2  total revenue:  381.24  transaction rank:  3548  revenue rank:  4286
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  377.94  transaction rank:  3548  revenue rank:  4288
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  375.93  transaction rank:  3548  revenue rank:  4289
cashier name:  Burns Kendra  transaction count:  2  total revenue:  375.08  transaction rank:  3548  revenue rank:  4290
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  374.36  transaction rank:  3548  revenue rank:  4293
cashier name:  Walters Jay  transaction count:  2  total revenue:  374.12  transaction rank:  3548  revenue rank:  4294
cashier name:  Jordan Carla  transaction count:  2  total revenue:  369.84  transaction rank:  3548  revenue rank:  4298
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  369.42  transaction rank:  3548  revenue rank:  4299
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  368.8  transaction rank:  3548  revenue rank:  4301
cashier name:  Foster Jennifer  transaction count:  2  total revenue:  368.60  transaction rank:  3548  revenue rank:  4302
cashier name:  Durham Denise  transaction count:  2  total revenue:  368.16  transaction rank:  3548  revenue rank:  4304
cashier name:  Nichols Brandon  transaction count:  2  total revenue:  367.48  transaction rank:  3548  revenue rank:  4305
cashier name:  Owens Jeffrey  transaction count:  2  total revenue:  366.03  transaction rank:  3548  revenue rank:  4306
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  364.33  transaction rank:  3548  revenue rank:  4309
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  363.17  transaction rank:  3548  revenue rank:  4310
cashier name:  Waters Julie  transaction count:  2  total revenue:  361.78  transaction rank:  3548  revenue rank:  4312
cashier name:  Herrera Spencer  transaction count:  2  total revenue:  359.79  transaction rank:  3548  revenue rank:  4316
cashier name:  Payne Samantha  transaction count:  2  total revenue:  357.32  transaction rank:  3548  revenue rank:  4319

cashier name:  Horton Ashley  transaction count:  2  total revenue:  355.82  transaction rank:  3548  revenue rank:  4321
cashier name:  Wood Joshua  transaction count:  2  total revenue:  353.68  transaction rank:  3548  revenue rank:  4324
cashier name:  Perry Andrea  transaction count:  2  total revenue:  351.2  transaction rank:  3548  revenue rank:  4329
cashier name:  Brooks Renee  transaction count:  2  total revenue:  350.04  transaction rank:  3548  revenue rank:  4330
cashier name:  Payne Samantha  transaction count:  2  total revenue:  348.90  transaction rank:  3548  revenue rank:  4333
cashier name:  Durham Denise  transaction count:  2  total revenue:  346.01  transaction rank:  3548  revenue rank:  4338
cashier name:  Perry Andrea  transaction count:  2  total revenue:  343.03  transaction rank:  3548  revenue rank:  4340
cashier name:  Dodson Courtney  transaction count:  2  total revenue:  342.99  transaction rank:  3548  revenue rank:  4341
cashier name:  Kerr Jason  transaction count:  2  total revenue:  341.57  transaction rank:  3548  revenue rank:  4342
cashier name:  Moyer Steven  transaction count:  2  total revenue:  340.98  transaction rank:  3548  revenue rank:  4344
cashier name:  Frederick Evan  transaction count:  2  total revenue:  340.88  transaction rank:  3548  revenue rank:  4345
cashier name:  Jones Michael  transaction count:  2  total revenue:  333.66  transaction rank:  3548  revenue rank:  4349
cashier name:  Jordan Carla  transaction count:  2  total revenue:  331.04  transaction rank:  3548  revenue rank:  4351
cashier name:  Payne Samantha  transaction count:  2  total revenue:  330.32  transaction rank:  3548  revenue rank:  4354
cashier name:  Woods Marcus  transaction count:  2  total revenue:  330.02  transaction rank:  3548  revenue rank:  4355
cashier name:  Jackson Gary  transaction count:  2  total revenue:  328.21  transaction rank:  3548  revenue rank:  4357
cashier name:  Owens Jeffrey  transaction count:  2  total revenue:  325.65  transaction rank:  3548  revenue rank:  4359
cashier name:  Jacobs Brenda  transaction count:  2  total revenue:  324.36  transaction rank:  3548  revenue rank:  4360
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  322.86  transaction rank:  3548  revenue rank:  4363
cashier name:  Riley Ashley  transaction count:  2  total revenue:  316.88  transaction rank:  3548  revenue rank:  4366
cashier name:  Williams Michael  transaction count:  2  total revenue:  316.09  transaction rank:  3548  revenue rank:  4368
cashier name:  White Kenneth  transaction count:  2  total revenue:  312.93  transaction rank:  3548  revenue rank:  4370
cashier name:  Manning Maria  transaction count:  2  total revenue:  312.44  transaction rank:  3548  revenue rank:  4371
cashier name:  Bryan Mr.  transaction count:  2  total revenue:  310.40  transaction rank:  3548  revenue rank:  4372
cashier name:  Williams Michael  transaction count:  2  total revenue:  308.56  transaction rank:  3548  revenue rank:  4374
cashier name:  Sosa David  transaction count:  2  total revenue:  304.20  transaction rank:  3548  revenue rank:  4381
cashier name:  Warren Timothy  transaction count:  2  total revenue:  300.30  transaction rank:  3548  revenue rank:  4383
cashier name:  Campbell Bethany  transaction count:  2  total revenue:  296.34  transaction rank:  3548  revenue rank:  4386
cashier name:  Mckenzie William  transaction count:  2  total revenue:  295.56  transaction rank:  3548  revenue rank:  4387
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  295.18  transaction rank:  3548  revenue rank:  4388
cashier name:  Jones Christopher  transaction count:  2  total revenue:  294.86  transaction rank:  3548  revenue rank:  4389
cashier name:  Colon Lindsey  transaction count:  2  total revenue:  293.52  transaction rank:  3548  revenue rank:  4391
cashier name:  Shah Amanda  transaction count:  2  total revenue:  293.36  transaction rank:  3548  revenue rank:  4393
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  289.40  transaction rank:  3548  revenue rank:  4397
cashier name:  Conrad Frederick  transaction count:  2  total revenue:  288.54  transaction rank:  3548  revenue rank:  4398
cashier name:  Thompson Andrea  transaction count:  2  total revenue:  285.39  transaction rank:  3548  revenue rank:  4403
cashier name:  Kramer Veronica  transaction count:  2  total revenue:  285.26  transaction rank:  3548  revenue rank:  4405
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  280.64  transaction rank:  3548  revenue rank:  4407
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  270.73  transaction rank:  3548  revenue rank:  4413
cashier name:  Meyer James  transaction count:  2  total revenue:  270.71  transaction rank:  3548  revenue rank:  4414
cashier name:  Kerr Jason  transaction count:  2  total revenue:  270.30  transaction rank:  3548  revenue rank:  4415
cashier name:  Waters Julie  transaction count:  2  total revenue:  264.47  transaction rank:  3548  revenue rank:  4419
cashier name:  Moon James  transaction count:  2  total revenue:  262.19  transaction rank:  3548  revenue rank:  4421
cashier name:  Moon James  transaction count:  2  total revenue:  261.81  transaction rank:  3548  revenue rank:  4422
cashier name:  Wells Monica  transaction count:  2  total revenue:  259.53  transaction rank:  3548  revenue rank:  4425
cashier name:  Hughes Christopher  transaction count:  2  total revenue:  258.90  transaction rank:  3548  revenue rank:  4426
cashier name:  Waters Julie  transaction count:  2  total revenue:  258.16  transaction rank:  3548  revenue rank:  4427
cashier name:  Smith Diana  transaction count:  2  total revenue:  257.64  transaction rank:  3548  revenue rank:  4428
cashier name:  Shah Amanda  transaction count:  2  total revenue:  257.57  transaction rank:  3548  revenue rank:  4429
cashier name:  Sean Mr.  transaction count:  2  total revenue:  256.72  transaction rank:  3548  revenue rank:  4431
cashier name:  Manning Maria  transaction count:  2  total revenue:  256.62  transaction rank:  3548  revenue rank:  4432
cashier name:  Thompson Andrea  transaction count:  2  total revenue:  256.29  transaction rank:  3548  revenue rank:  4433
cashier name:  Thompson Matthew  transaction count:  2  total revenue:  253.29  transaction rank:  3548  revenue rank:  4436
cashier name:  White Kenneth  transaction count:  2  total revenue:  252.20  transaction rank:  3548  revenue rank:  4438
cashier name:  Spears Erin  transaction count:  2  total revenue:  251.61  transaction rank:  3548  revenue rank:  4439
cashier name:  Jacobs Brenda  transaction count:  2  total revenue:  2296.74  transaction rank:  3548  revenue rank:  1855
cashier name:  Sosa David  transaction count:  2  total revenue:  251.59  transaction rank:  3548  revenue rank:  4440
cashier name:  Smith Diana  transaction count:  2  total revenue:  250.92  transaction rank:  3548  revenue rank:  4442
cashier name:  Warren Timothy  transaction count:  2  total revenue:  247.30  transaction rank:  3548  revenue rank:  4443
cashier name:  Spears Erin  transaction count:  2  total revenue:  2222.05  transaction rank:  3548  revenue rank:  1926
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  2220.49  transaction rank:  3548  revenue rank:  1928
cashier name:  Sean Mr.  transaction count:  2  total revenue:  244.44  transaction rank:  3548  revenue rank:  4447
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  242.81  transaction rank:  3548  revenue rank:  4448
cashier name:  Glover Michelle  transaction count:  2  total revenue:  2198.01  transaction rank:  3548  revenue rank:  1959
cashier name:  Horton Ashley  transaction count:  2  total revenue:  2362.29  transaction rank:  3548  revenue rank:  1780
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  2170.28  transaction rank:  3548  revenue rank:  1982
cashier name:  Ellis Lauren  transaction count:  2  total revenue:  233.66  transaction rank:  3548  revenue rank:  4457
cashier name:  Atkinson Gary  transaction count:  2  total revenue:  232.42  transaction rank:  3548  revenue rank:  4458
cashier name:  Marquez Jeffrey  transaction count:  2  total revenue:  228.00  transaction rank:  3548  revenue rank:  4461
cashier name:  Mckenzie William  transaction count:  2  total revenue:  2148.46  transaction rank:  3548  revenue rank:  2005
cashier name:  Carroll Eric  transaction count:  2  total revenue:  226.96  transaction rank:  3548  revenue rank:  4462
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  2121.00  transaction rank:  3548  revenue rank:  2034
cashier name:  Horton Mark  transaction count:  2  total revenue:  2413.10  transaction rank:  3548  revenue rank:  1730
cashier name:  Davis Jennifer  transaction count:  2  total revenue:  223.20  transaction rank:  3548  revenue rank:  4469
cashier name:  Burns Kendra  transaction count:  2  total revenue:  223.06  transaction rank:  3548  revenue rank:  4470
cashier name:  Payne Samantha  transaction count:  2  total revenue:  2422.37  transaction rank:  3548  revenue rank:  1720
cashier name:  Thomas Robert  transaction count:  2  total revenue:  2096.52  transaction rank:  3548  revenue rank:  2062
cashier name:  Thomas Robert  transaction count:  2  total revenue:  219.38  transaction rank:  3548  revenue rank:  4474
cashier name:  Jessica Ms.  transaction count:  2  total revenue:  219.37  transaction rank:  3548  revenue rank:  4475
cashier name:  Warren Timothy  transaction count:  2  total revenue:  218.13  transaction rank:  3548  revenue rank:  4476
cashier name:  Gonzalez Michele  transaction count:  2  total revenue:  2089.70  transaction rank:  3548  revenue rank:  2070
cashier name:  Torres Steven  transaction count:  2  total revenue:  2075.70  transaction rank:  3548  revenue rank:  2092
cashier name:  Kerr Jason  transaction count:  2  total revenue:  2063.30  transaction rank:  3548  revenue rank:  2107
cashier name:  Chen Kathleen  transaction count:  2  total revenue:  214.92  transaction rank:  3548  revenue rank:  4481
cashier name:  Williams Michael  transaction count:  2  total revenue:  214.31  transaction rank:  3548  revenue rank:  4482
cashier name:  Vasquez Peter  transaction count:  2  total revenue:  212.86  transaction rank:  3548  revenue rank:  4483
cashier name:  Terri Mrs.  transaction count:  2  total revenue:  211.90  transaction rank:  3548  revenue rank:  4485
cashier name:  Moon James  transaction count:  2  total revenue:  2051.05  transaction rank:  3548  revenue rank:  2120
cashier name:  Walls Kristen  transaction count:  2  total revenue:  2450.90  transaction rank:  3548  revenue rank:  1688
cashier name:  Johnson Samantha  transaction count:  2  total revenue:  207.98  transaction rank:  3548  revenue rank:  4493
cashier name:  Perry Andrea  transaction count:  2  total revenue:  2022.74  transaction rank:  3548  revenue rank:  2159
cashier name:  Hernandez Michael  transaction count:  2  total revenue:  205.46  transaction rank:  3548  revenue rank:  4496
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  454.85  transaction rank:  4202  revenue rank:  4202
cashier name:  Bryan Mr.  transaction count:  1  total revenue:  888.95  transaction rank:  4202  revenue rank:  3657
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  891.9  transaction rank:  4202  revenue rank:  3654
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  451.71  transaction rank:  4202  revenue rank:  4205
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  892.55  transaction rank:  4202  revenue rank:  3650
cashier name:  Sean Mr.  transaction count:  1  total revenue:  96.35  transaction rank:  4202  revenue rank:  4613
cashier name:  Waters Julie  transaction count:  1  total revenue:  1568.70  transaction rank:  4202  revenue rank:  2686
cashier name:  Perry Andrea  transaction count:  1  total revenue:  447.87  transaction rank:  4202  revenue rank:  4209
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  224.01  transaction rank:  4202  revenue rank:  4467
cashier name:  Brown Lisa  transaction count:  1  total revenue:  3.00  transaction rank:  4202  revenue rank:  4718
cashier name:  Myers Gary  transaction count:  1  total revenue:  1569.40  transaction rank:  4202  revenue rank:  2684
cashier name:  Meyer James  transaction count:  1  total revenue:  442.83  transaction rank:  4202  revenue rank:  4213
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  442.38  transaction rank:  4202  revenue rank:  4214
cashier name:  Smith Brandy  transaction count:  1  total revenue:  441.6  transaction rank:  4202  revenue rank:  4215
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  96.35  transaction rank:  4202  revenue rank:  4613
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  440.46  transaction rank:  4202  revenue rank:  4217
cashier name:  Bennett Alec  transaction count:  1  total revenue:  895.77  transaction rank:  4202  revenue rank:  3648
cashier name:  Roach Christine  transaction count:  1  total revenue:  224.01  transaction rank:  4202  revenue rank:  4467
cashier name:  Moon James  transaction count:  1  total revenue:  207.36  transaction rank:  4202  revenue rank:  4494
cashier name:  Torres Steven  transaction count:  1  total revenue:  1576.24  transaction rank:  4202  revenue rank:  2675
cashier name:  Hull Shane  transaction count:  1  total revenue:  903.35  transaction rank:  4202  revenue rank:  3638
cashier name:  Chambers Jeffrey  transaction count:  1  total revenue:  438.36  transaction rank:  4202  revenue rank:  4222
cashier name:  Spears Erin  transaction count:  1  total revenue:  17.62  transaction rank:  4202  revenue rank:  4697
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  98.27  transaction rank:  4202  revenue rank:  4612
cashier name:  Williams Michael  transaction count:  1  total revenue:  436.95  transaction rank:  4202  revenue rank:  4226
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  908.70  transaction rank:  4202  revenue rank:  3635
cashier name:  Love Thomas  transaction count:  1  total revenue:  910.35  transaction rank:  4202  revenue rank:  3632
cashier name:  Torres Steven  transaction count:  1  total revenue:  435.40  transaction rank:  4202  revenue rank:  4229
cashier name:  Eric Mr.  transaction count:  1  total revenue:  99.47  transaction rank:  4202  revenue rank:  4611
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  911.50  transaction rank:  4202  revenue rank:  3630
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  430.65  transaction rank:  4202  revenue rank:  4232
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  428.80  transaction rank:  4202  revenue rank:  4233
cashier name:  Wood Joshua  transaction count:  1  total revenue:  203.70  transaction rank:  4202  revenue rank:  4498
cashier name:  Bryan Mr.  transaction count:  1  total revenue:  103.74  transaction rank:  4202  revenue rank:  4610
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  426.18  transaction rank:  4202  revenue rank:  4236
cashier name:  Moon James  transaction count:  1  total revenue:  104.82  transaction rank:  4202  revenue rank:  4609
cashier name:  Carroll Eric  transaction count:  1  total revenue:  422.20  transaction rank:  4202  revenue rank:  4238
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  1587.06  transaction rank:  4202  revenue rank:  2661
cashier name:  Nichols Mitchell  transaction count:  1  total revenue:  17.77  transaction rank:  4202  revenue rank:  4696
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  222.33  transaction rank:  4202  revenue rank:  4471
cashier name:  Thomas Robert  transaction count:  1  total revenue:  418.92  transaction rank:  4202  revenue rank:  4242
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  418.80  transaction rank:  4202  revenue rank:  4243
cashier name:  Campbell Bethany  transaction count:  1  total revenue:  912.66  transaction rank:  4202  revenue rank:  3625
cashier name:  Wood Joshua  transaction count:  1  total revenue:  417.04  transaction rank:  4202  revenue rank:  4245
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  916.02  transaction rank:  4202  revenue rank:  3619
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  916.40  transaction rank:  4202  revenue rank:  3618
cashier name:  Vasquez Peter  transaction count:  1  total revenue:  919.03  transaction rank:  4202  revenue rank:  3614
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  414.19  transaction rank:  4202  revenue rank:  4249
cashier name:  Jackson Gary  transaction count:  1  total revenue:  18.16  transaction rank:  4202  revenue rank:  4695
cashier name:  Moore Jason  transaction count:  1  total revenue:  922.44  transaction rank:  4202  revenue rank:  3608
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  923.52  transaction rank:  4202  revenue rank:  3605
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  104.86  transaction rank:  4202  revenue rank:  4608
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  221.28  transaction rank:  4202  revenue rank:  4472
cashier name:  Long Kirsten  transaction count:  1  total revenue:  407.7  transaction rank:  4202  revenue rank:  4255
cashier name:  Love Thomas  transaction count:  1  total revenue:  407.07  transaction rank:  4202  revenue rank:  4256
cashier name:  Manning Maria  transaction count:  1  total revenue:  105.75  transaction rank:  4202  revenue rank:  4607
cashier name:  Smith Brandy  transaction count:  1  total revenue:  928.26  transaction rank:  4202  revenue rank:  3597
cashier name:  Thompson Andrea  transaction count:  1  total revenue:  404.95  transaction rank:  4202  revenue rank:  4259

cashier name:  Brown Lisa  transaction count:  1  total revenue:  404.32  transaction rank:  4202  revenue rank:  4260
cashier name:  Eric Mr.  transaction count:  1  total revenue:  403.40  transaction rank:  4202  revenue rank:  4261
cashier name:  Kerr Jason  transaction count:  1  total revenue:  18.93  transaction rank:  4202  revenue rank:  4694
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  402.96  transaction rank:  4202  revenue rank:  4263
cashier name:  Nichols Mitchell  transaction count:  1  total revenue:  402.33  transaction rank:  4202  revenue rank:  4264
cashier name:  Jacobs Brenda  transaction count:  1  total revenue:  219.80  transaction rank:  4202  revenue rank:  4473
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  1947.30  transaction rank:  4202  revenue rank:  2245
cashier name:  Horton Mark  transaction count:  1  total revenue:  205.74  transaction rank:  4202  revenue rank:  4495
cashier name:  Thompson Andrea  transaction count:  1  total revenue:  106.44  transaction rank:  4202  revenue rank:  4606
cashier name:  Bradley Rita  transaction count:  1  total revenue:  19.08  transaction rank:  4202  revenue rank:  4693
cashier name:  Harrell Angie  transaction count:  1  total revenue:  399.28  transaction rank:  4202  revenue rank:  4270
cashier name:  Bennett Alec  transaction count:  1  total revenue:  202.15  transaction rank:  4202  revenue rank:  4499
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  107.16  transaction rank:  4202  revenue rank:  4605
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  397.36  transaction rank:  4202  revenue rank:  4273
cashier name:  Jackson Michael  transaction count:  1  total revenue:  933.92  transaction rank:  4202  revenue rank:  3584
cashier name:  Riley Ashley  transaction count:  1  total revenue:  20.21  transaction rank:  4202  revenue rank:  4692
cashier name:  Carroll Eric  transaction count:  1  total revenue:  20.28  transaction rank:  4202  revenue rank:  4691
cashier name:  Bryan Mr.  transaction count:  1  total revenue:  949.23  transaction rank:  4202  revenue rank:  3567
cashier name:  Wilson Jill  transaction count:  1  total revenue:  952.0  transaction rank:  4202  revenue rank:  3561
cashier name:  Burns Kendra  transaction count:  1  total revenue:  389.64  transaction rank:  4202  revenue rank:  4279
cashier name:  Church Joshua  transaction count:  1  total revenue:  20.76  transaction rank:  4202  revenue rank:  4690
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  387.45  transaction rank:  4202  revenue rank:  4281
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  963.70  transaction rank:  4202  revenue rank:  3548
cashier name:  Pena Johnathan  transaction count:  1  total revenue:  187.74  transaction rank:  4202  revenue rank:  4514
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  382.74  transaction rank:  4202  revenue rank:  4284
cashier name:  Horton Ashley  transaction count:  1  total revenue:  381.72  transaction rank:  4202  revenue rank:  4285
cashier name:  Brown Lisa  transaction count:  1  total revenue:  109.23  transaction rank:  4202  revenue rank:  4604
cashier name:  Horton Ashley  transaction count:  1  total revenue:  379.26  transaction rank:  4202  revenue rank:  4287
cashier name:  Martin Monica  transaction count:  1  total revenue:  189.36  transaction rank:  4202  revenue rank:  4513
cashier name:  Sosa David  transaction count:  1  total revenue:  109.66  transaction rank:  4202  revenue rank:  4603
cashier name:  Colon Lindsey  transaction count:  1  total revenue:  191.5  transaction rank:  4202  revenue rank:  4512
cashier name:  Church Joshua  transaction count:  1  total revenue:  374.70  transaction rank:  4202  revenue rank:  4291
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  374.40  transaction rank:  4202  revenue rank:  4292
cashier name:  Ellis Lauren  transaction count:  1  total revenue:  113.37  transaction rank:  4202  revenue rank:  4600
cashier name:  Bradley Rita  transaction count:  1  total revenue:  1609.80  transaction rank:  4202  revenue rank:  2628
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  374.04  transaction rank:  4202  revenue rank:  4295
cashier name:  Waters Julie  transaction count:  1  total revenue:  372.0  transaction rank:  4202  revenue rank:  4296
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  370.50  transaction rank:  4202  revenue rank:  4297
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  113.89  transaction rank:  4202  revenue rank:  4598
cashier name:  Foster Jennifer  transaction count:  1  total revenue:  116.76  transaction rank:  4202  revenue rank:  4597
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  369.0  transaction rank:  4202  revenue rank:  4300
cashier name:  Roach Christine  transaction count:  1  total revenue:  1615.23  transaction rank:  4202  revenue rank:  2621
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  119.26  transaction rank:  4202  revenue rank:  4596
cashier name:  Thomas Robert  transaction count:  1  total revenue:  974.56  transaction rank:  4202  revenue rank:  3531
cashier name:  Shah Amanda  transaction count:  1  total revenue:  120.35  transaction rank:  4202  revenue rank:  4595
cashier name:  Jones Michael  transaction count:  1  total revenue:  218.07  transaction rank:  4202  revenue rank:  4477
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  121.48  transaction rank:  4202  revenue rank:  4594
cashier name:  Sosa David  transaction count:  1  total revenue:  365.04  transaction rank:  4202  revenue rank:  4307
cashier name:  Manning Maria  transaction count:  1  total revenue:  364.90  transaction rank:  4202  revenue rank:  4308
cashier name:  Woods Marcus  transaction count:  1  total revenue:  122.86  transaction rank:  4202  revenue rank:  4593
cashier name:  Meyer James  transaction count:  1  total revenue:  217.32  transaction rank:  4202  revenue rank:  4478
cashier name:  Campbell Brittany  transaction count:  1  total revenue:  362.18  transaction rank:  4202  revenue rank:  4311
cashier name:  Walters Jay  transaction count:  1  total revenue:  123.48  transaction rank:  4202  revenue rank:  4592
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  981.27  transaction rank:  4202  revenue rank:  3522
cashier name:  Nichols Mitchell  transaction count:  1  total revenue:  982.64  transaction rank:  4202  revenue rank:  3519
cashier name:  Waters Julie  transaction count:  1  total revenue:  360.92  transaction rank:  4202  revenue rank:  4315
cashier name:  Chambers Jeffrey  transaction count:  1  total revenue:  124.03  transaction rank:  4202  revenue rank:  4591
cashier name:  Foster Kenneth  transaction count:  1  total revenue:  359.70  transaction rank:  4202  revenue rank:  4317
cashier name:  Eric Mr.  transaction count:  1  total revenue:  983.10  transaction rank:  4202  revenue rank:  3517
cashier name:  Woods Marcus  transaction count:  1  total revenue:  124.68  transaction rank:  4202  revenue rank:  4590
cashier name:  Moore Jason  transaction count:  1  total revenue:  356.22  transaction rank:  4202  revenue rank:  4320
cashier name:  Horton Ashley  transaction count:  1  total revenue:  127.52  transaction rank:  4202  revenue rank:  4587
cashier name:  Harrell Angie  transaction count:  1  total revenue:  355.04  transaction rank:  4202  revenue rank:  4322
cashier name:  Day Natasha  transaction count:  1  total revenue:  984.40  transaction rank:  4202  revenue rank:  3515
cashier name:  Martin Monica  transaction count:  1  total revenue:  128.10  transaction rank:  4202  revenue rank:  4586
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  987.06  transaction rank:  4202  revenue rank:  3510
cashier name:  Pena Johnathan  transaction count:  1  total revenue:  352.32  transaction rank:  4202  revenue rank:  4326
cashier name:  White Kenneth  transaction count:  1  total revenue:  991.0  transaction rank:  4202  revenue rank:  3506
cashier name:  Thompson Andrea  transaction count:  1  total revenue:  351.76  transaction rank:  4202  revenue rank:  4328
cashier name:  Vasquez Peter  transaction count:  1  total revenue:  130.77  transaction rank:  4202  revenue rank:  4585
cashier name:  Sean Mr.  transaction count:  1  total revenue:  993.20  transaction rank:  4202  revenue rank:  3501
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  132.88  transaction rank:  4202  revenue rank:  4582
cashier name:  Rogers Mark  transaction count:  1  total revenue:  349.85  transaction rank:  4202  revenue rank:  4332
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  134.44  transaction rank:  4202  revenue rank:  4580
cashier name:  Torres Steven  transaction count:  1  total revenue:  348.24  transaction rank:  4202  revenue rank:  4334
cashier name:  White Kenneth  transaction count:  1  total revenue:  348.03  transaction rank:  4202  revenue rank:  4335
cashier name:  Kramer Veronica  transaction count:  1  total revenue:  346.26  transaction rank:  4202  revenue rank:  4336
cashier name:  Jacobs Brenda  transaction count:  1  total revenue:  346.26  transaction rank:  4202  revenue rank:  4336
cashier name:  Wilson Jill  transaction count:  1  total revenue:  137.10  transaction rank:  4202  revenue rank:  4578
cashier name:  Gardner Laura  transaction count:  1  total revenue:  345.6  transaction rank:  4202  revenue rank:  4339
cashier name:  Love Thomas  transaction count:  1  total revenue:  137.70  transaction rank:  4202  revenue rank:  4577
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  205.24  transaction rank:  4202  revenue rank:  4497
cashier name:  Spears Erin  transaction count:  1  total revenue:  138.48  transaction rank:  4202  revenue rank:  4576
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  341.31  transaction rank:  4202  revenue rank:  4343
cashier name:  Jackson Michael  transaction count:  1  total revenue:  138.76  transaction rank:  4202  revenue rank:  4575
cashier name:  Shah Amanda  transaction count:  1  total revenue:  140.60  transaction rank:  4202  revenue rank:  4574
cashier name:  Warren Timothy  transaction count:  1  total revenue:  335.32  transaction rank:  4202  revenue rank:  4346
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  334.88  transaction rank:  4202  revenue rank:  4347
cashier name:  Dodson Courtney  transaction count:  1  total revenue:  993.50  transaction rank:  4202  revenue rank:  3500
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  141.76  transaction rank:  4202  revenue rank:  4573
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  331.70  transaction rank:  4202  revenue rank:  4350
cashier name:  Foster Jennifer  transaction count:  1  total revenue:  142.32  transaction rank:  4202  revenue rank:  4572
cashier name:  Horton Mark  transaction count:  1  total revenue:  330.76  transaction rank:  4202  revenue rank:  4352
cashier name:  Martin Monica  transaction count:  1  total revenue:  330.50  transaction rank:  4202  revenue rank:  4353
cashier name:  Thompson Andrea  transaction count:  1  total revenue:  144.4  transaction rank:  4202  revenue rank:  4571
cashier name:  Moon James  transaction count:  1  total revenue:  144.97  transaction rank:  4202  revenue rank:  4570
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  329.22  transaction rank:  4202  revenue rank:  4356
cashier name:  White Kenneth  transaction count:  1  total revenue:  145.44  transaction rank:  4202  revenue rank:  4569
cashier name:  Manning Maria  transaction count:  1  total revenue:  326.9  transaction rank:  4202  revenue rank:  4358
cashier name:  Riley Ashley  transaction count:  1  total revenue:  147.36  transaction rank:  4202  revenue rank:  4567
cashier name:  Kerr Jason  transaction count:  1  total revenue:  148.08  transaction rank:  4202  revenue rank:  4566
cashier name:  Waters Julie  transaction count:  1  total revenue:  324.32  transaction rank:  4202  revenue rank:  4361
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  322.96  transaction rank:  4202  revenue rank:  4362
cashier name:  Hughes Christopher  transaction count:  1  total revenue:  215.46  transaction rank:  4202  revenue rank:  4479
cashier name:  Pena Johnathan  transaction count:  1  total revenue:  321.80  transaction rank:  4202  revenue rank:  4364
cashier name:  Hughes Christopher  transaction count:  1  total revenue:  994.56  transaction rank:  4202  revenue rank:  3498
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  148.22  transaction rank:  4202  revenue rank:  4565
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  316.56  transaction rank:  4202  revenue rank:  4367
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  148.72  transaction rank:  4202  revenue rank:  4564
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  315.72  transaction rank:  4202  revenue rank:  4369
cashier name:  Love Thomas  transaction count:  1  total revenue:  151.56  transaction rank:  4202  revenue rank:  4563
cashier name:  Chambers Jeffrey  transaction count:  1  total revenue:  191.58  transaction rank:  4202  revenue rank:  4511
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  1973.0  transaction rank:  4202  revenue rank:  2213
cashier name:  Foster Kenneth  transaction count:  1  total revenue:  310.2  transaction rank:  4202  revenue rank:  4373
cashier name:  Myers Gary  transaction count:  1  total revenue:  152.04  transaction rank:  4202  revenue rank:  4562
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  307.26  transaction rank:  4202  revenue rank:  4375
cashier name:  Jones Christopher  transaction count:  1  total revenue:  306.42  transaction rank:  4202  revenue rank:  4376
cashier name:  Brooks Renee  transaction count:  1  total revenue:  306.42  transaction rank:  4202  revenue rank:  4376
cashier name:  Kramer Veronica  transaction count:  1  total revenue:  305.45  transaction rank:  4202  revenue rank:  4378
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  304.98  transaction rank:  4202  revenue rank:  4379
cashier name:  Campbell Bethany  transaction count:  1  total revenue:  994.68  transaction rank:  4202  revenue rank:  3497
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  152.98  transaction rank:  4202  revenue rank:  4561
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  301.02  transaction rank:  4202  revenue rank:  4382
cashier name:  Moyer Steven  transaction count:  1  total revenue:  154.62  transaction rank:  4202  revenue rank:  4560
cashier name:  Meyer James  transaction count:  1  total revenue:  994.70  transaction rank:  4202  revenue rank:  3496
cashier name:  Wood Joshua  transaction count:  1  total revenue:  1005.68  transaction rank:  4202  revenue rank:  3479
cashier name:  Golden Laurie  transaction count:  1  total revenue:  193.0  transaction rank:  4202  revenue rank:  4510
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  194.73  transaction rank:  4202  revenue rank:  4508
cashier name:  Williams Michael  transaction count:  1  total revenue:  212.32  transaction rank:  4202  revenue rank:  4484
cashier name:  Myers Gary  transaction count:  1  total revenue:  156.30  transaction rank:  4202  revenue rank:  4559
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  294.82  transaction rank:  4202  revenue rank:  4390
cashier name:  Love Thomas  transaction count:  1  total revenue:  195.2  transaction rank:  4202  revenue rank:  4507
cashier name:  Williams Michael  transaction count:  1  total revenue:  293.40  transaction rank:  4202  revenue rank:  4392
cashier name:  Myers Gary  transaction count:  1  total revenue:  157.60  transaction rank:  4202  revenue rank:  4558
cashier name:  Eric Mr.  transaction count:  1  total revenue:  292.98  transaction rank:  4202  revenue rank:  4394
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  290.76  transaction rank:  4202  revenue rank:  4395
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  289.41  transaction rank:  4202  revenue rank:  4396
cashier name:  Torres Steven  transaction count:  1  total revenue:  211.89  transaction rank:  4202  revenue rank:  4486
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  157.8  transaction rank:  4202  revenue rank:  4557
cashier name:  Perry Andrea  transaction count:  1  total revenue:  287.4  transaction rank:  4202  revenue rank:  4399
cashier name:  Colon Lindsey  transaction count:  1  total revenue:  287.28  transaction rank:  4202  revenue rank:  4400
cashier name:  Durham Denise  transaction count:  1  total revenue:  20.80  transaction rank:  4202  revenue rank:  4689
cashier name:  Burns Kendra  transaction count:  1  total revenue:  1011.92  transaction rank:  4202  revenue rank:  3467
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  197.90  transaction rank:  4202  revenue rank:  4505
cashier name:  Long Kirsten  transaction count:  1  total revenue:  285.30  transaction rank:  4202  revenue rank:  4404
cashier name:  Wilson Jill  transaction count:  1  total revenue:  211.82  transaction rank:  4202  revenue rank:  4487
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  282.96  transaction rank:  4202  revenue rank:  4406
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  158.90  transaction rank:  4202  revenue rank:  4556
cashier name:  Mckenzie William  transaction count:  1  total revenue:  280.2  transaction rank:  4202  revenue rank:  4408
cashier name:  Church Joshua  transaction count:  1  total revenue:  279.63  transaction rank:  4202  revenue rank:  4409

cashier name:  Jones Michael  transaction count:  1  total revenue:  277.50  transaction rank:  4202  revenue rank:  4410
cashier name:  Tate Harry  transaction count:  1  total revenue:  276.12  transaction rank:  4202  revenue rank:  4411
cashier name:  Sosa David  transaction count:  1  total revenue:  272.46  transaction rank:  4202  revenue rank:  4412
cashier name:  Moon James  transaction count:  1  total revenue:  159.40  transaction rank:  4202  revenue rank:  4555
cashier name:  Nichols Mitchell  transaction count:  1  total revenue:  211.70  transaction rank:  4202  revenue rank:  4488
cashier name:  Ellis Lauren  transaction count:  1  total revenue:  160.57  transaction rank:  4202  revenue rank:  4554
cashier name:  Waters Julie  transaction count:  1  total revenue:  266.86  transaction rank:  4202  revenue rank:  4416
cashier name:  Ellis Lauren  transaction count:  1  total revenue:  266.38  transaction rank:  4202  revenue rank:  4417
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  266.06  transaction rank:  4202  revenue rank:  4418
cashier name:  Smith Brandy  transaction count:  1  total revenue:  197.94  transaction rank:  4202  revenue rank:  4504
cashier name:  Sosa David  transaction count:  1  total revenue:  263.46  transaction rank:  4202  revenue rank:  4420
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  160.74  transaction rank:  4202  revenue rank:  4553
cashier name:  Durham Denise  transaction count:  1  total revenue:  161.4  transaction rank:  4202  revenue rank:  4550
cashier name:  Manning Maria  transaction count:  1  total revenue:  21.86  transaction rank:  4202  revenue rank:  4688
cashier name:  Kramer Veronica  transaction count:  1  total revenue:  261.12  transaction rank:  4202  revenue rank:  4424
cashier name:  Brown Lisa  transaction count:  1  total revenue:  161.79  transaction rank:  4202  revenue rank:  4549
cashier name:  Moon James  transaction count:  1  total revenue:  162.22  transaction rank:  4202  revenue rank:  4548
cashier name:  Torres Steven  transaction count:  1  total revenue:  162.36  transaction rank:  4202  revenue rank:  4547
cashier name:  Moore Jason  transaction count:  1  total revenue:  1017.17  transaction rank:  4202  revenue rank:  3458
cashier name:  Warren Timothy  transaction count:  1  total revenue:  1019.04  transaction rank:  4202  revenue rank:  3455
cashier name:  Waters Julie  transaction count:  1  total revenue:  163.89  transaction rank:  4202  revenue rank:  4546
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  1019.34  transaction rank:  4202  revenue rank:  3452
cashier name:  Ellis Lauren  transaction count:  1  total revenue:  165.04  transaction rank:  4202  revenue rank:  4545
cashier name:  Tate Harry  transaction count:  1  total revenue:  257.42  transaction rank:  4202  revenue rank:  4430
cashier name:  Moon James  transaction count:  1  total revenue:  210.44  transaction rank:  4202  revenue rank:  4489
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  23.03  transaction rank:  4202  revenue rank:  4687
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  165.46  transaction rank:  4202  revenue rank:  4544
cashier name:  Bradley Rita  transaction count:  1  total revenue:  165.76  transaction rank:  4202  revenue rank:  4543
cashier name:  Gardner Laura  transaction count:  1  total revenue:  255.99  transaction rank:  4202  revenue rank:  4434
cashier name:  Martin Monica  transaction count:  1  total revenue:  1020.6  transaction rank:  4202  revenue rank:  3449
cashier name:  White Kenneth  transaction count:  1  total revenue:  1025.37  transaction rank:  4202  revenue rank:  3441
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  1029.07  transaction rank:  4202  revenue rank:  3436
cashier name:  Moon James  transaction count:  1  total revenue:  1029.68  transaction rank:  4202  revenue rank:  3435
cashier name:  Kramer Veronica  transaction count:  1  total revenue:  25.7  transaction rank:  4202  revenue rank:  4686
cashier name:  Hughes Christopher  transaction count:  1  total revenue:  27.0  transaction rank:  4202  revenue rank:  4685
cashier name:  Waters Julie  transaction count:  1  total revenue:  165.78  transaction rank:  4202  revenue rank:  4542
cashier name:  Campbell Brittany  transaction count:  1  total revenue:  1068.10  transaction rank:  4202  revenue rank:  3379
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  1077.09  transaction rank:  4202  revenue rank:  3365
cashier name:  Payne Samantha  transaction count:  1  total revenue:  1078.47  transaction rank:  4202  revenue rank:  3363
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  253.12  transaction rank:  4202  revenue rank:  4437
cashier name:  Colon Lindsey  transaction count:  1  total revenue:  1078.88  transaction rank:  4202  revenue rank:  3362
cashier name:  Jones Christopher  transaction count:  1  total revenue:  1082.32  transaction rank:  4202  revenue rank:  3356
cashier name:  Campbell Bethany  transaction count:  1  total revenue:  1085.04  transaction rank:  4202  revenue rank:  3353
cashier name:  Gross Andrew  transaction count:  1  total revenue:  1104.6  transaction rank:  4202  revenue rank:  3332
cashier name:  Carroll Eric  transaction count:  1  total revenue:  166.88  transaction rank:  4202  revenue rank:  4541
cashier name:  Thompson Andrea  transaction count:  1  total revenue:  210.15  transaction rank:  4202  revenue rank:  4490
cashier name:  Martin Monica  transaction count:  1  total revenue:  168.88  transaction rank:  4202  revenue rank:  4539
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  1105.02  transaction rank:  4202  revenue rank:  3330
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  1105.74  transaction rank:  4202  revenue rank:  3328
cashier name:  Carroll Eric  transaction count:  1  total revenue:  1107.81  transaction rank:  4202  revenue rank:  3326
cashier name:  Walls Kristen  transaction count:  1  total revenue:  28.54  transaction rank:  4202  revenue rank:  4684
cashier name:  Bennett Alec  transaction count:  1  total revenue:  1115.1  transaction rank:  4202  revenue rank:  3315
cashier name:  Smith Diana  transaction count:  1  total revenue:  169.30  transaction rank:  4202  revenue rank:  4538
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  1116.0  transaction rank:  4202  revenue rank:  3311
cashier name:  Werner Kara  transaction count:  1  total revenue:  28.99  transaction rank:  4202  revenue rank:  4683
cashier name:  Sean Mr.  transaction count:  1  total revenue:  251.4  transaction rank:  4202  revenue rank:  4441
cashier name:  Wells Monica  transaction count:  1  total revenue:  170.16  transaction rank:  4202  revenue rank:  4537
cashier name:  Jones Michael  transaction count:  1  total revenue:  170.73  transaction rank:  4202  revenue rank:  4536
cashier name:  Horton Ashley  transaction count:  1  total revenue:  172.76  transaction rank:  4202  revenue rank:  4535
cashier name:  Foster Jennifer  transaction count:  1  total revenue:  1140.0  transaction rank:  4202  revenue rank:  3283
cashier name:  Golden Laurie  transaction count:  1  total revenue:  172.94  transaction rank:  4202  revenue rank:  4533
cashier name:  Terri Mrs.  transaction count:  1  total revenue:  1143.52  transaction rank:  4202  revenue rank:  3278
cashier name:  Moon James  transaction count:  1  total revenue:  246.6  transaction rank:  4202  revenue rank:  4444
cashier name:  Spears Erin  transaction count:  1  total revenue:  1144.29  transaction rank:  4202  revenue rank:  3275
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  29.12  transaction rank:  4202  revenue rank:  4682
cashier name:  Horton Mark  transaction count:  1  total revenue:  29.72  transaction rank:  4202  revenue rank:  4681
cashier name:  Rogers Mark  transaction count:  1  total revenue:  29.79  transaction rank:  4202  revenue rank:  4680
cashier name:  Randolph Emily  transaction count:  1  total revenue:  29.86  transaction rank:  4202  revenue rank:  4679
cashier name:  Moore Jason  transaction count:  1  total revenue:  1159.44  transaction rank:  4202  revenue rank:  3258
cashier name:  Bradley Rita  transaction count:  1  total revenue:  1182.96  transaction rank:  4202  revenue rank:  3230
cashier name:  Myers Gary  transaction count:  1  total revenue:  31.94  transaction rank:  4202  revenue rank:  4678
cashier name:  Shah Amanda  transaction count:  1  total revenue:  245.32  transaction rank:  4202  revenue rank:  4446
cashier name:  Sosa David  transaction count:  1  total revenue:  32.57  transaction rank:  4202  revenue rank:  4677
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  33.68  transaction rank:  4202  revenue rank:  4676
cashier name:  Horton Ashley  transaction count:  1  total revenue:  33.75  transaction rank:  4202  revenue rank:  4675
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  1191.92  transaction rank:  4202  revenue rank:  3214
cashier name:  Eric Mr.  transaction count:  1  total revenue:  35.24  transaction rank:  4202  revenue rank:  4674
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  1198.44  transaction rank:  4202  revenue rank:  3209
cashier name:  Jones Christopher  transaction count:  1  total revenue:  173.01  transaction rank:  4202  revenue rank:  4532
cashier name:  Sosa David  transaction count:  1  total revenue:  1199.04  transaction rank:  4202  revenue rank:  3207
cashier name:  Foster Kenneth  transaction count:  1  total revenue:  1211.50  transaction rank:  4202  revenue rank:  3196
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  35.62  transaction rank:  4202  revenue rank:  4673
cashier name:  Burns Kendra  transaction count:  1  total revenue:  175.6  transaction rank:  4202  revenue rank:  4530
cashier name:  Torres Steven  transaction count:  1  total revenue:  36.17  transaction rank:  4202  revenue rank:  4672
cashier name:  Dodson Courtney  transaction count:  1  total revenue:  1217.23  transaction rank:  4202  revenue rank:  3187
cashier name:  Burns Kendra  transaction count:  1  total revenue:  36.93  transaction rank:  4202  revenue rank:  4671
cashier name:  Shah Amanda  transaction count:  1  total revenue:  38.46  transaction rank:  4202  revenue rank:  4670
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  1228.43  transaction rank:  4202  revenue rank:  3172
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  45.92  transaction rank:  4202  revenue rank:  4669
cashier name:  Glover Michelle  transaction count:  1  total revenue:  1242.81  transaction rank:  4202  revenue rank:  3151
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  651.40  transaction rank:  4202  revenue rank:  3972
cashier name:  Spears Erin  transaction count:  1  total revenue:  641.6  transaction rank:  4202  revenue rank:  3984

cashier name:  Perry Andrea  transaction count:  1  total revenue:  47.42  transaction rank:  4202  revenue rank:  4667
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  640.80  transaction rank:  4202  revenue rank:  3986
cashier name:  Tate Harry  transaction count:  1  total revenue:  7.92  transaction rank:  4202  revenue rank:  4710
cashier name:  Horton Mark  transaction count:  1  total revenue:  655.36  transaction rank:  4202  revenue rank:  3968
cashier name:  Kerr Jason  transaction count:  1  total revenue:  177.70  transaction rank:  4202  revenue rank:  4528
cashier name:  Warren Timothy  transaction count:  1  total revenue:  8.61  transaction rank:  4202  revenue rank:  4709
cashier name:  Jones Michael  transaction count:  1  total revenue:  47.97  transaction rank:  4202  revenue rank:  4666
cashier name:  Jordan Carla  transaction count:  1  total revenue:  49.41  transaction rank:  4202  revenue rank:  4665
cashier name:  Moore Jason  transaction count:  1  total revenue:  7.00  transaction rank:  4202  revenue rank:  4711
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  49.91  transaction rank:  4202  revenue rank:  4664
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  630.12  transaction rank:  4202  revenue rank:  3995
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  1275.21  transaction rank:  4202  revenue rank:  3094
cashier name:  Williams Michael  transaction count:  1  total revenue:  627.69  transaction rank:  4202  revenue rank:  3997
cashier name:  Atkinson Gary  transaction count:  1  total revenue:  657.80  transaction rank:  4202  revenue rank:  3966
cashier name:  Bennett Alec  transaction count:  1  total revenue:  664.25  transaction rank:  4202  revenue rank:  3963
cashier name:  Nguyen Richard  transaction count:  1  total revenue:  50.13  transaction rank:  4202  revenue rank:  4663
cashier name:  Jones Christopher  transaction count:  1  total revenue:  625.40  transaction rank:  4202  revenue rank:  4001
cashier name:  Nguyen Richard  transaction count:  1  total revenue:  665.10  transaction rank:  4202  revenue rank:  3962
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  666.40  transaction rank:  4202  revenue rank:  3961
cashier name:  Walters Jay  transaction count:  1  total revenue:  242.4  transaction rank:  4202  revenue rank:  4449
cashier name:  Kramer Veronica  transaction count:  1  total revenue:  8.68  transaction rank:  4202  revenue rank:  4708
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  239.92  transaction rank:  4202  revenue rank:  4450
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  1298.90  transaction rank:  4202  revenue rank:  3070
cashier name:  Walls Kristen  transaction count:  1  total revenue:  667.35  transaction rank:  4202  revenue rank:  3957
cashier name:  Glover Michelle  transaction count:  1  total revenue:  50.22  transaction rank:  4202  revenue rank:  4662
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  1301.70  transaction rank:  4202  revenue rank:  3064
cashier name:  Conrad Frederick  transaction count:  1  total revenue:  50.35  transaction rank:  4202  revenue rank:  4661
cashier name:  Bradley Rita  transaction count:  1  total revenue:  670.72  transaction rank:  4202  revenue rank:  3953
cashier name:  Alvarez Brenda  transaction count:  1  total revenue:  683.12  transaction rank:  4202  revenue rank:  3939
cashier name:  Meyer James  transaction count:  1  total revenue:  615.33  transaction rank:  4202  revenue rank:  4014
cashier name:  Werner Kara  transaction count:  1  total revenue:  614.75  transaction rank:  4202  revenue rank:  4015
cashier name:  Hull Shane  transaction count:  1  total revenue:  684.54  transaction rank:  4202  revenue rank:  3936
cashier name:  Dodson Courtney  transaction count:  1  total revenue:  614.16  transaction rank:  4202  revenue rank:  4017
cashier name:  Carroll Eric  transaction count:  1  total revenue:  10.42  transaction rank:  4202  revenue rank:  4707
cashier name:  Brown Lisa  transaction count:  1  total revenue:  237.36  transaction rank:  4202  revenue rank:  4451
cashier name:  Carroll Eric  transaction count:  1  total revenue:  51.04  transaction rank:  4202  revenue rank:  4660
cashier name:  Smith Brandy  transaction count:  1  total revenue:  692.15  transaction rank:  4202  revenue rank:  3922
cashier name:  Moon James  transaction count:  1  total revenue:  1318.0  transaction rank:  4202  revenue rank:  3041
cashier name:  Sean Mr.  transaction count:  1  total revenue:  1322.19  transaction rank:  4202  revenue rank:  3037
cashier name:  Roach Christine  transaction count:  1  total revenue:  606.88  transaction rank:  4202  revenue rank:  4024
cashier name:  Perry Andrea  transaction count:  1  total revenue:  693.0  transaction rank:  4202  revenue rank:  3921
cashier name:  Burns Kendra  transaction count:  1  total revenue:  694.32  transaction rank:  4202  revenue rank:  3919
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  54.48  transaction rank:  4202  revenue rank:  4659
cashier name:  Brooks Renee  transaction count:  1  total revenue:  697.60  transaction rank:  4202  revenue rank:  3913
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  236.84  transaction rank:  4202  revenue rank:  4452
cashier name:  White Kenneth  transaction count:  1  total revenue:  54.58  transaction rank:  4202  revenue rank:  4658
cashier name:  Jackson Gary  transaction count:  1  total revenue:  54.89  transaction rank:  4202  revenue rank:  4657
cashier name:  Colon Lindsey  transaction count:  1  total revenue:  10.98  transaction rank:  4202  revenue rank:  4706
cashier name:  Smith Diana  transaction count:  1  total revenue:  56.06  transaction rank:  4202  revenue rank:  4654
cashier name:  Vasquez Peter  transaction count:  1  total revenue:  595.96  transaction rank:  4202  revenue rank:  4034
cashier name:  Manning Maria  transaction count:  1  total revenue:  595.90  transaction rank:  4202  revenue rank:  4035
cashier name:  David Mr.  transaction count:  1  total revenue:  703.26  transaction rank:  4202  revenue rank:  3906
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  593.20  transaction rank:  4202  revenue rank:  4037
cashier name:  Warren Timothy  transaction count:  1  total revenue:  177.96  transaction rank:  4202  revenue rank:  4527
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  703.99  transaction rank:  4202  revenue rank:  3904
cashier name:  Smith Diana  transaction count:  1  total revenue:  56.66  transaction rank:  4202  revenue rank:  4653
cashier name:  Chambers Jeffrey  transaction count:  1  total revenue:  180.90  transaction rank:  4202  revenue rank:  4525
cashier name:  Kerr Jason  transaction count:  1  total revenue:  708.90  transaction rank:  4202  revenue rank:  3897
cashier name:  Moyer Steven  transaction count:  1  total revenue:  716.4  transaction rank:  4202  revenue rank:  3888
cashier name:  Williams Michael  transaction count:  1  total revenue:  588.44  transaction rank:  4202  revenue rank:  4044
cashier name:  White Kenneth  transaction count:  1  total revenue:  58.47  transaction rank:  4202  revenue rank:  4652
cashier name:  Roach Christine  transaction count:  1  total revenue:  587.88  transaction rank:  4202  revenue rank:  4046
cashier name:  Day Natasha  transaction count:  1  total revenue:  236.82  transaction rank:  4202  revenue rank:  4453
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  718.2  transaction rank:  4202  revenue rank:  3884
cashier name:  Bennett Alec  transaction count:  1  total revenue:  736.32  transaction rank:  4202  revenue rank:  3869
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  59.34  transaction rank:  4202  revenue rank:  4651
cashier name:  Wells Monica  transaction count:  1  total revenue:  737.60  transaction rank:  4202  revenue rank:  3865
cashier name:  Durham Denise  transaction count:  1  total revenue:  739.64  transaction rank:  4202  revenue rank:  3864
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  583.35  transaction rank:  4202  revenue rank:  4053
cashier name:  Glover Michelle  transaction count:  1  total revenue:  60.30  transaction rank:  4202  revenue rank:  4650
cashier name:  Gross Andrew  transaction count:  1  total revenue:  742.14  transaction rank:  4202  revenue rank:  3862
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  745.5  transaction rank:  4202  revenue rank:  3856
cashier name:  Harrell Angie  transaction count:  1  total revenue:  11.04  transaction rank:  4202  revenue rank:  4705
cashier name:  Moyer Steven  transaction count:  1  total revenue:  749.70  transaction rank:  4202  revenue rank:  3850
cashier name:  Moon James  transaction count:  1  total revenue:  6.17  transaction rank:  4202  revenue rank:  4712
cashier name:  Waters Julie  transaction count:  1  total revenue:  754.90  transaction rank:  4202  revenue rank:  3845
cashier name:  Jordan Carla  transaction count:  1  total revenue:  64.09  transaction rank:  4202  revenue rank:  4648
cashier name:  Harrell Angie  transaction count:  1  total revenue:  758.64  transaction rank:  4202  revenue rank:  3842
cashier name:  Wells Monica  transaction count:  1  total revenue:  5.84  transaction rank:  4202  revenue rank:  4713
cashier name:  Brown Lisa  transaction count:  1  total revenue:  573.05  transaction rank:  4202  revenue rank:  4064
cashier name:  Brown Lisa  transaction count:  1  total revenue:  571.64  transaction rank:  4202  revenue rank:  4065
cashier name:  Wells Monica  transaction count:  1  total revenue:  11.46  transaction rank:  4202  revenue rank:  4704
cashier name:  Frederick Evan  transaction count:  1  total revenue:  774.99  transaction rank:  4202  revenue rank:  3819
cashier name:  Torres Steven  transaction count:  1  total revenue:  570.30  transaction rank:  4202  revenue rank:  4068
cashier name:  Jordan Carla  transaction count:  1  total revenue:  569.56  transaction rank:  4202  revenue rank:  4069
cashier name:  Rogers Mark  transaction count:  1  total revenue:  785.75  transaction rank:  4202  revenue rank:  3804
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  64.46  transaction rank:  4202  revenue rank:  4647
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  567.90  transaction rank:  4202  revenue rank:  4072
cashier name:  Sean Mr.  transaction count:  1  total revenue:  567.84  transaction rank:  4202  revenue rank:  4073
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  785.82  transaction rank:  4202  revenue rank:  3803
cashier name:  Rogers Mark  transaction count:  1  total revenue:  787.57  transaction rank:  4202  revenue rank:  3797
cashier name:  Wells Monica  transaction count:  1  total revenue:  64.72  transaction rank:  4202  revenue rank:  4646
cashier name:  Woods Marcus  transaction count:  1  total revenue:  5.61  transaction rank:  4202  revenue rank:  4714
cashier name:  Mckinney Marcus  transaction count:  1  total revenue:  558.80  transaction rank:  4202  revenue rank:  4078
cashier name:  Sean Mr.  transaction count:  1  total revenue:  558.52  transaction rank:  4202  revenue rank:  4079
cashier name:  Moyer Steven  transaction count:  1  total revenue:  64.90  transaction rank:  4202  revenue rank:  4645
cashier name:  Riley Ashley  transaction count:  1  total revenue:  235.17  transaction rank:  4202  revenue rank:  4455
cashier name:  Herrera Spencer  transaction count:  1  total revenue:  66.42  transaction rank:  4202  revenue rank:  4644
cashier name:  Roach Christine  transaction count:  1  total revenue:  788.67  transaction rank:  4202  revenue rank:  3795
cashier name:  Torres Steven  transaction count:  1  total revenue:  549.84  transaction rank:  4202  revenue rank:  4084
cashier name:  Moon James  transaction count:  1  total revenue:  798.56  transaction rank:  4202  revenue rank:  3780
cashier name:  Werner Kara  transaction count:  1  total revenue:  798.84  transaction rank:  4202  revenue rank:  3778
cashier name:  Jones Evelyn  transaction count:  1  total revenue:  807.03  transaction rank:  4202  revenue rank:  3770
cashier name:  Chen Kathleen  transaction count:  1  total revenue:  815.76  transaction rank:  4202  revenue rank:  3760
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  546.25  transaction rank:  4202  revenue rank:  4089
cashier name:  Jackson Gary  transaction count:  1  total revenue:  546.20  transaction rank:  4202  revenue rank:  4090
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  68.0  transaction rank:  4202  revenue rank:  4643
cashier name:  Hayes Brandon  transaction count:  1  total revenue:  543.20  transaction rank:  4202  revenue rank:  4092
cashier name:  Meyer James  transaction count:  1  total revenue:  543.2  transaction rank:  4202  revenue rank:  4092
cashier name:  Payne Samantha  transaction count:  1  total revenue:  69.05  transaction rank:  4202  revenue rank:  4642
cashier name:  Jacobs Brenda  transaction count:  1  total revenue:  70.2  transaction rank:  4202  revenue rank:  4641
cashier name:  Galvan Lori  transaction count:  1  total revenue:  182.16  transaction rank:  4202  revenue rank:  4524
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  538.88  transaction rank:  4202  revenue rank:  4097
cashier name:  Tate Harry  transaction count:  1  total revenue:  815.85  transaction rank:  4202  revenue rank:  3759
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  538.40  transaction rank:  4202  revenue rank:  4099
cashier name:  Waters Julie  transaction count:  1  total revenue:  537.76  transaction rank:  4202  revenue rank:  4100
cashier name:  Campbell Brittany  transaction count:  1  total revenue:  537.6  transaction rank:  4202  revenue rank:  4101
cashier name:  Williams Michael  transaction count:  1  total revenue:  182.8  transaction rank:  4202  revenue rank:  4522
cashier name:  Ellis Lauren  transaction count:  1  total revenue:  231.35  transaction rank:  4202  revenue rank:  4459
cashier name:  Jacobs Brenda  transaction count:  1  total revenue:  70.48  transaction rank:  4202  revenue rank:  4640
cashier name:  Torres Steven  transaction count:  1  total revenue:  229.95  transaction rank:  4202  revenue rank:  4460
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  820.88  transaction rank:  4202  revenue rank:  3755
cashier name:  Hernandez Michael  transaction count:  1  total revenue:  12.24  transaction rank:  4202  revenue rank:  4703
cashier name:  Harrell Angie  transaction count:  1  total revenue:  183.98  transaction rank:  4202  revenue rank:  4520
cashier name:  Moore Jason  transaction count:  1  total revenue:  827.26  transaction rank:  4202  revenue rank:  3749
cashier name:  Carroll Eric  transaction count:  1  total revenue:  1412.90  transaction rank:  4202  revenue rank:  2915
cashier name:  Thompson Matthew  transaction count:  1  total revenue:  531.08  transaction rank:  4202  revenue rank:  4111
cashier name:  Jones Michael  transaction count:  1  total revenue:  530.00  transaction rank:  4202  revenue rank:  4112
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  70.83  transaction rank:  4202  revenue rank:  4639
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  528.03  transaction rank:  4202  revenue rank:  4114
cashier name:  Church Joshua  transaction count:  1  total revenue:  70.98  transaction rank:  4202  revenue rank:  4638
cashier name:  Galvan Lori  transaction count:  1  total revenue:  827.70  transaction rank:  4202  revenue rank:  3747
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  829.25  transaction rank:  4202  revenue rank:  3744
cashier name:  Owens Jeffrey  transaction count:  1  total revenue:  829.28  transaction rank:  4202  revenue rank:  3743
cashier name:  Brown Lisa  transaction count:  1  total revenue:  185.72  transaction rank:  4202  revenue rank:  4517
cashier name:  Perry Andrea  transaction count:  1  total revenue:  521.76  transaction rank:  4202  revenue rank:  4120
cashier name:  Foster Jennifer  transaction count:  1  total revenue:  832.32  transaction rank:  4202  revenue rank:  3738
cashier name:  Jones Michael  transaction count:  1  total revenue:  208.14  transaction rank:  4202  revenue rank:  4492
cashier name:  Henderson Nancy  transaction count:  1  total revenue:  1433.7  transaction rank:  4202  revenue rank:  2884
cashier name:  Rogers Mark  transaction count:  1  total revenue:  74.93  transaction rank:  4202  revenue rank:  4637
cashier name:  Jacobs Brenda  transaction count:  1  total revenue:  75.96  transaction rank:  4202  revenue rank:  4636
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  518.82  transaction rank:  4202  revenue rank:  4126
cashier name:  Wells Monica  transaction count:  1  total revenue:  517.68  transaction rank:  4202  revenue rank:  4127
cashier name:  Horton Mark  transaction count:  1  total revenue:  836.88  transaction rank:  4202  revenue rank:  3728
cashier name:  Jessica Ms.  transaction count:  1  total revenue:  1441.90  transaction rank:  4202  revenue rank:  2875
cashier name:  Thomas Robert  transaction count:  1  total revenue:  512.20  transaction rank:  4202  revenue rank:  4130
cashier name:  Johnson Samantha  transaction count:  1  total revenue:  837.70  transaction rank:  4202  revenue rank:  3725
cashier name:  Thomas Robert  transaction count:  1  total revenue:  76.05  transaction rank:  4202  revenue rank:  4635
cashier name:  Hughes Christopher  transaction count:  1  total revenue:  77.98  transaction rank:  4202  revenue rank:  4633
cashier name:  Pena Johnathan  transaction count:  1  total revenue:  838.17  transaction rank:  4202  revenue rank:  3724
cashier name:  Gonzalez Michele  transaction count:  1  total revenue:  12.30  transaction rank:  4202  revenue rank:  4702
cashier name:  Walters Jay  transaction count:  1  total revenue:  78.18  transaction rank:  4202  revenue rank:  4632
cashier name:  Dodson Courtney  transaction count:  1  total revenue:  504.42  transaction rank:  4202  revenue rank:  4137
cashier name:  Woods Marcus  transaction count:  1  total revenue:  504.0  transaction rank:  4202  revenue rank:  4138
cashier name:  Blanchard Ricky  transaction count:  1  total revenue:  503.28  transaction rank:  4202  revenue rank:  4139
cashier name:  Nichols Brandon  transaction count:  1  total revenue:  843.80  transaction rank:  4202  revenue rank:  3718
cashier name:  Foster Kenneth  transaction count:  1  total revenue:  79.70  transaction rank:  4202  revenue rank:  4631
cashier name:  Horton Mark  transaction count:  1  total revenue:  500.34  transaction rank:  4202  revenue rank:  4142
cashier name:  Harrell Angie  transaction count:  1  total revenue:  4.86  transaction rank:  4202  revenue rank:  4715
cashier name:  Eric Mr.  transaction count:  1  total revenue:  500.04  transaction rank:  4202  revenue rank:  4144
cashier name:  Brown Lisa  transaction count:  1  total revenue:  82.35  transaction rank:  4202  revenue rank:  4630
cashier name:  Davis Jennifer  transaction count:  1  total revenue:  12.52  transaction rank:  4202  revenue rank:  4701
cashier name:  Garcia Sarah  transaction count:  1  total revenue:  498.24  transaction rank:  4202  revenue rank:  4147
cashier name:  Roach Christine  transaction count:  1  total revenue:  496.50  transaction rank:  4202  revenue rank:  4148

cashier name:  Love Thomas  transaction count:  1  total revenue:  94.56  transaction rank:  4202  revenue rank:  4617
cashier name:  Marquez Jeffrey  transaction count:  1  total revenue:  1544.60  transaction rank:  4202  revenue rank:  2714
cashier name:  Glover Michelle  transaction count:  1  total revenue:  459.45  transaction rank:  4202  revenue rank:  4194
cashier name:  Campbell Bethany  transaction count:  1  total revenue:  886.13  transaction rank:  4202  revenue rank:  3662
cashier name:  Jackson Michael  transaction count:  1  total revenue:  186.06  transaction rank:  4202  revenue rank:  4516
cashier name:  Campbell Brittany  transaction count:  1  total revenue:  3.9  transaction rank:  4202  revenue rank:  4717
cashier name:  Harrell Angie  transaction count:  1  total revenue:  456.64  transaction rank:  4202  revenue rank:  4198
cashier name:  Wilson Jill  transaction count:  1  total revenue:  95.47  transaction rank:  4202  revenue rank:  4616
cashier name:  Warren Timothy  transaction count:  1  total revenue:  96.24  transaction rank:  4202  revenue rank:  4615
cashier name:  Shah Amanda  transaction count:  1  total revenue:  887.64  transaction rank:  4202  revenue rank:  3659

**9. Calculate the salary of each employee in December 2022**

In [20]:
queryCmd = ''' 
SELECT 
    ec.employee_id,
    ec.first_name || ' ' || ec.last_name AS employee_name,
    SUM(EXTRACT(HOUR FROM ss.end_time - ss.start_time)) AS total_hours_worked,
    SUM(EXTRACT(HOUR FROM ss.end_time - ss.start_time)) * si.hourly_wage AS total_salary
FROM employee_contact ec
JOIN staffing_shift ss ON ec.employee_id = ss.employee_id
JOIN salary_info si ON ec.employee_id = si.employee_id
WHERE EXTRACT(YEAR FROM ss.start_time) = 2022
    AND EXTRACT(MONTH FROM ss.start_time) = 12
GROUP BY ec.employee_id, employee_name, si.hourly_wage;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("employee id: ", row[0], " employee name: ", row[1], " total hours worked: ", row[2], 
          " total salary: ", row[3])
    row = cur.fetchone()

employee id:  9  employee name:  Walters Jay  total hours worked:  23  total salary:  295.55
employee id:  14  employee name:  White Kenneth  total hours worked:  22  total salary:  317.90
employee id:  21  employee name:  Martin Monica  total hours worked:  23  total salary:  369.15
employee id:  28  employee name:  Jones Christopher  total hours worked:  22  total salary:  397.10
employee id:  39  employee name:  Love Thomas  total hours worked:  22  total salary:  392.92
employee id:  53  employee name:  Pena Johnathan  total hours worked:  23  total salary:  346.84
employee id:  71  employee name:  White Kenneth  total hours worked:  23  total salary:  353.51
employee id:  73  employee name:  Bryan Mr.  total hours worked:  23  total salary:  431.94
employee id:  90  employee name:  Roach Christine  total hours worked:  22  total salary:  396.88
employee id:  104  employee name:  Davis Jennifer  total hours worked:  23  total salary:  324.99
employee id:  110  employee name:  Conrad Frederick  total hours worked:  22  total salary:  424.38
employee id:  123  employee name:  Carroll Eric  total hours worked:  22  total salary:  327.36
employee id:  148  employee name:  Dodson Courtney  total hours worked:  22  total salary:  282.26
employee id:  165  employee name:  Garcia Sarah  total hours worked:  23  total salary:  289.34
employee id:  178  employee name:  Nguyen Richard  total hours worked:  22  total salary:  302.72
employee id:  185  employee name:  Alvarez Brenda  total hours worked:  22  total salary:  411.4
employee id:  194  employee name:  Williams Michael  total hours worked:  22  total salary:  313.50
employee id:  211  employee name:  Williams Michael  total hours worked:  23  total salary:  385.94
employee id:  226  employee name:  Jacobs Brenda  total hours worked:  22  total salary:  417.56
employee id:  229  employee name:  Marquez Jeffrey  total hours worked:  22  total salary:  295.46
employee id:  252  employee name:  Alvarez Brenda  total hours worked:  22  total salary:  498.08
employee id:  259  employee name:  Frederick Evan  total hours worked:  23  total salary:  459.31
employee id:  264  employee name:  Mckenzie William  total hours worked:  22  total salary:  368.72
employee id:  271  employee name:  Randolph Emily  total hours worked:  23  total salary:  358.34
employee id:  274  employee name:  Walls Kristen  total hours worked:  23  total salary:  428.26
employee id:  276  employee name:  Foster Kenneth  total hours worked:  22  total salary:  298.54
employee id:  277  employee name:  Moon James  total hours worked:  22  total salary:  319.22
employee id:  287  employee name:  Foster Jennifer  total hours worked:  23  total salary:  404.8
employee id:  299  employee name:  Bryan Mr.  total hours worked:  23  total salary:  335.8
employee id:  300  employee name:  Randolph Emily  total hours worked:  23  total salary:  327.52
employee id:  350  employee name:  Payne Samantha  total hours worked:  23  total salary:  396.98
employee id:  360  employee name:  Gross Andrew  total hours worked:  22  total salary:  315.92
employee id:  378  employee name:  Long Kirsten  total hours worked:  23  total salary:  307.28
employee id:  383  employee name:  Durham Denise  total hours worked:  22  total salary:  368.28
employee id:  396  employee name:  Hull Shane  total hours worked:  23  total salary:  383.64
employee id:  402  employee name:  Rogers Mark  total hours worked:  22  total salary:  394.46
employee id:  404  employee name:  Spears Erin  total hours worked:  22  total salary:  352.88
employee id:  421  employee name:  Spears Erin  total hours worked:  23  total salary:  402.73
employee id:  422  employee name:  Harrell Angie  total hours worked:  23  total salary:  364.09
employee id:  427  employee name:  Walls Kristen  total hours worked:  23  total salary:  305.67
employee id:  443  employee name:  Meyer James  total hours worked:  22  total salary:  366.74
employee id:  448  employee name:  Tate Harry  total hours worked:  23  total salary:  370.76
employee id:  449  employee name:  Mckenzie William  total hours worked:  23  total salary:  460.0
employee id:  452  employee name:  Randolph Emily  total hours worked:  23  total salary:  317.17
employee id:  455  employee name:  Carroll Eric  total hours worked:  22  total salary:  309.10
employee id:  472  employee name:  Gross Andrew  total hours worked:  22  total salary:  408.76
employee id:  475  employee name:  Jackson Michael  total hours worked:  22  total salary:  433.18
employee id:  478  employee name:  Johnson Samantha  total hours worked:  23  total salary:  290.95
employee id:  479  employee name:  Hernandez Michael  total hours worked:  23  total salary:  359.03
employee id:  489  employee name:  Sean Mr.  total hours worked:  23  total salary:  372.37
employee id:  506  employee name:  Campbell Brittany  total hours worked:  22  total salary:  345.18
employee id:  528  employee name:  Harrell Angie  total hours worked:  22  total salary:  418.22
employee id:  540  employee name:  Brooks Renee  total hours worked:  22  total salary:  316.36
employee id:  545  employee name:  Bennett Alec  total hours worked:  23  total salary:  353.74
employee id:  563  employee name:  Eric Mr.  total hours worked:  23  total salary:  448.04
employee id:  566  employee name:  Kerr Jason  total hours worked:  22  total salary:  332.64
employee id:  568  employee name:  Waters Julie  total hours worked:  22  total salary:  270.38
employee id:  570  employee name:  Davis Jennifer  total hours worked:  23  total salary:  342.01
employee id:  571  employee name:  Golden Laurie  total hours worked:  22  total salary:  339.24
employee id:  575  employee name:  Warren Timothy  total hours worked:  22  total salary:  293.92
employee id:  600  employee name:  Durham Denise  total hours worked:  23  total salary:  406.87
employee id:  613  employee name:  Hernandez Michael  total hours worked:  23  total salary:  310.73
employee id:  625  employee name:  Tate Harry  total hours worked:  23  total salary:  394.45
employee id:  636  employee name:  Smith Diana  total hours worked:  23  total salary:  432.4
employee id:  642  employee name:  Nichols Mitchell  total hours worked:  22  total salary:  301.4
employee id:  643  employee name:  Wood Joshua  total hours worked:  23  total salary:  284.74
employee id:  660  employee name:  Perry Andrea  total hours worked:  23  total salary:  392.15
employee id:  689  employee name:  Smith Diana  total hours worked:  23  total salary:  451.72
employee id:  722  employee name:  Sean Mr.  total hours worked:  22  total salary:  326.70
employee id:  728  employee name:  Wood Joshua  total hours worked:  23  total salary:  285.89
employee id:  742  employee name:  Rogers Mark  total hours worked:  23  total salary:  370.53
employee id:  749  employee name:  Sosa David  total hours worked:  23  total salary:  391.23
employee id:  753  employee name:  Atkinson Gary  total hours worked:  22  total salary:  397.10
employee id:  766  employee name:  Randolph Emily  total hours worked:  22  total salary:  286.0
employee id:  767  employee name:  Roach Christine  total hours worked:  23  total salary:  417.91
employee id:  769  employee name:  Colon Lindsey  total hours worked:  23  total salary:  278.53
employee id:  775  employee name:  Terri Mrs.  total hours worked:  22  total salary:  313.06
employee id:  795  employee name:  Warren Timothy  total hours worked:  23  total salary:  389.39
employee id:  796  employee name:  Horton Mark  total hours worked:  22  total salary:  418.22
employee id:  807  employee name:  Nichols Mitchell  total hours worked:  22  total salary:  397.98
employee id:  826  employee name:  Horton Ashley  total hours worked:  22  total salary:  423.06
employee id:  837  employee name:  Gross Andrew  total hours worked:  21  total salary:  382.41
employee id:  855  employee name:  Waters Julie  total hours worked:  22  total salary:  375.98
employee id:  861  employee name:  Walls Kristen  total hours worked:  22  total salary:  293.48
employee id:  862  employee name:  White Kenneth  total hours worked:  22  total salary:  366.30
employee id:  866  employee name:  Church Joshua  total hours worked:  23  total salary:  411.93
employee id:  879  employee name:  Day Natasha  total hours worked:  21  total salary:  414.96
employee id:  906  employee name:  Hughes Christopher  total hours worked:  22  total salary:  367.84
employee id:  913  employee name:  Hull Shane  total hours worked:  23  total salary:  419.98
employee id:  952  employee name:  Bryan Mr.  total hours worked:  23  total salary:  285.43
employee id:  973  employee name:  Perry Andrea  total hours worked:  22  total salary:  344.74
employee id:  981  employee name:  Brooks Renee  total hours worked:  22  total salary:  302.06
employee id:  985  employee name:  Henderson Nancy  total hours worked:  22  total salary:  284.24
employee id:  998  employee name:  Chambers Jeffrey  total hours worked:  22  total salary:  296.56
employee id:  1010  employee name:  Wilson Jill  total hours worked:  22  total salary:  426.14
employee id:  1024  employee name:  Rogers Mark  total hours worked:  22  total salary:  371.14
employee id:  1029  employee name:  Williams Michael  total hours worked:  23  total salary:  308.2
employee id:  1033  employee name:  Gardner Laura  total hours worked:  22  total salary:  355.30
employee id:  1034  employee name:  Walters Jay  total hours worked:  23  total salary:  337.87
employee id:  1050  employee name:  Meyer James  total hours worked:  23  total salary:  401.12
employee id:  1068  employee name:  Moyer Steven  total hours worked:  23  total salary:  431.02
employee id:  1072  employee name:  Horton Mark  total hours worked:  22  total salary:  337.48
employee id:  1078  employee name:  Wood Joshua  total hours worked:  23  total salary:  426.65
employee id:  1084  employee name:  Payne Samantha  total hours worked:  23  total salary:  284.97
employee id:  1089  employee name:  Payne Samantha  total hours worked:  21  total salary:  292.53
employee id:  1098  employee name:  Jones Evelyn  total hours worked:  23  total salary:  395.37
employee id:  1102  employee name:  Durham Denise  total hours worked:  22  total salary:  315.48
employee id:  1105  employee name:  Walters Jay  total hours worked:  23  total salary:  315.33
employee id:  1123  employee name:  Kramer Veronica  total hours worked:  23  total salary:  326.83
employee id:  1127  employee name:  Hughes Christopher  total hours worked:  23  total salary:  394.45
employee id:  1133  employee name:  Randolph Emily  total hours worked:  22  total salary:  335.06
employee id:  1137  employee name:  Kerr Jason  total hours worked:  22  total salary:  379.06
employee id:  1156  employee name:  Alvarez Brenda  total hours worked:  22  total salary:  270.16
employee id:  1170  employee name:  Kramer Veronica  total hours worked:  22  total salary:  354.64
employee id:  1175  employee name:  Thompson Matthew  total hours worked:  23  total salary:  287.27
employee id:  1179  employee name:  Perry Andrea  total hours worked:  22  total salary:  369.82
employee id:  1182  employee name:  Moon James  total hours worked:  22  total salary:  431.42
employee id:  1189  employee name:  Nichols Brandon  total hours worked:  22  total salary:  344.30
employee id:  1202  employee name:  Conrad Frederick  total hours worked:  22  total salary:  338.8
employee id:  1221  employee name:  Harrell Angie  total hours worked:  23  total salary:  443.9
employee id:  1222  employee name:  Thomas Robert  total hours worked:  23  total salary:  318.55
employee id:  1223  employee name:  Thomas Robert  total hours worked:  23  total salary:  447.12
employee id:  1225  employee name:  Moyer Steven  total hours worked:  22  total salary:  394.90
employee id:  1243  employee name:  Jackson Michael  total hours worked:  23  total salary:  368.92
employee id:  1249  employee name:  Thompson Matthew  total hours worked:  23  total salary:  306.13
employee id:  1254  employee name:  Brown Lisa  total hours worked:  22  total salary:  398.64
employee id:  1260  employee name:  Glover Michelle  total hours worked:  21  total salary:  286.23
employee id:  1265  employee name:  Durham Denise  total hours worked:  22  total salary:  389.84
employee id:  1266  employee name:  Jackson Gary  total hours worked:  23  total salary:  413.77
employee id:  1286  employee name:  Horton Ashley  total hours worked:  23  total salary:  386.17
employee id:  1292  employee name:  Nichols Brandon  total hours worked:  22  total salary:  304.04
employee id:  1299  employee name:  Nichols Mitchell  total hours worked:  23  total salary:  374.21
employee id:  1306  employee name:  Galvan Lori  total hours worked:  22  total salary:  427.46
employee id:  1318  employee name:  Carroll Eric  total hours worked:  23  total salary:  327.98
employee id:  1320  employee name:  Blanchard Ricky  total hours worked:  23  total salary:  317.17
employee id:  1327  employee name:  Roach Christine  total hours worked:  23  total salary:  459.77
employee id:  1330  employee name:  Smith Diana  total hours worked:  21  total salary:  423.99
employee id:  1333  employee name:  Alvarez Brenda  total hours worked:  23  total salary:  310.96
employee id:  1344  employee name:  Horton Ashley  total hours worked:  22  total salary:  439.78
employee id:  1367  employee name:  Harrell Angie  total hours worked:  22  total salary:  276.98
employee id:  1373  employee name:  Bradley Rita  total hours worked:  22  total salary:  398.42
employee id:  1394  employee name:  Kerr Jason  total hours worked:  22  total salary:  432.08
employee id:  1395  employee name:  Jackson Gary  total hours worked:  23  total salary:  432.4
employee id:  1398  employee name:  Chambers Jeffrey  total hours worked:  23  total salary:  287.04
employee id:  1405  employee name:  Hull Shane  total hours worked:  23  total salary:  369.84
employee id:  1430  employee name:  Marquez Jeffrey  total hours worked:  22  total salary:  328.68
employee id:  1438  employee name:  Horton Mark  total hours worked:  22  total salary:  375.98
employee id:  1454  employee name:  Wood Joshua  total hours worked:  21  total salary:  415.59
employee id:  1459  employee name:  Perry Andrea  total hours worked:  22  total salary:  384.12
employee id:  1461  employee name:  Sean Mr.  total hours worked:  23  total salary:  359.03
employee id:  1484  employee name:  Owens Jeffrey  total hours worked:  22  total salary:  427.68
employee id:  1486  employee name:  Rogers Mark  total hours worked:  23  total salary:  293.71
employee id:  1495  employee name:  Sosa David  total hours worked:  23  total salary:  401.35
employee id:  1505  employee name:  Jackson Michael  total hours worked:  22  total salary:  431.64
employee id:  1509  employee name:  Wilson Jill  total hours worked:  23  total salary:  350.29
employee id:  1520  employee name:  Smith Brandy  total hours worked:  23  total salary:  300.15
employee id:  1530  employee name:  Ellis Lauren  total hours worked:  22  total salary:  428.34
employee id:  1532  employee name:  Martin Monica  total hours worked:  23  total salary:  312.57
employee id:  1559  employee name:  Atkinson Gary  total hours worked:  22  total salary:  357.28
employee id:  1560  employee name:  Thompson Andrea  total hours worked:  23  total salary:  343.85
employee id:  1584  employee name:  Henderson Nancy  total hours worked:  23  total salary:  459.77
employee id:  1599  employee name:  Ellis Lauren  total hours worked:  21  total salary:  417.69
employee id:  1601  employee name:  Jones Christopher  total hours worked:  22  total salary:  369.82
employee id:  1604  employee name:  Chen Kathleen  total hours worked:  22  total salary:  306.02
employee id:  1605  employee name:  Kramer Veronica  total hours worked:  23  total salary:  322.92
employee id:  1617  employee name:  Johnson Samantha  total hours worked:  22  total salary:  335.50
employee id:  1627  employee name:  Carroll Eric  total hours worked:  23  total salary:  395.83
employee id:  1646  employee name:  Kerr Jason  total hours worked:  23  total salary:  449.65
employee id:  1657  employee name:  Gardner Laura  total hours worked:  23  total salary:  381.34
employee id:  1675  employee name:  Warren Timothy  total hours worked:  22  total salary:  272.36
employee id:  1691  employee name:  Herrera Spencer  total hours worked:  23  total salary:  298.08
employee id:  1710  employee name:  Riley Ashley  total hours worked:  22  total salary:  280.50
employee id:  1722  employee name:  Jessica Ms.  total hours worked:  22  total salary:  375.54
employee id:  1758  employee name:  Walls Kristen  total hours worked:  23  total salary:  399.74
employee id:  1766  employee name:  Harrell Angie  total hours worked:  23  total salary:  394.22
employee id:  1783  employee name:  Gross Andrew  total hours worked:  23  total salary:  458.62

employee id:  1803  employee name:  Church Joshua  total hours worked:  23  total salary:  414.46
employee id:  1813  employee name:  Werner Kara  total hours worked:  22  total salary:  430.76
employee id:  1814  employee name:  Thompson Matthew  total hours worked:  22  total salary:  431.86
employee id:  1820  employee name:  Moon James  total hours worked:  23  total salary:  457.01
employee id:  1826  employee name:  Blanchard Ricky  total hours worked:  23  total salary:  395.6
employee id:  1842  employee name:  Jones Evelyn  total hours worked:  23  total salary:  454.02
employee id:  1855  employee name:  Sosa David  total hours worked:  22  total salary:  427.90
employee id:  1859  employee name:  Sean Mr.  total hours worked:  22  total salary:  400.62
employee id:  1861  employee name:  Dodson Courtney  total hours worked:  22  total salary:  303.38
employee id:  1869  employee name:  Waters Julie  total hours worked:  22  total salary:  308.44
employee id:  1885  employee name:  Thompson Andrea  total hours worked:  22  total salary:  359.92
employee id:  1893  employee name:  Moon James  total hours worked:  22  total salary:  330.44
employee id:  1907  employee name:  Jordan Carla  total hours worked:  22  total salary:  384.12
employee id:  1925  employee name:  Meyer James  total hours worked:  22  total salary:  309.10
employee id:  1929  employee name:  Jackson Gary  total hours worked:  23  total salary:  362.94
employee id:  1942  employee name:  Foster Jennifer  total hours worked:  22  total salary:  286.44
employee id:  1950  employee name:  Moon James  total hours worked:  22  total salary:  410.08
employee id:  1962  employee name:  Foster Kenneth  total hours worked:  23  total salary:  420.67
employee id:  1969  employee name:  Hughes Christopher  total hours worked:  23  total salary:  419.29
employee id:  1971  employee name:  Waters Julie  total hours worked:  22  total salary:  376.86
employee id:  1981  employee name:  Rogers Mark  total hours worked:  22  total salary:  431.42
employee id:  2032  employee name:  Hayes Brandon  total hours worked:  23  total salary:  396.52
employee id:  2039  employee name:  Chen Kathleen  total hours worked:  23  total salary:  359.95
employee id:  2046  employee name:  Gardner Laura  total hours worked:  22  total salary:  273.90
employee id:  2051  employee name:  Nguyen Richard  total hours worked:  23  total salary:  328.9
employee id:  2053  employee name:  Burns Kendra  total hours worked:  22  total salary:  278.30
employee id:  2087  employee name:  Johnson Samantha  total hours worked:  23  total salary:  434.24
employee id:  2094  employee name:  Smith Brandy  total hours worked:  22  total salary:  438.02
employee id:  2105  employee name:  Glover Michelle  total hours worked:  23  total salary:  428.95
employee id:  2108  employee name:  Mckinney Marcus  total hours worked:  23  total salary:  366.16
employee id:  2128  employee name:  Meyer James  total hours worked:  23  total salary:  364.78
employee id:  2134  employee name:  Thomas Robert  total hours worked:  22  total salary:  352.0
employee id:  2152  employee name:  Marquez Jeffrey  total hours worked:  23  total salary:  450.8
employee id:  2169  employee name:  Blanchard Ricky  total hours worked:  22  total salary:  274.12
employee id:  2174  employee name:  Blanchard Ricky  total hours worked:  23  total salary:  412.16
employee id:  2179  employee name:  Thompson Andrea  total hours worked:  23  total salary:  432.63
employee id:  2181  employee name:  Torres Steven  total hours worked:  21  total salary:  255.36
employee id:  2191  employee name:  Randolph Emily  total hours worked:  22  total salary:  388.30
employee id:  2193  employee name:  Burns Kendra  total hours worked:  23  total salary:  371.91
employee id:  2194  employee name:  Thomas Robert  total hours worked:  23  total salary:  283.36
employee id:  2209  employee name:  Wood Joshua  total hours worked:  22  total salary:  287.76
employee id:  2213  employee name:  Manning Maria  total hours worked:  22  total salary:  329.78
employee id:  2224  employee name:  Marquez Jeffrey  total hours worked:  23  total salary:  336.03
employee id:  2225  employee name:  Hughes Christopher  total hours worked:  23  total salary:  399.28
employee id:  2229  employee name:  Glover Michelle  total hours worked:  22  total salary:  372.90
employee id:  2241  employee name:  Mckenzie William  total hours worked:  21  total salary:  383.88
employee id:  2248  employee name:  Thompson Andrea  total hours worked:  23  total salary:  345.69
employee id:  2251  employee name:  Golden Laurie  total hours worked:  23  total salary:  364.78
employee id:  2256  employee name:  Kerr Jason  total hours worked:  21  total salary:  342.93
employee id:  2268  employee name:  Nichols Mitchell  total hours worked:  23  total salary:  398.13
employee id:  2280  employee name:  Randolph Emily  total hours worked:  22  total salary:  325.6
employee id:  2296  employee name:  Nguyen Richard  total hours worked:  23  total salary:  294.17
employee id:  2315  employee name:  Brown Lisa  total hours worked:  23  total salary:  322.69
employee id:  2323  employee name:  Horton Ashley  total hours worked:  23  total salary:  301.53
employee id:  2335  employee name:  Campbell Brittany  total hours worked:  23  total salary:  454.48
employee id:  2346  employee name:  Colon Lindsey  total hours worked:  22  total salary:  412.94
employee id:  2357  employee name:  Kramer Veronica  total hours worked:  22  total salary:  420.86
employee id:  2358  employee name:  Garcia Sarah  total hours worked:  23  total salary:  326.14
employee id:  2367  employee name:  Warren Timothy  total hours worked:  23  total salary:  432.17
employee id:  2377  employee name:  Walters Jay  total hours worked:  22  total salary:  410.08
employee id:  2388  employee name:  Frederick Evan  total hours worked:  22  total salary:  267.96
employee id:  2406  employee name:  Atkinson Gary  total hours worked:  23  total salary:  430.1
employee id:  2422  employee name:  Mckinney Marcus  total hours worked:  23  total salary:  349.83
employee id:  2431  employee name:  Gardner Laura  total hours worked:  22  total salary:  298.10
employee id:  2433  employee name:  Hayes Brandon  total hours worked:  22  total salary:  293.26
employee id:  2464  employee name:  Wells Monica  total hours worked:  22  total salary:  414.26
employee id:  2469  employee name:  Wood Joshua  total hours worked:  23  total salary:  386.63
employee id:  2473  employee name:  Tate Harry  total hours worked:  23  total salary:  397.67
employee id:  2505  employee name:  Campbell Bethany  total hours worked:  22  total salary:  324.28
employee id:  2515  employee name:  Jackson Michael  total hours worked:  22  total salary:  378.4
employee id:  2527  employee name:  Jones Christopher  total hours worked:  22  total salary:  330.66
employee id:  2536  employee name:  Davis Jennifer  total hours worked:  23  total salary:  338.56
employee id:  2544  employee name:  Durham Denise  total hours worked:  23  total salary:  460.0
employee id:  2552  employee name:  Nguyen Richard  total hours worked:  23  total salary:  449.65
employee id:  2557  employee name:  Warren Timothy  total hours worked:  23  total salary:  289.34
employee id:  2572  employee name:  Rogers Mark  total hours worked:  23  total salary:  382.03
employee id:  2573  employee name:  Werner Kara  total hours worked:  22  total salary:  345.4
employee id:  2584  employee name:  Rogers Mark  total hours worked:  22  total salary:  400.62
employee id:  2611  employee name:  Walters Jay  total hours worked:  23  total salary:  367.08
employee id:  2623  employee name:  Thompson Matthew  total hours worked:  23  total salary:  323.15
employee id:  2626  employee name:  Gonzalez Michele  total hours worked:  21  total salary:  320.67
employee id:  2642  employee name:  Long Kirsten  total hours worked:  22  total salary:  395.56
employee id:  2651  employee name:  Shah Amanda  total hours worked:  23  total salary:  320.39
employee id:  2655  employee name:  Johnson Samantha  total hours worked:  23  total salary:  361.79
employee id:  2659  employee name:  Church Joshua  total hours worked:  22  total salary:  273.46
employee id:  2674  employee name:  Blanchard Ricky  total hours worked:  23  total salary:  396.29
employee id:  2677  employee name:  Church Joshua  total hours worked:  22  total salary:  386.76
employee id:  2682  employee name:  Jacobs Brenda  total hours worked:  22  total salary:  389.4
employee id:  2685  employee name:  Conrad Frederick  total hours worked:  22  total salary:  308.22
employee id:  2705  employee name:  Perry Andrea  total hours worked:  23  total salary:  331.43
employee id:  2712  employee name:  Gardner Laura  total hours worked:  22  total salary:  306.68
employee id:  2735  employee name:  Wells Monica  total hours worked:  22  total salary:  286.44
employee id:  2755  employee name:  Horton Ashley  total hours worked:  22  total salary:  344.08
employee id:  2805  employee name:  Long Kirsten  total hours worked:  23  total salary:  405.72
employee id:  2808  employee name:  Terri Mrs.  total hours worked:  23  total salary:  398.59
employee id:  2813  employee name:  Woods Marcus  total hours worked:  23  total salary:  341.55
employee id:  2829  employee name:  Love Thomas  total hours worked:  23  total salary:  379.96
employee id:  2836  employee name:  Pena Johnathan  total hours worked:  22  total salary:  421.52
employee id:  2847  employee name:  Williams Michael  total hours worked:  22  total salary:  288.42
employee id:  2852  employee name:  Hull Shane  total hours worked:  23  total salary:  350.29
employee id:  2858  employee name:  Shah Amanda  total hours worked:  22  total salary:  420.42
employee id:  2860  employee name:  Brooks Renee  total hours worked:  22  total salary:  272.8
employee id:  2887  employee name:  Brown Lisa  total hours worked:  23  total salary:  340.86
employee id:  2888  employee name:  Sosa David  total hours worked:  22  total salary:  433.4
employee id:  2893  employee name:  Nguyen Richard  total hours worked:  23  total salary:  420.67
employee id:  2899  employee name:  Moyer Steven  total hours worked:  22  total salary:  329.78
employee id:  2905  employee name:  Shah Amanda  total hours worked:  23  total salary:  297.39
employee id:  2921  employee name:  Wells Monica  total hours worked:  23  total salary:  292.79
employee id:  2922  employee name:  Nichols Mitchell  total hours worked:  22  total salary:  361.90
employee id:  2923  employee name:  Werner Kara  total hours worked:  22  total salary:  389.4
employee id:  2932  employee name:  Thompson Andrea  total hours worked:  23  total salary:  336.26
employee id:  2946  employee name:  Campbell Brittany  total hours worked:  23  total salary:  389.16
employee id:  2951  employee name:  Bryan Mr.  total hours worked:  23  total salary:  399.05
employee id:  2980  employee name:  Day Natasha  total hours worked:  23  total salary:  436.08
employee id:  2996  employee name:  Meyer James  total hours worked:  22  total salary:  275.22
employee id:  3018  employee name:  Dodson Courtney  total hours worked:  23  total salary:  387.09
employee id:  3021  employee name:  Love Thomas  total hours worked:  22  total salary:  323.4
employee id:  3025  employee name:  Bradley Rita  total hours worked:  22  total salary:  407.22
employee id:  3026  employee name:  Day Natasha  total hours worked:  21  total salary:  257.88
employee id:  3054  employee name:  Shah Amanda  total hours worked:  22  total salary:  394.90
employee id:  3089  employee name:  Martin Monica  total hours worked:  22  total salary:  373.34
employee id:  3094  employee name:  Galvan Lori  total hours worked:  23  total salary:  349.83
employee id:  3109  employee name:  Herrera Spencer  total hours worked:  23  total salary:  368.0
employee id:  3121  employee name:  Bennett Alec  total hours worked:  22  total salary:  299.2
employee id:  3139  employee name:  Wells Monica  total hours worked:  23  total salary:  426.42
employee id:  3146  employee name:  Waters Julie  total hours worked:  22  total salary:  366.74
employee id:  3160  employee name:  Payne Samantha  total hours worked:  23  total salary:  312.11
employee id:  3194  employee name:  Randolph Emily  total hours worked:  22  total salary:  399.74
employee id:  3197  employee name:  Gross Andrew  total hours worked:  22  total salary:  303.82
employee id:  3226  employee name:  Eric Mr.  total hours worked:  22  total salary:  395.34
employee id:  3237  employee name:  Hayes Brandon  total hours worked:  23  total salary:  315.56
employee id:  3243  employee name:  Frederick Evan  total hours worked:  23  total salary:  428.72
employee id:  3248  employee name:  Garcia Sarah  total hours worked:  22  total salary:  266.2
employee id:  3249  employee name:  Chambers Jeffrey  total hours worked:  22  total salary:  286.88
employee id:  3253  employee name:  Payne Samantha  total hours worked:  23  total salary:  406.41
employee id:  3255  employee name:  Spears Erin  total hours worked:  23  total salary:  411.01
employee id:  3263  employee name:  Foster Jennifer  total hours worked:  23  total salary:  309.81
employee id:  3264  employee name:  Nichols Mitchell  total hours worked:  23  total salary:  299.46
employee id:  3266  employee name:  Walls Kristen  total hours worked:  22  total salary:  297.22
employee id:  3269  employee name:  Jones Evelyn  total hours worked:  22  total salary:  379.94
employee id:  3270  employee name:  Church Joshua  total hours worked:  23  total salary:  359.95
employee id:  3287  employee name:  Jordan Carla  total hours worked:  22  total salary:  339.02
employee id:  3298  employee name:  Nichols Brandon  total hours worked:  22  total salary:  383.24
employee id:  3304  employee name:  Sosa David  total hours worked:  22  total salary:  342.98
employee id:  3313  employee name:  Walls Kristen  total hours worked:  23  total salary:  356.96
employee id:  3315  employee name:  Gonzalez Michele  total hours worked:  23  total salary:  395.14
employee id:  3326  employee name:  Chen Kathleen  total hours worked:  23  total salary:  457.24
employee id:  3337  employee name:  Conrad Frederick  total hours worked:  23  total salary:  379.04
employee id:  3341  employee name:  Meyer James  total hours worked:  23  total salary:  381.57
employee id:  3346  employee name:  Herrera Spencer  total hours worked:  22  total salary:  383.68
employee id:  3347  employee name:  Jackson Michael  total hours worked:  23  total salary:  455.17
employee id:  3353  employee name:  Warren Timothy  total hours worked:  22  total salary:  423.50
employee id:  3368  employee name:  Bennett Alec  total hours worked:  22  total salary:  362.12
employee id:  3391  employee name:  Martin Monica  total hours worked:  22  total salary:  414.92
employee id:  3402  employee name:  Thompson Andrea  total hours worked:  23  total salary:  402.04
employee id:  3422  employee name:  Long Kirsten  total hours worked:  21  total salary:  325.71
employee id:  3429  employee name:  Sean Mr.  total hours worked:  22  total salary:  357.72
employee id:  3459  employee name:  Owens Jeffrey  total hours worked:  22  total salary:  284.90
employee id:  3464  employee name:  Nguyen Richard  total hours worked:  22  total salary:  317.68
employee id:  3473  employee name:  Sean Mr.  total hours worked:  22  total salary:  384.78
employee id:  3481  employee name:  Johnson Samantha  total hours worked:  23  total salary:  434.93
employee id:  3485  employee name:  Riley Ashley  total hours worked:  22  total salary:  343.2
employee id:  3503  employee name:  Williams Michael  total hours worked:  23  total salary:  424.58
employee id:  3511  employee name:  Thompson Andrea  total hours worked:  23  total salary:  371.22
employee id:  3513  employee name:  Wilson Jill  total hours worked:  22  total salary:  369.16
employee id:  3557  employee name:  Terri Mrs.  total hours worked:  21  total salary:  272.37
employee id:  3570  employee name:  Harrell Angie  total hours worked:  23  total salary:  316.48
employee id:  3598  employee name:  Vasquez Peter  total hours worked:  23  total salary:  364.55
employee id:  3599  employee name:  Ellis Lauren  total hours worked:  23  total salary:  378.35
employee id:  3602  employee name:  Woods Marcus  total hours worked:  23  total salary:  278.53
employee id:  3619  employee name:  Conrad Frederick  total hours worked:  23  total salary:  411.7
employee id:  3645  employee name:  Moyer Steven  total hours worked:  23  total salary:  459.08
employee id:  3656  employee name:  Nichols Mitchell  total hours worked:  22  total salary:  269.72
employee id:  3672  employee name:  Waters Julie  total hours worked:  23  total salary:  330.97

employee id:  3680  employee name:  Waters Julie  total hours worked:  22  total salary:  308.44
employee id:  3689  employee name:  Hull Shane  total hours worked:  22  total salary:  322.96
employee id:  3693  employee name:  Randolph Emily  total hours worked:  22  total salary:  418.0
employee id:  3694  employee name:  Shah Amanda  total hours worked:  23  total salary:  312.34
employee id:  3749  employee name:  Tate Harry  total hours worked:  22  total salary:  372.02
employee id:  3754  employee name:  Meyer James  total hours worked:  22  total salary:  301.18
employee id:  3759  employee name:  Alvarez Brenda  total hours worked:  23  total salary:  421.36
employee id:  3760  employee name:  Werner Kara  total hours worked:  22  total salary:  399.30
employee id:  3764  employee name:  Owens Jeffrey  total hours worked:  23  total salary:  284.28
employee id:  3787  employee name:  Jones Evelyn  total hours worked:  22  total salary:  355.52
employee id:  3802  employee name:  Jackson Michael  total hours worked:  23  total salary:  399.74
employee id:  3810  employee name:  Brooks Renee  total hours worked:  23  total salary:  395.14
employee id:  3830  employee name:  Terri Mrs.  total hours worked:  22  total salary:  342.76
employee id:  3839  employee name:  Galvan Lori  total hours worked:  22  total salary:  438.24
employee id:  3941  employee name:  Martin Monica  total hours worked:  23  total salary:  320.62
employee id:  3961  employee name:  Eric Mr.  total hours worked:  22  total salary:  312.84
employee id:  3970  employee name:  Henderson Nancy  total hours worked:  23  total salary:  325.22
employee id:  3972  employee name:  Rogers Mark  total hours worked:  22  total salary:  359.04
employee id:  3976  employee name:  Marquez Jeffrey  total hours worked:  22  total salary:  317.46
employee id:  3999  employee name:  Meyer James  total hours worked:  22  total salary:  369.82
employee id:  4010  employee name:  Vasquez Peter  total hours worked:  23  total salary:  439.07
employee id:  4013  employee name:  Riley Ashley  total hours worked:  22  total salary:  422.4
employee id:  4022  employee name:  Vasquez Peter  total hours worked:  22  total salary:  391.38
employee id:  4027  employee name:  Nguyen Richard  total hours worked:  23  total salary:  341.55
employee id:  4048  employee name:  Hernandez Michael  total hours worked:  22  total salary:  311.08
employee id:  4060  employee name:  Woods Marcus  total hours worked:  23  total salary:  384.56
employee id:  4070  employee name:  Roach Christine  total hours worked:  22  total salary:  395.12
employee id:  4088  employee name:  Davis Jennifer  total hours worked:  23  total salary:  423.2
employee id:  4125  employee name:  Jacobs Brenda  total hours worked:  23  total salary:  387.09
employee id:  4128  employee name:  Brooks Renee  total hours worked:  22  total salary:  399.52
employee id:  4177  employee name:  Woods Marcus  total hours worked:  23  total salary:  352.59
employee id:  4180  employee name:  Johnson Samantha  total hours worked:  22  total salary:  271.26
employee id:  4207  employee name:  Smith Brandy  total hours worked:  23  total salary:  300.38
employee id:  4212  employee name:  Foster Kenneth  total hours worked:  23  total salary:  373.29
employee id:  4216  employee name:  Shah Amanda  total hours worked:  21  total salary:  346.92
employee id:  4222  employee name:  Henderson Nancy  total hours worked:  22  total salary:  363.88
employee id:  4224  employee name:  Nguyen Richard  total hours worked:  22  total salary:  297.44
employee id:  4241  employee name:  Love Thomas  total hours worked:  23  total salary:  405.26
employee id:  4255  employee name:  Spears Erin  total hours worked:  22  total salary:  383.68
employee id:  4268  employee name:  Jones Christopher  total hours worked:  23  total salary:  388.93
employee id:  4299  employee name:  Glover Michelle  total hours worked:  23  total salary:  402.96
employee id:  4305  employee name:  Jones Michael  total hours worked:  23  total salary:  456.55
employee id:  4314  employee name:  Brown Lisa  total hours worked:  23  total salary:  406.87
employee id:  4329  employee name:  Brown Lisa  total hours worked:  22  total salary:  382.36
employee id:  4344  employee name:  Randolph Emily  total hours worked:  22  total salary:  293.92
employee id:  4347  employee name:  Church Joshua  total hours worked:  23  total salary:  307.05
employee id:  4379  employee name:  Burns Kendra  total hours worked:  22  total salary:  279.62
employee id:  4404  employee name:  Mckinney Marcus  total hours worked:  22  total salary:  319.22
employee id:  4434  employee name:  Blanchard Ricky  total hours worked:  22  total salary:  413.16
employee id:  4440  employee name:  Martin Monica  total hours worked:  21  total salary:  285.81
employee id:  4448  employee name:  Bryan Mr.  total hours worked:  22  total salary:  289.96
employee id:  4456  employee name:  Gonzalez Michele  total hours worked:  23  total salary:  358.34
employee id:  4492  employee name:  Church Joshua  total hours worked:  22  total salary:  436.92
employee id:  4495  employee name:  Hughes Christopher  total hours worked:  22  total salary:  357.72
employee id:  4543  employee name:  Mckenzie William  total hours worked:  22  total salary:  379.06
employee id:  4570  employee name:  Nichols Mitchell  total hours worked:  22  total salary:  315.70
employee id:  4579  employee name:  Campbell Bethany  total hours worked:  22  total salary:  404.14
employee id:  4593  employee name:  Davis Jennifer  total hours worked:  22  total salary:  376.86
employee id:  4596  employee name:  Werner Kara  total hours worked:  22  total salary:  318.12
employee id:  4607  employee name:  Thomas Robert  total hours worked:  22  total salary:  390.50
employee id:  4608  employee name:  Perry Andrea  total hours worked:  23  total salary:  377.43
employee id:  4631  employee name:  Jones Evelyn  total hours worked:  21  total salary:  252.84
employee id:  4632  employee name:  Ellis Lauren  total hours worked:  21  total salary:  357.42
employee id:  4642  employee name:  Smith Brandy  total hours worked:  23  total salary:  276.23
employee id:  4649  employee name:  Brown Lisa  total hours worked:  21  total salary:  294.21
employee id:  4663  employee name:  Thompson Matthew  total hours worked:  23  total salary:  357.19
employee id:  4665  employee name:  Henderson Nancy  total hours worked:  22  total salary:  353.54
employee id:  4703  employee name:  Jacobs Brenda  total hours worked:  22  total salary:  351.34
employee id:  4707  employee name:  Werner Kara  total hours worked:  22  total salary:  305.14
employee id:  4721  employee name:  Kerr Jason  total hours worked:  23  total salary:  327.52
employee id:  4723  employee name:  Horton Mark  total hours worked:  23  total salary:  454.48
employee id:  4788  employee name:  Long Kirsten  total hours worked:  23  total salary:  297.16
employee id:  4802  employee name:  Harrell Angie  total hours worked:  23  total salary:  359.03
employee id:  4805  employee name:  Harrell Angie  total hours worked:  22  total salary:  329.34
employee id:  4835  employee name:  Campbell Bethany  total hours worked:  23  total salary:  320.62
employee id:  4842  employee name:  Roach Christine  total hours worked:  22  total salary:  406.56
employee id:  4855  employee name:  Frederick Evan  total hours worked:  22  total salary:  396.88
employee id:  4857  employee name:  Kerr Jason  total hours worked:  23  total salary:  290.72
employee id:  4877  employee name:  Payne Samantha  total hours worked:  21  total salary:  349.44
employee id:  4882  employee name:  Werner Kara  total hours worked:  23  total salary:  438.15
employee id:  4887  employee name:  Durham Denise  total hours worked:  23  total salary:  425.5
employee id:  4918  employee name:  Alvarez Brenda  total hours worked:  23  total salary:  438.15
employee id:  4926  employee name:  White Kenneth  total hours worked:  22  total salary:  313.72
employee id:  4929  employee name:  Frederick Evan  total hours worked:  23  total salary:  353.74
employee id:  4949  employee name:  Thomas Robert  total hours worked:  23  total salary:  452.64
employee id:  4973  employee name:  Meyer James  total hours worked:  22  total salary:  319.88
employee id:  4977  employee name:  Brown Lisa  total hours worked:  22  total salary:  378.84
employee id:  4981  employee name:  Jacobs Brenda  total hours worked:  22  total salary:  316.8
employee id:  4988  employee name:  Burns Kendra  total hours worked:  22  total salary:  393.58
employee id:  5000  employee name:  Blanchard Ricky  total hours worked:  23  total salary:  446.2

**10. Identify the 10 sellers with the lowest volumes and give warmings**

In [21]:
queryCmd = '''
WITH seller_transactions AS (
    SELECT 
        ec.employee_id,
        ec.first_name || ' ' || ec.last_name AS seller_name,
        COUNT(*) AS transaction_count
    FROM employee_contact ec
    JOIN sale s ON ec.employee_id = s.employee_id
    GROUP BY ec.employee_id, seller_name
)
SELECT 
    seller_name,
    transaction_count
FROM seller_transactions
ORDER BY transaction_count
LIMIT 10;
'''   
cur.execute(queryCmd)

row = cur.fetchone()
while row is not None:
    print("seller name: ", row[0], " transaction count: ", row[1])
    row = cur.fetchone()

seller name:  Chen Kathleen  transaction count:  1
seller name:  Hull Shane  transaction count:  1
seller name:  Sean Mr.  transaction count:  1
seller name:  Moore Jason  transaction count:  1
seller name:  Burns Kendra  transaction count:  1
seller name:  Wells Monica  transaction count:  1
seller name:  Hayes Brandon  transaction count:  1
seller name:  White Kenneth  transaction count:  1
seller name:  Glover Michelle  transaction count:  1
seller name:  Jessica Ms.  transaction count:  1

In [22]:
# close the communication with the PostgreSQL
cur.close()